Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

feat(calendar): core prerequisites for the external calendar type (B.19)
  server/api/controllers/calendar.controller.js
  server/lib/calendar/calendar.createEvent.js
  server/lib/calendar/calendar.destroy.js
  server/lib/calendar/calendar.destroyEvent.js
  server/lib/calendar/calendar.update.js
  server/lib/calendar/calendar.updateEvent.js
  server/lib/calendar/calendar.upsertCalendars.js
  server/lib/calendar/calendar.upsertEvents.js
  server/lib/calendar/index.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/models/calendar.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/calendar/calendar.syncUserWebcals.js
  server/test/controllers/calendar/calendar.ownership.test.js
  server/test/lib/calendar/calendar.ownership.test.js
  server/test/lib/calendar/calendar.upsertCalendars.test.js
  server/test/lib/calendar/calendar.upsertEvents.test.js
  server/test/lib/external-integration/externalIntegration.uninstall.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @bertrandda

feat(external-integration): calendar type — host API, per-user accounts, management routes (B.19)
  server/api/controllers/externalIntegration.controller.js
  server/api/controllers/integrationHost.controller.js
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.calendarNotify.js
  server/lib/external-integration/externalIntegration.deleteIntegrationCalendar.js
  server/lib/external-integration/externalIntegration.disableCalendarAccount.js
  server/lib/external-integration/externalIntegration.getCalendarAccount.js
  server/lib/external-integration/externalIntegration.getCalendarAccounts.js
  server/lib/external-integration/externalIntegration.getIntegrationCalendars.js
  server/lib/external-integration/externalIntegration.publishCalendarEvents.js
  server/lib/external-integration/externalIntegration.publishCalendars.js
  server/lib/external-integration/externalIntegration.saveCalendarAccount.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.updateUserCalendar.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/lib/index.js
  server/test/controllers/externalIntegration/externalIntegration.calendar.test.js
  server/test/controllers/integrationHost/integrationHost.calendar.test.js
  server/test/controllers/request.test.js
  server/test/lib/external-integration/externalIntegration.calendar.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/testUtils.test.js
Owners: @Pierre-Gilles

test(calendar): raise the timeout of the events-cap seeding test
  server/test/lib/calendar/calendar.upsertEvents.test.js
Owners: @Pierre-Gilles

Update German translations for network wake integration and fix component import
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/routes/integration/all/external-integration/components/NetworkWakeSummary.jsx
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/lib/external-integration/externalIntegration.wakeOnLan.js
Owners: @Pierre-Gilles

fix: answer device.get-state when the model targets the house (#2850)
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

feat(ai): answer weather questions in the AI chat
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/index.js
  server/config/prompts/aiChat.prompt.txt
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatWeather.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatWeather.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(ai): address review notes on the weather chat tool
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatWeather.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatWeather.test.js
Owners: @Pierre-Gilles

fix(ai): build the weather timestamps with Intl, not dayjs
  server/services/mcp/lib/formatWeather.js
  server/test/services/mcp/lib/formatWeather.test.js
Owners: @Pierre-Gilles

fix(ai): drop malformed weather list entries instead of throwing
  server/services/mcp/lib/formatWeather.js
  server/test/services/mcp/lib/formatWeather.test.js
Owners: @Pierre-Gilles

fix(ai): only force a tool call when a selected tool serves the intent
  front/src/config/i18n/de.json
  front/src/config/i18n/fr.json
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

chore(deps): apply non-breaking security fixes for google-cast and mcp services
  server/services/google-cast/package-lock.json
  server/services/mcp/package-lock.json
Owners: @Pierre-Gilles

fix(calendar): complete the calendar.updated invalidation set and harden the window semantics
  docs/specs/external-integrations.md
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/lib/calendar/calendar.upsertEvents.js
  server/lib/external-integration/externalIntegration.publishCalendarEvents.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.updateUserCalendar.js
  server/test/lib/calendar/calendar.upsertEvents.test.js
  server/test/lib/external-integration/externalIntegration.calendar.test.js
  server/test/lib/external-integration/externalIntegration.uninstall.test.js
Owners: @Pierre-Gilles

fix(tts): degrade the voice assistant to a text-only reply on TTS failure
  server/lib/gateway/gateway.processVoiceMessage.js
  server/test/lib/gateway/gateway.processVoiceMessage.test.js
Owners: @Pierre-Gilles

Hide the chat model selector until the AI provider is known
  front/src/routes/chat/AiModelSelector.jsx
Owners: @Pierre-Gilles

docs(calendar): align the upsertEvents JSDoc with the exclusive end bound
  server/lib/calendar/calendar.upsertEvents.js
Owners: @Pierre-Gilles

fix: resolve every matching device type and drop the "No room" hint
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

feat(device): add generic maintenance feature category for consumable life tracking
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

feat(scene): allow sending text to a device from the control-device action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  server/lib/device/device.setValue.js
  server/lib/scene/scene.actions.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/device/device.setValue.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

fix(scene): accept string values in scene model validation and reject empty text
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/scene/scene.create.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

feat(scene): add calendar.get-events action to list upcoming calendar events
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/lib/calendar/calendar.findEventsInRange.js
  server/lib/calendar/index.js
  server/lib/scene/scene.actions.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/calendar/calendar.findEventsInRange.test.js
  server/test/lib/scene/actions/scene.action.getCalendarEvents.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Update API documentation for network wake integration and refine error handling tests
  docs/specs/external-integrations.md
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

fix(device): document maintenance category boundary and cover it with tests
  server/test/utils/constants.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix French typo in the "Only continue if" explanation text
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(scene): validate the duration of the calendar.get-events action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/calendar/calendar.findEventsInRange.test.js
  server/test/lib/scene/actions/scene.action.getCalendarEvents.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
Owners: @Pierre-Gilles

fix(calendar): harden the calendar primitives and the host API guards
  front/src/routes/integration/all/external-integration/config-page/index.js
  server/lib/calendar/calendar.updateEvent.js
  server/lib/calendar/calendar.upsertEvents.js
  server/lib/external-integration/externalIntegration.disableCalendarAccount.js
  server/lib/external-integration/externalIntegration.getCalendarAccount.js
  server/lib/external-integration/externalIntegration.getCalendarAccounts.js
  server/lib/external-integration/externalIntegration.getIntegrationCalendars.js
  server/test/lib/calendar/calendar.ownership.test.js
  server/test/lib/calendar/calendar.upsertEvents.test.js
  server/test/lib/external-integration/externalIntegration.calendar.test.js
Owners: @Pierre-Gilles

test(scene): extend schema coverage of the calendar.get-events action
  server/test/lib/scene/scene.create.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
Owners: @Pierre-Gilles

feat(scene): multi-select device features in device state trigger
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
Owners: @Pierre-Gilles

fix(scene): address review feedback on multi-features trigger
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
Owners: @Pierre-Gilles

test(mcp): cover device.new-state selector variants in scene.create schema
  server/test/services/mcp/lib/sceneSchemas.test.js
Owners: @Pierre-Gilles

fix(test): stop proxyquire from evicting the shared logger singleton
  server/test/hooks.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/tuya.setValue.fixtures.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Owners: @Pierre-Gilles

test(zigbee2mqtt): make the publish log test immune to require-cache eviction
  server/test/services/zigbee2mqtt/lib/publish.test.js
Owners: @Pierre-Gilles

Fix flaky zigbee2mqtt/mqtt publish logging tests (require cache leak) (#2859)
  server/test/hooks.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/tuya.setValue.fixtures.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Owners: @Pierre-Gilles

docs(spec): integration catalog categories & filters (RFC)
  docs/specs/integration-catalog-categories.md
Owners: @Pierre-Gilles

chore: upgrade to Node.js 24
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/package.json
  package.json
  server/package.json
Owners: @Pierre-Gilles, @VonOx

feat(scene): add a "Set a variable" action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SetVariable.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.setVariable.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(scene): make the "Set a variable" action fail closed on invalid input
  front/src/routes/scene/edit-scene/actions/SetVariable.jsx
  server/lib/scene/scene.actions.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.setVariable.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
Owners: @Pierre-Gilles

feat(scene): make the new variable action discoverable in the editor hints
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

fix(scene): tidy the editor variable hints
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(calendar): stop leaking private selectors and lock the update fields
  server/lib/calendar/calendar.update.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/test/lib/calendar/calendar.ownership.test.js
  server/test/lib/external-integration/externalIntegration.uninstall.test.js
Owners: @Pierre-Gilles

docs(spec): tighten catalog categories RFC after review
  docs/specs/integration-catalog-categories.md
Owners: @Pierre-Gilles
