Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Fix tests & add more retrictions on routes (admin)
  front/src/routes/settings/settings-users/index.js
  server/api/middlewares/adminMiddleware.js
  server/api/routes.js
  server/seeders/20190506074218-dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/controllers/user/user.getBySelector.test.js
  server/test/lib/dashboard/dashboard.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/lib/dashboard/dashboard.test.js
Owners: @Pierre-Gilles

Hide settings for non-admin users
  front/src/components/header/index.jsx
Owners: @Pierre-Gilles

Correction bug writing first values
  server/utils/format.js
Owners: @Pierre-Gilles

Improve Gladys Plus performance
  front/src/routes/settings/settings-system/index.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/gateway.refreshUserKeys.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/lib/state/index.js
  server/lib/user/user.create.js
  server/lib/user/user.init.js
  server/lib/user/user.update.js
  server/lib/user/user.updatePassword.js
  server/lib/variable/variable.setValue.js
  server/package-lock.json
  server/package.json
  server/test/lib/variable/variable.setValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add docker legacy tags step to Github Workflow
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

New line
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Add legacy Docker tags step to Github Workflow (#1063)
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

4.0.6
  package-lock.json
  package.json
Owners: @Pierre-Gilles

--wip-- [skip ci]
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/withings.deleteDevices.js
  server/services/withings/lib/withings.getServiceId.js
  server/services/withings/lib/withings.poll.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/lib/withings.deleteDevices.test.js
  server/test/services/withings/lib/withings.deleteVar.test.js
  server/test/services/withings/lib/withings.getServiceId.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
  server/test/services/withings/lib/withings.saveVar.test.js
Owners: @Pierre-Gilles

Remove color picker auto-scroll
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
Owners: @Pierre-Gilles

Log level of Start/Stop function for all services
  server/services/bluetooth/index.js
  server/services/caldav/index.js
  server/services/ewelink/index.js
  server/services/example/index.js
  server/services/mqtt/index.js
  server/services/openweather/index.js
  server/services/philips-hue/index.js
  server/services/rtsp-camera/index.js
  server/services/tasmota/index.js
  server/services/telegram/index.js
  server/services/tp-link/index.js
  server/services/usb/index.js
  server/services/xiaomi/index.js
  server/services/zwave/index.js
Owners: @atrovato, @bertrandda, @NickDub, @Pierre-Gilles, @callemand, @VonOx, @hotfix31, @cicoub13

Remove linux/s390x platform
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Update
  server/lib/message/index.js
  server/lib/message/message.getReply.js
  server/services/rhasspy/index.js
  server/services/rhasspy/lib/commands/rhasspy.init.js
  server/services/rhasspy/lib/commands/rhasspy.installRhasspyContainer.js
  server/services/rhasspy/lib/events/rhasspy.listening.js
  server/services/rhasspy/lib/index.js
Owners: @Pierre-Gilles

Update
  server/services/rhasspy/lib/events/rhasspy.listening.js
Owners: @Pierre-Gilles

Remove linux/s390x build for now
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Fix eslint
  server/lib/gateway/gateway.handleNewMessage.js
Owners: @Pierre-Gilles

Add more tests and remove it only
  server/lib/gateway/index.js
  server/test/lib/variable/variable.setValue.test.js
Owners: @Pierre-Gilles

Remove build on linux/s390x build for now (#1068)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Fix tests & improve gateway resilience
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/index.js
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

Add more tests to gateway.init
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

Improve Gladys Plus performance (#1062)
  front/src/routes/settings/settings-system/index.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/gateway.refreshUserKeys.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/lib/state/index.js
  server/lib/user/user.create.js
  server/lib/user/user.init.js
  server/lib/user/user.update.js
  server/lib/user/user.updatePassword.js
  server/lib/variable/variable.setValue.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/gateway.test.js
  server/test/lib/variable/variable.setValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Remove color picker auto-scroll (#1066)
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
Owners: @Pierre-Gilles

Fix eslint warnings frontend (#1049)
  front/src/actions/dashboard/boxes/weather.js
  front/src/actions/gatewayLinkUser.js
  front/src/actions/integration.js
  front/src/actions/login/loginGateway.js
  front/src/actions/main.js
  front/src/actions/profile.js
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/routes/gateway-forgot-password/index.js
  front/src/routes/gateway-setup/index.js
  front/src/routes/integration/all/tasmota/TasmotaDeviceBox.jsx
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/settings/settings-system/index.js
  front/src/routes/signup-gateway/index.js
  front/src/utils/DemoHttpClient.js
  front/src/utils/Session.js
Owners: @Pierre-Gilles, @atrovato

Improve README & fix dates
  LICENSE
  README.md
Owners: @Pierre-Gilles

Update prettier eslint
  server/lib/message/message.getReply.js
  server/services/rhasspy/lib/commands/rhasspy.connect.js
  server/services/rhasspy/lib/commands/rhasspy.init.js
  server/services/rhasspy/lib/commands/rhasspy.installRhasspyContainer.js
  server/services/rhasspy/lib/docker/gladys-rhasspy-container.json
  server/services/rhasspy/lib/events/rhasspy.listening.js
  server/services/rhasspy/package.json
  server/test/services/rhasspy/index.test.js
  server/test/services/rhasspy/lib/commands/rhasspy.installRhasspyContainer.test.js
  server/test/services/rhasspy/rhasspy.mock.test.js
Owners: @Pierre-Gilles

Add test on RTSP Service ( stop function )
  server/test/services/rtsp-camera/rtspCamera.test.js
Owners: @Pierre-Gilles

Add test on usb Service ( start/stop function )
  server/test/services/usb/index.test.js
Owners: @Pierre-Gilles, @atrovato

Add test on Telegram Service (start/stop function)
  server/test/services/telegram/index.test.js
Owners: @Pierre-Gilles

Remove unused import in Telegram test
  server/test/services/telegram/index.test.js
Owners: @Pierre-Gilles

Add multiselection on tickers + correct eslint
  front/src/actions/dashboard/boxes/stockExchange.js
  front/src/components/boxs/stockexchange/DataList.jsx
  front/src/components/boxs/stockexchange/StockData.jsx
  front/src/components/boxs/stockexchange/StockExchangeBox.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/integration/all/stock-exchange/StockExchange.jsx
  front/src/routes/integration/all/stock-exchange/actions.js
  front/src/routes/integration/all/stock-exchange/index.js
  front/src/routes/integration/all/stock-exchange/tickers.js
  server/services/stock-exchange/README.md
  server/services/stock-exchange/index.js
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/test/services/stock-exchange/cac40.json
  server/test/services/stock-exchange/controllers/stockexchange.controller.test.js
Owners: @Pierre-Gilles

Update
  server/services/rhasspy/lib/commands/rhasspy.connect.js
  server/services/rhasspy/lib/events/rhasspy.listening.js
  server/services/rhasspy/lib/index.js
  server/test/lib/message/message.getReply.test.js
Owners: @Pierre-Gilles

4.0.7
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Update package version
  server/services/netatmo/package.json
Owners: @thibautmery, @Terdious

Update
  server/lib/device/device.saveState.js
  server/services/netatmo/package-lock.json
  server/services/rhasspy/package-lock.json
  server/services/yeelight/package-lock.json
  server/test/services/rhasspy/lib/events/rhasspy.listening.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Update
  server/services/rhasspy/package-lock.json
  server/services/yeelight/package-lock.json
  server/test/services/rhasspy/lib/events/rhasspy.listening.test.js
Owners: @Pierre-Gilles

Update
  server/test/lib/device/device.saveState.test.js
Owners: @Pierre-Gilles

Update
  server/lib/device/device.saveState.js
Owners: @Pierre-Gilles
