Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

feat(tuya): nettoyer les messages de débogage et améliorer la gestion des paramètres dans le code de configuration Tuya
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

fix(i18n): corriger les messages d'avertissement pour le mode local dans les fichiers de traduction
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add recalculation of consumption/cost based on multiple feature selection and/or start/end date
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/config/i18n/en.json
  server/test/lib/device/device.destroyStatesBetween.test.js
  server/test/lib/job/job.test.js
  server/test/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
  server/test/utils/duckdb.js
Owners: @Pierre-Gilles

Refactor energy monitoring features: remove unused functions and update translations
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromBeginning.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
Owners: @Pierre-Gilles, @atrovato

Améliorer la gestion des sélecteurs de fonctionnalités dans les calculs de consommation et de coût : utiliser un tableau pour les sélecteurs et ajuster les tests pour refléter les changements de prix.
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/device/device.destroyStatesBetween.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Owners: @Pierre-Gilles

Supprimer l'importation inutile de withIntlAsProp dans EditDevicePage
  front/src/components/device/index.js
Owners: @Pierre-Gilles

Replace airtunes lib by airplay-sender
  server/services/airplay/index.js
  server/services/airplay/lib/airplay.setValue.js
  server/services/airplay/lib/index.js
  server/services/airplay/package-lock.json
  server/services/airplay/package.json
  server/test/services/airplay/lib/airplay.init.test.js
  server/test/services/airplay/lib/airplay.setValue.test.js
  server/test/services/airplay/lib/airplay_scan.test.js
Owners: @Pierre-Gilles

Fix eslint
  server/test/services/airplay/lib/airplay.setValue.test.js
Owners: @Pierre-Gilles

feat(z2m): Check dongle firmware version for ember
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalMode.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/status.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/getManagedAdapters.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
Owners: @Pierre-Gilles

feat(tuya): mettre à jour le support du protocole 3.5 en local, améliorer la gestion des connexions et des déconnexions, et ajouter des tests pour la découverte des appareils
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/index.js
  server/services/tuya/lib/tuya.connect.js
  server/services/tuya/lib/tuya.disconnect.js
  server/services/tuya/lib/tuya.getStatus.js
  server/services/tuya/lib/tuya.init.js
  server/services/tuya/lib/tuya.loadDevices.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/tuya.manualDisconnect.js
  server/services/tuya/lib/tuya.saveConfiguration.js
  server/services/tuya/lib/utils/tuya.normalize.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.connect.test.js
  server/test/services/tuya/lib/tuya.disconnect.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.manualDisconnect.test.js
  server/test/services/tuya/lib/tuya.saveConfiguration.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Owners: @Pierre-Gilles

Improve code coverage
  server/test/services/airplay/lib/airplay.setValue.test.js
Owners: @Pierre-Gilles

Fix review
  server/services/airplay/lib/airplay.setValue.js
  server/test/services/airplay/lib/airplay.setValue.test.js
Owners: @Pierre-Gilles

feat(tuya): ajouter le support de l'UID du compte d'application Tuya, améliorer la gestion des erreurs de connexion et mettre à jour les tests associés
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/index.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.connect.js
  server/services/tuya/lib/tuya.getConfiguration.js
  server/services/tuya/lib/tuya.getStatus.js
  server/services/tuya/lib/tuya.init.js
  server/services/tuya/lib/tuya.loadDevices.js
  server/services/tuya/lib/tuya.saveConfiguration.js
  server/services/tuya/lib/utils/tuya.config.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.connect.test.js
  server/test/services/tuya/lib/tuya.getConfiguration.test.js
  server/test/services/tuya/lib/tuya.getStatus.test.js
  server/test/services/tuya/lib/tuya.init.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.saveConfiguration.test.js
  server/test/services/tuya/tuya.mock.test.js
Owners: @Pierre-Gilles

Fix review
  server/services/airplay/lib/airplay.setValue.js
Owners: @Pierre-Gilles

Fix review
  server/test/services/airplay/lib/airplay.setValue.test.js
Owners: @Pierre-Gilles

feat(tuya): améliorer la gestion de la configuration Tuya en ajoutant la vérification de l'UID du compte d'application et en renforçant les tests associés
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/lib/tuya.loadDevices.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.connect.test.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
Owners: @Pierre-Gilles

Fix review
  server/test/services/airplay/lib/airplay.setValue.test.js
Owners: @Pierre-Gilles

feat(tuya): optimiser la récupération des paramètres Tuya en utilisant Promise.all et améliorer la gestion des erreurs de sauvegarde
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles

feat(tuya): enhance local polling and device feature handling
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/device/tuya.localMapping.js
  server/services/tuya/lib/tuya.connect.js
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/services/tuya/lib/utils/tuya.deviceParams.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
Owners: @Pierre-Gilles

feat(tuya): mettre à jour les sélecteurs pour le format d'identification des appareils
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Owners: @Pierre-Gilles

feat(tuya): ajouter la gestion des issues GitHub avec des détails copiés et des options pour créer des issues vides
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/style.css
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
Owners: @Pierre-Gilles

feat(tuya): améliorer la gestion du bouton de création d'issue GitHub en simplifiant la logique de désactivation
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
Owners: @Pierre-Gilles

Update duckdb to 1.4.4
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

feat(tuya): ajouter des tests pour la gestion des fonctionnalités locales et des paramètres des appareils
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/tuya.connect.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/utils/tuya.deviceParams.test.js
Owners: @Pierre-Gilles

feat: add air conditioner model
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningFanSpeedDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/device/tuya.localMapping.js
  server/services/tuya/lib/mappings/cloud/air-conditioner.js
  server/services/tuya/lib/mappings/cloud/global.js
  server/services/tuya/lib/mappings/cloud/smart-socket.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/air-conditioner.js
  server/services/tuya/lib/mappings/local/global.js
  server/services/tuya/lib/mappings/local/smart-socket.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/services/tuya/lib/utils/tuya.deviceParams.js
  server/test/services/tuya/example/air-conditioner.json
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/utils/constants.js
  server/utils/device.js
Owners: @Pierre-Gilles

Refactor code structure for improved readability and maintainability
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/device/tuya.localMapping.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/example/air-conditioner.json
Owners: @Pierre-Gilles

Temperature in room: Should exclude crazy temperature values
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
Owners: @Pierre-Gilles

Add fahrenheit threshold
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
Owners: @Pierre-Gilles

Temperature in room: Should exclude crazy temperature values (#2459)
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
Owners: @Pierre-Gilles

Update DuckDB to 1.4.4 (#2456)
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

feat(tuya): ajouter la gestion des unités de fonctionnalités existantes pour les appareils
  server/services/tuya/lib/tuya.discoverDevices.js
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/utils/tuya.deviceParams.js
  server/utils/device.js
Owners: @Pierre-Gilles

refactor: simplification de la gestion des fonctionnalités d'énergie et suppression des tests obsolètes
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

refactor: suppression de tests obsolètes pour les fonctionnalités d'énergie
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

Temperature in room: Should exclude crazy temperature values (#2459)
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
Owners: @Pierre-Gilles

feat(tuya): supprimer la dépendance obsolète @demirdeniz/tuyapi-newgen
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Update DuckDB to 1.4.4 (#2456)
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

feat(tuya): améliorer la gestion des unités de température et nettoyer le code
  front/src/components/boxs/device-in-room/device-features/AirConditioningFanSpeedDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.normalize.js
  server/test/services/tuya/example/air-conditioner.json
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
Owners: @Pierre-Gilles

Refactor test cases to use async/await for STATUS message handling in Tasmota device creation tests
  server/services/tasmota/lib/http/tasmota.http.status.js
  server/services/tasmota/lib/http/tasmota.http.subStatus.js
  server/services/tasmota/lib/mqtt/tasmota.mqtt.handleMessage.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-1.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-2.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-4.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-5.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorScheme.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorSpeed.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorTemperature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-counter-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_light.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_switch.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

refactor(tasmota): change async test cases to synchronous for STATUS message decoding
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-1.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-2.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-4.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-5.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorScheme.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorSpeed.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorTemperature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-counter-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_light.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_switch.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

4.68.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles
