Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Server humidity sensor
  server/config/brain/humidity-sensor/answers.en.json
  server/config/brain/humidity-sensor/answers.fr.json
  server/config/brain/humidity-sensor/questions.en.json
  server/config/brain/humidity-sensor/questions.fr.json
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/lib/device/humidity-sensor/humidity-sensor.getHumidityInRoom.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add tests
  server/seeders/20190227081700-device-feature.js
  server/test/controllers/room/room.test.js
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Owners: @Pierre-Gilles

Update docker-pr-build.yml
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

Update docker-release-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Switch to ubuntu-20.04
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

Switch to ubuntu-20.04
  .github/workflows/docker-dev-build.yml
Owners: @VonOx, @Pierre-Gilles

Switch to ubuntu-20.04
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Bump actions and Fix codecov ( git depth )
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

download-artifact@v2 Fix path
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Add Master branch tests workflow
  .github/workflows/docker-master-test.yml
Owners: @VonOx, @Pierre-Gilles

Fix Github Actions CI (#1053)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

Added a separate tab for device discovery + Add edit button + Add checkbox
  front/config.js
  front/src/components/app.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/PhilipsHuePage.jsx
  front/src/routes/integration/all/philips-hue/device-page/Device.jsx
  front/src/routes/integration/all/philips-hue/device-page/PhilipsHueLayout.jsx
  front/src/routes/integration/all/philips-hue/device-page/edit-page/EditPage.jsx
  front/src/routes/integration/all/philips-hue/device-page/edit-page/index.js
  front/src/routes/integration/all/philips-hue/discover-device/FoundDevices.jsx
  front/src/routes/integration/all/philips-hue/discover-device/actions.js
  front/src/routes/integration/all/philips-hue/discover-device/index.js
  front/src/routes/integration/all/philips-hue/discover-device/style.css
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Update package json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Remove unsued file
  server/test/services/netatmo/lib/netatmo.mock.js
Owners: @thibautmery, @Terdious

Terminate job with param for value of base category
  front/src/components/app.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
  front/src/routes/integration/all/philips-hue/device-page/edit-page/index.js
  front/src/routes/integration/all/philips-hue/device-page/index.js
  front/src/routes/integration/all/philips-hue/discover-device/index.js
  server/services/philips-hue/lib/models/plugOnOff.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Forgot modification of config file co file
  front/config.js
Owners: @Pierre-Gilles

WeatherBox => weatherIcon
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
Owners: @Pierre-Gilles

Modifications according to the requests of @hotfix and @atrovato + Bug fix UI discovery page + tests
  front/src/components/app.jsx
  front/src/routes/integration/all/netatmo/device-page/edit-page/index.js
  front/src/routes/integration/all/netatmo/discover-device/FoundDevices.jsx
  server/services/netatmo/lib/commands/netatmo.getHealthyHomeCoachData.js
  server/services/netatmo/lib/commands/netatmo.getHomeData.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
  server/services/netatmo/lib/commands/netatmo.getStationsData.js
  server/services/netatmo/lib/commands/netatmo.getThermostatsData.js
  server/services/netatmo/lib/event/netatmo.newValueCamera.js
  server/services/netatmo/lib/event/netatmo.newValueHomeCoach.js
  server/services/netatmo/lib/event/netatmo.newValueStation.js
  server/services/netatmo/lib/event/netatmo.newValueThermostat.js
  server/services/netatmo/lib/event/netatmo.newValueValve.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
  server/test/services/netatmo/data/getHomeData.json
  server/test/services/netatmo/data/gethomecoachsdata.json
  server/test/services/netatmo/lib/commands/netatmo.getHealthyHomeCoachData.test.js
  server/test/services/netatmo/lib/commands/netatmo.getHomeData.test.js
  server/test/services/netatmo/lib/commands/netatmo.getHomeStatusData.test.js
  server/test/services/netatmo/lib/commands/netatmo.getSensors.test.js
  server/test/services/netatmo/lib/commands/netatmo.getStationsData.test.js
  server/test/services/netatmo/lib/commands/netato.getThermostatsData.test.js
  server/test/services/netatmo/lib/events/netatmo.newValueCamera.test.js
  server/test/utils/format.test.js
  server/utils/format.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Fix password update
  server/lib/user/user.update.js
  server/lib/user/user.updateBySelector.js
  server/test/lib/user/user.update.test.js
  server/test/lib/user/user.updateBySelector.test.js
Owners: @Pierre-Gilles

make reset password work for admin user
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
  front/src/routes/settings/settings-users/edit-user/ResetPassword.jsx
Owners: @Pierre-Gilles

Now possible to edit preferences
  front/src/routes/settings/settings-users/edit-user/EditPreferences.jsx
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
Owners: @Pierre-Gilles

Oops forget '.only' in tests
  server/test/services/netatmo/lib/commands/netatmo.getSensors.test.js
  server/test/utils/format.test.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

Dashboard are now private
  front/src/actions/dashboard/index.js
  front/src/routes/dashboard/index.js
  server/api/controllers/dashboard.controller.js
  server/lib/dashboard/dashboard.create.js
  server/lib/dashboard/dashboard.destroy.js
  server/lib/dashboard/dashboard.get.js
  server/lib/dashboard/dashboard.getBySelector.js
  server/lib/dashboard/dashboard.update.js
  server/migrations/20210129155044-multi-user.js
  server/models/dashboard.js
Owners: @Pierre-Gilles

It's now possible to delete a user
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-users/UserCard.jsx
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/index.js
Owners: @Pierre-Gilles

user shouldn't be able to delete his own account
  server/api/controllers/user.controller.js
  server/test/controllers/user/user.delete.test.js
Owners: @Pierre-Gilles

Get user should be searchable & orderable
  server/lib/user/user.get.js
  server/test/lib/user/user.get.test.js
Owners: @Pierre-Gilles

Fix edit user page
  front/src/actions/profile.js
  front/src/config/i18n/en.json
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
  front/src/routes/settings/settings-users/edit-user/index.js
Owners: @Pierre-Gilles

change upateDeviceFeature condition line 28
  front/src/components/device/UpdateDeviceFeature.jsx
Owners: @Pierre-Gilles

Modification of the error handling for the name of the house on the front side
  front/src/actions/house.js
  front/src/components/house/EditHouse.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Forgot unit
  server/lib/device/humidity-sensor/humidity-sensor.command.js
Owners: @Pierre-Gilles

Forget prettier
  front/src/components/device/UpdateDeviceFeature.jsx
Owners: @Pierre-Gilles

Add units percent
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/lib/device/humidity-sensor/humidity-sensor.getHumidityInRoom.js
Owners: @Pierre-Gilles

Missing unit
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Owners: @Pierre-Gilles

Change on netatmo.updateCamera.js to take into account cameras that do not have an associated module following reour @ Tlse-Vins
  server/services/netatmo/lib/update/netatmo.updateCamera.js
Owners: @thibautmery, @Terdious

Remove transaction in location.create and device.saveState
  server/lib/device/device.saveState.js
  server/lib/location/location.create.js
Owners: @Pierre-Gilles

Add test to location.create
  server/test/lib/location/location.test.js
Owners: @Pierre-Gilles

Add test to test device.saveState performance
  server/test/lib/device/device.saveState.test.js
Owners: @Pierre-Gilles

First commit, add starting rhasspy
  server/services/index.js
  server/services/rhasspy/index.js
  server/services/rhasspy/lib/commands/rhasspy.connect.js
  server/services/rhasspy/lib/commands/rhasspy.init.js
  server/services/rhasspy/lib/commands/rhasspy.installRhasspyContainer.js
  server/services/rhasspy/lib/constants.js
  server/services/rhasspy/lib/docker/gladys-rhasspy-container.json
  server/services/rhasspy/lib/docker/gladys-rhasspy-env.sh
  server/services/rhasspy/lib/index.js
  server/services/rhasspy/package.json
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix database locked SQLITE busy (#1061)
  server/lib/device/device.saveState.js
  server/lib/location/location.create.js
  server/test/lib/device/device.saveState.test.js
  server/test/lib/location/location.test.js
Owners: @Pierre-Gilles

4.0.5
  package-lock.json
  package.json
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
