Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

fix(energy-monitoring): only backfill index features linked to a thirty-minutes feature
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexFromBeginning.js
Owners: @Pierre-Gilles

fix(front): keep non-Latin scripts and empty folds out of the search results
  front/src/routes/integration/index.js
  front/src/utils/normalizeSearchText.js
Owners: @Pierre-Gilles

chore(security): patch/minor dependency bumps for high & critical advisories (#2843)
  server/package-lock.json
Owners: @Pierre-Gilles

ci: accept the autofix fire URL from a secret as well as a variable (#2840)
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

Integration catalog: make the search accent-insensitive (#2830)
  front/src/components/scene/IconSelector.jsx
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/integration/index.js
  front/src/utils/normalizeSearchText.js
Owners: @Pierre-Gilles, @atrovato

Fix the integration counter mixing scopes across catalog views (#2834)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Show labeled value lists in the scene editor instead of raw numbers (#2835)
  front/src/components/device/SelectDeviceFeatureValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DefaultDeviceState.jsx
  front/src/utils/deviceFeatureValueOptions.js
Owners: @Pierre-Gilles

Stop the gateway restore tests from poisoning the shared test database
  server/test/helpers/db.test.js
  server/test/helpers/dbReset.test.js
  server/test/lib/gateway/gateway.restoreBackup.test.js
  server/test/lib/gateway/gateway.restoreBackupEvent.test.js
Owners: @Pierre-Gilles

Add NO2, O3 and SO2 device feature categories
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/services/mcp/lib/selectFeature.js
  server/services/mqtt/lib/homeAssistant/constants.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

feat(homekit): expose presence sensors as an OccupancySensor
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(homekit): expose the house alarm as a SecuritySystem
  server/services/homekit/lib/buildAlarmAccessory.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/index.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendAlarmState.js
  server/test/services/homekit/index.test.js
  server/test/services/homekit/lib/buildAlarmAccessory.test.js
  server/test/services/homekit/lib/createBridge.test.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendAlarmState.test.js
Owners: @Pierre-Gilles

fix(homekit): let the house alarm be left out like any other accessory
  server/services/homekit/api/homekit.controller.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/exposedDevices.js
  server/services/homekit/lib/index.js
  server/test/services/homekit/api/homekit.controller.test.js
  server/test/services/homekit/lib/createBridge.test.js
  server/test/services/homekit/lib/exposedDevices.test.js
Owners: @Pierre-Gilles

feat(homekit): name the house alarm in the exposure list
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/homekit/HomeKit.jsx
Owners: @Pierre-Gilles

fix(homekit): report an alarm command that really failed
  server/services/homekit/lib/buildAlarmAccessory.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendAlarmState.js
  server/test/services/homekit/lib/buildAlarmAccessory.test.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendAlarmState.test.js
Owners: @Pierre-Gilles

test(homekit): assert the presence sensor registers a read handler
  server/test/services/homekit/lib/buildService.test.js
Owners: @Pierre-Gilles

fix(homekit): satisfy eslint in the alarm tests
  server/test/services/homekit/lib/buildAlarmAccessory.test.js
  server/test/services/homekit/lib/notifyChange.test.js
Owners: @Pierre-Gilles

fix(homekit): keep the target the house was armed with while the alarm rings
  server/services/homekit/lib/buildAlarmAccessory.js
  server/services/homekit/lib/sendAlarmState.js
  server/test/services/homekit/lib/buildAlarmAccessory.test.js
  server/test/services/homekit/lib/sendAlarmState.test.js
Owners: @Pierre-Gilles

Add network wake functionality to external integrations
  server/api/controllers/integrationHost.controller.js
  server/api/routes.js
  server/lib/external-integration/externalIntegration.wakeOnLan.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

Refactor Wake-on-LAN integration to validate options and handle errors more effectively
  server/api/controllers/integrationHost.controller.js
  server/lib/external-integration/externalIntegration.wakeOnLan.js
  server/test/api/routes.test.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

Enhance Wake-on-LAN integration to validate IPv4 address and enforce network_wake permissions
  server/lib/external-integration/externalIntegration.wakeOnLan.js
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

Fix default source port in Wake-on-LAN integration to use 0 instead of 9
  server/lib/external-integration/externalIntegration.wakeOnLan.js
Owners: @Pierre-Gilles

Deprecate zWaveJS UI
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
Owners: @Pierre-Gilles

Add error handling tests for Wake-on-LAN integration
  server/lib/external-integration/externalIntegration.wakeOnLan.js
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

Refactor test setup to use sinon sandbox for improved isolation
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

Marge
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
Owners: @Pierre-Gilles

Fix PR comments
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
Owners: @Pierre-Gilles

Update constants.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Better guessing mapping function
  docs/specs/device-migration.md
  front/src/components/device/migrate/MigrateDeviceModal.jsx
Owners: @Pierre-Gilles

Normalize gas concentrations to µg/m³ before coloring the badge
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Owners: @Pierre-Gilles

External integrations: allow installing and updating from a locally built Docker image (#2841)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/external-integration/externalIntegration.ensureImage.js
  server/lib/external-integration/externalIntegration.install.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/external-integration/index.js
  server/lib/system/index.js
  server/lib/system/system.imageExists.js
  server/test/lib/external-integration/externalIntegration.install.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/system.imageExists.test.js
Owners: @Pierre-Gilles

ZWaveJS : Deprecate internal service (#2849)
  docs/specs/device-migration.md
  front/src/components/device/migrate/MigrateDeviceModal.jsx
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
Owners: @Pierre-Gilles

Add NO2, O3 and SO2 device feature categories (#2845)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/services/mcp/lib/selectFeature.js
  server/services/mqtt/lib/homeAssistant/constants.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Fix flaky CI: stop the gateway restore tests from poisoning the shared test database (#2844)
  server/test/helpers/db.test.js
  server/test/helpers/dbReset.test.js
  server/test/lib/gateway/gateway.restoreBackup.test.js
  server/test/lib/gateway/gateway.restoreBackupEvent.test.js
Owners: @Pierre-Gilles

Show PTZ overlay on live view only, anchored top-right
  docs/specs/camera-ptz-control.md
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/CameraPtzControls.jsx
  front/src/components/boxs/camera/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

feat(homekit): expose presence sensors as an OccupancySensor (#2846)
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(energy-monitoring): per-file sinon sandboxes in production tests, robust backfill progress
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexFromBeginning.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndexThirtyMinutes.test.js
Owners: @Pierre-Gilles

test(energy-monitoring): cover the shared from-beginning engine directly
  server/test/services/energy-monitoring/energy-monitoring.calculateEnergyFromIndexFromBeginning.test.js
Owners: @Pierre-Gilles

Add network wake permissions and summary component to integration
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/NetworkWakeSumamary.jsx
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/externalIntegration.wakeOnLan.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

fix: log MQTT/Zigbee2mqtt published payload and warn on invalid JSON (#2825) (#2832)
  server/lib/scene/scene.actions.js
  server/services/mqtt/lib/publish.js
  server/services/zigbee2mqtt/lib/publish.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/test/lib/scene/actions/scene.action.sendZigbee2MqttMessage.test.js
  server/test/services/mqtt/lib/publish.test.js
  server/test/services/zigbee2mqtt/lib/publish.test.js
Owners: @Pierre-Gilles, @atrovato

Refactor validation tests for network_wake and fix import statement for NetworkWakeSummary component
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
