Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

ES Lint
  server/services/zigbee2mqtt/lib/getConfiguration.js
Owners: @Pierre-Gilles

Handle link quality feature
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/features.js
  server/services/zigbee2mqtt/utils/loadFeatures.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Typo & version tag
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Fail CI if codecov error
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Integrate event
  server/services/index.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.addNode.js
  server/services/zwave/lib/commands/zwave.cancelControllerCommand.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getInfos.js
  server/services/zwave/lib/commands/zwave.getNodeNeighbors.js
  server/services/zwave/lib/commands/zwave.removeNode.js
  server/services/zwave/lib/events/zwave.nodeReady.js
  server/services/zwave/lib/events/zwave.notification.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueNotification.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/test/services/zwave/ZwaveMock.test.js
  server/test/services/zwave/lib/zwaveManager.test.js
  server/test/services/zwave/zwave.test.js
Owners: @Pierre-Gilles

If a forgot password request fails, display the existing users in the log for help
  server/lib/user/user.forgotPassword.js
Owners: @Pierre-Gilles

If a forgot password request fails, display the existing users in the log for help (#1300)
  server/lib/user/user.forgotPassword.js
Owners: @Pierre-Gilles

Features
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueNotification.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/utils/externalId.js
  server/services/zwave/lib/utils/getCategory.js
  server/services/zwave2mqtt/lib/utils/convertDevice.js
Owners: @Pierre-Gilles

Update
  server/lib/message/message.getReply.js
  server/services/netatmo/package-lock.json
  server/services/rhasspy/index.js
  server/services/rhasspy/lib/events/rhasspy.listening.js
  server/services/rhasspy/package-lock.json
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Update front
  front/src/assets/integrations/cover/rhasspy.svg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/rhasspy/RhasspyPage.js
Owners: @Pierre-Gilles

Update
  front/src/components/app.jsx
  front/src/routes/integration/all/rhasspy/RhasspyPage.js
  server/services/rhasspy/index.js
Owners: @Pierre-Gilles

Functionnal approch... by objects :'(
  server/services/zwave/lib/comClass/alarmCommandClass.js
  server/services/zwave/lib/comClass/defaultCommandClass.js
  server/services/zwave/lib/comClass/factory.js
  server/services/zwave/lib/comClass/switchMultilevelCommandClass.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/services/zwave/lib/utils/getChangedValue.js
  server/services/zwave/lib/utils/getMinMax.js
  server/services/zwave/lib/utils/valueBinders.js
Owners: @Pierre-Gilles

Feature
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.addNode.js
  server/services/zwave/lib/commands/zwave.cancelControllerCommand.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.disconnect.js
  server/services/zwave/lib/commands/zwave.getNodeNeighbors.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/commands/zwave.removeNode.js
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeEvent.js
  server/services/zwave/lib/events/zwave.nodeReady.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueNotification.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/services/zwave/lib/utils/externalId.js
  server/services/zwave/lib/utils/getCategory.js
  server/test/services/zwave/lib/node16.json
  server/test/services/zwave/lib/nodesData.json
  server/test/services/zwave/lib/nodesExpectedResult.json
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

cleanup
  front/src/routes/map/Map.jsx
  front/src/routes/map/index.jsx
Owners: @Pierre-Gilles

Fix EN translation
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

When an aggregate error happens, save error server side
  server/lib/device/device.calculateAggregate.js
  server/lib/job/job.get.js
  server/models/job.js
Owners: @Pierre-Gilles

Add error to job
  server/lib/job/job.wrapper.js
Owners: @Pierre-Gilles

Display errors in background tasks view
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/index.js
  front/src/routes/settings/settings-background-jobs/style.css
Owners: @Pierre-Gilles

Clean UI + daily run purge jobs
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/index.js
  server/config/scheduler-jobs.js
  server/lib/index.js
  server/lib/job/index.js
  server/lib/job/job.init.js
  server/lib/job/job.purge.js
  server/lib/job/job.wrapper.js
  server/models/job.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add tests to new job functions
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Fix i18n comparaison
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix jog.purge tests
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Update i18n
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Improve UI
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Feature
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.valueAdded.js
Owners: @Pierre-Gilles

Prettier
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.addNode.js
  server/services/zwave/lib/commands/zwave.cancelControllerCommand.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getNodeNeighbors.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueNotification.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/services/zwave/lib/utils/externalId.js
  server/services/zwave/lib/utils/getCategory.js
  server/services/zwave2mqtt/package-lock.json
  server/test/services/zwave/lib/node16.json
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

ES Lint
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave2mqtt/settings-page/SettingsTab.jsx
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

ES Lint
  front/src/routes/integration/all/zwave2mqtt/settings-page/SettingsTab.jsx
Owners: @Pierre-Gilles

Remove OZW
  .github/workflows/docker-master-test.yml
Owners: @VonOx, @Pierre-Gilles

Tests
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Fix i18n button too long configure 2FA Gladys Plus
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-configure-two-factor/ConfigureTwoFactorForm.js
Owners: @Pierre-Gilles

Change FR i18n
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix device.purgeStates function, should not purge when history = -1
  server/lib/device/device.purgeStates.js
  server/test/lib/device/device.purgeStates.test.js
Owners: @Pierre-Gilles

Add device state history in the settings
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Owners: @Pierre-Gilles

Fix i18n button too long configure 2FA Gladys Plus (#1307)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-configure-two-factor/ConfigureTwoFactorForm.js
Owners: @Pierre-Gilles

Fix front eslint
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
Owners: @Pierre-Gilles
