Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Neighbors
  server/services/zwave/api/zwave.controller.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getNodeNeighbors.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
Owners: @Pierre-Gilles

Use another location method to handle owntrack location
  server/lib/location/index.js
  server/lib/location/location.handleNewGatewayOwntracksLocation.js
  server/lib/location/location.handleNewOwntracksLocation.js
  server/services/owntracks/lib/handleMqttMessage.js
  server/services/owntracks/package-lock.json
  server/test/lib/location/location.test.js
  server/test/services/owntracks/lib/handleMqttMessage.test.js
Owners: @Pierre-Gilles

Entity too large
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  server/services/zwave/lib/commands/zwave.getNodes.js
Owners: @Pierre-Gilles

Device name
  server/services/zwave/lib/events/zwave.nodeReady.js
Owners: @Pierre-Gilles

Entity too large
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getNodeNeighbors.js
Owners: @Pierre-Gilles

audit fix
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

metadataUpdate event
  server/services/zwave/lib/events/zwave.metadataUpdate.js
  server/services/zwave/lib/index.js
Owners: @Pierre-Gilles

Review metadata
  server/services/zwave/lib/commands/zwave.getNodeNeighbors.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeReady.js
Owners: @Pierre-Gilles

Change feature category
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tasmota/edit-page/index.js
Owners: @Pierre-Gilles, @atrovato

Fix typo
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Television category/features and box rows
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/config/demo.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Television category/features and box rows
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Fix i18n
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

4.5.3
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Add signal quality feature
  server/utils/constants.js
Owners: @Pierre-Gilles

Be able to query multiple device feature aggregate in one request
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/lib/device/device.getDeviceFeaturesAggregatesMulti.js
  server/lib/device/index.js
  server/models/dashboard.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
  server/test/lib/device/device.getDeviceFeaturesAggregatesMulti.test.js
Owners: @Pierre-Gilles

Let the user select multiple device feature in chart UI
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix UI
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Github Actions updates (#1278)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Add edge case when device feature list is empty
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Fix #1310: In box "temperature in room" & "humidity in room", when value is 0, it should not display weird state
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Owners: @Pierre-Gilles

Add signal quality feature (#1315)
  server/utils/constants.js
Owners: @Pierre-Gilles

Scene value transform
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/utils/bindValue.js
Owners: @Pierre-Gilles

Switch value from int to string
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Owners: @Pierre-Gilles

Add demo data
  front/src/config/demo.json
Owners: @Pierre-Gilles

Ternary operator
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Owners: @Pierre-Gilles

Param value as string
  server/services/rtsp-camera/lib/getImage.js
Owners: @Pierre-Gilles

Fix #1310: In box "temperature in room" & "humidity in room", when value is 0, it should not display weird state (#1317)
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Owners: @Pierre-Gilles

Tasmota: Be able to change a switch to a light (#1108)
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tasmota/edit-page/index.js
Owners: @Pierre-Gilles, @atrovato

For some integrations, display the device feature name and not the device name in the UI
  front/src/components/boxs/device-in-room/device-features/utils.js
  front/src/utils/device.js
  server/lib/room/room.get.js
  server/test/lib/room/room.test.js
Owners: @Pierre-Gilles

Add bluetooth device
  front/src/utils/device.js
Owners: @Pierre-Gilles

Disable charts for binary, push, color & camera images
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

For some integrations, display the device feature name and not the device name in the UI (#1322)
  front/src/components/boxs/device-in-room/device-features/utils.js
  front/src/utils/device.js
  server/lib/room/room.get.js
  server/test/lib/room/room.test.js
Owners: @Pierre-Gilles

Update docker-master-test.yml
  .github/workflows/docker-master-test.yml
Owners: @VonOx, @Pierre-Gilles

Device URL
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  server/services/zwave/lib/commands/zwave.addNode.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.metadataUpdate.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeReady.js
  server/services/zwave/lib/utils/getCategory.js
Owners: @Pierre-Gilles

Device URL
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add change from review
  server/services/ewelink/lib/device/connect.js
  server/services/ewelink/lib/device/discover.js
  server/services/ewelink/lib/device/index.js
  server/services/ewelink/lib/device/poll.js
  server/services/ewelink/lib/device/setValue.js
  server/services/ewelink/lib/features/binary.js
  server/services/ewelink/lib/features/energyPower.js
  server/services/ewelink/lib/features/humidity.js
  server/services/ewelink/lib/features/index.js
  server/services/ewelink/lib/features/power.js
  server/services/ewelink/lib/features/temperature.js
  server/services/ewelink/lib/utils/externalId.js
  server/test/services/ewelink/lib/device/poll.test.js
  server/test/services/ewelink/lib/features/features.test.js
  server/test/services/ewelink/mocks/Gladys-2ch.json
  server/test/services/ewelink/mocks/Gladys-Basic.json
  server/test/services/ewelink/mocks/Gladys-pow.json
  server/test/services/ewelink/mocks/Gladys-th.json
  server/test/services/ewelink/mocks/ewelink-api.mock.test.js
Owners: @NickDub

Rewrite service to fix bug and add enhancements
  server/services/ewelink/lib/device/discover.js
  server/services/ewelink/lib/device/poll.js
  server/services/ewelink/lib/device/setValue.js
  server/services/ewelink/lib/features/energy.power.js
  server/services/ewelink/lib/features/humidity.js
  server/services/ewelink/lib/features/index.js
  server/services/ewelink/lib/features/power.js
  server/services/ewelink/lib/features/temperature.js
  server/services/ewelink/lib/models/index.js
  server/services/ewelink/lib/models/switch_basic.js
  server/services/ewelink/lib/models/switch_pow.js
  server/services/ewelink/lib/models/switch_th.js
  server/services/ewelink/lib/models/unhandled.js
  server/services/ewelink/lib/utils/constants.js
  server/services/ewelink/lib/utils/getDeviceName.js
  server/services/ewelink/lib/utils/parseExternalId.js
  server/services/ewelink/package-lock.json
  server/services/ewelink/package.json
  server/test/services/ewelink/lib/device/connect.test.js
  server/test/services/ewelink/lib/device/discover.test.js
  server/test/services/ewelink/lib/device/poll.test.js
  server/test/services/ewelink/lib/device/setValue.test.js
  server/test/services/ewelink/lib/features/features.test.js
  server/test/services/ewelink/lib/models/models.test.js
  server/test/services/ewelink/lib/utils/getDeviceName.test.js
  server/test/services/ewelink/lib/utils/parseExternalId.test.js
  server/test/services/ewelink/mocks/Gladys-2ch1.json
  server/test/services/ewelink/mocks/Gladys-2ch2.json
  server/test/services/ewelink/mocks/Gladys-offline.json
  server/test/services/ewelink/mocks/Gladys-pow.json
  server/test/services/ewelink/mocks/Gladys-th.json
  server/test/services/ewelink/mocks/Gladys-unhandled.json
  server/test/services/ewelink/mocks/consts.test.js
  server/test/services/ewelink/mocks/eweLink-2ch.json
  server/test/services/ewelink/mocks/eweLink-offline.json
  server/test/services/ewelink/mocks/eweLink-pow.json
  server/test/services/ewelink/mocks/eweLink-th.json
  server/test/services/ewelink/mocks/eweLink-unhandled.json
  server/test/services/ewelink/mocks/ewelink-api-empty.mock.test.js
  server/test/services/ewelink/mocks/ewelink-api.mock.test.js
Owners: @NickDub

Add enhancements to the front
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/EweLinkDeviceBox.jsx
  front/src/routes/integration/all/ewelink/actions.js
  front/src/routes/integration/all/ewelink/discover-page/index.js
Owners: @Pierre-Gilles, @NickDub
