Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Design disable scene
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.addScene.js
  server/models/scene.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles

eslint :(
  front/src/routes/scene/SceneCard.jsx
Owners: @Pierre-Gilles

Add disable scene logic
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.get.js
  server/migrations/202102212184604-add-active-scene.js
  server/models/scene.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles

prettier !!!
  server/test/controllers/scene/scene.test.js
Owners: @Pierre-Gilles

Front Pihole
  front/src/actions/dashboard/boxes/piHole.js
  front/src/components/boxs/pihole/DataList.jsx
  front/src/components/boxs/pihole/PiholeBox.jsx
Owners: @Pierre-Gilles

fix TU
  front/src/config/i18n/fr.json
  server/package-lock.json
  server/services/withings/lib/withings.poll.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/lib/withings.getServiceId.test.js
  server/test/services/withings/lib/withings.handler.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

update version of simple-oauth2
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Remove moment package in front (#1092)
  front/package-lock.json
  front/package.json
  front/src/routes/calendar/index.js
Owners: @Pierre-Gilles

Add test
  server/test/lib/scene/scene.execute.test.js
Owners: @Pierre-Gilles

feat: Sort rooms alphabetically
  front/src/actions/house.js
Owners: @Pierre-Gilles

add assert on test
  server/test/lib/scene/scene.execute.test.js
Owners: @Pierre-Gilles

prettier :(
  server/test/lib/scene/scene.execute.test.js
Owners: @Pierre-Gilles

Stop Bluetooth service fix #1093
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothSettingsTab.jsx
  server/services/bluetooth/lib/commands/bluetooth.getStatus.js
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.stop.js
  server/services/bluetooth/lib/index.js
  server/test/services/bluetooth/index.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.getStatus.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.stop.test.js
Owners: @atrovato

Upgrade to Node 14 (#1079)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  docker/Dockerfile
  docker/Dockerfile.buildx
  docker/docker-compose-arm.yml
  docker/docker-compose.yml
  front/package.json
  package.json
  server/package.json
Owners: @VonOx, @Pierre-Gilles

Fix Bluetooth stop function #1093 (#1097)
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothSettingsTab.jsx
  server/services/bluetooth/lib/commands/bluetooth.getStatus.js
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.stop.js
  server/services/bluetooth/lib/index.js
  server/test/services/bluetooth/index.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.getStatus.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.stop.test.js
Owners: @atrovato

Add Sunrise/Sunset trigger in scenes (#1026)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
  server/lib/house/house.create.js
  server/lib/house/house.destroy.js
  server/lib/house/house.update.js
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.dailyUpdate.js
  server/lib/scene/scene.init.js
  server/lib/scene/scene.triggers.js
  server/package-lock.json
  server/package.json
  server/test/lib/house/house.test.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/scene.dailyUpdate.test.js
  server/test/lib/scene/scene.init.test.js
  server/test/services/openweather/openweather.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @callemand

Add brightness device feature input on dashboard (#1082)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/BrightnessDeviceFeature.jsx
  front/src/config/demo.json
  server/services/philips-hue/lib/light/light.setValue.js
  server/test/services/philips-hue/light/light.setValue.test.js
  server/test/services/philips-hue/mocks.test.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Fix timezone problem in sunrise/sunset scene scheduler
  server/lib/scene/scene.dailyUpdate.js
  server/package-lock.json
  server/package.json
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Add more verbose logs
  server/lib/scene/scene.dailyUpdate.js
Owners: @Pierre-Gilles

Add more tests
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Sort rooms alphabetically in dashboard (#1101)
  front/src/actions/house.js
Owners: @Pierre-Gilles

In PR, start build-front during test-server to improve build speed
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

Fix timezone problem in sunrise/sunset scene scheduler (#1103)
  server/lib/scene/scene.dailyUpdate.js
  server/package-lock.json
  server/package.json
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Update package-lock.json
  server/package-lock.json
Owners: @Pierre-Gilles

Better FR answer
  server/config/brain/humidity-sensor/answers.fr.json
Owners: @Pierre-Gilles

Fix #1102: unit preferences was not editable, and was not working in dashboard and chat
  server/api/controllers/weather.controller.js
  server/lib/user/user.getById.js
  server/lib/weather/weather.command.js
  server/services/openweather/index.js
  server/test/lib/user/user.getById.test.js
Owners: @Pierre-Gilles, @callemand

Fix tests
  server/test/controllers/user/user.getMySelf.test.js
Owners: @Pierre-Gilles

Fix weather tests
  server/test/controllers/weather/weather.test.js
Owners: @Pierre-Gilles

Fix based on review
  server/config/brain/humidity-sensor/answers.en.json
  server/config/brain/humidity-sensor/answers.fr.json
Owners: @Pierre-Gilles

fix from review
  front/src/actions/dashboard/edit-boxes/editChartFeatures.js
  server/models/dashboard.js
  server/models/device_feature_state.js
  server/package-lock.json
  server/package.json
  server/seeders/20190227081710-device-feature-state.js
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Add TuYa, Lonsonho devices and fix models
  server/services/zigbee2mqtt/model/Lonsonho.js
  server/services/zigbee2mqtt/model/TuYa.js
  server/services/zigbee2mqtt/model/Xiaomi.js
  server/services/zigbee2mqtt/model/index.js
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Device detection and not managed devices
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertDevice.js
Owners: @Pierre-Gilles

Update Xiaomi.js
  server/services/zigbee2mqtt/model/Xiaomi.js
Owners: @Pierre-Gilles

test(zigbee2mqtt): Finish test :rocket:
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/coverage.html
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/setPermitJoin.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/usb/usb.controller.test.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/discoverDevices.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
  server/test/services/zigbee2mqtt/lib/subscribe.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/convertFeature.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
Owners: @Pierre-Gilles, @atrovato

feat(zigbee2mqtt): Manage SQL_FILE_PATH to store files
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-env.sh
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-env.sh
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/utils/basePath.js
  server/test/services/zigbee2mqtt/utils/basePath.test.js
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Add TuYa TS0011 device
  server/services/zigbee2mqtt/model/TuYa.js
Owners: @Pierre-Gilles

feat(core): Add USB informations (productId, vectorId) for dongle differentiation
  server/services/usb/api/usb.controller.js
  server/test/services/usb/usb.controller.test.js
Owners: @Pierre-Gilles, @atrovato

feat(zigbee2mqtt): Setup Page in Mobile
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Containers' names and detection
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/actions.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-env.sh
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-env.sh
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getHostIP.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Remove USB disable_led and fix path
  server/services/zigbee2mqtt/docker/zigbee2mqtt-env.sh
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
