Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

chore(front): remove unintended energy feature creation block from device editor
  front/src/components/device/index.js
Owners: @Pierre-Gilles

refactor(front): remove temporary energy-monitoring shortcut UI from device features
  front/src/components/device/UpdateDevice.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Owners: @Pierre-Gilles, @atrovato

Zigbee2mqtt: Add link to open device in Zigbee2mqtt interface
  front/src/assets/integrations/logos/logo_zigbee2mqtt.png
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteOptions.jsx
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getSetup.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/payloads/CCT5015.json
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
Owners: @Pierre-Gilles

fix front prettier
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
Owners: @Pierre-Gilles

Exclusion of *.backup files
  .gitignore
Owners: @Pierre-Gilles

replacing feather by lucide webfont in some non-updated files
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

replaced feather by lucide webfont for non-updated files
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LMHVolumeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/view/DeviceFeature.jsx
  front/src/config/demo.js
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/all/broadlink/remote-page/edition/RemoteFeatureEdition.jsx
  front/src/routes/integration/all/broadlink/remote-page/edition/RemoteFeatureTag.jsx
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/ewelink/EweLinkDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  front/src/routes/integration/all/melcloud/MELCloudDeviceBox.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/settings/settings-session/SessionDeviceLabel.jsx
Owners: @Pierre-Gilles, @NickDub, @atrovato, @thibautmery, @Terdious

update and add new Lucide icons
  front/package.json
  server/config/icons.json
Owners: @Pierre-Gilles

update theme-optimizer version and signal quality device icons
  front/package.json
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
Owners: @Pierre-Gilles

update feather class to lucide for dark mode
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

update and remove cx(), typo correction in weather.js
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
Owners: @Pierre-Gilles

fix: Use snake_case for IEEE address property
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
Owners: @Pierre-Gilles

replace or remove some few "fe"
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/device/ShutterButtons.jsx
  front/src/components/house/EditHouse.jsx
  front/src/routes/integration/all/matterbridge/setup-page/SetupTab.jsx
  front/src/routes/integration/all/melcloud/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/node-red/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/ContainerLinkStatus.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/Requirement.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteOptions.jsx
  front/src/routes/integration/all/zwavejs-ui/setup-page/index.js
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/settings/settings-session/SessionDeviceLabel.jsx
Owners: @Pierre-Gilles, @atrovato, @thibautmery, @Terdious

correctio according coderabbitai[bot] proposed defensive fix.
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
Owners: @Pierre-Gilles

prettier updates
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
  server/config/icons.json
Owners: @Pierre-Gilles

tuya: fix smart meter detection and rebuild features after local poll
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

tuya: improve local issue diagnostics and local poll auto-scan UX
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/commons/githubIssue.js
Owners: @Pierre-Gilles

tuya: improve local issue diagnostics and local poll auto-scan UX
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/commons/githubIssue.js
Owners: @Pierre-Gilles

feat(tuya): allow follow-up github issues and improve issue payload UX
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/commons/githubIssue.js
Owners: @Pierre-Gilles

refactor(front/tuya): split device box sections and simplify helpers
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/localPoll.js
  front/src/routes/integration/all/tuya/discover-page/TuyaGithubIssueSection.jsx
  front/src/routes/integration/all/tuya/discover-page/githubIssue.js
Owners: @Pierre-Gilles

refactor(front/tuya): split device box sections and simplify helpers
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/localPoll.js
  front/src/routes/integration/all/tuya/discover-page/TuyaGithubIssueSection.jsx
  front/src/routes/integration/all/tuya/discover-page/githubIssue.js
Owners: @Pierre-Gilles

tuya: fix smart meter detection and rebuild features after local poll
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

refactor(front/tuya): split device box sections and simplify helpers
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/localPoll.js
  front/src/routes/integration/all/tuya/discover-page/TuyaGithubIssueSection.jsx
  front/src/routes/integration/all/tuya/discover-page/githubIssue.js
Owners: @Pierre-Gilles

fix prettier
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
Owners: @Pierre-Gilles

fix prettier
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
Owners: @Pierre-Gilles

refactor(front/tuya): split device box sections and simplify helpers
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/localPoll.js
  front/src/routes/integration/all/tuya/discover-page/TuyaGithubIssueSection.jsx
  front/src/routes/integration/all/tuya/discover-page/githubIssue.js
Owners: @Pierre-Gilles

fix prettier
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
Owners: @Pierre-Gilles

tuya: fix smart meter detection and rebuild features after local poll
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

fix(tuya): harden local poll for protocol 3.4
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/package-lock.json
  server/services/tuya/package.json
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

Bluetooth Presence : Make integration more clear for new users
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDeviceTab.jsx
Owners: @Pierre-Gilles, @atrovato

Matter: Make pairing process more clear
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDiscoverPage.jsx
Owners: @Pierre-Gilles

Fix bluetooth tests
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
Owners: @atrovato

Nuki 1.0.1 : Check that service is configured, subscribe only to necessary devices & UI improvements (#2427)
  front/src/routes/integration/all/nuki/discover-http/DiscoverTab.jsx
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
  server/services/nuki/README.md
  server/services/nuki/api/nuki.controller.js
  server/services/nuki/lib/commands/nuki.start.js
  server/services/nuki/lib/http/nuki.http.connect.js
  server/services/nuki/lib/http/nuki.http.scan.js
  server/services/nuki/lib/mqtt/index.js
  server/services/nuki/lib/mqtt/nuki.mqtt.connect.js
  server/services/nuki/lib/mqtt/nuki.mqtt.scan.js
  server/services/nuki/package.json
  server/test/services/checks.test.js
  server/test/services/nuki/api/nuki.controller.test.js
  server/test/services/nuki/lib/commands/nuki.getStatus.test.js
  server/test/services/nuki/lib/commands/nuki.start.test.js
  server/test/services/nuki/lib/config/nuki.getConfiguration.test.js
  server/test/services/nuki/lib/config/nuki.saveConfiguration.test.js
  server/test/services/nuki/lib/device/nuki.postDelete.test.js
  server/test/services/nuki/lib/device/nuki.setValue.test.js
  server/test/services/nuki/lib/http/nuki.http.connect.test.js
  server/test/services/nuki/lib/http/nuki.http.convertToDevice.test.js
  server/test/services/nuki/lib/http/nuki.http.getDiscoveredDevices.test.js
  server/test/services/nuki/lib/http/nuki.http.scan.test.js
  server/test/services/nuki/lib/http/nuki.http.setValue.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-battery.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-state.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.connect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.disconnect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.deviceCreation.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.setValue.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.subscribeDeviceTopic.test.js
  server/test/services/nuki/lib/nuki.getDiscoveredDevices.test.js
  server/test/services/nuki/mocks/mqtt.mock.test.js
  server/test/services/nuki/mocks/nuki.mock.test.js
Owners: @Pierre-Gilles, @atrovato

feat(tuya): fix smart meter scaling and add export index type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/smart-meter.js
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(tuya): harden local poll for protocol 3.4
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/package-lock.json
  server/services/tuya/package.json
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

feat(tuya): fix smart meter scaling and add export index type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/smart-meter.js
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(tuya): harden local poll for protocol 3.4
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/package-lock.json
  server/services/tuya/package.json
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

feat(tuya): fix smart meter scaling and add export index type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/smart-meter.js
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

test(tuya): cover convertDevice and report/cloudStrategy branches
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/utils/tuya.cloudStrategy.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Owners: @Pierre-Gilles

test(tuya): cover convertDevice and report/cloudStrategy branches
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/utils/tuya.cloudStrategy.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Owners: @Pierre-Gilles
