Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Revert changes to brightnessDelta
  server/services/alexa/lib/deviceMappings.js
Owners: @Pierre-Gilles

Turning off the light should reset brightness
  server/services/alexa/lib/alexa.onExecute.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

should not reset brightness on turnOff
  server/services/alexa/lib/alexa.onExecute.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

Fix alexa tests cases
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

Decreasing brightness from a turned off light shoud keep light off
  server/services/alexa/lib/deviceMappings.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

Put alexa namespaces in constants files
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/services/alexa/lib/alexa.constants.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
Owners: @Pierre-Gilles

fix for review
  front/cypress/integration/routes/integration/withings/settings/WithingsSettingsWithoutConfig.js
  front/package-lock.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/withings/settings-page/actions.js
  front/src/routes/integration/all/withings/settings-page/index.js
  front/src/routes/integration/all/withings/settings-page/oauth2/OAuth2Config.jsx
  front/src/routes/integration/all/withings/settings-page/oauth2/actions.js
  front/src/utils/combineActions.js
  server/api/controllers/oauth2.controller.js
  server/api/routes.js
  server/lib/index.js
  server/package-lock.json
  server/package.json
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/index.js
  server/services/withings/lib/oauth2-client/index.js
  server/services/withings/lib/oauth2-client/oauth2.buildAuthorizationUri.js
  server/services/withings/lib/oauth2-client/oauth2.buildRedirectUri.js
  server/services/withings/lib/oauth2-client/oauth2.deleteClient.js
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
  server/services/withings/lib/oauth2-client/oauth2.getAccessToken.js
  server/services/withings/lib/utils/withings.getDevices.js
  server/services/withings/lib/utils/withings.getMeasures.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/package-lock.json
  server/services/withings/package.json
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/controllers/oauth2/oauth2.request.test.js
  server/test/services/withings/api/oauth2/oauth2.controller.test.js
  server/test/services/withings/lib/oauth2-client/oauth2manager.test.js
  server/test/services/withings/lib/withings.initDevices.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

Alexa integration: handle color and brightness commands (#1551)
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/services/alexa/lib/alexa.constants.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/lib/gateway/gateway.handleAlexaMessage.test.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
  server/test/utils/colors.test.js
  server/utils/colors.js
Owners: @Pierre-Gilles

Fix integration search/sort form (#1395)
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Revert "Fix integration search/sort form (#1395)"
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Revert "Fix integration search/sort form (#1395)" (#1555)
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Initial commit
  front/src/actions/integration.js
  front/src/assets/integrations/cover/influxdb.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/index.js
  front/src/config/integrations/storages.json
  front/src/routes/integration/all/influxdb/InfluxDB.jsx
  front/src/routes/integration/all/influxdb/actions.js
  front/src/routes/integration/all/influxdb/index.js
  front/src/utils/consts.js
  server/services/index.js
  server/services/influxdb/README.md
  server/services/influxdb/dev.js
  server/services/influxdb/index.js
  server/services/influxdb/lib/index.js
  server/services/influxdb/lib/influxdb.listen.js
  server/services/influxdb/lib/influxdb.write.js
  server/services/influxdb/lib/influxdb.writeBinary.js
  server/services/influxdb/package-lock.json
  server/services/influxdb/package.json
Owners: @Pierre-Gilles

fix for review
  front/cypress/integration/routes/integration/withings/settings/WithingsSettingsWithoutConfig.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  front/src/routes/integration/all/withings/settings-page/index.js
  front/src/routes/integration/all/withings/settings-page/oauth2/OAuth2Config.jsx
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/oauth2-client/index.js
  server/services/withings/lib/oauth2-client/oauth2.getCurrentConfig.js
  server/test/services/withings/api/oauth2/oauth2.controller.test.js
  server/test/services/withings/lib/oauth2-client/oauth2manager.test.js
Owners: @Pierre-Gilles

fix for review
  front/src/routes/integration/all/withings/settings-page/index.js
Owners: @Pierre-Gilles

Initial comit
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  server/lib/scene/scene.actions.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Update en.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Update fr.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Update en.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Update scene.actions.js
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Implement RelativeCI new github action
  .github/workflows/docker-pr-build.yml
  .github/workflows/relative-ci.yaml
Owners: @VonOx, @Pierre-Gilles

New line
  .github/workflows/relative-ci.yaml
Owners: @VonOx, @Pierre-Gilles

Alexa: Fix brightness control for device with custom brightness range
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

Fix onReportState
  server/services/alexa/lib/alexa.onReportState.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

Alexa: Fix brightness control for device with custom brightness range (#1561)
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/deviceMappings.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

Fix cypress issues
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
Owners: @atrovato, @Pierre-Gilles

make change after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

Update zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Owners: @VonOx, @Pierre-Gilles

Delete zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Owners: @VonOx, @Pierre-Gilles

Upgrade ZWaveJS, disable error reporting
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/constants.js
  server/services/zwave/package-lock.json
  server/services/zwave/package.json
  server/test/services/zwave/lib/zwaveManager-features.test.js
Owners: @Pierre-Gilles

Create zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Owners: @VonOx, @Pierre-Gilles

Remove secrets keys
  server/services/zwave/docker/gladys-zwave-zwave2mqtt-env.sh
Owners: @Pierre-Gilles

Prettier
  front/src/routes/integration/all/zwave/settings-page/actions.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/events/zwave.handleMqttMessage.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/services/zwave/lib/utils/splitNode.js
  server/test/services/zwave/zwave.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix google url
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Owners: @bertrandda

Run prettier
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Owners: @bertrandda

ESLInt
  front/package-lock.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/discover-page/Node.jsx
  front/src/routes/integration/all/zwave/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave/settings-page/actions.js
  front/src/routes/integration/all/zwave/settings-page/index.js
  server/package-lock.json
  server/services/zwave/api/zwave.controller.js
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getConfiguration.js
  server/services/zwave/lib/commands/zwave.getStatus.js
  server/services/zwave/lib/commands/zwave.installMqttContainer.js
  server/services/zwave/lib/commands/zwave.installZ2mContainer.js
  server/services/zwave/lib/commands/zwave.updateConfiguration.js
  server/services/zwave/lib/connect.js
  server/services/zwave/lib/events/zwave.handleMqttMessage.js
Owners: @Pierre-Gilles

ESLInt
  front/package-lock.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/discover-page/Node.jsx
  front/src/routes/integration/all/zwave/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave/settings-page/actions.js
  front/src/routes/integration/all/zwave/settings-page/index.js
  server/package-lock.json
  server/services/zwave/api/zwave.controller.js
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.getConfiguration.js
  server/services/zwave/lib/commands/zwave.getStatus.js
  server/services/zwave/lib/commands/zwave.installMqttContainer.js
  server/services/zwave/lib/commands/zwave.installZ2mContainer.js
  server/services/zwave/lib/commands/zwave.updateConfiguration.js
  server/services/zwave/lib/connect.js
  server/services/zwave/lib/events/zwave.handleMqttMessage.js
Owners: @Pierre-Gilles

4.9.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

InfuxDB Implementation
  front/src/assets/integrations/logos/logo_influxdata.svg
  front/src/config/i18n/en.json
  front/src/config/integrations/storages.json
  front/src/routes/integration/all/influxdb/InfluxDB.jsx
  front/src/routes/integration/all/influxdb/InfluxDBPage.jsx
  front/src/routes/integration/all/influxdb/actions.js
  front/src/routes/integration/all/influxdb/index.js
  server/services/influxdb/api/influxdb.controller.js
  server/services/influxdb/index.js
  server/services/influxdb/lib/constants.js
  server/services/influxdb/lib/index.js
  server/services/influxdb/lib/influxdb.getConfiguration.js
  server/services/influxdb/lib/influxdb.init.js
  server/services/influxdb/lib/influxdb.listen.js
  server/services/influxdb/lib/influxdb.saveConfiguration.js
  server/services/influxdb/lib/influxdb.write.js
  server/services/influxdb/lib/influxdb.writeBinary.js
Owners: @Pierre-Gilles

Fix hours getDeviceFeaturesAggregates
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles
