Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

refactor: forgotten deletions i18n
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Should fix getConfiguration
  front/src/routes/integration/all/zwavejs-ui/setup-page/index.js
  server/services/zwavejs-ui/api/zwaveJSUI.controller.js
  server/services/zwavejs-ui/lib/index.js
  server/services/zwavejs-ui/lib/zwaveJSUI.getConfiguration.js
  server/test/services/zwavejs-ui/api/zwaveJSUI.controller.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.getConfiguration.test.js
Owners: @Pierre-Gilles

Fix typo
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix feedbacks
  server/services/zwavejs-ui/lib/index.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

Fix lint
  front/src/routes/integration/all/zwavejs-ui/setup-page/index.js
Owners: @Pierre-Gilles

4.33.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Regex protips required
  server/_templates/gladys_module/discover_box/config/demo.js.t
Owners: @Pierre-Gilles

Add discover devices in services
  server/_templates/gladys_module/discover_box/server/service/api/module.controller_apis.js.t
  server/_templates/gladys_module/discover_box/server/service/api/module.controller_returns.js.t
  server/_templates/gladys_module/discover_box/server/service/lib/device/module.discover.js.t
  server/_templates/gladys_module/discover_box/server/service/test/api/module.controller.test.js.t
  server/_templates/gladys_module/discover_box/server/service/test/lib/device/module.discover.test.js.t
  server/_templates/gladys_module/discover_box/server/service/test/lib/index_prototype.js.t
  server/_templates/gladys_module/discover_box/server/service/test/lib/index_require.js.t
  server/_templates/gladys_module/discover_box/server/service/test/mocks/module.mock.test.js.t
Owners: @Pierre-Gilles

Remove duplicate key
  server/utils/constants.js
Owners: @Pierre-Gilles

test: modifications following server code changed
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.getAccessToken.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.getRefreshToken.js
  server/services/netatmo/lib/netatmo.getTokens.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/controllers/netatmo.controller.test.js
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.getDatas.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/netatmo.discoverDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadThermostatDetails.mock.test.json
  server/test/services/netatmo/netatmo.mock.test.js
Owners: @thibautmery, @Terdious

test: continuation of test corrections
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
  server/test/services/netatmo/lib/netatmo.setTokens.test.js
  server/test/services/netatmo/lib/netatmo.status.test.js
  server/test/services/netatmo/netatmo.mock.test.js
Owners: @thibautmery, @Terdious

test: continuation of tests and server code fixes following completion of tests
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.getTokens.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.poll.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/lib/netatmo.status.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/controllers/netatmo.controller.test.js
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/lib/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/netatmo.deviceMapping.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.getDatas.test.js
  server/test/services/netatmo/lib/netatmo.getStatus.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.poll.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.setTokens.test.js
  server/test/services/netatmo/lib/netatmo.status.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.discoverDevices.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadThermostatDetails.mock.test.json
  server/test/services/netatmo/netatmo.mock.test.js
Owners: @thibautmery, @Terdious

fix: tests
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.getDatas.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.poll.test.js
  server/test/services/netatmo/lib/netatmo.status.test.js
Owners: @thibautmery, @Terdious

fix: tests
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.poll.test.js
  server/test/services/netatmo/lib/netatmo.saveConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.status.test.js
Owners: @thibautmery, @Terdious

tests: continuation of test writing
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.saveValue.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/test/services/netatmo/lib/index.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.saveValue.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
  server/test/services/netatmo/lib/netatmo.status.test.js
  server/test/services/netatmo/netatmo.getThermostat.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

fix: tests prettier and increase coverage
  server/services/netatmo/lib/netatmo.poll.js
  server/services/netatmo/lib/netatmo.saveValue.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.poll.test.js
  server/test/services/netatmo/lib/netatmo.saveValue.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

test: improvement of tests with interval and taking into account tests of new constants
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.poll.js
  server/services/netatmo/lib/netatmo.status.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.poll.test.js
  server/test/services/netatmo/lib/netatmo.status.test.js
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

fix: test on errors Timeout exceeded other integration
  server/test/services/netatmo/lib/netatmo.poll.test.js
Owners: @thibautmery, @Terdious

added configurationKey missing from sonos docs
  front/src/routes/integration/all/sonos/SonosPage.jsx
Owners: @Pierre-Gilles

fix documentKey for nextcloud doc
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
Owners: @Pierre-Gilles

broadlink: upgrade lib
  server/services/broadlink/package-lock.json
  server/services/broadlink/package.json
Owners: @Pierre-Gilles

Update browser list
  front/package-lock.json
Owners: @Pierre-Gilles

Fix demo.js : handle query in get request and add missing get /api/v1/device?device_feature_selectors=xxx request (required by DevicesInRoom box)
  front/src/config/demo.js
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

prettier
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Add tablet mode
  front/src/config/demo.js
Owners: @Pierre-Gilles

remove log
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Improve loop
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

fix some typos/trad mistakes
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix somes typos
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix somes typos
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix somes typos
  front/src/config/i18n/fr.json
  server/config/brain/openai/answers.fr.json
Owners: @Pierre-Gilles

fix statut typos fr
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix somes typos
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

fix somes typos
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Do not poll when service is stopped
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/test/services/ecovacs/lib/device/vacbot.poll.test.js
Owners: @Pierre-Gilles

Complete vacbot obj mock
  server/test/services/ecovacs/mocks/ecovacs-api.mock.test.js
Owners: @Pierre-Gilles

Complete stop test case
  server/test/services/ecovacs/lib/commands/ecovacs.stop.test.js
Owners: @Pierre-Gilles

Add no value in config test
  server/test/services/ecovacs/lib/commands/ecovacs.start_no_config.test.js
Owners: @Pierre-Gilles

Remove useless log, run prettier and eslint
  server/services/ecovacs/api/ecovacs.controller.js
  server/services/ecovacs/lib/commands/ecovacs.connect.js
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/services/ecovacs/lib/config/ecovacs.getConfiguration.js
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.getVacbotObj.js
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/services/ecovacs/lib/device/vacbot.setValue.js
  server/test/services/ecovacs/lib/commands/ecovacs.stop.test.js
  server/test/services/ecovacs/lib/device/vacbot.poll.test.js
Owners: @Pierre-Gilles

prettier
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles
