Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

chore: Refactor Chart.jsx to improve code readability and remove unused code
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Fix: Rollback socket-io to old version to prevent Gladys Plus disconnect
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Fix: Rollback socket-io to old version to prevent Gladys Plus disconnect (#2130)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

4.46.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

fix feature type of lixee tic expose : RELAIS
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

add EASF03 expose
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Zigbee2mqtt: new LixeeTIC expose: EASF03 (#2131)
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Camera: Replace ffmpeg-fluent by native commands
  server/services/rtsp-camera/index.js
  server/services/rtsp-camera/lib/getImage.js
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/package-lock.json
  server/services/rtsp-camera/package.json
  server/test/services/rtsp-camera/FfmpegMock.test.js
  server/test/services/rtsp-camera/rstp.convertLocalStreamToGateway.test.js
  server/test/services/rtsp-camera/rstpCamera.onNewCameraFile.test.js
  server/test/services/rtsp-camera/rtspCamera.sendCameraFileToGateway.test.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Owners: @Pierre-Gilles

Add tests to message.reply
  server/test/lib/message/message.reply.test.js
Owners: @Pierre-Gilles

Add test to ask AI scene
  server/test/lib/scene/actions/scene.action.askAi.test.js
Owners: @Pierre-Gilles

Run prettier on front
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
Owners: @Pierre-Gilles

Add EN + DE translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Remove arm/v7 builds
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Remove arm/v7 builds (#2134)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Scene: Fix responsive on tablets for scheduled trigger
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
Owners: @Pierre-Gilles

Scene: Change log level for checkCalendarTrigger
  server/lib/scene/scene.checkCalendarTriggers.js
Owners: @Pierre-Gilles

Scene: Fix responsive on tablets for scheduled trigger (#2136)
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
Owners: @Pierre-Gilles

Scene: Change log level for checkCalendarTrigger (#2137)
  server/lib/scene/scene.checkCalendarTriggers.js
Owners: @Pierre-Gilles

Camera: Replace ffmpeg-fluent by native commands (#2132)
  server/services/rtsp-camera/index.js
  server/services/rtsp-camera/lib/getImage.js
  server/services/rtsp-camera/lib/index.js
  server/services/rtsp-camera/package-lock.json
  server/services/rtsp-camera/package.json
  server/test/services/rtsp-camera/FfmpegMock.test.js
  server/test/services/rtsp-camera/rstp.convertLocalStreamToGateway.test.js
  server/test/services/rtsp-camera/rstpCamera.onNewCameraFile.test.js
  server/test/services/rtsp-camera/rtspCamera.sendCameraFileToGateway.test.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Owners: @Pierre-Gilles

Upgrade hap-nodejs
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
Owners: @Pierre-Gilles

add constant for teleinformation device
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

add fr translation
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
Owners: @Pierre-Gilles

add fr translation
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

add pilot wire (fork from @cicoub13 branch)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

reduce size of form control
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
Owners: @Pierre-Gilles

change order in the select options
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
Owners: @Pierre-Gilles

Fix DuckDB migration translation in English
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Add nightly job to purge old messages (#2119)
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  server/config/scheduler-jobs.js
  server/lib/message/index.js
  server/lib/message/message.purge.js
  server/test/lib/message/message.purge.test.js
  server/utils/constants.js
Owners: @VonOx, @Pierre-Gilles

4.45.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Migrate EDF Tempo widget to RTE API (#2114)
  server/lib/gateway/gateway.getEdfTempo.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/services/edf-tempo/index.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getEdfTempo.test.js
  server/test/services/edf-tempo/edf-tempo.controller.test.js
  server/test/services/edf-tempo/index.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Remove containers when disabling integration (#2109)
  server/services/zigbee2mqtt/lib/disconnect.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
Owners: @Pierre-Gilles

Prevent user from updating his own role (#2115)
  server/api/controllers/user.controller.js
Owners: @Pierre-Gilles

Remove legacy tag v4-arm for arm/v6 builds
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Calendar: Save last range selected (#2121)
  front/src/routes/calendar/index.js
Owners: @Pierre-Gilles

Caldav integration: Handle new until date for recurring events (#2107)
  server/lib/calendar/calendar.destroyEvents.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/lib/calendar/calendar.event.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Owners: @Pierre-Gilles, @bertrandda

User can now have 1, 2 or 3 columns on dashboard (#2097)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

4.45.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade socket.io dependencies to improve Gladys Plus client reconnection (#2125)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Dashboard: Add binary charts + allow user to rename chart feature label (#2094)
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Owners: @Pierre-Gilles

4.46.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
