Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Beaucoup de modifs ...
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Google Home: Should not forward empty reportState (#1286)
  server/lib/gateway/gateway.forwardDeviceStateToGoogleHome.js
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

ES Lint
  front/src/routes/integration/all/zwave2mqtt/settings-page/SettingsTab.jsx
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
Owners: @Pierre-Gilles

Implement switch action
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/model/IKEA.js
  server/services/zigbee2mqtt/utils/features.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Fix carbon sensors
  server/services/zigbee2mqtt/model/HEIMAN.js
  server/services/zigbee2mqtt/utils/features.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Add Tuya TS0201
  server/services/zigbee2mqtt/model/TuYa.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Add IKEA E1603/E1702/E1708
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Clean
  workspace.code-workspace
Owners: @Pierre-Gilles

Udpate
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
Owners: @thibautmery, @Terdious

Update
  server/services/netatmo/lib/commands/netatmo.getStationsData.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
  server/test/utils/device.test.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

Update
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.js
  server/services/netatmo/lib/update/netatmo.updateNHC.js
  server/services/netatmo/lib/update/netatmo.updateNetatmo.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/lib/update/netatmo.updateWeatherStation.js
Owners: @thibautmery, @Terdious

Update
  server/services/netatmo/lib/update/netatmo.updateCamera.js
Owners: @thibautmery, @Terdious

Zigbee2mqtt: Add device E2001/E2002 Fixes #1262
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Move getFeaturesByModel method
  server/services/zigbee2mqtt/model/index.js
  server/services/zigbee2mqtt/utils/loadFeatures.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
Owners: @Pierre-Gilles

Event
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeReady.js
  server/services/zwave/lib/events/zwave.nodeRemoved.js
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Event
  server/services/zwave/lib/commands/zwave.connect.js
Owners: @Pierre-Gilles

Event
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeReady.js
Owners: @Pierre-Gilles

Event
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeReady.js
  server/services/zwave/lib/events/zwave.nodeRemoved.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
Owners: @Pierre-Gilles

ES Lint
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/init.js
Owners: @Pierre-Gilles

4.5.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Zigbee2mqtt: Add device E2001/E2002 (#1292)
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Fix #1295 : Remove horizontal scroll-bar on device in room box + make time change in live
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/device/RelativeTime.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: Add Tuya TS0201 (#1289)
  server/services/zigbee2mqtt/model/TuYa.js
Owners: @Pierre-Gilles

Camera 180° rotation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/rtsp-camera/RtspCamera.jsx
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
  front/src/routes/integration/all/rtsp-camera/actions.js
  server/services/rtsp-camera/lib/getImage.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add IKEA E1603/E1702/E1708 (#1290)
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Improve design of SensorDeviceFeature
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/device/RelativeTime.jsx
Owners: @Pierre-Gilles

UserPresence box should refresh time every minute as well
  front/src/components/boxs/user-presence/UserPresence.jsx
Owners: @Pierre-Gilles

Remove badge on device in room box
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
Owners: @Pierre-Gilles

Fix #1295 : Remove horizontal scroll-bar on device in room box + make relative time change in live (#1296)
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/components/device/RelativeTime.jsx
Owners: @Pierre-Gilles

Fix job enum type + add more tests
  server/models/job.js
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Fix editchart + add websockets to chart live view
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

Fix a few ui bug
  front/src/components/boxs/chart/Chart.jsx
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add tests to job.finish
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Add more tests to device.getDeviceFeaturesAggregates
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Owners: @Pierre-Gilles

Add more tests to calculateAggregate
  server/test/lib/device/device.calculateAggregate.test.js
Owners: @Pierre-Gilles

Merge
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Toggle fix
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
  server/services/rtsp-camera/lib/getImage.js
Owners: @Pierre-Gilles

string compare
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
