Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

feat(matter): drive air conditioner mode widget from feature supported_options
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/thermostatMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/utils/thermostatMatterMapping.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles

Parallelize service dependency installs with concurrency of 4
  server/cli/install_service_dependencies.js
  server/test/cli/install_service_dependencies.test.js
Owners: @Pierre-Gilles

ci(pr): push branch Docker image to GitHub registry and comment on PR
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

Keep the integration title stable across tab switches
  front/src/routes/integration/all/external-integration/ExternalIntegrationPage.jsx
Owners: @Pierre-Gilles

ci(pr): lowercase the ghcr.io repository name
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

refactor(battery-storage): rename cumulative counters to charge-index/discharge-index
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Report installed external integrations in service usage
  server/lib/service/service.getUsage.js
  server/test/lib/service/service.getUsage.test.js
Owners: @Pierre-Gilles

feat(energy-production-sensor): add instantaneous power type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Simplify parallel service installs using Bluebird Promise.map
  server/cli/install_service_dependencies.js
  server/test/cli/install_service_dependencies.test.js
Owners: @Pierre-Gilles

ci(pr): pass github.head_ref via env to avoid script injection
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

ci(pr): push branch Docker image to GitHub registry and comment on PR (#2692)
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

Address CodeRabbit review: defensive AC mode options and test coverage
  server/services/matter/utils/thermostatMatterMapping.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/utils/thermostatMatterMapping.test.js
Owners: @Pierre-Gilles

fix(mqtt): remove preview value wrongly inserted in getFeatureDefaultValues
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @atrovato

Allow favoriting external integrations
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Add grid-sensor and home-output-sensor device feature categories
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Address CodeRabbit review: quote paths and log exit errors
  server/cli/install_service_dependencies.js
  server/test/cli/install_service_dependencies.test.js
Owners: @Pierre-Gilles

Parallelize service dependency installs with concurrency of 4 (#2691)
  server/cli/install_service_dependencies.js
  server/test/cli/install_service_dependencies.test.js
Owners: @Pierre-Gilles

Land communication integrations on their configuration screen
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

ci(pr): add /build-arm64 comment command for on-demand ARM64 images
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker-pr-arm64-build.yml
  .github/workflows/docker-pr-build.yml
Owners: @Pierre-Gilles, @VonOx

ci(pr): add `/build-arm64` comment command for on-demand ARM64 images (#2694)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker-pr-arm64-build.yml
  .github/workflows/docker-pr-build.yml
Owners: @Pierre-Gilles, @VonOx

feat(energy-monitoring): compute thirty-minutes production from production index
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/index.js
  server/services/energy-monitoring/utils/constants.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Air conditioning: add fan speed and swing feature types
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningFanSpeedDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningSwingDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  front/src/utils/supportedOptions.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(ai-chat): add two-stage tool routing to improve scene creation quality
  server/config/prompts/aiChat.prompt.txt
  server/config/prompts/aiChatScenes.prompt.txt
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/lib/gateway/index.js
  server/services/mcp/lib/buildSchemas.js
  server/test/lib/gateway/gateway.classifyAiChatToolCategories.test.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

test(ai-chat): cover router response parsing edge case
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/test/lib/gateway/gateway.classifyAiChatToolCategories.test.js
Owners: @Pierre-Gilles

feat(rtsp-camera): start HLS camera inputs at the live edge
  server/services/rtsp-camera/lib/startStreaming.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Owners: @Pierre-Gilles

fix(ai-chat): pin fast model for router call and skip routing without tools
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.classifyAiChatToolCategories.test.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

test(mcp): assert AI chat router categories for every tool
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

feat(ai-chat): send explicit purpose and classified categories to the gateway
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/lib/gateway/gateway.sendWeeklyDigest.js
  server/test/lib/gateway/gateway.classifyAiChatToolCategories.test.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/lib/gateway/gateway.sendWeeklyDigest.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Refactor unit return logic for sensor categories
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @atrovato

style(front): fix prettier on getDefaultUnitForFeature grid/home condition
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @atrovato

i18n(front): translate French swing "Off" labels to "Arrêt"
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

refactor(constants): move BATTERY_STORAGE to its alphabetical position
  server/utils/constants.js
Owners: @Pierre-Gilles

Server: harden mosquitto.conf listener rewrite and read failures
  server/services/mqtt/lib/configureContainer.js
  server/test/services/mqtt/lib/configureContainer.test.js
  server/test/services/mqtt/lib/isBrokerPortAvailable.test.js
Owners: @atrovato

Server: persist resolved container names before creating containers
  server/services/matterbridge/lib/allocateContainerNames.js
  server/services/node-red/lib/allocateContainerNames.js
  server/services/zigbee2mqtt/lib/allocateContainerNames.js
  server/test/services/matterbridge/lib/allocateContainerNames.test.js
  server/test/services/node-red/lib/allocateContainerNames.test.js
  server/test/services/zigbee2mqtt/lib/allocateContainerNames.test.js
Owners: @Pierre-Gilles

Show device params collapsed and move supervision to a dedicated tab
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/ExternalIntegrationPage.jsx
  front/src/routes/integration/all/external-integration/components/DeviceParams.jsx
  front/src/routes/integration/all/external-integration/components/modal.css
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/device-page/DeviceBox.jsx
  front/src/routes/integration/all/external-integration/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/external-integration/supervision-page/SupervisionCard.jsx
  front/src/routes/integration/all/external-integration/supervision-page/index.js
  front/src/routes/integration/all/external-integration/supervision-page/style.css
Owners: @Pierre-Gilles

Plan: dynamic select source 'devices' and degraded transport state
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Add dynamic select source "devices" and degraded transport state
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/DeviceParams.jsx
  front/src/routes/integration/all/external-integration/components/TransportBadge.jsx
  front/src/routes/integration/all/external-integration/components/transportBadge.css
  front/src/routes/integration/all/external-integration/config-page/ActionsCard.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/routes/integration/all/external-integration/device-page/DeviceBox.jsx
  front/src/routes/integration/all/external-integration/device-page/DeviceTab.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/utils.js
  server/api/controllers/integrationHost.controller.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.removeDeviceParams.js
  server/lib/external-integration/externalIntegration.setDeviceTransports.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.cameraTransport.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Owners: @Pierre-Gilles

Plan: add active broadcast scan type to mediated network discovery
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

refactor(ai-chat): let the gateway pick the router model via purpose
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/test/lib/gateway/gateway.classifyAiChatToolCategories.test.js
Owners: @Pierre-Gilles

Add active broadcast scan type to mediated network discovery
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/NetworkDiscoverySummary.jsx
  server/api/controllers/integrationHost.controller.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/lib/external-integration/networkDiscovery/networkDiscovery.runScan.js
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanUdpActiveBroadcast.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
