Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

test(system): cover a cidfile inspect answer without any State
  server/test/lib/system/system.getGladysContainerId.test.js
Owners: @Pierre-Gilles

test(system): assert the rejected host power retry lands in the debug log
  server/test/lib/system/system.getInfos.test.js
Owners: @Pierre-Gilles

fix(device): harden the chunked CSV export after review
  front/src/config/demo/history.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceExportCsvModal.jsx
  front/src/routes/devices/style.css
  front/src/utils/downloadDeviceFeaturesCsv.js
  server/api/controllers/device.controller.js
  server/lib/device/device.exportStatesToCsv.js
  server/lib/device/index.js
  server/test/lib/device/device.exportStatesToCsv.test.js
Owners: @Pierre-Gilles

Fix host reboot/shutdown showing unavailable on standard Docker installs (#2997)
  server/lib/system/index.js
  server/lib/system/system.detectHostPowerManagement.js
  server/lib/system/system.getGladysContainerId.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/lib/system/system.detectHostPowerManagement.test.js
  server/test/lib/system/system.getGladysContainerId.test.js
  server/test/lib/system/system.getInfos.test.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

Spec: record the shipped dashboard pager and viewer contracts (section H)
  docs/specs/dashboard-flexible-layout-and-widgets.md
Owners: @Pierre-Gilles

test(device): cover the CSV export streaming edge cases
  server/test/controllers/device/device.controller.test.js
Owners: @Pierre-Gilles

fix(test): move the controller require to the top of the file
  server/test/controllers/device/device.controller.test.js
Owners: @Pierre-Gilles

Dashboard swiper: commit threshold on the page width; spec lists both 44px exceptions
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardSwiper.jsx
Owners: @Pierre-Gilles

Export a device history as CSV from the devices list (#2909)
  front/src/config/demo/history.js
  front/src/config/demo/index.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceExportCsvButton.jsx
  front/src/routes/devices/DeviceExportCsvModal.jsx
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/style.css
  front/src/utils/downloadDeviceFeaturesCsv.js
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.exportStatesToCsv.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.exportStatesToCsv.test.js
Owners: @Pierre-Gilles

Dashboard: mobile UX polish from iOS feedback (switch centering, chart menu stacking, swipe navigation, Horizon loader) (#2996)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

fix: HomeKit cannot turn on an AC whose integration declares no supported option (#2938) (#2940)
  server/services/homekit/lib/buildThermostatService.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: map the exposes of outdoor solar sirens (NEO NAS-AB06B2) (#2955)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/SirenAlarmModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SirenAlarmStateDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
  server/test/services/zigbee2mqtt/exposes/neoSirenEnumType.test.js
  server/test/services/zigbee2mqtt/utils/feature/buildFeatures.test.js
  server/test/services/zigbee2mqtt/utils/feature/mapUnit.test.js
  server/test/services/zigbee2mqtt/utils/payloads/NAS-AB06B2.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Settings: horizontally scrollable menu with overflow arrows on mobile
  front/src/components/chips-scroll/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/GroupChipsScroll.jsx
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/style.css
Owners: @Pierre-Gilles

Dashboard: native-feeling mobile pager — neighbor dashboards as skeletons under the finger
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardSkeleton.jsx
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/index.js
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

fix(mdns): mediated discovery with multiple mDNS services (#2951 rebased on master) (#3002)
  docs/specs/external-integrations.md
  server/api/controllers/integrationHost.controller.js
  server/lib/external-integration/networkDiscovery/networkDiscovery.runScan.js
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanMdns.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Owners: @Pierre-Gilles

Pager: restore the source route when a swap gives up; warm the config cache concurrently
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles

Address review: wheel at boundaries, real aria-labels, active pill in view, font re-measure
  front/src/components/chips-scroll/index.jsx
  front/src/routes/settings/SettingsLayout.jsx
Owners: @Pierre-Gilles

Pager: route-driven hold, keyed skeletons, and no double refresh on identical configs
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardSkeleton.jsx
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles

Pager: only the latest request per selector may write the config cache
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles

Pager: initial-load fetch renders only if the user is still on that dashboard
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles

Dashboard: native-feeling mobile pager — neighbor dashboards slide in as skeletons under the finger (#3001)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardSkeleton.jsx
  front/src/routes/dashboard/DashboardSwiper.jsx
  front/src/routes/dashboard/index.js
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

Re-center the active chip when webfonts land, and update the living spec
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/chips-scroll/index.jsx
Owners: @Pierre-Gilles

fix(scene): don't force a space after a variable inserted in a text
  front/src/components/scene/TextWithVariablesInjected.jsx
Owners: @Pierre-Gilles

feat(scene): allow a calculated volume in the "play notification" action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.playNotification.test.js
Owners: @Pierre-Gilles

fix(scene): persist the volume type of the "play notification" action
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
Owners: @Pierre-Gilles

Keep the settings-tabs pill grammar wrapping: the scroller is opt-in
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/style.css
Owners: @Pierre-Gilles

security: reserve service and global variables to admin users
  front/src/routes/integration/all/telegram/actions.js
  server/api/controllers/variable.controller.js
  server/api/routes.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/nuki/api/nuki.controller.js
  server/services/tuya/api/tuya.controller.js
  server/services/zwavejs-ui/api/zwaveJSUI.controller.js
  server/test/controllers/serviceSecretRoutes.test.js
  server/test/controllers/variable/variable.test.js
Owners: @Pierre-Gilles, @atrovato, @thibautmery, @Terdious

security: remove the shell from the backup and restore chain
  server/api/routes.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.downloadBackup.js
  server/lib/gateway/gateway.restoreBackup.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/malicious-backup-shell-metacharacters.tar.gz.enc
  server/test/utils/backupSafety.test.js
  server/utils/backupSafety.js
  server/utils/childProcess.js
Owners: @Pierre-Gilles

test: cover the failure paths of spawnToFile
  server/test/utils/childProcess.test.js
Owners: @Pierre-Gilles

fix(scene): restore a fixed volume when leaving the computed mode
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
Owners: @Pierre-Gilles

Free Mobile: flag the built-in integration as soon deprecated
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/free-mobile/FreeMobile.jsx
Owners: @Pierre-Gilles

Free Mobile: describe the real migration path and flag the SMS action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TypePicker.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendSms.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/typesCatalog.js
Owners: @Pierre-Gilles

fix(dashboard): correct the next lunar node direction in the moon widget
  front/src/components/boxs/moon/style.css
  server/lib/house/house.getMoonState.js
  server/test/lib/house/house.getMoonState.test.js
Owners: @Pierre-Gilles

feat(dashboard): add moon phase widget
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/moon/CREDITS.md
  front/src/components/boxs/moon/EditMoon.jsx
  front/src/components/boxs/moon/Moon.jsx
  front/src/components/boxs/moon/moon.png
  front/src/components/boxs/moon/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/api/controllers/house.controller.js
  server/api/routes.js
  server/lib/house/house.getMoonState.js
  server/lib/house/index.js
  server/models/dashboard.js
  server/test/controllers/house/house.test.js
  server/test/lib/house/house.getMoonState.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(dashboard): give the moon widget a hierarchy and fix its day countdowns
  front/src/components/boxs/moon/Moon.jsx
  front/src/components/boxs/moon/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/house.controller.js
  server/lib/house/house.getMoonState.js
  server/test/lib/house/house.getMoonState.test.js
Owners: @Pierre-Gilles

security: reserve the Zigbee2mqtt setup routes to admins
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/test/controllers/serviceSecretRoutes.test.js
  server/utils/childProcess.js
Owners: @Pierre-Gilles

Zigbee2mqtt: support enum presence sensors
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/excelluxPresenceEnumType.test.js
Owners: @Pierre-Gilles

Scene editor: dropdown menus no longer paint under the next step
  front/src/components/device/SelectDeviceFeatureValue.jsx
  front/src/components/device/SelectFanFeatureValue.jsx
  front/src/components/device/SelectFanMode.jsx
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/components/device/SelectWaterHeaterMode.jsx
  front/src/components/form/Select.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/CheckTime.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/SetAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
  front/src/routes/scene/edit-scene/triggers/UserPresenceTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanLabeledDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelMatterSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterHeaterModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterValveDeviceState.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: clarify legacy presence mapping
  server/services/zigbee2mqtt/exposes/enumType.js
Owners: @Pierre-Gilles

Energy monitoring: only recalculate costs for devices impacted by an Enedis sync
  server/services/enedis/lib/enedis.sync.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromDate.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndex.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
