Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Front event API implementation
  front/src/routes/event-log/EventLogPage.jsx
  server/api/routes.js
  server/utils/constants.js
Owners: @Pierre-Gilles

date title incon settings for log
  front/src/components/log/logBox.jsx
Owners: @Pierre-Gilles

trad message
  front/src/components/log/logBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Component implementation
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

Finished front implementation
  front/src/components/log/logBox.jsx
Owners: @Pierre-Gilles

update date and time location
  front/src/components/log/logBox.jsx
Owners: @Pierre-Gilles

Centralize device functions (setDeviceParam, setDeviceFeature) (#1978)
  server/services/bluetooth/lib/commands/bluetooth.scanDevice.js
  server/services/bluetooth/lib/device/bluetooth.information.js
  server/services/bluetooth/lib/device/bluetooth.transformToDevice.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/device/bluetooth.transformToDevice.test.js
  server/test/services/bluetooth/lib/events/bluetooth.discover.test.js
  server/test/utils/device.test.js
  server/test/utils/setDeviceFeature.test.js
  server/test/utils/setDeviceParam.test.js
  server/utils/device.js
  server/utils/setDeviceParam.js
Owners: @atrovato, @Pierre-Gilles

Zigbee2mqtt: Add illuminance sensor
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add illuminance sensor (#1979)
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Display error message if unknown error
  front/src/routes/locked/index.js
Owners: @Pierre-Gilles

Alarm: Try to fix disconnect on tablet locked mode (#1976)
  front/src/routes/locked/index.js
Owners: @Pierre-Gilles

Add "Speak on speaker" TTS action in scenes + in Sonos integration (#1974)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/lib/device/device.setValue.js
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/lib/gateway/index.js
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
  server/services/sonos/lib/sonos.setValue.js
  server/services/sonos/utils/convertToGladysDevice.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getTTSApiUrl.test.js
  server/test/lib/scene/actions/scene.action.playNotification.test.js
  server/test/services/sonos/lib/sonos.init.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

CHANGE CHECKBOXES
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

Added total number of events
  front/src/routes/event-log/EventLogPage.jsx
  server/lib/event/event.log.get.js
Owners: @Pierre-Gilles

page selector
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

correctig bug
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

active page coloration
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

Added api front page implementation
  front/src/routes/event-log/EventLogPage.jsx
  server/api/controllers/eventlog.controller.js
Owners: @Pierre-Gilles

fixed page navigation with API
  front/src/routes/event-log/EventLogPage.jsx
  server/api/controllers/eventlog.controller.js
  server/lib/event/event.log.get.js
Owners: @Pierre-Gilles

Fixed item indexes showing
  front/src/routes/event-log/EventLogPage.jsx
  server/lib/event/event.log.get.js
Owners: @Pierre-Gilles

date and time
  front/src/components/log/logBox.jsx
Owners: @Pierre-Gilles

WIP - Backend filter events by date
  front/src/routes/event-log/EventLogPage.jsx
  server/api/controllers/eventlog.controller.js
  server/lib/event/event.log.get.js
Owners: @Pierre-Gilles

Revert "WIP - Backend filter events by date"
  front/src/routes/event-log/EventLogPage.jsx
  server/api/controllers/eventlog.controller.js
  server/lib/event/event.log.get.js
Owners: @Pierre-Gilles

front change following the remark of the 1st test. Simplifying the connection.
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/edit-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

server changes following the remarks of the 1st test. Modification of the features released for v1.
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommon.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesRf.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSignal.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifEnergy.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifTherm.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesWifi.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.getAccessToken.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.getRefreshToken.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.poll.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/netatmo.saveValue.js
  server/services/netatmo/lib/netatmo.setTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/lib/netatmo.status.js
  server/services/netatmo/lib/utils/netatmo.constants.js
Owners: @thibautmery, @Terdious

forgetting utils/constants
  server/utils/constants.js
Owners: @Pierre-Gilles

last add front and server
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/netatmo/discover-page/index.js
  front/src/routes/integration/all/netatmo/edit-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/style.css
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/lib/utils/netatmo.constants.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

ZWave JS UI integration
  front/src/assets/integrations/cover/zwave-js-ui.jpg
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIPage.jsx
  front/src/routes/integration/all/zwavejs-ui/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zwavejs-ui/device-page/EmptyState.jsx
  front/src/routes/integration/all/zwavejs-ui/device-page/index.js
  front/src/routes/integration/all/zwavejs-ui/device-page/style.css
  front/src/routes/integration/all/zwavejs-ui/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zwavejs-ui/discover-page/EmptyState.jsx
  front/src/routes/integration/all/zwavejs-ui/discover-page/index.js
  front/src/routes/integration/all/zwavejs-ui/discover-page/style.css
  front/src/routes/integration/all/zwavejs-ui/setup-page/index.js
  server/services/index.js
  server/services/zwavejs-ui/api/zwaveJSUI.controller.js
  server/services/zwavejs-ui/index.js
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/index.js
  server/services/zwavejs-ui/lib/zwaveJSUI.connect.js
  server/services/zwavejs-ui/lib/zwaveJSUI.disconnect.js
  server/services/zwavejs-ui/lib/zwaveJSUI.handleNewMessage.js
  server/services/zwavejs-ui/lib/zwaveJSUI.init.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.js
  server/services/zwavejs-ui/lib/zwaveJSUI.publish.js
  server/services/zwavejs-ui/lib/zwaveJSUI.saveConfiguration.js
  server/services/zwavejs-ui/lib/zwaveJSUI.scan.js
  server/services/zwavejs-ui/package-lock.json
  server/services/zwavejs-ui/package.json
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/api/zwaveJSUI.controller.test.js
  server/test/services/zwavejs-ui/index.test.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.connect.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.handleNewMessage.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.saveConfiguration.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add unit tests
  server/test/services/zwavejs-ui/lib/zwaveJSUI.disconnect.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.handleNewMessage.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.publish.test.js
Owners: @Pierre-Gilles

Add English translation
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Fix tests
  server/test/services/zwavejs-ui/lib/zwaveJSUI.connect.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.saveConfiguration.test.js
Owners: @Pierre-Gilles

Add more tests
  server/test/services/zwavejs-ui/lib/zwaveJSUI.connect.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.handleNewMessage.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.init.test.js
Owners: @Pierre-Gilles

refactor: modify loadThermostat code and i18n
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/netatmo/index.js
  server/services/netatmo/lib/device/examples.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.status.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

zigbee2mqtt: check illuminance feature
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/test/services/zigbee2mqtt/utils/realZigbee2mqttDevices.test.js
Owners: @Pierre-Gilles

zigbee2mqtt: fix illuminance unit
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
Owners: @Pierre-Gilles

refactor: clean-up of the global front
  front/src/components/boxs/device-in-room/device-features/sensor-value/ScheduleDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Owners: @Pierre-Gilles

fix: prettier + eslint (front)
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: check illuminance feature (#1983)
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/test/services/zigbee2mqtt/utils/realZigbee2mqttDevices.test.js
Owners: @Pierre-Gilles

refactor (front): deletion of unused translations, addition of unsupported devices, modification of reachable device method, deletion of features
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

refactor (server): adding automation of scopes, adding unsupported devices, removing features
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommon.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSignal.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles
