Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Handle multiple listeners on same device + tests
  server/services/mqtt/lib/handleNewMessage.js
  server/services/mqtt/lib/handler/handleDeviceCustomTopicMessage.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/test/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.test.js
  server/test/services/mqtt/lib/unListenToCustomMqttTopic.test.js
Owners: @atrovato

Add service to existing tests
  server/test/lib/device/device.addFeature.test.js
  server/test/lib/device/device.addParam.test.js
  server/test/lib/device/device.init.test.js
  server/test/lib/device/light/light.init.test.js
Owners: @Pierre-Gilles

Add missing test
  server/test/lib/device/device.create.test.js
Owners: @Pierre-Gilles

Add test to device.update
  server/test/lib/device/device.create.test.js
Owners: @Pierre-Gilles

Translate UI in EN and German
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Add debug mode
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/MqttPage.js
  front/src/routes/integration/all/mqtt/debug-page/Debug.jsx
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/lib/handleNewMessage.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/setDebugMode.js
  server/test/services/mqtt/api/mqtt.controler.test.js
  server/test/services/mqtt/lib/setDebugMode.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Add test to debug mode
  server/test/services/mqtt/lib/handleNewMessage.test.js
Owners: @atrovato

Makes restorePrevious explicit and let the user decide
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

Missing test: sync restorePrevious state on zWave value
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
Owners: @Pierre-Gilles

Inverse Curtains positions
  server/services/zwavejs-ui/lib/constants.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

Special Multilevel Case: do not expose the native Binary Switch.
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

4.40.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Add new risk feature
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add 15 seconds poll frequency + convert units + fix tests
  server/lib/device/device.setupPoll.js
  server/services/philips-hue/lib/light/light.poll.js
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-shm
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-wal
  server/test/services/philips-hue/light/light.poll.test.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Philips Hue : Poll color/brightness, reduce poll time & update dependencies (#2071)
  server/lib/device/device.setupPoll.js
  server/services/philips-hue/lib/light/light.getLights.js
  server/services/philips-hue/lib/light/light.poll.js
  server/services/philips-hue/lib/models/color.js
  server/services/philips-hue/lib/models/colorWithTemperature.js
  server/services/philips-hue/lib/models/plugOnOff.js
  server/services/philips-hue/lib/models/white.js
  server/services/philips-hue/lib/models/whiteWithTemperature.js
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
  server/test/services/philips-hue/light/light.poll.test.js
  server/test/services/philips-hue/mocks.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Add new risk feature (#2068)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix device creation bug
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @atrovato

Zigbee2mqtt : Keep keep_history when updating feature + fix update from devices with duplicate features
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/utils/device.test.js
  server/utils/device.js
Owners: @Pierre-Gilles

Fix tests
  server/test/utils/device.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Keep keep_history when updating feature + fix update from devices with duplicate features (#2072)
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/utils/device.test.js
  server/utils/device.js
Owners: @Pierre-Gilles

First poc of tablet voice
  front/package-lock.json
  front/package.json
  front/src/components/boxs/speak/EditSpeakBox.jsx
  front/src/components/boxs/speak/style.css
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/SpeakWidget.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/style.css
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/services/browser-music/index.js
  server/services/browser-music/package-lock.json
  server/services/browser-music/package.json
  server/services/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

MQTT : Add custom topic for device features (#2066)
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/MqttPage.js
  front/src/routes/integration/all/mqtt/debug-page/Debug.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/lib/device/device.add.js
  server/lib/device/device.create.js
  server/lib/state/index.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/lib/handleNewMessage.js
  server/services/mqtt/lib/handler/handleDeviceCustomTopicMessage.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.js
  server/services/mqtt/lib/setDebugMode.js
  server/services/mqtt/lib/unListenToCustomMqttTopic.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
  server/test/lib/device/device.addFeature.test.js
  server/test/lib/device/device.addParam.test.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.init.test.js
  server/test/lib/device/light/light.init.test.js
  server/test/services/mqtt/api/mqtt.controler.test.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/test/services/mqtt/lib/listenToCustomMqttTopicIfNeeded.test.js
  server/test/services/mqtt/lib/setDebugMode.test.js
  server/test/services/mqtt/lib/unListenToCustomMqttTopic.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Fix PR feedbacks
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/services/zwavejs-ui/package-lock.json
  server/services/zwavejs-ui/package.json
  server/services/zwavejs-ui/utils/cleanNames.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/services/zwavejs-ui/utils/getProperty.js
Owners: @Pierre-Gilles

Precise concurrency for Promise.map
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
Owners: @Pierre-Gilles

ZwaveJS UI - Multi-level switch support (Dimmer and Curtains) (#2061)
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/index.js
  server/services/zwavejs-ui/lib/zwaveJSUI.getDevice.js
  server/services/zwavejs-ui/lib/zwaveJSUI.getZwaveJsDevice.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/services/zwavejs-ui/package-lock.json
  server/services/zwavejs-ui/package.json
  server/services/zwavejs-ui/utils/cleanNames.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/services/zwavejs-ui/utils/getProperty.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

4.41.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Add public dashboards
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/new-dashboard/index.js
  server/lib/dashboard/dashboard.destroy.js
  server/lib/dashboard/dashboard.get.js
  server/lib/dashboard/dashboard.getBySelector.js
  server/lib/dashboard/dashboard.update.js
  server/lib/dashboard/dashboard.updateOrder.js
  server/migrations/20240513141123-dashboard-visibility.js
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.create.test.js
  server/test/lib/dashboard/dashboard.destroy.test.js
  server/test/lib/dashboard/dashboard.get.test.js
  server/test/lib/dashboard/dashboard.getBySelector.test.js
  server/test/lib/dashboard/dashboard.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/lib/dashboard/dashboard.updateOrder.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix tests
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.create.test.js
Owners: @Pierre-Gilles

Remove log.trace
  server/services/ecovacs/lib/event/ecovacs.onMessage.js
Owners: @Pierre-Gilles

correct typo from merge
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  server/package-lock.json
Owners: @Pierre-Gilles

Add new atmo indice feature
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Correction variable
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Owners: @Pierre-Gilles

Correction couleurs
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Owners: @Pierre-Gilles

Fix Philips Hue polling in color temperature only mode
  server/services/philips-hue/lib/light/light.poll.js
  server/test/services/philips-hue/light/light.poll.test.js
  server/test/services/philips-hue/mocks.test.js
  server/test/utils/colors.test.js
  server/utils/colors.js
Owners: @VonOx, @hotfix31, @Pierre-Gilles

Fix MELCloud integration for devices that doesn't have any model specified
  server/services/melcloud/lib/device/melcloud.convertDevice.js
  server/services/melcloud/package-lock.json
  server/services/melcloud/package.json
  server/test/services/melcloud/lib/melcloud.discoverDevices.test.js
Owners: @Pierre-Gilles

Remove useless case + add test
  server/test/utils/colors.test.js
  server/utils/colors.js
Owners: @Pierre-Gilles

Add more tests and remove impossible cases
  server/test/utils/colors.test.js
  server/utils/colors.js
Owners: @Pierre-Gilles

Fix tests
  server/test/utils/colors.test.js
Owners: @Pierre-Gilles

Fix MELCloud integration for devices that doesn't have any model specified (#2082)
  server/services/melcloud/lib/device/melcloud.convertDevice.js
  server/services/melcloud/package-lock.json
  server/services/melcloud/package.json
  server/test/services/melcloud/lib/melcloud.discoverDevices.test.js
Owners: @Pierre-Gilles

ZWaveJS UI : Should still display Z-Wave devices without names
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles
