Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

ZWaveJS UI - Add selector when converting Zwave device to Gladys device (#2030)
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

add location
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
Owners: @Pierre-Gilles

chore(node): Update to node v20 npm v10
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/services/usb/package-lock.json
Owners: @Pierre-Gilles, @VonOx, @atrovato

Adding Power support
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

Support Air Temperature Sensor
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
Owners: @Pierre-Gilles

[zWaveJS] Manage Air Temperature
  server/services/usb/package-lock.json
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
Owners: @Pierre-Gilles, @atrovato

Fix tests coverage
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

Prettier
  server/services/zwavejs-ui/lib/constants.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
Owners: @Pierre-Gilles

Rebase and fix tests
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

Fix react/prefer-stateless-function
  front/src/routes/integration/all/melcloud/device-page/index.js
  front/src/routes/integration/all/melcloud/discover-page/index.js
  front/src/routes/integration/all/melcloud/edit-page/index.js
  front/src/routes/integration/all/melcloud/setup-page/index.js
  front/src/routes/integration/all/node-red/setup-page/CheckStatus.js
  front/src/routes/integration/all/node-red/setup-page/index.js
  front/src/routes/integration/all/sonos/device-page/index.js
  front/src/routes/integration/all/sonos/discover-page/index.js
  front/src/routes/integration/all/tuya/device-page/index.js
  front/src/routes/integration/all/tuya/discover-page/index.js
  front/src/routes/integration/all/tuya/edit-page/index.js
  front/src/routes/integration/all/tuya/setup-page/index.js
  front/src/routes/scene/edit-scene/triggers/GladysStartTrigger.jsx
  front/src/routes/settings/settings-system/SettingsSystemContainers.jsx
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
Owners: @Pierre-Gilles

Remove promise then/catch usage
  front/src/routes/gateway-configure-two-factor/index.js
  front/src/routes/gateway-confirm-email/index.js
  front/src/routes/gateway-forgot-password/index.js
  front/src/routes/settings/settings-gateway-users/index.js
  front/src/routes/signup-gateway/index.js
Owners: @Pierre-Gilles

Fix demo and get calls
  front/src/actions/dashboard/boxes/humidityInRoom.js
  front/src/actions/dashboard/boxes/temperatureInRoom.js
  front/src/actions/device.js
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/demo.js
  front/src/routes/settings/settings-background-jobs/index.js
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

ewelink: setup and login pages
  front/src/assets/integrations/cover/ewelink_logo.png
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/actions.js
  front/src/routes/integration/all/ewelink/setup-page/ApplicationSetup.jsx
  front/src/routes/integration/all/ewelink/setup-page/SetupSummary.jsx
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
  front/src/routes/integration/all/ewelink/setup-page/constants.js
  front/src/routes/integration/all/ewelink/setup-page/index.js
  front/src/routes/integration/all/ewelink/setup-page/login/ErrorPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/login/ExchangeTokenPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/login/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @NickDub

ewelink: remove deprecation message
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles, @NickDub

ewelink: upgrade service functions
  server/services/ewelink/index.js
  server/services/ewelink/lib/ewelink.init.js
  server/services/ewelink/lib/index.js
  server/services/ewelink/lib/utils/constants.js
  server/services/ewelink/lib/versions/ewelink.upgrade.js
  server/services/ewelink/lib/versions/ewelink.v2.js
  server/services/ewelink/package-lock.json
  server/services/ewelink/package.json
  server/test/services/ewelink/index.test.js
  server/test/services/ewelink/lib/ewelink.init.test.js
  server/test/services/ewelink/lib/version/ewelink.upgrade.test.js
Owners: @NickDub

ewelink: create client is not a promise
  server/services/ewelink/lib/config/ewelink.createClients.js
Owners: @NickDub

Add german ewelink translations
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

ewelink: add documentation link
  front/src/routes/integration/all/ewelink/setup-page/index.js
Owners: @NickDub

ewelink: rename Client to WebAPIClient
  server/services/ewelink/lib/config/ewelink.createClients.js
  server/services/ewelink/lib/config/ewelink.loadConfiguration.js
  server/services/ewelink/lib/config/ewelink.saveConfiguration.js
  server/services/ewelink/lib/device/discover.js
  server/services/ewelink/lib/device/poll.js
  server/services/ewelink/lib/device/setValue.js
  server/services/ewelink/lib/handlers/ewelink.handleRequest.js
  server/services/ewelink/lib/index.js
  server/services/ewelink/lib/user/ewelink.buildLoginUrl.js
  server/services/ewelink/lib/user/ewelink.deleteTokens.js
  server/services/ewelink/lib/user/ewelink.exchangeToken.js
  server/test/services/ewelink/lib/config/ewelink.loadConfiguration.test.js
  server/test/services/ewelink/lib/config/ewelink.saveConfiguration.test.js
  server/test/services/ewelink/lib/device/discover.test.js
  server/test/services/ewelink/lib/device/poll.test.js
  server/test/services/ewelink/lib/device/setValue.test.js
  server/test/services/ewelink/lib/handlers/ewelink.handleRequest.test.js
  server/test/services/ewelink/lib/user/ewelink.buildLoginUrl.test.js
  server/test/services/ewelink/lib/user/ewelink.deleteTokens.test.js
  server/test/services/ewelink/lib/user/ewelink.exchangeToken.test.js
Owners: @NickDub

ewelink: add stop service method
  server/services/ewelink/index.js
  server/services/ewelink/lib/ewelink.stop.js
  server/services/ewelink/lib/index.js
  server/test/services/ewelink/index.test.js
  server/test/services/ewelink/lib/ewelink.stop.test.js
  server/utils/constants.js
Owners: @NickDub, @Pierre-Gilles

add en & de translation
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

chore(node): Update usb serialport to 12
  server/services/usb/index.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/services/usb/SerialPortMock.test.js
Owners: @Pierre-Gilles, @atrovato

update test
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

prettier
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
  server/services/usb/package-lock.json
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles, @atrovato

Dashboard: Improve display of motion sensor devices (#2028)
  front/src/components/boxs/device-in-room/device-features/sensor-value/MotionSensorDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

ZWave JS: Support Air Temperature & Power properties from Multilevel Sensor Command Class (#2027)
  server/services/usb/package-lock.json
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles, @atrovato

Fix demo mode (#2024)
  front/src/actions/dashboard/boxes/humidityInRoom.js
  front/src/actions/dashboard/boxes/temperatureInRoom.js
  front/src/actions/device.js
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/demo.js
  front/src/routes/settings/settings-background-jobs/index.js
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Lint: Fix react/prefer-stateless-function (#1990)
  front/src/routes/integration/all/melcloud/device-page/index.js
  front/src/routes/integration/all/melcloud/discover-page/index.js
  front/src/routes/integration/all/melcloud/edit-page/index.js
  front/src/routes/integration/all/melcloud/setup-page/index.js
  front/src/routes/integration/all/node-red/setup-page/CheckStatus.js
  front/src/routes/integration/all/node-red/setup-page/index.js
  front/src/routes/integration/all/sonos/device-page/index.js
  front/src/routes/integration/all/sonos/discover-page/index.js
  front/src/routes/integration/all/tuya/device-page/index.js
  front/src/routes/integration/all/tuya/discover-page/index.js
  front/src/routes/integration/all/tuya/edit-page/index.js
  front/src/routes/integration/all/tuya/setup-page/index.js
  front/src/routes/scene/edit-scene/triggers/GladysStartTrigger.jsx
  front/src/routes/settings/settings-system/SettingsSystemContainers.jsx
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
Owners: @Pierre-Gilles

Lint: Fix eslint react/jsx-no-bind (#1992)
  front/src/routes/integration/all/melcloud/device-page/DeviceTab.jsx
  front/src/routes/integration/all/melcloud/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/melcloud/setup-page/SetupTab.jsx
  front/src/routes/integration/all/sonos/device-page/DeviceTab.jsx
  front/src/routes/integration/all/tuya/device-page/DeviceTab.jsx
  front/src/routes/integration/all/tuya/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles

feat(action): Take in account PR review
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

ZwaveJS UI: Display Zwave location in configuration UI (#2031)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwavejs-ui/ZwaveJSUIDeviceBox.jsx
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

restore from gladys repo
  server/package.json
Owners: @Pierre-Gilles

Remove duplicate key getNukiDevices and correct getDiscoveredNukiDevices
  front/src/routes/integration/all/nuki/actions.js
Owners: @Pierre-Gilles

Typo
  server/services/nuki/lib/mqtt/nuki.mqtt.convertToDevice.js
Owners: @atrovato

Scene: Add action to blink lights (#2007)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/package-lock.json
  server/package.json
  server/test/lib/scene/actions/scene.action.blinkLights.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

refactor: add Netatmo security API
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  server/migrations/20240301093530-default-netatmo-variable-security-api.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.deviceDetailsMerger.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/utils/netatmo.constants.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

refactor: add/update tests
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceSecurity.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.updateValues.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule3.test.js
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadThermostatDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: fix modules id
  server/services/netatmo/lib/netatmo.deviceDetailsMerger.js
  server/services/netatmo/lib/netatmo.updateValues.js
Owners: @thibautmery, @Terdious

refactor: prettier
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

add enum exposes for ikea somrig button
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
