Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Fix AI feedback
  server/services/philips-hue/lib/light/light.setValue.js
  server/test/services/philips-hue/light/light.setValue.test.js
Owners: @VonOx, @hotfix31

Only say that shutter was controlled when it was indeed controlled
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

AI : Add new "device_set_shutter" tool (#2578)
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatValue.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatValue.test.js
Owners: @Pierre-Gilles

Fix Philips Hue control bug after first pairing (#2577)
  server/services/philips-hue/lib/light/index.js
  server/services/philips-hue/lib/light/light.postCreate.js
  server/services/philips-hue/lib/light/light.setValue.js
  server/services/philips-hue/lib/light/light.syncBridgeBySerialNumber.js
  server/services/philips-hue/lib/light/light.syncWithBridge.js
  server/test/services/philips-hue/light/light.postCreate.test.js
  server/test/services/philips-hue/light/light.setValue.test.js
Owners: @VonOx, @hotfix31

Alexa : Add shutter handling
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/services/alexa/lib/alexa.constants.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/deviceMappings.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

Alexa : Add shutter handling (#2579)
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/services/alexa/lib/alexa.constants.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/deviceMappings.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

Scene: Select default values for askAi, send message & send camera image actions
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Owners: @Pierre-Gilles

Fix feedbacks
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Owners: @Pierre-Gilles

Dispay AI quota in UI
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiQuotaDisplay.jsx
  front/src/routes/integration/all/openai/index.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.getOpenAIQuota.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/test/controllers/gateway/gateway.controller.openAIQuota.test.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getOpenAIQuota.test.js
  server/test/utils/openAIQuota.test.js
  server/utils/openAIQuota.js
Owners: @Pierre-Gilles

Fix feedbacks
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Owners: @Pierre-Gilles

Scene: Select default values for askAi, send message & send camera image actions (#2580)
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Owners: @Pierre-Gilles

Dispay AI quota in UI (#2581)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiQuotaDisplay.jsx
  front/src/routes/integration/all/openai/index.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.getOpenAIQuota.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/test/controllers/gateway/gateway.controller.openAIQuota.test.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getOpenAIQuota.test.js
  server/test/utils/openAIQuota.test.js
  server/utils/openAIQuota.js
Owners: @Pierre-Gilles

fix(test): replace sinon.restore() with sinon.reset() in CPU temperature tests
  server/test/lib/system/system.readCpuTemperature.test.js
Owners: @Pierre-Gilles

feat(tuya): add curated feature names to global and smart-socket mappings
  server/services/tuya/lib/mappings/cloud/global.js
  server/services/tuya/lib/mappings/cloud/smart-socket.js
  server/test/services/tuya/fixtures/devices/smart-socket-basic/expected-device.json
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Add missing dongles
  front/src/config/demo.js
  server/services/zigbee2mqtt/adapters/index.js
  server/test/services/zigbee2mqtt/lib/getManagedAdapters.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Display credentials in UI
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/MqttExternalCredentials.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: Display credentials in UI (#2583)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/MqttExternalCredentials.jsx
Owners: @Pierre-Gilles

Fix tests
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Add missing dongles (#2582)
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/src/config/demo.js
  server/services/zigbee2mqtt/adapters/index.js
  server/test/services/zigbee2mqtt/lib/getManagedAdapters.test.js
Owners: @Pierre-Gilles

Scene: Remove escape on Handlebars compilation (#2576)
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Display CPU temperature in settings (#2575)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/lib/system/system.getInfos.js
  server/test/lib/system/system.readCpuTemperature.test.js
Owners: @Pierre-Gilles

4.81.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

AI : Fix device-turn-on-off schema
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/mcpToolsToChatApiFormat.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/mcpToolsToChatApiFormat.test.js
Owners: @Pierre-Gilles

Fix feedbacks
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

AI: Debug file should contain last 50 messages
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Owners: @Pierre-Gilles

MQTT : Add copy button for credentials/url
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
Owners: @atrovato

Fix copy bug
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
Owners: @atrovato

MQTT : Add copy button for credentials/url (#2586)
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
Owners: @atrovato

AI: Debug file should contain last 50 messages (#2585)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Owners: @Pierre-Gilles

AI : Fix device-turn-on-off schema (#2584)
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/mcpToolsToChatApiFormat.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/mcpToolsToChatApiFormat.test.js
Owners: @Pierre-Gilles

AI : Hide tool calling from context to avoid disturbing AI
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/lib/message/message.getPreviousQuestionsForUser.js
  server/test/lib/message/message.getPreviousQuestionsForUser.test.js
Owners: @Pierre-Gilles

Only send correct messages to AI to avoid loosing context
  server/config/prompts/aiChat.prompt.txt
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/lib/gateway/gateway.sendWeeklyDigest.js
  server/lib/message/message.getPreviousQuestionsForUser.js
  server/lib/message/message.sendToUser.js
  server/lib/system/system.checkIfGladysUpgraded.js
  server/migrations/20260629180000-classify-notification-messages.js
  server/models/message.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
  server/test/lib/gateway/gateway.sendWeeklyDigest.test.js
  server/test/lib/message/message.getPreviousQuestionsForUser.test.js
  server/test/lib/message/message.sendToUser.test.js
  server/test/migrations/20260629180000-classify-notification-messages.test.js
Owners: @Pierre-Gilles

fix tests
  server/test/lib/message/message.create.test.js
Owners: @Pierre-Gilles

fix: remove eslint-disable, use static require path
  server/test/services/mcp/lib/gcf-integration.test.js
Owners: @Pierre-Gilles

regenerate package-lock.json
  server/package-lock.json
Owners: @Pierre-Gilles

Add noescape for all Handlebars compile()
  server/lib/brain/brain.getReply.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
Owners: @Pierre-Gilles

fix(tuya): move smart-meter reverse energy to ENERGY_PRODUCTION_SENSOR
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/smart-meter.js
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/expected-device.json
  server/test/services/tuya/fixtures/devices/smart-meter-bbcg1hrkrj5rifsd/poll-device.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(energy-monitoring): add night & weekend contract support
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/contracts/contracts.getConsumptionCalendarDayType.js
  server/services/energy-monitoring/contracts/contracts.isFrenchPublicHoliday.js
  server/test/services/energy-monitoring/contracts/contracts.calculateCost.test.js
  server/test/services/energy-monitoring/contracts/contracts.calendarDayTypes.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(ui): fix house settings header layout on mobile
  front/src/routes/settings/settings-house/HousePage.jsx
Owners: @Pierre-Gilles

fix(ui): improve house settings buttons layout on mobile
  front/src/components/house/EditHouse.jsx
Owners: @Pierre-Gilles
