Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Tests
  server/test/services/zwave-js-ui/lib/events/valueNotification.test.js
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueNotification.js
  server/services/zwave-js-ui/lib/events/valueRemoved.js
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/events/valueNotification.js
Owners: @Pierre-Gilles

Remove split feature
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/utils/splitNode.js
  server/test/services/zwave-js-ui/lib/utils/splitNode.test.js
Owners: @Pierre-Gilles

Update tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueNotification.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/events/valueNotification.test.js
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
  server/test/services/zwave-js-ui/lib/utils/bindValue.test.js
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueRemoved.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/events/valueRemoved.test.js
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/test/services/zwave-js-ui/lib/events/valueRemoved.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/test/services/zwave-js-ui/lib/commands/installZwaveJSUIContainer.test.js
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Owners: @Pierre-Gilles

New image
  front/src/assets/integrations/cover/zwave-js-ui.jpg
Owners: @Pierre-Gilles

Correct double from merge
  server/utils/constants.js
Owners: @Pierre-Gilles

correct english translation
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Rationalise code using a common method to get VabotObj + add a way to manage easily the registered vacbot through a Map (still in WIP)
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.getVacbotObj.js
  server/services/ecovacs/lib/device/vacbot.setValue.js
  server/services/ecovacs/lib/index.js
Owners: @Pierre-Gilles

Load vacbots object into controller when registered in gladys + test
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.getVacbotObj.js
  server/services/ecovacs/lib/index.js
  server/test/services/ecovacs/lib/commands/ecovacs.loadVacbots.test.js
  server/test/services/ecovacs/lib/commands/ecovacs.start.test.js
Owners: @Pierre-Gilles

Dependencies install optim
  server/cli/install_service_dependencies.js
Owners: @Pierre-Gilles

Documentation link
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/ZwaveJSUIPage.js
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
  front/src/routes/integration/all/zwave-js-ui/edit-page/index.js
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/index.js
  front/src/routes/integration/all/zwave-js-ui/node-page/index.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
Owners: @Pierre-Gilles

Update logo
  front/src/assets/integrations/cover/zwave-js-ui.jpg
Owners: @Pierre-Gilles

Zwave JS UI version warning
  front/package-lock.json
  front/package.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
  server/services/zwave-js-ui/lib/commands/getConfiguration.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/nodeReady.js
Owners: @Pierre-Gilles

Update version
  server/services/zwave-js-ui/lib/constants.js
Owners: @Pierre-Gilles

Version
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
Owners: @Pierre-Gilles

test
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Owners: @Pierre-Gilles

Be able to re-order dashboard boxes with drag and drop (#1704)
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/src/components/boxs/SelectBoxType.jsx
  front/src/components/boxs/baseEditBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/BottomDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/EditAddBoxButton.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/EmptyColumnDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/index.js
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

Fix CalDAV update during sync (#1703)
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Owners: @bertrandda

Fix NaN dates in tasks list on Safari/Firefox (#1697)
  front/src/routes/settings/settings-background-jobs/index.js
Owners: @Pierre-Gilles

Add AQI sensor (#1685)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Fix bug on OpenAI screen when chat was never enabled (#1709)
  front/src/routes/integration/all/openai/index.js
Owners: @Pierre-Gilles

4.16.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

4.17.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Zigbee2mqtt: Add limits on Docker containers logs size (#1692)
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/checkForContainerUpdates.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/test/services/zigbee2mqtt/lib/checkForContainerUpdates.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
Owners: @Pierre-Gilles

Improve dashboard re-order UX on mobile (#1707)
  front/src/components/boxs/baseEditBox.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/AutoScrollMobile.jsx
  front/src/routes/dashboard/edit-dashboard/BottomDropZone.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

Add back full screen button (#1706)
  front/src/routes/dashboard/DashboardPage.jsx
Owners: @Pierre-Gilles

4.16.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

4.17.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles
