Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Minor fix
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
Owners: @Pierre-Gilles

Add slider
  front/package-lock.json
  front/package.json
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/styles.css
  front/src/style/index.css
Owners: @Pierre-Gilles

Fix
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
Owners: @Pierre-Gilles

Dashboard: Camera image should expires
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/camera/camera.getImage.js
  server/test/lib/device/camera/camera.getImage.test.js
Owners: @Pierre-Gilles

Fix tests & remove log
  server/lib/device/camera/camera.getImage.js
  server/test/lib/device/camera/camera.getImage.test.js
Owners: @Pierre-Gilles

Fix nan value
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
Owners: @Pierre-Gilles

Better style to error message
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/style.css
Owners: @Pierre-Gilles

Add border radius top left/right
  front/src/components/boxs/camera/style.css
Owners: @Pierre-Gilles

Update background color
  front/src/components/boxs/camera/style.css
Owners: @Pierre-Gilles

Dashboard: Camera image should expires (#1880)
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/camera/camera.getImage.js
  server/test/lib/device/camera/camera.getImage.test.js
Owners: @Pierre-Gilles

Integration form password should not be autocompleted by browser
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/tasmota/TasmotaDeviceBox.jsx
Owners: @atrovato, @Pierre-Gilles

Integration form password should not be autocompleted by browser (#1881)
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/tasmota/TasmotaDeviceBox.jsx
Owners: @atrovato, @Pierre-Gilles

Fix width 100%
  front/src/style/index.css
Owners: @Pierre-Gilles

Add AC device
  server/services/sunspec/lib/sunspec.constants.js
  server/services/sunspec/lib/sunspec.getDevices.js
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/services/sunspec/lib/sunspec.scanNetwork.js
  server/services/sunspec/lib/utils/sunspec.ModbusClient.js
  server/services/sunspec/lib/utils/sunspec.ModelFactory.js
  server/services/sunspec/lib/utils/sunspec.externalId.js
  server/services/sunspec/lib/utils/sunspec.utils.js
  server/test/services/sunspec/lib/sunspec.getDevices.test.js
  server/test/services/sunspec/lib/sunspec.scanDevices.test.js
  server/test/services/sunspec/lib/sunspec.scanNetwork.test.js
Owners: @Pierre-Gilles

Add AC device
  server/services/sunspec/lib/utils/sunspec.ModelFactory.js
Owners: @Pierre-Gilles

Add AC device
  server/services/sunspec/lib/utils/sunspec.ModelFactory.js
Owners: @Pierre-Gilles

Prettier
  server/services/sunspec/lib/utils/sunspec.ModelFactory.js
Owners: @Pierre-Gilles

Tests
  server/test/services/overkiz/index.test.js
  server/test/services/overkiz/lib/client/overkiz.api.test.js
  server/test/services/overkiz/lib/commands/overkiz.getDevicesStates.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/overkiz/lib/client/overkiz.api.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/overkiz/lib/client/overkiz.api.test.js
Owners: @Pierre-Gilles

fix(philips-hue): Enable polling color/brightness on Hue lights
  server/services/philips-hue/lib/light/light.poll.js
Owners: @VonOx, @hotfix31

fix(server): Implement tests for Philips Hue poll
  server/services/philips-hue/lib/light/light.poll.js
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-shm
  server/test/lib/gateway/real-gladys-db-backup.db.gz.dbfile-wal
  server/test/services/philips-hue/light/light.poll.test.js
  server/test/services/philips-hue/mocks.test.js
Owners: @VonOx, @hotfix31, @Pierre-Gilles

feat(philips-hue): Change poll frequency to 15 seconds
  server/services/philips-hue/lib/light/light.getLights.js
  server/services/philips-hue/lib/models/color.js
  server/services/philips-hue/lib/models/colorWithTemperature.js
  server/services/philips-hue/lib/models/plugOnOff.js
  server/services/philips-hue/lib/models/white.js
  server/services/philips-hue/lib/models/whiteWithTemperature.js
  server/utils/constants.js
Owners: @VonOx, @hotfix31, @Pierre-Gilles

feat(philips-hue): Update bottleneck and node-hue-api versions
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
Owners: @VonOx, @hotfix31

Tests
  server/services/overkiz/lib/client/overkiz.cozytouch.js
  server/services/overkiz/lib/commands/overkiz.getDevicesStates.js
  server/test/services/overkiz/lib/client/overkiz.api.test.js
  server/test/services/overkiz/lib/client/overkiz.default.test.js
  server/test/services/overkiz/lib/commands/overkiz.connect.test.js
  server/test/services/overkiz/lib/commands/overkiz.getDevicesStates.test.js
  server/test/services/overkiz/lib/commands/overkiz.syncOverkizDevices.test.js
Owners: @Pierre-Gilles

Increase session validity for local users
  server/api/controllers/user.controller.js
Owners: @Pierre-Gilles

Fix full screen bug + add full screen GET parameter
  front/src/actions/dashboard/index.js
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles

Increase session validity for local users (#1882)
  server/api/controllers/user.controller.js
Owners: @Pierre-Gilles

Add a list of device feature categories that don't expires in time
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Owners: @Pierre-Gilles

Tests
  server/services/sunspec/lib/sunspec.constants.js
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/services/sunspec/lib/utils/sunspec.ModelFactory.js
  server/test/services/sunspec/lib/bdpv/sunspec.bdpv.test.js
  server/test/services/sunspec/lib/sunspec.getConfiguration.test.js
  server/test/services/sunspec/lib/sunspec.scanDevices.test.js
  server/test/services/sunspec/lib/sunspec.scanNetwork.test.js
Owners: @Pierre-Gilles

Tests
  server/services/sunspec/lib/utils/sunspec.ModbusClient.js
  server/services/sunspec/lib/utils/sunspec.ModelFactory.js
  server/services/sunspec/lib/utils/sunspec.externalId.js
  server/test/services/sunspec/lib/sunspec.scanDevices.test.js
  server/test/services/sunspec/lib/utils/sunspec.ModbusClient.test.js
  server/test/services/sunspec/lib/utils/sunspec.externalId.test.js
Owners: @Pierre-Gilles

Fix overlapping
  front/src/components/house/RoomSelector.jsx
Owners: @Pierre-Gilles

Add curtain control with tuya
  server/services/tuya/lib/device/tuya.deviceMapping.js
Owners: @Pierre-Gilles

add tests
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Owners: @Pierre-Gilles

Humidity widget: User can define the humidity threshold (#1877)
  front/package-lock.json
  front/package.json
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/style/index.css
  server/models/dashboard.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add percent control of curtain
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Owners: @Pierre-Gilles

User can define the threshold of the room temperature
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/EditRoomTemperatureBox.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/style/index.css
  server/models/dashboard.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix lint and color when no value
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/EditRoomTemperatureBox.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Owners: @Pierre-Gilles

Move null check
  server/lib/device/device.newStateEvent.js
Owners: @Pierre-Gilles

Add test missing device feature
  server/test/lib/device/device.newStateEvent.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
