Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

fix(zigbee2mqtt): Fix getHouses common action usage
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Refactor and clean server code + doc
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-env.sh
  server/services/zigbee2mqtt/index.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/getPermitJoin.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/lib/status.js
  server/services/zigbee2mqtt/model/Xiaomi.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/services/zigbee2mqtt/utils/loadFeatures.js
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Take PR feedbacks
  front/src/assets/integrations/logos/logo_mqtt.png
  front/src/assets/integrations/logos/logo_zigbee2mqtt.png
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/logo_gladys.png
  front/src/routes/integration/all/zigbee2mqtt/setup-page/style.css
  server/coverage.html
  server/nodemon.json
  server/package.json
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/lib/getPermitJoin.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Feedbacks Louis
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/model/HEIMAN.js
  server/services/zigbee2mqtt/model/Lonsonho.js
  server/services/zigbee2mqtt/model/TuYa.js
  server/services/zigbee2mqtt/model/Xiaomi.js
  server/services/zigbee2mqtt/utils/convertCategory.js
  server/services/zigbee2mqtt/utils/convertFeature.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/services/zigbee2mqtt/utils/features.js
  server/services/zigbee2mqtt/utils/loadFeatures.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/convertFeature.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
  server/test/services/zigbee2mqtt/utils/loadFeatures.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Last fixes
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
Owners: @Pierre-Gilles

feat(core): Exclude zigbee2mqtt-container.json from nodemon
  server/nodemon.json
  server/package.json
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Manage click button values
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): MQTT clientId random suffix + mosquito 2
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-env.sh
  server/services/zigbee2mqtt/lib/connect.js
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Deactivate buttons if service not configured
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
Owners: @Pierre-Gilles

feat(core): Add Stop Docker container function in system
  server/lib/system/index.js
  server/lib/system/system.stopContainer.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.stopContainer.test.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Fix some Xiaomi Devices
  server/services/zigbee2mqtt/model/Xiaomi.js
Owners: @Pierre-Gilles

docs(zigbee2mqtt): Update documentation link
  front/src/routes/integration/all/zigbee2mqtt/Zigbee2mqttPage.js
Owners: @Pierre-Gilles

Add a betweenCondition in tests
  server/config/brain/taxi/questions.en.json
  server/lib/brain/brain.train.js
Owners: @Pierre-Gilles

Weather: Improve UI, add new sentences & upgrade node-nlp (#1105)
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/config/brain/taxi/questions.en.json
  server/config/brain/weather/answers.en.json
  server/config/brain/weather/answers.fr.json
  server/config/brain/weather/questions.en.json
  server/config/brain/weather/questions.fr.json
  server/lib/brain/brain.getReply.js
  server/lib/brain/brain.train.js
  server/lib/brain/index.js
  server/lib/weather/index.js
  server/lib/weather/weather.command.js
  server/lib/weather/weather.error.js
  server/package-lock.json
  server/package.json
  server/services/openweather/lib/formatResults.js
  server/test/lib/weather/weather.command.test.js
  server/test/services/openweather/openweather.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @callemand

Fix tests
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

Fix #1102: unit preferences was not editable, and was not working in dashboard & chat (#1107)
  server/api/controllers/weather.controller.js
  server/lib/user/user.getById.js
  server/lib/weather/weather.command.js
  server/services/openweather/index.js
  server/test/controllers/user/user.getMySelf.test.js
  server/test/controllers/weather/weather.test.js
  server/test/lib/user/user.getById.test.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles, @callemand

Update dependencies
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
  server/services/example/README.md
  server/services/example/package-lock.json
  server/services/example/package.json
  server/services/openweather/package-lock.json
  server/services/openweather/package.json
Owners: @Pierre-Gilles, @callemand

Add dependencies security audit in GitHub action
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Update answers.fr.json
  server/config/brain/humidity-sensor/answers.fr.json
Owners: @Pierre-Gilles

Update dependencies & add security audit in Github Action (#1109)
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
  server/services/example/README.md
  server/services/example/package-lock.json
  server/services/example/package.json
  server/services/openweather/package-lock.json
  server/services/openweather/package.json
Owners: @VonOx, @Pierre-Gilles, @callemand

Add humidity in room box on dashboard (#1045)
  front/src/actions/dashboard/boxes/humidityInRoom.js
  front/src/actions/dashboard/edit-boxes/editHumidityInRoom.js
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  server/api/controllers/room.controller.js
  server/config/brain/humidity-sensor/answers.en.json
  server/config/brain/humidity-sensor/answers.fr.json
  server/config/brain/humidity-sensor/questions.en.json
  server/config/brain/humidity-sensor/questions.fr.json
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/lib/device/humidity-sensor/humidity-sensor.getHumidityInRoom.js
  server/lib/device/humidity-sensor/index.js
  server/lib/device/index.js
  server/seeders/20190227081700-device-feature.js
  server/test/controllers/room/room.test.js
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

chore(pihole) : front box
  front/src/actions/dashboard/boxes/piHole.js
  front/src/actions/dashboard/boxes/pihole.js
  front/src/components/boxs/pihole/DataList.jsx
  front/src/components/boxs/pihole/PiholeBox.jsx
  server/services/pihole/lib/getPiholeSummary.js
Owners: @Pierre-Gilles

chrore(pihole): remove useless entry package.json
  server/services/pihole/package.json
Owners: @Pierre-Gilles

fix fir review
  front/src/actions/dashboard/boxes/chart.js
  front/src/components/boxs/chart-feature/EditChartMultiFeatures.jsx
  front/src/components/boxs/chart-feature/EditChartOneFeatures.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/device.controller.js
  server/lib/device/device.downsamplingStates.js
  server/lib/device/device.getFeatureStates.js
Owners: @Pierre-Gilles

fix merge error
  server/package-lock.json
Owners: @Pierre-Gilles

chore(pihole): Front update
  front/src/actions/dashboard/boxes/pihole.js
  front/src/components/boxs/pihole/PiholeBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/pihole/lib/getPiholeSummary.js
Owners: @Pierre-Gilles

Add test
  server/services/pihole/lib/getPiholeSummary.js
  server/test/services/pihole/index.test.js
  server/test/services/pihole/lib/getPiholeSummary.test.js
  server/test/services/pihole/pihole.controller.test.js
  server/test/services/pihole/piholeSummary.json
Owners: @Pierre-Gilles

chore(pihole): Front update
  front/src/components/boxs/pihole/PiholeBox.jsx
Owners: @Pierre-Gilles

chore(pihole): Front
  front/src/components/boxs/pihole/PiholeBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Prettier
  front/src/components/boxs/pihole/PiholeBox.jsx
Owners: @Pierre-Gilles

feat(docker): Add getContainerMounts in system
  server/lib/system/index.js
  server/lib/system/system.getContainerMounts.js
  server/test/lib/system/DockerApiMock.test.js
  server/test/lib/system/system.getContainerMounts.test.js
Owners: @Pierre-Gilles

feat(zigbee2mqtt): Path management
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-env.sh
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-env.sh
  server/services/zigbee2mqtt/lib/basePath.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/utils/basePath.js
  server/test/services/zigbee2mqtt/lib/basePath.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/utils/basePath.test.js
Owners: @Pierre-Gilles

revert manifest
  front/src/manifest.json
Owners: @Pierre-Gilles

Back to origin
  front/src/actions/dashboard/boxes/camera.js
Owners: @Pierre-Gilles

Gladys Plus: improve performance when sending websockets to all users by refreshing user list only when it changes
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Gladys Plus: improve performance when sending websockets to all users by refreshing user list only when it changes (#1112)
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

fix for review
  front/src/components/boxs/chart-feature/EditChartOneFeatures.jsx
  server/api/controllers/device.controller.js
  server/lib/device/device.downsamplingStates.js
  server/models/device_feature_state.js
Owners: @Pierre-Gilles

Fix dependencies server
  server/package-lock.json
Owners: @Pierre-Gilles

npm audit fix everywhere
  package-lock.json
  server/services/mqtt/package-lock.json
  server/services/telegram/package-lock.json
  server/services/usb/package-lock.json
Owners: @Pierre-Gilles, @atrovato

Upgrade dependencies server (#1114)
  package-lock.json
  server/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/telegram/package-lock.json
  server/services/usb/package-lock.json
Owners: @Pierre-Gilles, @atrovato
