Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

fix(ui): improve CalDAV buttons layout on mobile
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
Owners: @bertrandda

fix(ui): fix "most popular" badge visibility on Plus plan card
  front/src/routes/settings/settings-gateway/GatewayPricing.jsx
  front/src/routes/settings/settings-gateway/style.css
Owners: @Pierre-Gilles

fix(ui): improve buttons layout on mobile for houses, users, backup and MQTT pages
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
  front/src/routes/settings/settings-backup/GatewayBackupList.jsx
  front/src/routes/settings/settings-house/HousePage.jsx
  front/src/routes/settings/settings-users/UserPage.jsx
Owners: @atrovato, @Pierre-Gilles

fix(ui): prevent LAN Manager presence toggle from shrinking on mobile
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerPresenceScanner.jsx
Owners: @Pierre-Gilles

fix(ui): improve Enedis integration buttons layout on mobile
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
Owners: @Pierre-Gilles

fix(ui): fix backup page header layout on mobile
  front/src/routes/settings/settings-backup/GatewayBackupList.jsx
Owners: @Pierre-Gilles

fix(ui): fix users settings header layout on mobile
  front/src/routes/settings/settings-users/UserPage.jsx
Owners: @Pierre-Gilles

fix(ui): shorten energy monitoring settings buttons text
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(ui): improve Matter settings page layout on mobile
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
Owners: @Pierre-Gilles

fix(ui): improve Bluetooth settings layout on mobile
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothPresenceScanner.jsx
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothSettingsTab.jsx
Owners: @atrovato

fix prettier
  front/src/components/house/EditHouse.jsx
Owners: @Pierre-Gilles

fix(ui): restore backup started feedback on gateway backup page
  front/src/routes/settings/settings-backup/GatewayBackupList.jsx
Owners: @Pierre-Gilles

fix (ui): fixing Cypress tests failing on the hidden mobile button
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothPresenceScanner.jsx
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothSettingsTab.jsx
Owners: @atrovato

test(tuya): cover thermostat temperature conversion in poll
  server/test/services/tuya/lib/tuya.poll.test.js
Owners: @Pierre-Gilles

feat(tuya): add air-conditioner mappings and controls
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningFanSpeedDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningSwingDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/mappings/cloud/air-conditioner.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/air-conditioner.js
  server/services/tuya/lib/utils/tuya.cloudStrategy.js
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/cloud-status.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-device.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-events.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-local-mapping.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/input-device.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/local-dps.json
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/manifest.js
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/poll-device.json
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/test/services/tuya/lib/utils/tuya.cloudStrategy.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

chore(tuya): clarify cloud setValue logs
  server/services/tuya/lib/tuya.setValue.js
Owners: @Pierre-Gilles

fix(tuya): align air-conditioner fixture with PR8 conventions
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-device.json
Owners: @Pierre-Gilles

fix(front): route air-conditioning mode to its own component
  front/src/components/boxs/device-in-room/DeviceRow.jsx
Owners: @Pierre-Gilles

fix(front): route air-conditioning mode to its own component
  front/src/components/boxs/device-in-room/DeviceRow.jsx
Owners: @Pierre-Gilles

feat(tuya): add Wifi video doorbell support (settings, cloud + local)
  server/services/tuya/lib/mappings/cloud/video-doorbell.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/video-doorbell.js
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/cloud-status.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-cloud-events.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-device.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-local-events.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/expected-local-mapping.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/input-device.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/local-dps.json
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/manifest.js
  server/test/services/tuya/fixtures/devices/video-doorbell-i5e3a4qxcsthszin/poll-device.json
Owners: @Pierre-Gilles

feat(tuya): add persistent local connection for real-time push updates
  server/services/tuya/index.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.init.js
  server/services/tuya/lib/tuya.persistentConnection.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.init.test.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Owners: @Pierre-Gilles

refactor(tuya): single DPS->state pipeline for poll and persistent push + tests
  server/services/tuya/lib/tuya.persistentConnection.js
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Owners: @Pierre-Gilles

fix(tuya): guard persistent teardown so it can't block the cloud disconnect
  server/services/tuya/index.js
Owners: @Pierre-Gilles

test(tuya): cover persistent setValue routing + drop unreachable guards
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Owners: @Pierre-Gilles

refactor(tuya): drop unreachable recyclePersistentConnection type guard in poll
  server/services/tuya/lib/tuya.poll.js
Owners: @Pierre-Gilles

fix(tuya): back off on repeated invalid local payloads + drop dead code
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/utils/tuya.degraded.js
  server/test/services/tuya/lib/utils/tuya.degraded.test.js
Owners: @Pierre-Gilles

fix(tuya): align degraded-status button reference in i18n
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(tuya): cap recursive cloud pagination to avoid runaway recursion
  server/services/tuya/lib/tuya.loadDevices.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
Owners: @Pierre-Gilles

feat(tuya): curated display names for colliding pilot-thermostat features
  server/services/tuya/lib/mappings/cloud/pilot-thermostat.js
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/expected-device.json
Owners: @Pierre-Gilles

docs: add AGENTS.md with Cursor Cloud dev environment instructions
  AGENTS.md
Owners: @Pierre-Gilles

chore(matter): bump matter.js from 0.17.3 to 0.17.4
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Owners: @Pierre-Gilles

feat(tuya): per-product mapping variants + Konyks eCosy pilot-wire support
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/device/tuya.localMapping.js
  server/services/tuya/lib/mappings/cloud/pilot-thermostat-ecosy.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/pilot-thermostat-ecosy.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Owners: @Pierre-Gilles

fix(tuya): recycle persistent connections on device create/update/delete
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Owners: @Pierre-Gilles

fix(tuya): throttle continuous-sensor states pushed by persistent connections
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Owners: @Pierre-Gilles

fix(tuya): keep the remembered temperature unit on partial local pushes
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/tuya.poll.test.js
Owners: @Pierre-Gilles

fix(tuya): truncate oversized local socket error messages in logs
  server/services/tuya/lib/tuya.localPoll.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
Owners: @Pierre-Gilles

fix(tuya): truncate oversized persistent socket error messages in logs
  server/services/tuya/lib/tuya.persistentConnection.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Owners: @Pierre-Gilles

Matter: bump matter.js from 0.17.3 to 0.17.4 (#2598)
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Owners: @Pierre-Gilles

Add AGENTS.md for Cursor Cloud Agents (#2597)
  AGENTS.md
Owners: @Pierre-Gilles

Fix: air-conditioning mode feature rendered as fan mode (routing collision since #2541) (#2592)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
