Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Fix device create test
  server/test/lib/device/device.create.test.js
Owners: @Pierre-Gilles

Only update job progress when needed
  server/lib/device/device.purgeStatesByFeatureId.js
  server/lib/device/index.js
  server/test/lib/device/device.purgeStatesByFeatureId.test.js
Owners: @Pierre-Gilles

Clean device feature states in small chunk to prevent Gladys from being stuck (#1610)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.create.js
  server/lib/device/device.purgeStatesByFeatureId.js
  server/lib/device/index.js
  server/lib/job/job.wrapper.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/camera/camera.command.test.js
  server/test/lib/device/camera/camera.get.test.js
  server/test/lib/device/camera/camera.getImage.test.js
  server/test/lib/device/camera/camera.getImageInRoom.test.js
  server/test/lib/device/camera/camera.setImage.test.js
  server/test/lib/device/device.addFeature.test.js
  server/test/lib/device/device.addParam.test.js
  server/test/lib/device/device.calculateAggregate.test.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.destroy.test.js
  server/test/lib/device/device.get.test.js
  server/test/lib/device/device.getBySelector.test.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
  server/test/lib/device/device.getDeviceFeaturesAggregatesMulti.test.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/device/device.notify.test.js
  server/test/lib/device/device.poll.test.js
  server/test/lib/device/device.purgeStates.test.js
  server/test/lib/device/device.purgeStatesByFeatureId.test.js
  server/test/lib/device/device.saveState.test.js
  server/test/lib/device/device.setValue.test.js
  server/test/lib/device/device.setupPoll.test.js
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
  server/test/lib/device/light/light.buildLightObject.test.js
  server/test/lib/device/light/light.command.test.js
  server/test/lib/device/light/light.init.test.js
  server/test/lib/device/light/light.turnOff.test.js
  server/test/lib/device/light/light.turnOn.test.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Add manual button to VACUUM database
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/api/controllers/system.controller.js
  server/api/routes.js
  server/lib/index.js
  server/lib/system/index.js
  server/lib/system/system.vacuum.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Test system vacuum
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/system.createContainer.test.js
  server/test/lib/system/system.downloadUpgrade.test.js
  server/test/lib/system/system.exec.test.js
  server/test/lib/system/system.getContainerMounts.test.js
  server/test/lib/system/system.getContainers.test.js
  server/test/lib/system/system.getDiskSpace.test.js
  server/test/lib/system/system.getGladysBasePath.test.js
  server/test/lib/system/system.getGladysContainerId.test.js
  server/test/lib/system/system.getInfos.test.js
  server/test/lib/system/system.getNetworkMode.test.js
  server/test/lib/system/system.init.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.isDocker.test.js
  server/test/lib/system/system.pull.test.js
  server/test/lib/system/system.removeContainer.test.js
  server/test/lib/system/system.restartContainer.test.js
  server/test/lib/system/system.shutdown.test.js
  server/test/lib/system/system.stopContainer.test.js
  server/test/lib/system/system.vacuum.test.js
Owners: @Pierre-Gilles

Fix test
  server/test/lib/system/system.init.test.js
Owners: @Pierre-Gilles

Add manual button to VACUUM database (#1611)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/api/controllers/system.controller.js
  server/api/routes.js
  server/lib/index.js
  server/lib/system/index.js
  server/lib/system/system.vacuum.js
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/system.createContainer.test.js
  server/test/lib/system/system.downloadUpgrade.test.js
  server/test/lib/system/system.exec.test.js
  server/test/lib/system/system.getContainerMounts.test.js
  server/test/lib/system/system.getContainers.test.js
  server/test/lib/system/system.getDiskSpace.test.js
  server/test/lib/system/system.getGladysBasePath.test.js
  server/test/lib/system/system.getGladysContainerId.test.js
  server/test/lib/system/system.getInfos.test.js
  server/test/lib/system/system.getNetworkMode.test.js
  server/test/lib/system/system.init.test.js
  server/test/lib/system/system.installUpgrade.test.js
  server/test/lib/system/system.isDocker.test.js
  server/test/lib/system/system.pull.test.js
  server/test/lib/system/system.removeContainer.test.js
  server/test/lib/system/system.restartContainer.test.js
  server/test/lib/system/system.shutdown.test.js
  server/test/lib/system/system.stopContainer.test.js
  server/test/lib/system/system.vacuum.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Scene: Fix HTTP request response parser to handle array
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
Owners: @Pierre-Gilles

4.10.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Add missing removeListener calls
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/routes/chat/index.js
  front/src/routes/integration/all/tasmota/discover-http/index.js
  front/src/routes/integration/all/xiaomi/index.js
  front/src/routes/integration/all/zwave/node-operation-page/index.js
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles, @atrovato

Websocket: send only of subscribed
  front/src/routes/scene/edit-scene/index.js
  front/src/utils/Dispatcher.js
  front/src/utils/Session.js
  server/api/websockets/index.js
  server/test/websockets/WebSocketServerMock.test.js
  server/test/websockets/index.test.js
  server/test/websockets/websockets.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix dupe function
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/routes/chat/index.js
  front/src/routes/integration/all/tasmota/discover-http/index.js
Owners: @Pierre-Gilles, @atrovato

fix test
  server/test/lib/device/device.destroyByServiceId.test.js
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/lib/device/device.setParam.test.js
Owners: @Pierre-Gilles

Fix continue only if action + add tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Remove star on header
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
Owners: @Pierre-Gilles

Reword leak sensor values (#1608)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add Broadlink cover devices (#1607)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/remote-page/features.js
Owners: @Pierre-Gilles

Handle HTTP 422
  server/services/influxdb/lib/influxdb.writeBinary.js
  server/services/influxdb/lib/influxdb.writeFloat.js
Owners: @Pierre-Gilles

WIP: get battery info
  server/services/ecovacs/lib/commands/ecovacs.listen.js
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/services/ecovacs/lib/event/ecovacs.onMessage.js
  server/services/ecovacs/lib/index.js
  server/services/index.js
Owners: @Pierre-Gilles

Take into consideration review notes
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/rflink/device-page/DevicePage.jsx
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/lib/commands/rflink.connect.js
  server/services/rflink/lib/commands/rflink.disconnect.js
  server/test/services/rflink/lib/connect.test.js
  server/test/services/rflink/lib/disconnect.test.js
Owners: @Pierre-Gilles

Fix Broadlink labels (#1606)
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/remote-page/RemoteFeatureEditionPanel.jsx
Owners: @Pierre-Gilles

Handle Zigbee2mqtt cover devices (#1577)
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/routes/integration/all/zigbee2mqtt/edit-page/index.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/exposes/actionEnumType.test.js
  server/test/services/zigbee2mqtt/exposes/coverEnumType.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/payloads/single_mqtt_device.json
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/feature/buildFeature.test.js
  server/test/services/zigbee2mqtt/utils/payloads/CCT5015.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/test/services/zigbee2mqtt/utils/realZigbee2mqttDevices.test.js
Owners: @Pierre-Gilles

Tasmota: Add more temp devices (#1570)
  server/services/tasmota/lib/features/device_temperature.js
  server/services/tasmota/lib/features/index.js
  server/services/tasmota/lib/features/temperature.js
  server/test/services/tasmota/lib/device-creation/BL09XX.json
  server/test/services/tasmota/lib/device-creation/DS18B20.json
  server/test/services/tasmota/lib/device-creation/ESP32.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
Owners: @atrovato

Scene: Fix #1605, improve HTTP request response parser to handle null & array (#1612)
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Use addMapping function
  server/services/zigbee2mqtt/exposes/enumType.js
Owners: @Pierre-Gilles

Add sync function in Enedis integration
  front/src/routes/integration/all/enedis-gateway/index.js
  server/lib/gateway/enedis/gateway.enedisGetConsumptionLoadCurve.js
  server/services/broadlink/package-lock.json
  server/services/enedis/api/enedis.controller.js
  server/services/enedis/index.js
  server/services/enedis/lib/enedis.sync.js
  server/services/enedis/lib/index.js
  server/services/enedis/package-lock.json
  server/services/enedis/package.json
  server/services/enedis/utils/parser.js
  server/services/index.js
Owners: @Pierre-Gilles

Multiple button features
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertFeature.js
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
  server/services/zigbee2mqtt/utils/features/completeFeature.js
  server/services/zigbee2mqtt/utils/features/mapExpose.js
  server/test/services/zigbee2mqtt/exposes/actionEnumType.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/utils/feature/buildFeatures.test.js
Owners: @Pierre-Gilles

Add new saveHistoricalState function
  server/lib/device/device.saveHistoricalState.js
  server/lib/device/index.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Internal event for devices should handle states in the past
  server/lib/device/device.newStateEvent.js
  server/test/lib/device/device.newStateEvent.test.js
Owners: @Pierre-Gilles

Fix timezone issue in tests
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Remove trigger check on historical states
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Fix getFeatureIndexes after merge
  server/services/zigbee2mqtt/exposes/enumType.js
Owners: @Pierre-Gilles

Update aggregate only if needed
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

use the correct deviceFeature object
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Add new data, datarate, precipitation category and units (#1601)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

4.11.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

fix: Sort variables to avoid bad replacement in text
  front/src/components/scene/TextWithVariablesInjected.jsx
Owners: @Pierre-Gilles

Check in mapping before build service
  server/services/homekit/lib/buildAccessory.js
Owners: @Pierre-Gilles

4.11.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles
