Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Netatmo: Make update error tests assert the logging path (review follow-up)
  server/test/services/netatmo/lib/update/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule2.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule3.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAPlug.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNATherm1.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNRV.test.js
Owners: @thibautmery, @Terdious

Netatmo: Fall back to battery_state for NATherm1 battery (review follow-up)
  server/services/netatmo/lib/update/netatmo.updateMappings.js
  server/test/services/netatmo/lib/update/netatmo.updateNATherm1.test.js
Owners: @thibautmery, @Terdious

Netatmo: Add camera image and monitoring command (NACamera, NOC)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.getCameraImage.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/lib/update/netatmo.updateCameraImage.js
  server/services/netatmo/lib/update/netatmo.updateDevice.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceSecurity.test.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.getCameraImage.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
  server/test/services/netatmo/lib/update/netatmo.updateSecurity.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Netatmo: Show created devices in discovery and flag updatable ones
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/test/services/netatmo/controllers/netatmo.controller.test.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
Owners: @thibautmery, @Terdious

Netatmo: Make the discovery merge test robust to new camera features
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
Owners: @thibautmery, @Terdious

Netatmo: Re-encode camera snapshots through ffmpeg (review follow-up)
  server/services/netatmo/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.getCameraImage.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/netatmo.getCameraImage.test.js
Owners: @thibautmery, @Terdious

Netatmo: Camera review follow-ups (CI fix, timeouts, guards)
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/netatmo.getCameraImage.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/lib/update/netatmo.updateDevice.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
  server/test/services/netatmo/lib/netatmo.setValue.test.js
  server/test/services/netatmo/lib/update/netatmo.updateSecurity.test.js
Owners: @thibautmery, @Terdious

Netatmo: Run the initial values refresh off the OAuth callback path (review follow-up)
  server/services/netatmo/lib/netatmo.retrieveTokens.js
Owners: @thibautmery, @Terdious

Netatmo: Single-flight guard on the devices values refresh (review follow-up)
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingValues.test.js
Owners: @thibautmery, @Terdious

test(tuya): cover formatSocketError fallback and continuous-throttle early return
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Owners: @Pierre-Gilles

Netatmo: Feed the dashboard live stream and add a camera quality selector
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.updateCameraLiveUrl.js
  server/services/netatmo/lib/update/netatmo.updateDevice.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/update/netatmo.updateCameraLiveUrl.test.js
  server/test/services/netatmo/lib/update/netatmo.updateSecurity.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Gateway: Forward Netatmo webhook open API messages as an event
  server/lib/gateway/gateway.handleNewMessage.js
  server/test/lib/gateway/gateway.handleNewMessage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Netatmo: Receive Gladys Plus webhook events for Energy devices
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.dropWebhook.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.handleWebhookEvent.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.registerWebhook.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/index.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.dropWebhook.test.js
  server/test/services/netatmo/lib/netatmo.getConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.handleWebhookEvent.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.registerWebhook.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
  server/test/services/netatmo/lib/netatmo.saveConfiguration.test.js
  server/test/services/netatmo/netatmo.webhookEvent.mock.test.json
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Netatmo: Stop replaying the OAuth callback on page refresh
  front/src/routes/integration/all/netatmo/setup-page/index.js
Owners: @thibautmery, @Terdious

Netatmo: Match real-life webhook events and simplify the key input (runtime feedback)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/webhookUrl.js
  server/services/netatmo/lib/netatmo.handleWebhookEvent.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/netatmo.handleWebhookEvent.test.js
  server/test/services/netatmo/netatmo.webhookEvent.mock.test.json
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Support the broadcast zwavejsui virtual device
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/services/zwavejs-ui/utils/getProperty.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

Let's filter virtual devices to avoid unexpected behaviors right at the root integration. Let's make them available once it makes sense.
  server/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

Improve activity history header on mobile and make filters sticky
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

ZWaveJS : Fix integration after ZWaveJS upgrade (#2629)
  server/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/services/zwavejs-ui/utils/getProperty.js
  server/test/services/zwavejs-ui/lib/exampleData.json
Owners: @Pierre-Gilles

Address CodeRabbit review: guard storage and export preference constants
  front/src/actions/darkMode.js
  front/src/utils/darkModePreference.js
Owners: @Pierre-Gilles

fix(mqtt): show currency feature as sensor badge in catalog preview
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @Pierre-Gilles, @atrovato

Fix Cypress collision and stabilize activity history pagination
  front/src/components/header/index.jsx
  front/src/routes/history/index.js
  server/lib/device/device.getDeviceStatesHistory.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

Fix production build: bundle server CJS modules in all modes
  front/vite-plugins/server-commonjs-interop.js
  front/vite.config.js
Owners: @Pierre-Gilles

Fix dark mode preference being overwritten on iOS (#2609)
  front/src/actions/darkMode.js
  front/src/utils/darkModePreference.js
  front/src/utils/getDefaultState.js
Owners: @Pierre-Gilles

Cap AI chat debug replay to EXCHANGE_LIMIT like live chat
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Owners: @Pierre-Gilles

Gauge widget: editable name, feature label, mobile scroll fix (#2608)
  front/src/components/boxs/gauge/EditGaugeBox.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/style/index.css
Owners: @Pierre-Gilles

Translate enumerated device state values in activity history
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/EventLine.jsx
Owners: @Pierre-Gilles

Group shutters and curtains under Openings in activity history
  front/src/routes/history/categoryGroups.js
Owners: @Pierre-Gilles

Revert debug exchange cap and expose full conversation history
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Owners: @Pierre-Gilles

Add value labels for AC mode, siren volume and music playback in history
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix static assets path in production build
  front/vite.config.js
Owners: @Pierre-Gilles

Gateway: Group the open API message dispatch in a single if/else chain
  server/lib/gateway/gateway.handleNewMessage.js
  server/test/lib/gateway/gateway.handleNewMessage.test.js
Owners: @Pierre-Gilles

feat(mqtt): auto-generate external IDs from name on device setup
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @atrovato

Cover has_file branch in AI chat debug history tests
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Owners: @Pierre-Gilles

feat(tuya): show a not-configured banner on the devices page
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/device-page/DeviceTab.jsx
Owners: @Pierre-Gilles

fix(tuya): say features instead of functions on the partial-support button
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

test(tuya): cover the codecov-flagged lines with real scenarios
  server/services/tuya/lib/tuya.discoverDevices.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
Owners: @Pierre-Gilles

Add home activity history view (#2605)
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/EventLine.jsx
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/categoryGroups.js
  front/src/routes/history/index.js
  front/src/routes/history/style.css
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceStatesHistory.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

revert(ci): remove unrelated docker-pr-build workflow change from MQTT UI PR
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
