Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Initail commit
  server/lib/calendar/index.js
  server/lib/scene/scene.triggers.js
Owners: @Pierre-Gilles

Add scheduled jobs in task page
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/SettingsBackgroundJobs.jsx
  front/src/routes/settings/settings-background-jobs/index.js
  server/api/controllers/calendar.controller.js
  server/api/routes.js
  server/lib/calendar/calendar.getScheduledEvents.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add compare regexp
  server/models/scene.js
  server/test/utils/compare.test.js
  server/utils/compare.js
Owners: @Pierre-Gilles

Initial commit
  server/api/controllers/calendar.controller.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add scheduled jobs in task page
  server/lib/calendar/index.js
Owners: @Pierre-Gilles

Initial commit
  server/models/scene.js
Owners: @Pierre-Gilles

PR
  server/api/controllers/calendar.controller.js
Owners: @Pierre-Gilles

Handle discovered devices
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/discoverDevices.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/test/services/zigbee2mqtt/lib/discoverDevices.test.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
Owners: @Pierre-Gilles

Force composite color as actuator
  server/services/zigbee2mqtt/exposes/compositeType.js
Owners: @Pierre-Gilles

Fix review comments
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt auto-build features
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/compositeType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/index.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/features/buildFeature.js
  server/services/zigbee2mqtt/utils/features/completeFeature.js
  server/services/zigbee2mqtt/utils/features/mapDefinition.js
  server/services/zigbee2mqtt/utils/features/mapExpose.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/feature/buildFeature.test.js
  server/test/services/zigbee2mqtt/utils/feature/completeFeature.test.js
  server/test/services/zigbee2mqtt/utils/feature/mapUnit.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Illuminance max value
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Load composite type
  server/services/zigbee2mqtt/exposes/index.js
Owners: @Pierre-Gilles

Fix zigbee2mqtt discovered path
  front/src/config/demo.json
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
Owners: @Pierre-Gilles

remove formaldehyd
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Check calendar event in scene action
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CheckCalendarEvent.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/lib/calendar/calendar.getEvents.js
  server/lib/calendar/index.js
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/utils/compare.test.js
  server/utils/compare.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Prettier
  server/lib/calendar/calendar.getEvents.js
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Empty name if no summary for event
  server/services/caldav/lib/calendar/calendar.formaters.js
Owners: @bertrandda

Fix python dependency
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Fix random tests
  server/test/lib/device/device.calculateAggregate.test.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Owners: @Pierre-Gilles

Fix demo mode
  front/src/config/demo.js
  front/src/config/demo.json
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Demo request time as env var
  front/preact.config.js
  front/src/config.js
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Fix arm python link
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Feature component
  front/src/components/device/UpdateDeviceForm.jsx
  front/src/components/device/view/BatteryLevelFeature.jsx
  front/src/components/device/view/DeviceFeature.jsx
  front/src/components/device/view/DeviceFeatures.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDevice.jsx
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheralFeatures.jsx
  front/src/routes/integration/all/bluetooth/style.css
  front/src/routes/integration/all/ewelink/EweLinkDeviceBox.jsx
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceForm.jsx
  front/src/routes/integration/all/philips-hue/device-page/DeviceForm.jsx
  front/src/routes/integration/all/tasmota/TasmotaDeviceBox.jsx
  front/src/routes/integration/all/tp-link/device-page/DeviceForm.jsx
  front/src/routes/integration/all/xiaomi/Device.jsx
  front/src/routes/integration/all/xiaomi/XiaomiSensor.jsx
  front/src/routes/integration/all/xiaomi/style.css
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/style/index.css
Owners: @Pierre-Gilles, @atrovato, @NickDub, @VonOx, @hotfix31, @cicoub13

Fix aggregate tests that were failing randomly + fix python dependency for Docker build (#1353)
  docker/Dockerfile
  docker/Dockerfile.buildx
  server/test/lib/device/device.calculateAggregate.test.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Owners: @VonOx, @Pierre-Gilles

Add warning on chart box saying that Gladys needs time to collect enough data
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

In chart, if two charts are displayed with different unit, display only the first + add units to legend
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  server/models/dashboard.js
Owners: @Pierre-Gilles

Fix demo mode + add a way to simulate load time in demo mode (#1355)
  front/preact.config.js
  front/src/config.js
  front/src/config/demo.js
  front/src/config/demo.json
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Separate the if
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Fix ARM build with python link (#1358)
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Multiple chart fixes (#1357)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/models/dashboard.js
Owners: @Pierre-Gilles

Move scheduler to scene manager
  front/src/routes/settings/settings-background-jobs/index.js
  server/api/controllers/calendar.controller.js
  server/api/routes.js
  server/config/config.js
  server/lib/calendar/calendar.createEvent.js
  server/lib/calendar/calendar.createScheduledEvent.js
  server/lib/calendar/calendar.getScheduledEvents.js
  server/lib/calendar/calendar.updateEvent.js
  server/lib/calendar/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.init.js
  server/services/caldav/lib/calendar/calendar.formaters.js
Owners: @Pierre-Gilles, @bertrandda

Add internal calendar sharing
  front/src/actions/calendar.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/CalDAV.js
  front/src/routes/integration/all/caldav/share-page/ShareTab.jsx
  front/src/routes/integration/all/caldav/share-page/actions.js
  front/src/routes/integration/all/caldav/share-page/index.js
  front/src/routes/integration/all/caldav/sync-page/index.js
  server/lib/calendar/calendar.get.js
  server/lib/calendar/calendar.getEvents.js
  server/migrations/20211023172755-share-calendars.js
  server/models/calendar.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Owners: @Pierre-Gilles, @bertrandda

Fix style & add test
  front/src/routes/integration/all/caldav/share-page/ShareTab.jsx
  server/seeders/20190403081927-calendar.js
  server/test/lib/calendar/calendar.test.js
Owners: @bertrandda, @Pierre-Gilles

Change shared column to boolean
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/calendar/index.js
  front/src/routes/integration/all/caldav/share-page/ShareTab.jsx
  front/src/routes/integration/all/caldav/share-page/actions.js
  server/lib/calendar/calendar.get.js
  server/lib/calendar/calendar.getEvents.js
  server/migrations/20211023172755-share-calendars.js
  server/models/calendar.js
  server/seeders/20190403081927-calendar.js
  server/test/lib/calendar/calendar.test.js
Owners: @Pierre-Gilles, @bertrandda

Silent fail on service install
  server/cli/install_service_dependencies.js
  server/package.json
Owners: @Pierre-Gilles

front: Use same feature component everywhere (#1352)
  front/src/components/device/UpdateDeviceForm.jsx
  front/src/components/device/view/BatteryLevelFeature.jsx
  front/src/components/device/view/DeviceFeature.jsx
  front/src/components/device/view/DeviceFeatures.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDevice.jsx
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheralFeatures.jsx
  front/src/routes/integration/all/bluetooth/style.css
  front/src/routes/integration/all/ewelink/EweLinkDeviceBox.jsx
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceForm.jsx
  front/src/routes/integration/all/philips-hue/device-page/DeviceForm.jsx
  front/src/routes/integration/all/tasmota/TasmotaDeviceBox.jsx
  front/src/routes/integration/all/tp-link/device-page/DeviceForm.jsx
  front/src/routes/integration/all/xiaomi/Device.jsx
  front/src/routes/integration/all/xiaomi/XiaomiSensor.jsx
  front/src/routes/integration/all/xiaomi/style.css
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
  front/src/style/index.css
Owners: @Pierre-Gilles, @atrovato, @NickDub, @VonOx, @hotfix31, @cicoub13

Fix #1318 : Fix bug that prevent the user from editing a scene name
  front/src/routes/scene/edit-scene/EditScenePage.jsx
Owners: @Pierre-Gilles

Fix #1318 : Fix bug that prevent the user from editing a scene name (#1359)
  front/src/routes/scene/edit-scene/EditScenePage.jsx
Owners: @Pierre-Gilles

Try to build server and make npm install fail if one service failed
  server/cli/install_service_dependencies.js
Owners: @Pierre-Gilles
