Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Translate the external integrations spec to English (#2720)
  docs/specs/external-integrations.md
Owners: @Pierre-Gilles

Update AI chat models: remove outdated Scaleway models, add glm-5.2
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/controllers/message/message.test.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/utils/aiChatModels.test.js
  server/utils/aiChatModels.js
Owners: @Pierre-Gilles

Update AI chat models: remove outdated models, add glm-5.2 (#2723)
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/controllers/message/message.test.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/utils/aiChatModels.test.js
  server/utils/aiChatModels.js
Owners: @Pierre-Gilles

Force tool calls for device query and control AI intents
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

Force tool calls for scenes and web/time intents too
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

Do not force tool_choice for web_and_time intents
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

fix(bluetooth): fix flaky bluetooth.stop unit test
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/test/services/bluetooth/BluetoothMock.test.js
Owners: @atrovato

Force tool calls for device query/control AI intents (#2724)
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

AI chat: retry once when the final answer is raw data instead of text
  server/config/prompts/aiChat.prompt.txt
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

Address CodeRabbit review: broaden fence regex, cover non-string branch
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

AI chat: retry once when the final answer is raw data instead of natural language (#2726)
  server/config/prompts/aiChat.prompt.txt
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

4.84.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Don't lose the notifications sent while an integration is still booting
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.integrationConnected.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.waitForConnection.js
  server/lib/external-integration/index.js
  server/lib/index.js
  server/services/telegram/lib/message.sendToUser.js
  server/test/lib/external-integration/externalIntegration.waitForConnection.test.js
  server/test/services/telegram/lib/messageSendToUser.test.js
Owners: @Pierre-Gilles

Add LLM-based PR type classification workflow
  .github/workflows/pr-classify.yml
Owners: @VonOx, @Pierre-Gilles

Add area labeler config and workflow (actions/labeler v5)
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Owners: @Pierre-Gilles, @VonOx

Simplify PR template and add Forum link section
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Pierre-Gilles

Document label taxonomy and Forum link convention in CONTRIBUTING
  .github/CONTRIBUTING.md
Owners: @Pierre-Gilles

Switch PR type classification from Anthropic to Scaleway Generative APIs
  .github/workflows/pr-classify.yml
Owners: @VonOx, @Pierre-Gilles

Add Z-Wave thermostat support (mode, setpoint, operating state) to zwavejs-ui
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/ThermostatOperatingStateDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(i18n): correct French plural of tableau de bord
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix thermostat setpoint feature icon and mangled name
  front/src/utils/consts.js
  server/services/zwavejs-ui/utils/getDeviceFeatureName.js
  server/test/services/zwavejs-ui/utils/getDeviceFeatureName.test.js
Owners: @Pierre-Gilles

Use the switch icon for the thermostat operating state feature
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Add workflow_dispatch backfill to labeler and classification workflows
  .github/workflows/pr-classify.yml
  .github/workflows/pr-labeler.yml
Owners: @VonOx, @Pierre-Gilles

Add area:database label for migrations and models changes
  .github/labeler.yml
Owners: @Pierre-Gilles

Add aiChatModels.js to the area:ai label mapping
  .github/labeler.yml
Owners: @Pierre-Gilles

Rename Scaleway secret to SCALEWAY_API_KEY
  .github/workflows/pr-classify.yml
Owners: @VonOx, @Pierre-Gilles

Address review feedback on label workflows
  .github/workflows/pr-classify.yml
  .github/workflows/pr-labeler.yml
Owners: @VonOx, @Pierre-Gilles

Add GitHub label automation (area labeler, LLM type classification) and PR template (#2728)
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/pr-classify.yml
  .github/workflows/pr-labeler.yml
Owners: @Pierre-Gilles, @VonOx

fix(i18n): agree French adjective visibles with plural
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(bluetooth): clean up scan state when scanning fails to start
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
Owners: @atrovato

Fix gateway backup OOM: bound DuckDB memory during the backup export
  server/lib/gateway/gateway.backup.js
  server/models/index.js
  server/test/lib/gateway/gateway.backup.test.js
  server/test/models/index.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add SONOFF SWV sma
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/WaterValveDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterValveDeviceState.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
  server/test/services/zigbee2mqtt/utils/payloads/SWV.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Zigbee2mqtt: SONOFF SWV - restrict selectable units per feature type
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

add numericType tests for water valve features
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: SONOFF SWV - address PR review feedback
  front/src/components/boxs/device-in-room/device-features/sensor-value/WaterValveDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/triggers/device-states/BinaryDeviceState.jsx
Owners: @Pierre-Gilles, @atrovato

AI chat: stop reporting values for rooms without a sensor
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatValue.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatValue.test.js
Owners: @Pierre-Gilles

Raise the JSON body limit on the external integrations host API
  docs/specs/external-integrations.md
  server/api/index.js
  server/api/middlewares/errorMiddleware.js
  server/api/middlewares/jsonBodyMiddleware.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/middlewares/errorMiddleware.test.js
  server/test/middlewares/jsonBodyMiddleware.test.js
  server/utils/httpErrors.js
Owners: @Pierre-Gilles

AI chat: align the stale sensor wording with the 48h convention
  server/config/prompts/aiChat.prompt.txt
Owners: @Pierre-Gilles

MCP: do not treat the Unix epoch as a missing timestamp
  server/services/mcp/lib/formatValue.js
  server/test/services/mcp/lib/formatValue.test.js
Owners: @Pierre-Gilles

Fix gateway backup OOM: bound DuckDB memory during the backup export (#2722)
  server/lib/gateway/gateway.backup.js
  server/models/index.js
  server/test/lib/gateway/gateway.backup.test.js
  server/test/models/index.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
