Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Reword leak sensor values (#1608)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Add new data, datarate, precipitation category and units (#1601)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix Broadlink labels (#1606)
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/remote-page/RemoteFeatureEditionPanel.jsx
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

fix for review
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  server/lib/device/device.destroyByServiceId.js
  server/lib/device/device.saveHistoricalState.js
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/utils/withings.getAndSaveBatteryLevel.js
  server/test/services/withings/api/oauth2/oauth2.controller.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

Add Broadlink cover devices (#1607)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/remote-page/features.js
Owners: @Pierre-Gilles

Scene: Fix #1605, improve HTTP request response parser to handle null & array (#1612)
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Tasmota: Add more temp devices (#1570)
  server/services/tasmota/lib/features/device_temperature.js
  server/services/tasmota/lib/features/index.js
  server/services/tasmota/lib/features/temperature.js
  server/test/services/tasmota/lib/device-creation/BL09XX.json
  server/test/services/tasmota/lib/device-creation/DS18B20.json
  server/test/services/tasmota/lib/device-creation/ESP32.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
Owners: @atrovato

Delete docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Handle Zigbee2mqtt cover devices (#1577)
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/routes/integration/all/zigbee2mqtt/edit-page/index.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/exposes/actionEnumType.test.js
  server/test/services/zigbee2mqtt/exposes/coverEnumType.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/payloads/single_mqtt_device.json
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/feature/buildFeature.test.js
  server/test/services/zigbee2mqtt/utils/payloads/CCT5015.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/test/services/zigbee2mqtt/utils/realZigbee2mqttDevices.test.js
Owners: @Pierre-Gilles

fix for review
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/oauth2-client/index.js
  server/services/withings/lib/oauth2-client/oauth2.buildAuthorizationUri.js
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
  server/services/withings/lib/oauth2-client/oauth2.getAccessToken.js
  server/services/withings/lib/oauth2-client/utils/constants.js
  server/services/withings/lib/withings.init.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/oauth2-client/oauth2manager.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.initDevices.test.js
  server/test/services/withings/lib/withings.poll.test.js
  server/test/services/withings/lib/withings.serverMock.test.js
Owners: @Pierre-Gilles

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Delete docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Fix accessory subtype
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/createBridge.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/homekit/lib/buildAccessory.test.js
Owners: @Pierre-Gilles

Fix temperature parser
  server/services/tasmota/lib/features/temperature.js
  server/test/services/tasmota/lib/device-creation/THR320.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

Add new thermostat temperature device
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add multiple buttons features (#1572)
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertFeature.js
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
  server/services/zigbee2mqtt/utils/features/completeFeature.js
  server/services/zigbee2mqtt/utils/features/mapExpose.js
  server/test/services/zigbee2mqtt/exposes/actionEnumType.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/utils/feature/buildFeatures.test.js
Owners: @Pierre-Gilles

Tasmota: Fix temperature parser (#1614)
  server/services/tasmota/lib/features/temperature.js
  server/test/services/tasmota/lib/device-creation/THR320.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

Core: Add new saveHistoricalState function + event (#1613)
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveHistoricalState.js
  server/lib/device/index.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Send created at on event new state
  server/services/enedis/lib/enedis.sync.js
Owners: @Pierre-Gilles

Fix #1503: In scene, sort variables to avoid bad replacement in text (#1504)
  front/src/components/scene/TextWithVariablesInjected.jsx
Owners: @Pierre-Gilles

Add button to convert Z-Wave device to MQTT device
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave/setup-page/NodeTab.jsx
Owners: @Pierre-Gilles

Open-Zwave: Add button to convert Z-Wave device to MQTT device (#1616)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave/setup-page/NodeTab.jsx
Owners: @Pierre-Gilles

Remove open-zwave step from CI + Docker
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx, @Pierre-Gilles

4.11.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Upgrade apexcharts to v3.35.5
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Delete docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

merge
  server/services/zwavejs2mqtt/lib/constants.js
Owners: @Pierre-Gilles

Clean up
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwavejs2mqtt/discover-page/Node.jsx
  server/services/zwavejs2mqtt/lib/commands/getNodes.js
  server/services/zwavejs2mqtt/lib/constants.js
  server/services/zwavejs2mqtt/lib/events/nodeReady.js
  server/test/services/zwavejs2mqtt/lib/zwaveManager-features.test.js
  server/test/services/zwavejs2mqtt/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Clean up
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwavejs2mqtt/discover-page/Node.jsx
  front/src/routes/integration/all/zwavejs2mqtt/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwavejs2mqtt/discover-page/actions.js
  server/services/zwave/api/zwave.controller.js
  server/services/zwave/lib/commands/zwave.refreshNodeParams.js
  server/services/zwave/lib/index.js
  server/services/zwavejs2mqtt/api/zwavejs2mqtt.controller.js
  server/test/services/zwave/ZwaveMock.test.js
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Clean up
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwavejs2mqtt/discover-page/Node.jsx
  front/src/routes/integration/all/zwavejs2mqtt/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwavejs2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zwavejs2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwavejs2mqtt/settings-page/actions.js
  front/src/routes/integration/all/zwavejs2mqtt/settings-page/index.js
  server/lib/system/system.getContainerDevices.js
  server/services/zwavejs2mqtt/api/zwavejs2mqtt.controller.js
  server/services/zwavejs2mqtt/lib/commands/connect.js
  server/services/zwavejs2mqtt/lib/commands/healNetwork.js
  server/services/zwavejs2mqtt/lib/commands/updateConfiguration.js
  server/services/zwavejs2mqtt/lib/index.js
  server/test/services/zwavejs2mqtt/api/zwavejs2mqtt.controller.test.js
  server/test/services/zwavejs2mqtt/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Clean up
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Revert
  server/services/zwave/api/zwave.controller.js
  server/services/zwave/lib/commands/zwave.refreshNodeParams.js
  server/services/zwave/lib/index.js
  server/test/services/zwave/ZwaveMock.test.js
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Revert
  server/services/zwave/lib/commands/zwave.refreshNodeParams.js
  server/test/services/zwave/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Sensor heat, selector
  server/services/zwavejs2mqtt/lib/commands/getNodes.js
  server/services/zwavejs2mqtt/lib/constants.js
  server/services/zwavejs2mqtt/lib/utils/externalId.js
  server/test/services/zwavejs2mqtt/lib/nodesExpectedResult.json
  server/test/services/zwavejs2mqtt/lib/zwaveManager-features.test.js
  server/test/services/zwavejs2mqtt/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Test cases
  server/services/zwavejs2mqtt/lib/commands/addNode.js
  server/services/zwavejs2mqtt/lib/commands/disconnect.js
  server/services/zwavejs2mqtt/lib/commands/getNodes.js
  server/services/zwavejs2mqtt/lib/commands/removeNode.js
  server/services/zwavejs2mqtt/lib/constants.js
  server/services/zwavejs2mqtt/lib/utils/externalId.js
  server/test/services/zwavejs2mqtt/api/zwavejs2mqtt.controller.test.js
  server/test/services/zwavejs2mqtt/lib/utils/getUnit.test.js
  server/test/services/zwavejs2mqtt/lib/zwaveManager-features.test.js
  server/test/services/zwavejs2mqtt/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
