Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Fix camera list display bug (#1538)
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

Fix #1429: Change Zigbee2mqtt topic for permit join (#1534)
  server/services/zigbee2mqtt/lib/setPermitJoin.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
Owners: @Pierre-Gilles

Alexa integration should not return read_only devices
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

Alexa integration should not return read_only devices (#1539)
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

4.8.10
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Discover devices
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.discoverDevices.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.loadDevices.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.loadDevices.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Bootstraping service
  server/services/index.js
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/index.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.connect.js
  server/services/tuya/lib/tuya.disconnect.js
  server/services/tuya/package.json
  server/test/services/tuya/index.test.js
  server/test/services/tuya/mock/tuya.mock.test.js
Owners: @Pierre-Gilles

Custom token store
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.getAccessToken.js
  server/services/tuya/lib/tuya.getRefreshToken.js
  server/services/tuya/lib/tuya.saveTokens.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/lib/tuya.getAccessToken.test.js
  server/test/services/tuya/lib/tuya.getRefreshToken.test.js
  server/test/services/tuya/lib/tuya.saveTokens.test.js
Owners: @Pierre-Gilles

Connect to cloud
  server/services/tuya/index.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.connect.js
  server/services/tuya/lib/tuya.disconnect.js
  server/services/tuya/lib/tuya.getConfiguration.js
  server/services/tuya/lib/tuya.init.js
  server/services/tuya/lib/tuya.saveConfiguration.js
  server/services/tuya/lib/tuya.setTokens.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/services/tuya/package-lock.json
  server/services/tuya/package.json
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/tuya.connect.test.js
  server/test/services/tuya/lib/tuya.disconnect.test.js
  server/test/services/tuya/lib/tuya.getConfiguration.test.js
  server/test/services/tuya/lib/tuya.init.test.js
  server/test/services/tuya/lib/tuya.saveConfiguration.test.js
  server/test/services/tuya/lib/tuya.setTokens.test.js
  server/test/services/tuya/mock/tuya.mock.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Cotniue on device mapping
  server/services/tuya/lib/device/feature/tuya.categoryAndTypeMapping.js
  server/services/tuya/lib/device/feature/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.discoverDevices.js
Owners: @Pierre-Gilles

Unit and types converters
  server/services/tuya/lib/device/feature/tuya.convertFeature.js
  server/services/tuya/lib/device/feature/tuya.convertUnit.js
  server/services/tuya/lib/device/feature/type/index.js
  server/services/tuya/lib/device/feature/type/tuya.boolean.js
  server/services/tuya/lib/device/feature/type/tuya.enum.js
  server/services/tuya/lib/device/feature/type/tuya.integer.js
  server/test/services/tuya/lib/device/feature/tuya.convertUnit.test.js
  server/test/services/tuya/lib/device/feature/type/tuya.boolean.test.js
  server/test/services/tuya/lib/device/feature/type/tuya.enum.test.js
  server/test/services/tuya/lib/device/feature/type/tuya.integer.test.js
Owners: @Pierre-Gilles

HSV color management
  server/test/utils/colors.test.js
  server/utils/colors.js
Owners: @Pierre-Gilles

Dev doc
  server/services/tuya/README.md
Owners: @Pierre-Gilles

Add new generic component to inject variable in input/textarea in scenes
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Owners: @Pierre-Gilles

Add variable injection in http request action component
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
Owners: @Pierre-Gilles

prettier after the merge
  front/src/components/app.jsx
Owners: @Pierre-Gilles

Add missing feature
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

RELAIS must be in numeric type
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Push docker images to GHCR
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Set min max values
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

fix(typo): Light scenes labels
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(typo): MQTT information text
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Upgrade zwave-js
  server/services/zwave/package.json
Owners: @Pierre-Gilles

Fix typo in light scenes labels and MQTT (#1544)
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Push docker images to Github Container registry in addition to Docker hub (#1542)
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Add the ability to inject variables in the "Http Request" action in scenes (#1540)
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
Owners: @Pierre-Gilles

Caldav: Remove VTODO only calendar (#1531)
  server/services/caldav/lib/calendar/calendar.requests.js
Owners: @bertrandda

Zigbee2mqtt: Add support for Sonoff SNZB-01 (#1525)
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Duplicate scene
  .gitignore
  front/cypress/integration/routes/scene/Scene.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.duplicate.js
  server/seeders/20190227043234-scene.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

fix coverage
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

Fix integration search/sort form
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Fix sync deleted event
  server/services/caldav/lib/calendar/calendar.requests.js
  server/test/services/caldav/lib/calendar/requests.test.js
Owners: @bertrandda

Add new HSB color converter for alexa
  server/test/utils/colors.test.js
  server/utils/colors.js
Owners: @Pierre-Gilles

Add alexa colors & brightness capabilities
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
  server/utils/colors.js
Owners: @Pierre-Gilles

Add handler for BrightnessController & ColorController in gateway
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/test/lib/gateway/gateway.handleAlexaMessage.test.js
Owners: @Pierre-Gilles

Divide color unit by 100
  server/services/alexa/lib/deviceMappings.js
  server/test/lib/gateway/gateway.handleAlexaMessage.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

Handle AdjustBrightness directive
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

Add boundarie to brightness + turn on/off the lights when changing brightness colors
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

brightnessDelta should be a relative change
  server/services/alexa/lib/deviceMappings.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
