Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Fix #1293 : Telegram messages should be formatted with the right user unit preferences
  server/lib/user/user.getByTelegramUserId.js
  server/test/lib/user/user.getByTelegramUserId.test.js
Owners: @Pierre-Gilles

Fix #1293 : Telegram messages should be formatted with the right user unit preferences (#1363)
  server/lib/user/user.getByTelegramUserId.js
  server/test/lib/user/user.getByTelegramUserId.test.js
Owners: @Pierre-Gilles

Using get to avoid undefined on cameraRotation
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Owners: @Pierre-Gilles

Revert "Add demo data"
  front/src/config/demo.json
Owners: @Pierre-Gilles

add demo data
  front/src/config/demo.js
Owners: @Pierre-Gilles

Check missing unit / feature translations
  front/cli/check_translations.js
  front/package.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Owners: @Pierre-Gilles

Backward compatibility
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

Fix hours recur events
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/services/caldav/lib/calendar/formaters.test.js
Owners: @bertrandda

Use shared calendar
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CheckCalendarEvent.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventTrigger.jsx
  server/lib/calendar/calendar.getEvents.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.addScene.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/services/caldav/index.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @bertrandda

Add schedule in task page
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/SettingsBackgroundJobs.jsx
  server/lib/job/index.js
  server/lib/job/job.get.js
Owners: @Pierre-Gilles

fix synch package-lock.json
  server/package-lock.json
Owners: @Pierre-Gilles

Update Cypress CI script
  .github/workflows/docker-pr-build.yml
  server/cli/install_service_dependencies.js
Owners: @VonOx, @Pierre-Gilles

Silent fail on service install
  server/cli/install_service_dependencies.js
  server/package.json
Owners: @Pierre-Gilles

Fix bluetooth cypress tests
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceList.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothDiscover.js
  front/cypress/support/commands.js
Owners: @atrovato, @Pierre-Gilles

Re-enable bluetooth cy test
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceEdit.js
Owners: @atrovato

Fix cypress timed out test
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothDiscover.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothStateChange.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
Owners: @atrovato

Rename method and add better description
  server/services/tasmota/lib/tasmota.mergeWithExistingDevice.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/test/utils/device.test.js
  server/utils/device.js
Owners: @atrovato, @Pierre-Gilles

Update zigbee2mqtt device
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  server/services/tasmota/lib/tasmota.mergeWithExistingDevice.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/feature/buildFeature.test.js
  server/test/utils/device.test.js
  server/utils/device.js
Owners: @Pierre-Gilles, @atrovato

[MQTT] User must know if connected or not Fixes #1016
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
Owners: @Pierre-Gilles, @atrovato

Temp theme
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

fix dotenv link
  server/package.json
Owners: @Pierre-Gilles

Rename translateWeatherToFeIcon
  front/src/actions/dashboard/boxes/weather.js
Owners: @Pierre-Gilles

Thunderstorm have a icon now
  front/src/actions/dashboard/boxes/weather.js
Owners: @Pierre-Gilles

Fix + add new icons
  front/src/components/device/view/BatteryLevelFeature.jsx
  front/src/components/device/view/DeviceFeature.jsx
  front/src/routes/integration/all/ewelink/EweLinkDeviceBox.jsx
  server/config/icons.json
  server/seeders/20190227043234-scene.js
Owners: @Pierre-Gilles, @NickDub

Fix dotenv path
  server/package.json
Owners: @Pierre-Gilles

no dotenv in production mode
  server/cli/install_service_dependencies.js
Owners: @Pierre-Gilles

Review
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  server/lib/calendar/calendar.getEvents.js
  server/lib/job/job.get.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.dailyUpdate.js
Owners: @Pierre-Gilles

Update scene.addScene.js
  server/lib/scene/scene.addScene.js
Owners: @Pierre-Gilles

Check missing unit / feature translations (#1366)
  front/cli/check_translations.js
  front/package.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Owners: @Pierre-Gilles

change to layout-grid ( was grid in feather icon )
  front/src/components/header/index.jsx
  front/src/routes/settings/SettingsLayout.jsx
Owners: @Pierre-Gilles

Update package
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

icon class
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Owners: @Pierre-Gilles, @atrovato

demo fix
  front/src/config/demo.js
Owners: @Pierre-Gilles

missing lucide class
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/routes/scene/edit-scene/ActionCard.jsx
Owners: @Pierre-Gilles

Bad replace
  front/src/components/header/index.jsx
Owners: @Pierre-Gilles

Fix state on get discovered devices
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
Owners: @Pierre-Gilles

Zigbee2mqtt add update device button (#1335)
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  server/services/tasmota/lib/tasmota.mergeWithExistingDevice.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/feature/buildFeature.test.js
  server/test/utils/device.test.js
  server/utils/device.js
Owners: @Pierre-Gilles, @atrovato

Fix #1356: Wrong date for recurring events (#1367)
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/services/caldav/lib/calendar/formaters.test.js
Owners: @bertrandda

MQTT: User must know if broker is connected or not (#1349)
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
Owners: @Pierre-Gilles, @atrovato

Fix Bluetooth cypress tests (#1252)
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceEdit.js
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceList.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothDiscover.js
  front/cypress/integration/routes/integration/bluetooth/discover/BluetoothStateChange.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
  front/cypress/support/commands.js
Owners: @atrovato, @Pierre-Gilles
