Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Clean old open-zwave integration
  front/src/assets/integrations/cover/zwave.jpg
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zwave/ZwavePage.js
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/node-page/index.js
  front/src/routes/integration/all/zwave/node-page/style.css
Owners: @Pierre-Gilles

Clean old open-zwave integration (#2237)
  front/src/assets/integrations/cover/zwave.jpg
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/zwave/ZwavePage.js
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
  front/src/routes/integration/all/zwave/node-page/actions.js
  front/src/routes/integration/all/zwave/node-page/index.js
  front/src/routes/integration/all/zwave/node-page/style.css
Owners: @Pierre-Gilles

Send reset password link to Telegram or NextCloud talk if configured
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/user.controller.js
  server/api/middlewares/errorMiddleware.js
  server/config/brain/user/answers.en.json
  server/config/brain/user/answers.fr.json
  server/lib/index.js
  server/lib/user/user.forgotPassword.js
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
  server/test/bootstrap.test.js
  server/test/lib/user/user.forgotPassword.test.js
Owners: @Pierre-Gilles

Add a message explaining how to access the logs
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/forgot-password/ForgotPasswordPage.jsx
Owners: @Pierre-Gilles

ZwaveJS / MQTT : Better handle MQTT reconnection when broker is unavailable (#2236)
  server/services/mqtt/lib/connect.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
  server/services/zwavejs-ui/lib/zwaveJSUI.connect.js
  server/services/zwavejs-ui/package-lock.json
  server/services/zwavejs-ui/package.json
  server/test/services/mqtt/lib/connect.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.connect.test.js
Owners: @atrovato, @Pierre-Gilles

Scene : Add condition if then else
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/EmptyDropZone.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/CheckTime.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/actions/EcowattCondition.jsx
  front/src/routes/scene/edit-scene/actions/EdfTempoCondition.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/index.js
  server/models/scene.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add deleteActionGroup + backend model
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/DelayActionParams.jsx
  front/src/routes/scene/edit-scene/index.js
  server/models/scene.js
Owners: @Pierre-Gilles

Remove log
  front/src/routes/scene/edit-scene/EmptyDropZone.jsx
Owners: @Pierre-Gilles

Fix variables everywhere
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/HttpRequest.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMqttMessage.jsx
  front/src/routes/scene/edit-scene/actions/SendSms.jsx
  front/src/routes/scene/edit-scene/actions/SendZigbee2MqttMessage.jsx
  front/src/routes/scene/edit-scene/actions/SetAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/sceneUtils.js
Owners: @Pierre-Gilles

Variable is only available in the same scope
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/sceneUtils.js
Owners: @Pierre-Gilles

Fix removeActionGroup
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

Modify the text on conditions inside if
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/EdfTempoCondition.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
Owners: @Pierre-Gilles

Modify continue only if translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add server if then else with tests
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.executeActions.js
  server/lib/scene/scene.executeSingleAction.js
  server/test/lib/scene/actions/scene.action.askAi.test.js
  server/test/lib/scene/actions/scene.action.blinkDevices.test.js
  server/test/lib/scene/actions/scene.action.checkAlarmMode.test.js
  server/test/lib/scene/actions/scene.action.checkTime.test.js
  server/test/lib/scene/actions/scene.action.conditionIfThenElse.test.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.ecowattCondition.test.js
  server/test/lib/scene/actions/scene.action.edfTempoCondition.test.js
  server/test/lib/scene/actions/scene.action.getValue.test.js
  server/test/lib/scene/actions/scene.action.httpRequest.test.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/actions/scene.action.playNotification.test.js
  server/test/lib/scene/actions/scene.action.sendCameraMessage.test.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/test/lib/scene/actions/scene.action.sendSms.test.js
  server/test/lib/scene/actions/scene.action.sendZigbee2MqttMessage.test.js
  server/test/lib/scene/actions/scene.action.setAlarmMode.test.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Should test error thrown in if condition
  server/test/lib/scene/actions/scene.action.conditionIfThenElse.test.js
Owners: @Pierre-Gilles

Fix front eslint
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

Fix moveCard
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

If condition should throw error and exit if an unknown error happens
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.executeActions.js
  server/test/lib/scene/actions/scene.action.conditionIfThenElse.test.js
Owners: @Pierre-Gilles

Add translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/sceneUtils.js
Owners: @Pierre-Gilles

Fix eslint
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

feat(z2m): Add power/current/energy variants
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

feat(z2m): Add Tuya Rain
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(z2m): Add smoke_density
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Do not set selector if it already exists
  server/test/lib/house/house.test.js
  server/utils/addSelector.js
Owners: @Pierre-Gilles

Separate addSelector functions
  server/models/area.js
  server/models/calendar.js
  server/models/calendar_event.js
  server/models/dashboard.js
  server/models/device.js
  server/models/device_feature.js
  server/models/house.js
  server/models/room.js
  server/models/scene.js
  server/models/user.js
  server/utils/addSelector.js
Owners: @Pierre-Gilles

Do not set selector if it already exists (#2243)
  server/models/area.js
  server/models/calendar.js
  server/models/calendar_event.js
  server/models/dashboard.js
  server/models/device.js
  server/models/device_feature.js
  server/models/house.js
  server/models/room.js
  server/models/scene.js
  server/models/user.js
  server/test/lib/house/house.test.js
  server/utils/addSelector.js
Owners: @Pierre-Gilles

Send reset password link to Telegram or NextCloud talk if configured (#2238)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/forgot-password/ForgotPasswordPage.jsx
  server/api/controllers/user.controller.js
  server/api/middlewares/errorMiddleware.js
  server/config/brain/user/answers.en.json
  server/config/brain/user/answers.fr.json
  server/lib/index.js
  server/lib/user/user.forgotPassword.js
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
  server/test/bootstrap.test.js
  server/test/lib/user/user.forgotPassword.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add power, current & energy features for Tuya PJ-1203A (#2240)
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Fix drag & drop for moveActionCard
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

Move variables at the correct spot
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

You can only drag & drop action group of the same level
  front/src/routes/scene/edit-scene/ActionGroup.jsx
Owners: @Pierre-Gilles

Add badge with the number of actions when collapsed
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
Owners: @Pierre-Gilles

Remove action group if needed
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

New condition block should have new translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
Owners: @Pierre-Gilles

Remove useless german trad
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

Fix autoscroll mobile
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

MQTT : Add better validation errors on create device form
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @Pierre-Gilles, @atrovato

Scroll to top so the user sees the error
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @atrovato

MQTT : Add better validation errors on create device form (#2244)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @Pierre-Gilles, @atrovato

Improve battery low notification
  server/config/brain/battery-threshold/answers.en.json
  server/config/brain/battery-threshold/answers.fr.json
  server/lib/device/device.checkBatteries.js
  server/test/lib/device/device.checkBatteries.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
