Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

fix cypress
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListNoDevice.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Owners: @Pierre-Gilles

fix cypress
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListNoDevice.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Owners: @Pierre-Gilles

Zigbee2mqtt fix reversed binary (#1517)
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/test/services/zigbee2mqtt/exposes/binaryType.test.js
Owners: @Pierre-Gilles

Redirect to background jobs after backup
  front/src/actions/gateway.js
Owners: @Pierre-Gilles

4.8.5
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Fix max body size chunk
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Should upload backup only at night from 0 to 2 AM
  server/config/scheduler-jobs.js
  server/lib/gateway/gateway.checkIfBackupNeeded.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

Remove backup at startup
  server/lib/gateway/gateway.init.js
Owners: @Pierre-Gilles

Fix linting
  server/lib/gateway/gateway.init.js
Owners: @Pierre-Gilles

Gladys Plus should upload backups in several chunks (#1519)
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/gateway.controller.js
  server/config/scheduler-jobs.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.checkIfBackupNeeded.js
  server/lib/gateway/gateway.downloadBackup.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.test.js
  server/utils/constants.js
  server/utils/readChunk.js
Owners: @Pierre-Gilles

Display 2FA secret in Gladys Plus configure 2FA screen
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-configure-two-factor/ConfigureTwoFactorForm.js
  front/src/routes/gateway-configure-two-factor/index.js
Owners: @Pierre-Gilles

Upgrade front Eslint configuration
  front/.eslintrc.json
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Remove IE11 and old safari
  front/.eslintrc.json
  front/package.json
Owners: @Pierre-Gilles

Remove eslint-config-synacor
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Fix linting
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/utils/withIntlAsProp.js
Owners: @Pierre-Gilles

Upgrade dependencies and remove useless ones
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

added keep history setting by feature
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  server/lib/device/device.create.js
  server/lib/device/device.purgeStates.js
  server/lib/device/index.js
  server/package-lock.json
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.purgeStates.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Fix cypress tests
  front/cypress/integration/routes/dashboard/Dashboard.js
  front/cypress/integration/routes/scene/Scene.js
Owners: @Pierre-Gilles

4.8.6
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Add input id checkbox and cypress tests
  front/cypress/integration/routes/integration/bluetooth/devices/BluetoothDeviceEdit.js
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Owners: @atrovato, @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

add modification
  front/cypress/integration/routes/scene/Scene.js
  server/package-lock.json
Owners: @Pierre-Gilles

fixes to server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStates.js
Owners: @Pierre-Gilles

fix cypress
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListWithDevices.js
Owners: @Pierre-Gilles

fix cypress
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Owners: @Pierre-Gilles

fix cypress
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Owners: @Pierre-Gilles

fix cypress
  front/cypress/integration/routes/integration/withings/settings/WithingsSettingsWithConfig.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettingsWithoutConfig.js
Owners: @Pierre-Gilles

fix cypress
  front/cypress/integration/routes/integration/withings/settings/WithingsSettingsWithConfig.js
Owners: @Pierre-Gilles

fix cypress
  front/cypress/integration/routes/integration/withings/settings/WithingsSettingsWithConfig.js
Owners: @Pierre-Gilles

Correction and simplification of tests
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Fix backup upload fail on wrong progress value
  server/lib/gateway/gateway.backup.js
Owners: @Pierre-Gilles

Switch to .mapSeries to have the right order + slow down upload
  server/lib/gateway/gateway.backup.js
Owners: @Pierre-Gilles

Fix backup upload fail on wrong progress value (#1523)
  server/lib/gateway/gateway.backup.js
Owners: @Pierre-Gilles

4.8.7
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Remove op_mini all
  front/package.json
Owners: @Pierre-Gilles

Fix front tests
  front/src/routes/integration/all/alexa-gateway/Layout.jsx
Owners: @Pierre-Gilles

Add tests on onExecute
  server/services/alexa/lib/alexa.onExecute.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

Add tests on reportState
  server/services/alexa/lib/alexa.onExecute.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
