Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

use react-select
  front/src/components/boxs/chart/EditChart.jsx
  front/src/utils/mergeArray.js
Owners: @Pierre-Gilles

add color palette
  front/src/components/boxs/chart/ApexChartComponent.jsx
Owners: @Pierre-Gilles

add de translations
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

rename siren volume to lmh_volume
  front/src/components/boxs/device-in-room/device-features/LMHVolumeDeviceFeature.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  server/test/services/zigbee2mqtt/exposes/volumeEnumType.test.js
Owners: @Pierre-Gilles

MQTT: Fix setup page of Firefox
  front/src/routes/integration/all/mqtt/setup-page/index.js
Owners: @atrovato

MQTT: Fix setup page on Firefox (#2046)
  front/src/routes/integration/all/mqtt/setup-page/index.js
Owners: @atrovato

4.38.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Try solution --no-audit
  docker/Dockerfile.buildx
Owners: @VonOx

colors not nullable anymore
  server/models/dashboard.js
Owners: @Pierre-Gilles

prepare color trads
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

translate colors in options
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

fix siren volume in supported feature type
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: Add siren neo nas-ab02b2 (#2034)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/LMHVolumeDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/exposes/melodyEnumType.test.js
  server/test/services/zigbee2mqtt/exposes/volumeEnumType.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Dashboard: Customize chart colors (#2045)
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/mergeArray.js
  server/models/dashboard.js
Owners: @Pierre-Gilles

Session: get refresh token from local storage in case not in ram already
  front/src/utils/Session.js
Owners: @Pierre-Gilles

Session: get refresh token from local storage in case not in ram already (#2048)
  front/src/utils/Session.js
Owners: @Pierre-Gilles

4.38.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Fix codecov report upload fail
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Fix codecov report upload fail (#2049)
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

4.38.3
  package-lock.json
  package.json
Owners: @Pierre-Gilles

change name of siren volume feature
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Owners: @Pierre-Gilles

fix en & de translation
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

add icon to music feature types
  front/src/utils/consts.js
Owners: @Pierre-Gilles

fix prettier
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Fix TV volume feature after siren release (#2050)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Owners: @Pierre-Gilles

4.38.4
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update version 2.0.15 to 2.0.18 for eclipse-mosquitto-container.json
  server/services/mqtt/docker/eclipse-mosquitto-container.json
Owners: @atrovato

Update with last version of mqtt broker gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
Owners: @Pierre-Gilles

Scheduled Triggers: Frontend should add default values
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
Owners: @Pierre-Gilles

Backend should prevent scene from crashing Gladys at startup
  server/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.init.js
  server/test/lib/scene/scene.init.test.js
Owners: @Pierre-Gilles

Fix #2052: Prevent crash with scheduled trigger (#2054)
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  server/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.init.js
  server/test/lib/scene/scene.init.test.js
Owners: @Pierre-Gilles

Scene: Should not delete tags when patching scene without tags
  server/lib/scene/scene.update.js
  server/test/lib/scene/scene.update.test.js
Owners: @Pierre-Gilles

Fix #2000 : Should not delete tags when patching scene without tags (#2055)
  server/lib/scene/scene.update.js
  server/test/lib/scene/scene.update.test.js
Owners: @Pierre-Gilles

EDF Tempo widget on dashboard
  front/src/components/boxs/edf-tempo/EdfTempo.jsx
  front/src/components/boxs/edf-tempo/EditEdfTempo.jsx
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/services/edf-tempo/controllers/edf-tempo.controller.js
  server/services/edf-tempo/index.js
  server/services/edf-tempo/package-lock.json
  server/services/edf-tempo/package.json
  server/services/index.js
  server/test/services/edf-tempo/edf-tempo.controller.test.js
  server/test/services/edf-tempo/index.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add condition in scene for EDF Tempo + translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/EdfTempoCondition.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/scene/actions/scene.action.edfTempoCondition.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add command to start demo mode
  front/package.json
Owners: @Pierre-Gilles

Add EDF tempo demo data
  front/src/config/demo.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Remove duplicate features in getDiscoveredDevices to fix bug on Aqara motion sensor
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/payloads/aqara_with_duplicate_feature_mqtt.json
Owners: @Pierre-Gilles

Gladys Plus: Fix bug backups local screen
  front/src/routes/settings/settings-backup/index.js
Owners: @Pierre-Gilles
