Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Update Matter.js to 0.16.10 and adapt code
  server/package-lock.json
  server/package.json
  server/services/matter/lib/matter.getNodes.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/package-lock.json
  server/services/matter/package.json
  server/services/matter/utils/convertToGladysDevice.js
Owners: @Pierre-Gilles

adapt tests and listenToStateChange
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.getNodes.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
  server/test/services/matter/lib/matter.setValue.test.js
Owners: @Pierre-Gilles

Add cleaner log to device.newStateEvent in case device was not added to Gladys
  server/lib/device/device.newStateEvent.js
  server/test/lib/device/device.newStateEvent.test.js
Owners: @Pierre-Gilles

refreshDevices should be non-blocking during startup to avoid blocking Gladys
  server/services/matter/lib/matter.init.js
  server/test/services/matter/lib/matter.init.test.js
Owners: @Pierre-Gilles

Fix linting & prettier
  server/lib/device/device.newStateEvent.js
  server/test/lib/device/device.newStateEvent.test.js
Owners: @Pierre-Gilles

Add missing test for coverage
  server/test/services/matter/lib/matter.init.test.js
Owners: @Pierre-Gilles

Fix linting
  server/test/services/matter/lib/matter.init.test.js
Owners: @Pierre-Gilles

Nuki: Should not process all homeassistant discovery messages
  server/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.test.js
Owners: @atrovato

Fix feedbacks
  server/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.test.js
Owners: @atrovato

Should not listen to wildcard homeassistant topic at Gladys startup, only on scan
  server/services/nuki/lib/mqtt/nuki.mqtt.connect.js
Owners: @atrovato

refreshDevices should not fail completely if one device fail
  server/services/matter/lib/matter.refreshDevices.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/nuki/lib/mqtt/nuki.mqtt.connect.test.js
Owners: @atrovato

Add scan timeout to remove subscription after scanning
  server/services/nuki/lib/mqtt/index.js
  server/services/nuki/lib/mqtt/nuki.mqtt.disconnect.js
  server/services/nuki/lib/mqtt/nuki.mqtt.scan.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
Owners: @atrovato

Improve test naming + improve coverage
  server/test/services/nuki/lib/mqtt/nuki.mqtt.connect.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.disconnect.test.js
Owners: @atrovato

MQTT integration is now "MQTT Virtual Devices"
  front/src/assets/integrations/cover/mqtt.jpg
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
Owners: @Pierre-Gilles, @atrovato

Energy Monitoring : Fix bug when meter device was deleted
  server/lib/energy-price/price.getDefaultElectricMeterFeatureId.js
  server/test/lib/energy-price/price.getDefaultElectricMeterFeatureId.test.js
Owners: @Pierre-Gilles

Energy Monitoring : Fix bug when meter device was deleted (#2504)
  server/lib/energy-price/price.getDefaultElectricMeterFeatureId.js
  server/test/lib/energy-price/price.getDefaultElectricMeterFeatureId.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Fix device update bug because of energy monitoring
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

Make sure ids are not changing
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Fix device update bug because of energy monitoring (#2505)
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

Make backup restore more robust
  server/lib/gateway/gateway.downloadBackup.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/malicious-backup-with-symlink.tar.gz.enc
  server/test/utils/childProcess.test.js
  server/utils/childProcess.js
Owners: @Pierre-Gilles

Improve fix
  server/lib/gateway/gateway.downloadBackup.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/malicious-backup-nested-traversal.tar.gz.enc
Owners: @Pierre-Gilles

Fix test
  server/test/utils/childProcess.test.js
Owners: @Pierre-Gilles

Make backup restore more robust (#2506)
  server/lib/gateway/gateway.downloadBackup.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/malicious-backup-nested-traversal.tar.gz.enc
  server/test/lib/gateway/malicious-backup-with-symlink.tar.gz.enc
  server/test/utils/childProcess.test.js
  server/utils/childProcess.js
Owners: @Pierre-Gilles

Make backup restore more robust with execFile for openssl
  server/lib/gateway/gateway.downloadBackup.js
Owners: @Pierre-Gilles

Make backup restore more robust with execFile for openssl (#2507)
  server/lib/gateway/gateway.downloadBackup.js
Owners: @Pierre-Gilles

MQTT integration is now "MQTT Virtual Devices" (#2503)
  front/src/assets/integrations/cover/mqtt.jpg
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
Owners: @Pierre-Gilles, @atrovato

Hide button if not secure
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
Owners: @bertrandda

feat(front): Add integration tags
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/config/integrations/devices.json
  front/src/config/integrations/weathers.json
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/style/index.css
Owners: @Pierre-Gilles

fix: Move Energy Monitoring integration to local only tag
  front/src/config/integrations/devices.json
Owners: @Pierre-Gilles

fix: Take PR feedbacks in account
  front/src/config/integrations/calendars.json
  front/src/config/integrations/devices.json
Owners: @Pierre-Gilles

feat(integrations): Add tagging
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/calendars.json
  front/src/config/integrations/communications.json
  front/src/config/integrations/devices.json
  front/src/config/integrations/weathers.json
  front/src/routes/integration/IntegrationCategory.jsx
Owners: @Pierre-Gilles

Caldav: Display errors in service configuration (#2498)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/account-page/actions.js
  front/src/routes/integration/all/caldav/account-page/index.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/config/index.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
  server/test/services/caldav/lib/config/index.test.js
Owners: @Pierre-Gilles, @bertrandda

Upgrade preact-router & qrcode
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Replace uuid by native function
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/lib/scene/scene.addScene.js
  server/lib/user/user.create.js
  server/package-lock.json
  server/package.json
  server/services/alexa/lib/alexa.onDiscovery.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/package-lock.json
  server/services/alexa/package.json
  server/services/homekit/lib/createBridge.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/services/nextcloud-talk/lib/message/message.new.js
  server/services/nextcloud-talk/lib/message/message.send.js
  server/services/nextcloud-talk/package-lock.json
  server/services/nextcloud-talk/package.json
  server/services/tasmota/package-lock.json
  server/services/tasmota/package.json
  server/services/telegram/lib/message.new.js
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
  server/test/lib/device/device.migrateFromSQLiteToDuckDb.test.js
  server/test/lib/device/device.purgeAllSqliteStates.test.js
  server/test/lib/device/device.purgeStatesByFeatureId.test.js
Owners: @Pierre-Gilles, @atrovato

Replace get-value by optional chaining when possible
  server/lib/device/device.notify.js
  server/lib/device/device.poll.js
  server/lib/device/device.setValue.js
  server/lib/gateway/enedis/gateway.enedisGetConsumptionLoadCurve.js
  server/lib/gateway/enedis/gateway.enedisGetDailyConsumption.js
  server/lib/gateway/enedis/gateway.enedisGetDailyConsumptionMaxPower.js
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/lib/gateway/gateway.getBackups.js
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/lib/gateway/gateway.getUsersKeys.js
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/lib/gateway/gateway.handleGoogleHomeMessage.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/gateway.login.js
  server/lib/gateway/gateway.openAIAsk.js
  server/lib/system/system.getContainers.js
  server/lib/system/system.getNetworkMode.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/services/alexa/package-lock.json
  server/services/alexa/package.json
  server/services/enedis/package-lock.json
  server/services/enedis/package.json
  server/services/melcloud/lib/device/melcloud.convertDevice.js
  server/services/melcloud/package-lock.json
  server/services/melcloud/package.json
  server/services/nextcloud-talk/lib/bot/bot.poll.js
  server/services/nextcloud-talk/package-lock.json
  server/services/nextcloud-talk/package.json
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
  server/utils/device.js
Owners: @Pierre-Gilles

Replace debounce dep by native
  front/package-lock.json
  front/package.json
  front/src/actions/house.js
  front/src/actions/scene.js
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/routes/integration/all/airplay/device-page/DeviceTab.jsx
  front/src/routes/integration/all/bluetooth/device-page/actions.js
  front/src/routes/integration/all/broadlink/device-page/actions.js
  front/src/routes/integration/all/ewelink/actions.js
  front/src/routes/integration/all/google-cast/device-page/DeviceTab.jsx
  front/src/routes/integration/all/lan-manager/device-page/actions.js
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/melcloud/device-page/DeviceTab.jsx
  front/src/routes/integration/all/mqtt/device-page/actions.js
  front/src/routes/integration/all/netatmo/device-page/DeviceTab.jsx
  front/src/routes/integration/all/philips-hue/device-page/actions.js
  front/src/routes/integration/all/rtsp-camera/actions.js
  front/src/routes/integration/all/sonos/device-page/DeviceTab.jsx
  front/src/routes/integration/all/tasmota/actions.js
  front/src/routes/integration/all/tp-link/device-page/actions.js
  front/src/routes/integration/all/tuya/device-page/DeviceTab.jsx
  front/src/routes/integration/all/xiaomi/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zwavejs-ui/device-page/DeviceTab.jsx
  front/src/routes/integration/index.js
  front/src/routes/scene/index.js
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/utils/debounce.js
Owners: @Pierre-Gilles, @atrovato, @NickDub, @thibautmery, @Terdious, @VonOx, @hotfix31, @cicoub13

Use local debounce for Nuki
  front/src/routes/integration/all/nuki/device-page/DeviceTab.jsx
Owners: @Pierre-Gilles

Remove unused form-data
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Remove uuid in energy-monitoring
  server/services/edf-tempo/package-lock.json
  server/services/edf-tempo/package.json
  server/services/energy-monitoring/package-lock.json
  server/services/energy-monitoring/package.json
  server/services/energy-monitoring/utils/addEnergyFeatures.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
