Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Props min/max
  front/src/components/boxs/device-in-room/device-features/BrightnessDeviceFeature.jsx
Owners: @Pierre-Gilles

Render only device name
  front/src/components/boxs/device-in-room/device-features/BrightnessDeviceFeature.jsx
Owners: @Pierre-Gilles

Add test
  server/test/services/philips-hue/light/light.setValue.test.js
  server/test/services/philips-hue/mocks.test.js
Owners: @VonOx, @hotfix31

Sunrise / Sunset
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.checkTrigger.test.js
Owners: @Pierre-Gilles

prettier
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

fix after review
  front/src/config/i18n/fr.json
  server/lib/scene/scene.dailyUpdate.js
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Sunrise / Sunset
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.dailyUpdate.js
  server/lib/scene/scene.init.js
  server/lib/scene/scene.triggers.js
  server/package-lock.json
  server/package.json
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/scene.dailyUpdate.test.js
  server/test/lib/scene/scene.init.test.js
  server/test/services/openweather/openweather.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @callemand

Fix test
  server/lib/scene/index.js
  server/lib/scene/scene.dailyUpdate.js
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Update sunset/sunrise event when house is created/updated/deleted
  server/lib/house/house.create.js
  server/lib/house/house.destroy.js
  server/lib/house/house.update.js
  server/lib/scene/index.js
  server/test/lib/house/house.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Prettier
  server/test/lib/scene/scene.checkTrigger.test.js
Owners: @Pierre-Gilles

Sunrise / Sunset
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
  server/test/lib/scene/scene.addScene.test.js
Owners: @Pierre-Gilles

prettier
  server/lib/scene/scene.dailyUpdate.js
  server/package.json
Owners: @Pierre-Gilles

Fix unit test
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.dailyUpdate.js
  server/lib/scene/scene.init.js
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Fix after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
  server/test/lib/scene/scene.checkTrigger.test.js
Owners: @Pierre-Gilles

Update sunset/sunrise event when house is created/updated/deleted
  server/lib/scene/index.js
  server/lib/scene/scene.dailyUpdate.js
  server/package.json
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Add warning box
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
Owners: @Pierre-Gilles

fix test
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Valid house
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
Owners: @Pierre-Gilles

prettier test
  server/test/services/philips-hue/mocks.test.js
Owners: @VonOx, @hotfix31

Fix after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
  server/lib/house/house.create.js
  server/lib/house/house.destroy.js
  server/lib/house/house.update.js
  server/lib/scene/index.js
  server/test/lib/house/house.test.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/services/openweather/openweather.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @callemand

Change UI from date to day and add sentence into chat
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/weather/index.js
  server/lib/weather/weather.command.js
  server/package.json
  server/test/lib/weather/weather.command.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

prettier
  front/src/actions/dashboard/boxes/weather.js
  server/lib/weather/weather.command.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

update package-lock.json
  server/package-lock.json
Owners: @Pierre-Gilles

add some test for failed scenario
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

fix weather-after.tomorrow
  server/config/brain/weather/questions.en.json
  server/config/brain/weather/questions.fr.json
Owners: @Pierre-Gilles

Add weather sentence from https://github.com/GladysAssistant/Gladys/pull/1010/files
  server/config/brain/weather/answers.en.json
  server/config/brain/weather/answers.fr.json
  server/config/brain/weather/questions.en.json
  server/config/brain/weather/questions.fr.json
Owners: @Pierre-Gilles

Fix after review
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/weather/weather.command.js
  server/lib/weather/weather.error.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

pretty
  server/config/brain/weather/questions.en.json
Owners: @Pierre-Gilles

prettier front
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
Owners: @Pierre-Gilles

Prettier
  server/config/brain/weather/answers.en.json
Owners: @Pierre-Gilles

Add weather into brain
  front/src/actions/dashboard/boxes/weather.js
  server/config/brain/weather/answers.en.json
  server/config/brain/weather/answers.fr.json
  server/config/brain/weather/questions.en.json
  server/config/brain/weather/questions.fr.json
  server/lib/weather/weather.command.js
  server/services/openweather/lib/formatResults.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles, @callemand

Fix after review
  front/src/components/boxs/weather/WeatherBox.jsx
Owners: @Pierre-Gilles

Fix after review
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/weather/weather.command.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add weather into brain
  server/config/brain/weather/answers.en.json
  server/config/brain/weather/answers.fr.json
  server/lib/weather/weather.command.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

Fix after review
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix test
  server/test/services/openweather/openweather.test.js
Owners: @callemand

npm install
  server/package-lock.json
Owners: @Pierre-Gilles

upgrade node-nlp
  server/config/brain/weather/questions.fr.json
  server/lib/brain/brain.getReply.js
  server/lib/brain/brain.train.js
  server/lib/brain/index.js
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Change answers EN
  server/config/brain/weather/answers.en.json
Owners: @Pierre-Gilles

prettier
  server/test/services/openweather/openweather.test.js
Owners: @callemand
