Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

MQTT: Add conflict error when creating a device with same selector
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @atrovato

Update error message
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Scene: In device.set-value action, binary feature should default to 0 (#1901)
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
Owners: @Pierre-Gilles

MQTT: Add conflict error when creating a device with same selector (#1902)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @Pierre-Gilles, @atrovato

Alarm Mode (backend+ test) + part of unlock UI
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/i18n/fr.json
  front/src/routes/locked/index.js
  front/src/routes/locked/style.css
  server/lib/house/house.arm.js
  server/lib/house/house.disarm.js
  server/lib/house/house.disarmWithCode.js
  server/lib/house/house.panic.js
  server/lib/house/house.partialArm.js
  server/lib/house/index.js
  server/migrations/20230929085337-alarm-mode.js
  server/models/house.js
  server/test/lib/house/house.arm.test.js
  server/test/lib/house/house.disarm.test.js
  server/test/lib/house/house.disarmWithCode.test.js
  server/test/lib/house/house.panic.test.js
  server/test/lib/house/house.partialArm.test.js
  server/utils/constants.js
  server/utils/coreErrors.js
Owners: @Pierre-Gilles

Fixes following note during server tests (pull_request)
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/test/controllers/device/device.controller.test.js
Owners: @Pierre-Gilles

Add subscribe on scene
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.handleMessage.js
  server/lib/scene/scene.init.js
Owners: @Pierre-Gilles

fix some typo/trad mistakes on Gladys App
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add create box command
  server/_templates/gladys_module/README.md
Owners: @Pierre-Gilles

Add placeholder
  server/_templates/gladys_module/add_config_field/routes/integrations/service/add_field_in_state_actions.js.t
  server/_templates/gladys_module/box/routes/integrations/all/service/actions.js.t
Owners: @Pierre-Gilles

Device new string state event: better null check (#1894)
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveStringState.js
  server/test/lib/device/device.newStateEvent.test.js
Owners: @Pierre-Gilles

BDPV
  server/services/sunspec/lib/bdpv/sunspec.bdpv.js
  server/services/sunspec/lib/sunspec.constants.js
Owners: @Pierre-Gilles

BDPV
  server/test/services/sunspec/lib/bdpv/sunspec.bdpv.test.js
Owners: @Pierre-Gilles

BDPV
  server/services/sunspec/lib/bdpv/sunspec.bdpv.js
  server/test/services/sunspec/lib/bdpv/sunspec.bdpv.test.js
Owners: @Pierre-Gilles

BDPV
  server/test/services/sunspec/lib/bdpv/sunspec.bdpv.test.js
Owners: @Pierre-Gilles

Add logs
  server/services/sunspec/lib/bdpv/sunspec.bdpv.js
Owners: @Pierre-Gilles

Add form to update house code/delay
  front/src/actions/house.js
  front/src/components/house/EditHouse.jsx
  front/src/components/house/EditHouseComponent.jsx
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

4.29.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Check device feature exist
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/test/services/sunspec/lib/sunspec.scanDevices.test.js
Owners: @Pierre-Gilles

Add leak & humidity sensor for HomeKit (#1835)
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix test after merge
  server/test/lib/device/device.destroyByServiceId.test.js
  server/test/lib/device/device.setParam.test.js
Owners: @Pierre-Gilles

Add questions
  server/config/brain/scene/questions.en.json
  server/config/brain/scene/questions.fr.json
Owners: @Pierre-Gilles

fix prettier
  server/config/brain/scene/questions.fr.json
Owners: @Pierre-Gilles

lint
  server/lib/scene/scene.handleMessage.js
Owners: @Pierre-Gilles

Add ability to launch scene from local chat (#1910)
  server/config/brain/scene/questions.en.json
  server/config/brain/scene/questions.fr.json
Owners: @Pierre-Gilles

fix oauth2 expire token error
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
Owners: @Pierre-Gilles

fix error oauth2 refresh token
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
Owners: @Pierre-Gilles

remove console
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
Owners: @Pierre-Gilles

Use handleGladysMessage
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.handleMessage.js
  server/lib/scene/scene.init.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Owners: @Pierre-Gilles, @atrovato

Add MQTT topic to start scene (#1911)
  server/lib/scene/index.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Owners: @Pierre-Gilles, @atrovato

fix add_ele unit
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Owners: @Pierre-Gilles

Add energy value from tuya devices
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Owners: @Pierre-Gilles

fix test
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Owners: @Pierre-Gilles

Tuya: Add energy values (#1898)
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Owners: @Pierre-Gilles

Improve translations in UI (#1908)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add API routes to arm/disram
  server/api/controllers/house.controller.js
  server/api/middlewares/errorMiddleware.js
  server/api/routes.js
  server/lib/house/house.arm.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add front widget to arm/disarm alarm
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/components/boxs/alarm/EditAlarm.jsx
  front/src/components/boxs/alarm/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
Owners: @Pierre-Gilles

z2m front filter existing devices
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
Owners: @Pierre-Gilles

z2m do not filter updatable devices
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
Owners: @Pierre-Gilles

Fixes after testing phase
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
Owners: @Pierre-Gilles
