Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Test Update Dockerfile to install and clean dependencies
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Refactor code to improve performance and readability
  front/package-lock.json
Owners: @Pierre-Gilles

Test Update cache-from in docker-dev-build.yml
  .github/workflows/docker-dev-build.yml
Owners: @VonOx, @Pierre-Gilles

Refactor Dockerfile and workflow
  .github/workflows/docker-dev-build.yml
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx, @Pierre-Gilles

Refactor package-lock origin
  front/package-lock.json
Owners: @Pierre-Gilles

Add dependencies for sweetalert2 and xlsx-js-style
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Switch from mdns to bonjour for network scan
  server/services/google-cast/index.js
  server/services/google-cast/lib/google_cast.scan.js
  server/services/google-cast/lib/index.js
  server/services/google-cast/package-lock.json
  server/services/google-cast/package.json
  server/test/services/google-cast/lib/google_cast_scan.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/google-cast/lib/google_cast.init.test.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
Owners: @Pierre-Gilles

Remove system deps in Github action build
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Remove avahi-dev from Docker build
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Add new dashboard for charts history and update related components
  front/src/components/app.jsx
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/EditChartHistoric.jsx
  front/src/components/boxs/chart/style.css
  front/src/components/header/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/charts-history/BoxColumns.jsx
  front/src/routes/charts-history/ChartsHistoryPage.jsx
  front/src/routes/charts-history/EmptyState.jsx
  front/src/routes/charts-history/edit-dashboard/BottomDropZone.jsx
  front/src/routes/charts-history/edit-dashboard/EditActions.jsx
  front/src/routes/charts-history/edit-dashboard/EditBox.jsx
  front/src/routes/charts-history/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/charts-history/edit-dashboard/EditChartsHistory.jsx
  front/src/routes/charts-history/edit-dashboard/EmptyColumnDropZone.jsx
  front/src/routes/charts-history/edit-dashboard/ReorderDashbordList.jsx
  front/src/routes/charts-history/edit-dashboard/index.js
  front/src/routes/charts-history/edit-dashboard/style.css
  front/src/routes/charts-history/index.js
  front/src/routes/charts-history/new-dashboard/index.js
  front/src/routes/charts-history/new-dashboard/style.css
  front/src/routes/charts-history/style.css
  front/src/routes/dashboard/index.js
  front/src/utils/ExportUtils.js
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStatesMulti.js
  server/lib/device/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix eventZoomed function in chart options
  front/src/actions/index.js
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
Owners: @Pierre-Gilles

corrections
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/EditChartHistoric.jsx
  front/src/components/boxs/chart/style.css
Owners: @Pierre-Gilles

add binary charts
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix Docker builds by adding py3-setuptools to Dockerfile
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Fix Docker builds by adding py3-setuptools to Dockerfile (#2095)
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Fix tests
  server/test/lib/gateway/gateway.init.test.js
Owners: @Pierre-Gilles

Gladys Plus : Change backup to 2-4 AM (#2090)
  server/lib/gateway/gateway.init.js
  server/test/lib/gateway/gateway.init.test.js
Owners: @Pierre-Gilles

Sonos.playNotification : Increase timout + add delayMs + more logs to getTTSApiUrl (#2089)
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/services/sonos/lib/sonos.setValue.js
  server/test/services/sonos/lib/sonos.setValue.test.js
Owners: @Pierre-Gilles

4.42.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

feat: Add expand functionality to chart component
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix: eslint and prettier
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

feat: Add column functionality to EditDashboard component
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Owners: @Pierre-Gilles

fix: i18n, prettier and eslint
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Owners: @Pierre-Gilles

chore: Update EditDashboard component state handling and fix boxNotEmptyError
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: prettier
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: Fix bug in EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Owners: @Pierre-Gilles

fix: Remove delete column button from translation files
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: Update German translation file
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

chore: Update y-axis label formatting in ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
Owners: @Pierre-Gilles

fix: eslint
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
Owners: @Pierre-Gilles

fix: Improve German translation for "Add a column on dashboard"
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: Improve accessibility and styling of EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: Improve column layout in EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: Update y-axis label formatting and x-axis min/max in ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

fix: Improve column layout and accessibility in EditBoxColumns component
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: prettier+eslint
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
Owners: @Pierre-Gilles

fix: prettier
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
Owners: @Pierre-Gilles

refactor: reordered styles
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

fix: review non-useful code
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
