Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Run eslint & prettier
  front/src/routes/integration/all/android-tv/AndroidTV.jsx
  front/src/routes/integration/all/android-tv/AndroidTVBox.jsx
  front/src/routes/integration/all/android-tv/actions.js
  front/src/routes/integration/all/android-tv/index.js
  server/lib/device/device.addFeature.js
  server/services/android-tv/api/androidTV.controller.js
  server/services/android-tv/lib/buildTV.js
  server/services/android-tv/lib/init.js
  server/services/android-tv/lib/mappings.js
  server/services/android-tv/lib/setValue.js
Owners: @Pierre-Gilles

Add some apps in mapping
  server/services/android-tv/lib/mappings.js
Owners: @Pierre-Gilles

Add deutsch translate
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

fix exposes and typo
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

remove release action
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

refactor: Netatmo device features update method
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifEnergy.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.updateNAPlug.js
  server/services/netatmo/lib/device/netatmo.updateNATherm1.js
  server/services/netatmo/lib/netatmo.updateValues.js
Owners: @thibautmery, @Terdious

refactor: Update and Tests NATherm1 and NAPlug features
  server/services/netatmo/lib/device/netatmo.updateNATherm1.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/test/services/netatmo/lib/device/netatmo.updateNAPlug.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNATherm1.test.js
  server/test/services/netatmo/lib/netatmo.updateValues.test.js
Owners: @thibautmery, @Terdious

fix error
  front/src/config/i18n/de.json
  server/utils/constants.js
Owners: @Pierre-Gilles

Rollback feature externalid format
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.setValue.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

Revert SerialPort update
  server/services/usb/index.js
  server/services/usb/package.json
  server/test/services/usb/index.test.js
Owners: @Pierre-Gilles, @atrovato

Revert usb update
  server/services/usb/package-lock.json
Owners: @Pierre-Gilles, @atrovato

fix prettier
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/zwavejs-ui/lib/zwaveJSUI.setValue.test.js
Owners: @Pierre-Gilles

refactor: NetatmoDeviceBox component and style.css
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/style.css
Owners: @thibautmery, @Terdious

Zigbee2mqtt: Add philips hue dimmer switch 324131092621 (#2009)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Scene: In device.set-value, convert string to number
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Scene: In device.set-value, convert string to number (#2013)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

fix: Following the review add bluebird dependency and update device promises functions
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
Owners: @thibautmery, @Terdious

refactor: Update concurrency in refreshNetatmoValues function
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
Owners: @thibautmery, @Terdious

Add support for NRV module type
  front/src/assets/integrations/devices/netatmo/netatmo-NRV.jpg
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNRV.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNRV.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

feature: Add support for Netatmo Weather Station
  front/src/assets/integrations/devices/netatmo/netatmo-NAMain.jpg
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNAMain.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAPlug.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNATherm1.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

refactor: Netatmo updateNAMain and fix test cases
  server/test/services/netatmo/lib/device/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
Owners: @thibautmery, @Terdious

refactor: coverage Netatmo devices update functions
  server/test/services/netatmo/lib/device/netatmo.updateNAPlug.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNATherm1.test.js
Owners: @thibautmery, @Terdious

fake: push with error to relaunch codecov
  server/test/services/netatmo/lib/device/netatmo.updateNATherm1.test.js
Owners: @thibautmery, @Terdious

fake: push without error to relaunch codecov
  server/test/services/netatmo/lib/device/netatmo.updateNATherm1.test.js
Owners: @thibautmery, @Terdious

Add support for NRV module type
  front/src/assets/integrations/devices/netatmo/netatmo-NRV.jpg
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNRV.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNRV.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: updateNRV function in netatmo.updateNRV.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNRV.test.js
Owners: @thibautmery, @Terdious

feature: Add support for NAModule4 device
  front/src/assets/integrations/devices/netatmo/netatmo-NAModule4.jpg
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.updateNAModule4.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: updateNAModule4 function in netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule4.test.js
Owners: @thibautmery, @Terdious

feature: Add support for NAModule1 device
  front/src/assets/integrations/devices/netatmo/netatmo-NAMain.jpg
  front/src/assets/integrations/devices/netatmo/netatmo-NAModule1.jpg
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.updateNAModule1.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

feature: Add support for NRV module type
  front/src/assets/integrations/devices/netatmo/netatmo-NRV.jpg
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifEnergy.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNAPlug.js
  server/services/netatmo/lib/device/netatmo.updateNRV.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNRV.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

chore(cicd): Update Github Actions
  .github/workflows/build-apidoc-documentation.yml
  .github/workflows/build-demo-website.yml
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

feature: Add support for NAMain module in Netatmo updateValues function
  front/src/assets/integrations/devices/netatmo/netatmo-NAMain.jpg
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNAMain.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

refactor: loadDeviceDetails function to support NAModule weather stations
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
Owners: @thibautmery, @Terdious

refactor: Add plugWeatherStation to device details
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
Owners: @thibautmery, @Terdious

feature: Add support for NAModule1 device
  front/src/assets/integrations/devices/netatmo/netatmo-NAModule1.jpg
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.updateNAModule1.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: Remove unused code related to therm_measured_temperature feature
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.updateNAModule1.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
Owners: @thibautmery, @Terdious

feature: Add support for NAModule4 device
  front/src/assets/integrations/devices/netatmo/netatmo-NAModule4.jpg
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.updateNAModule4.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

feature: Add support for NAModule2 and update sensor categories
  front/src/assets/integrations/devices/netatmo/netatmo-NAModule2.jpg
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNAModule2.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

refactor: Add coverage NAModule2
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.deviceMapping.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule2.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious
