Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Zigbee2mqtt: Add Xiaomi Vibration sensor DJT11LM
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

prettier
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/vacbot/Vacbot.jsx
Owners: @Pierre-Gilles

eslint correction
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/device-in-room/device-features/VacbotModeDeviceFeature.jsx
  front/src/components/boxs/vacbot/Vacbot.jsx
Owners: @Pierre-Gilles

prettier
  front/src/actions/dashboard/boxes/vacbot.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add Xiaomi Vibration sensor DJT11LM (#1867)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add box scene
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/lib/scene/scene.get.js
  server/models/dashboard.js
  server/test/lib/scene/scene.get.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Improve OpenAI ChatGPT screen to remove alpha example
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/index.js
Owners: @Pierre-Gilles

Remove i18n key "licenseShouldBeActive"
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add eWeLink deprecation message in integration
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles, @NickDub

Improve OpenAI ChatGPT screen to remove alpha example (#1869)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/index.js
Owners: @Pierre-Gilles

MQTT: Add Network error message in UI (#1864)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  front/src/routes/integration/all/mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/mqtt/setup-page/actions.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
Owners: @Pierre-Gilles, @atrovato

Add eWeLink deprecation message in integration (#1870)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles, @NickDub

Add spinner on button
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/components/boxs/scene/style.css
Owners: @Pierre-Gilles

Clock widget: Fix analog clock size on small screens
  front/package-lock.json
  front/package.json
  front/src/components/boxs/clock/Clock.jsx
  front/src/components/boxs/clock/style.css
Owners: @Pierre-Gilles

Dashboard: Add widget to start scene from dashboard (#1840)
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/components/boxs/scene/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/lib/scene/scene.get.js
  server/models/dashboard.js
  server/test/lib/scene/scene.get.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Decrease analog big text font size
  front/src/components/boxs/clock/style.css
Owners: @Pierre-Gilles

Make it possible to connect to external broker in UI & see previous state
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/constants.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteOptions.jsx
  server/services/zigbee2mqtt/lib/init.js
Owners: @Pierre-Gilles

Add links to english forum in UI and Github repository
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  SECURITY.md
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Tests
  server/services/sunspec/lib/bdpv/sunspec.bdpv.js
  server/test/services/sunspec/lib/bdpv/sunspec.bdpv.test.js
  server/test/services/sunspec/lib/sunspec.updateConfiguration.test.js
Owners: @Pierre-Gilles

BDPV unit report
  server/services/sunspec/lib/bdpv/sunspec.bdpv.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add Heiman Smart remote controller HM1RC-2-E
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Clock widget: Fix analog clock size on small screens (#1871)
  front/package-lock.json
  front/package.json
  front/src/components/boxs/clock/Clock.jsx
  front/src/components/boxs/clock/style.css
Owners: @Pierre-Gilles

Add links to english forum in UI and Github repository (#1873)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  SECURITY.md
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Zigbee2mqtt: Add Heiman Smart remote controller HM1RC-2-E (#1874)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Dashboard: Should display a warning when device state is too old
  front/src/components/boxs/device-in-room/device-features/sensor-value/NoRecentValueBadge.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.get.js
  server/test/lib/device/device.get.test.js
  server/utils/constants.js
  server/utils/device.js
Owners: @Pierre-Gilles

Update connect.test.js
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
Owners: @Pierre-Gilles

Wrong package-lock file
  package-lock.json
Owners: @Pierre-Gilles

Wrong package-lock file
  package-lock.json
Owners: @Pierre-Gilles

Add UI to select expiry delay of a sensor
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Owners: @Pierre-Gilles

Add more tests
  server/test/lib/device/device.get.test.js
Owners: @Pierre-Gilles

Add min value on number input
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
Owners: @Pierre-Gilles

Dashboard: Should display a warning when device state is too old (#1875)
  front/src/components/boxs/device-in-room/device-features/sensor-value/NoRecentValueBadge.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/lib/device/device.get.js
  server/test/lib/device/device.get.test.js
  server/utils/constants.js
  server/utils/device.js
Owners: @Pierre-Gilles

4.28.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Temp
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/InputWithUnit.jsx
  front/src/components/boxs/room-humidity/styles.css
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Change style and save value humidity
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/InputWithUnit.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-humidity/styles.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/models/dashboard.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix style
  front/src/components/boxs/room-humidity/styles.css
Owners: @Pierre-Gilles

fix style
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/InputWithUnit.jsx
  front/src/style/index.css
Owners: @Pierre-Gilles

Change style
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/InputWithUnit.jsx
Owners: @Pierre-Gilles

Change css slider and clean old code
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-humidity/InputWithUnit.jsx
  front/src/components/boxs/room-humidity/styles.css
  front/src/style/index.css
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
