Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Fix tests
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Owners: @Pierre-Gilles

Add more tests to streaming
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Owners: @Pierre-Gilles

When stopping, childprocess should stopStreaming & clean folders
  server/services/rtsp-camera/lib/startStreaming.js
  server/services/rtsp-camera/lib/stopStreaming.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Owners: @Pierre-Gilles

Fix eslint
  server/services/rtsp-camera/lib/stopStreaming.js
Owners: @Pierre-Gilles

Bug fix
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/disconnect.js
  server/services/zwave-js-ui/lib/commands/updateConfiguration.js
  server/services/zwave-js-ui/lib/constants.js
Owners: @Pierre-Gilles

Gateway: Translate backup size in each language
  front/src/config/demo.js
  front/src/routes/settings/settings-backup/GatewayBackupRow.jsx
  front/src/utils/bytesFormat.js
Owners: @Pierre-Gilles

Fix reviews
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.css
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Increase test converage
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

localApiUrl should be location.origin on local instances
  front/src/config.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Fix bug at first start, mosquitt.passwd was not created
  server/services/zigbee2mqtt/lib/installMqttContainer.js
Owners: @Pierre-Gilles

Add test
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Fix bug at first start, mosquitto.passwd was not created (#1753)
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
Owners: @Pierre-Gilles

4.21.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Disabe large CIDR range scans
  front/src/config/i18n/fr.json
  server/services/lan-manager/lib/lan-manager.loadConfiguration.js
  server/test/services/lan-manager/index.test.js
  server/test/services/lan-manager/lib/lan-manager.loadConfiguration.test.js
Owners: @Pierre-Gilles

Add timeout and stop to scan lan-manager
  server/services/lan-manager/api/lan-manager.controller.js
  server/services/lan-manager/lib/lan-manager.constants.js
  server/services/lan-manager/lib/lan-manager.scan.js
  server/services/lan-manager/lib/lan-manager.stop.js
  server/test/services/lan-manager/api/lan-manager.controler.test.js
  server/test/services/lan-manager/index.test.js
  server/test/services/lan-manager/lib/lan-manager.scan.test.js
Owners: @Pierre-Gilles

Improve loader and wording
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/device-page/index.js
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverTab.jsx
  front/src/routes/integration/all/lan-manager/discover-page/actions.js
  front/src/routes/integration/all/lan-manager/discover-page/index.js
Owners: @Pierre-Gilles

LANManager: Disable large CIDR range scans (#1750)
  front/src/config/i18n/fr.json
  server/services/lan-manager/lib/lan-manager.loadConfiguration.js
  server/test/services/lan-manager/index.test.js
  server/test/services/lan-manager/lib/lan-manager.loadConfiguration.test.js
Owners: @Pierre-Gilles

LANManager: Add timeout, loading state and stop function (#1751)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/device-page/index.js
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverTab.jsx
  front/src/routes/integration/all/lan-manager/discover-page/actions.js
  front/src/routes/integration/all/lan-manager/discover-page/index.js
  server/services/lan-manager/api/lan-manager.controller.js
  server/services/lan-manager/lib/lan-manager.constants.js
  server/services/lan-manager/lib/lan-manager.scan.js
  server/services/lan-manager/lib/lan-manager.stop.js
  server/test/services/lan-manager/api/lan-manager.controler.test.js
  server/test/services/lan-manager/index.test.js
  server/test/services/lan-manager/lib/lan-manager.scan.test.js
Owners: @Pierre-Gilles

Gateway: Translate backup size in each language (#1748)
  front/src/config/demo.js
  front/src/routes/settings/settings-backup/GatewayBackupRow.jsx
  front/src/utils/bytesFormat.js
Owners: @Pierre-Gilles

Translate Enedis device feature name
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Owners: @Pierre-Gilles

Add migration to translate existing Enedis device
  server/migrations/20230428064822-translate-enedis-name.js
Owners: @Pierre-Gilles

device.saveHistoricalState should not save duplicate history
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Enedis should sync last 7 days on each sync + manual sync button should sync from start
  server/services/enedis/api/enedis.controller.js
  server/services/enedis/lib/enedis.sync.js
  server/test/services/enedis/enedis.sync.test.js
Owners: @Pierre-Gilles

Enedis: Translate daily consumption feature name (#1754)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
  server/migrations/20230428064822-translate-enedis-name.js
Owners: @Pierre-Gilles

Fix linting
  server/services/enedis/lib/enedis.sync.js
Owners: @Pierre-Gilles

Chart: When electricity consumption is going down, variation should be in green
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Add tests
  server/test/services/enedis/enedis.sync.test.js
Owners: @Pierre-Gilles

Chart: When electricity consumption is going down, variation should be green (#1756)
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Reduce enedis sync logs
  server/services/enedis/lib/enedis.sync.js
Owners: @Pierre-Gilles

Enedis: Manual sync should sync from start + hourly sync should sync with a 7 days margin (#1755)
  server/lib/device/device.saveHistoricalState.js
  server/services/enedis/api/enedis.controller.js
  server/services/enedis/lib/enedis.sync.js
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/services/enedis/enedis.sync.test.js
Owners: @Pierre-Gilles

MQTT/Device feature: Improve translations
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
Owners: @Pierre-Gilles, @atrovato

Fix "carbone"
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Chart: Translate component in user language
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
Owners: @Pierre-Gilles

Chart: Fix dropdown toggle wrap on tablet screen
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Chart: Translate component in user language (#1758)
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
Owners: @Pierre-Gilles

MQTT/Device feature: Improve translations (#1757)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
Owners: @Pierre-Gilles, @atrovato

Chart: Fix dropdown toggle wrap on tablet screen (#1759)
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

MQTT: Be able to create the same feature multiple times in a row
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @atrovato

MQTT: Be able to create the same feature multiple times in a row (#1761)
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @atrovato

4.21.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles
