Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

feat(z2m): Add pilot wire mode
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix cast bug
  server/lib/gateway/gateway.getLatestGladysVersion.js
Owners: @Pierre-Gilles

feat(z2m): Move pilot-wire-mode to select box
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Purge states should purge duckDB states + remove purge state agregates + improve shutdown DB closing
  front/src/actions/signup/signupSetPreferences.js
  front/src/routes/settings/settings-system/SettingsSystemKeepAggregatedStates.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  server/index.js
  server/lib/device/device.onPurgeStatesEvent.js
  server/lib/device/device.purgeAggregateStates.js
  server/lib/device/device.purgeStates.js
  server/lib/device/index.js
  server/test/lib/device/device.purgeAggregateStates.test.js
  server/test/lib/device/device.purgeStates.test.js
Owners: @Pierre-Gilles

Purge sqlite states should not run 2 times in parallel
  server/api/controllers/device.controller.js
  server/lib/device/device.purgeAllSqliteStates.js
  server/lib/device/index.js
  server/test/lib/device/device.purgeAllSqliteStates.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Remove arm/v6 builds
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Fix DuckDB migration translation in English
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Zigbee2mqtt : Remove containers when disabling integration (#2109)
  server/services/zigbee2mqtt/lib/disconnect.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
Owners: @Pierre-Gilles

Remove legacy tag v4-arm for arm/v6 builds
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

4.45.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

update columns
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

Handle new until date for recurr events
  server/lib/calendar/calendar.destroyEvents.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/lib/calendar/calendar.event.test.js
Owners: @Pierre-Gilles, @bertrandda

Add test on destroyEvents call
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Owners: @bertrandda

Normalize all the line endings
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

style: Remove unnecessary CSS properties in edit-dashboard style.css
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

style: Update EditBoxColumns class to include 'align-items-start'
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
Owners: @Pierre-Gilles

style: Update media query breakpoints in edit-dashboard style.css
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

style: Add min-width to columnBoxHeader in edit-dashboard style.css
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles

refactor(chart): Update date format in ApexChartComponent
  front/src/components/boxs/chart/ApexChartComponent.jsx
Owners: @Pierre-Gilles

feat: Add support for start_date and end_date in device feature aggregates
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/lib/device/device.getDeviceFeaturesAggregatesMulti.js
Owners: @Pierre-Gilles

feat: Add support for start_date and end_date in device feature aggregates
  front/src/components/app.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/expanded-dashboard/index.js
  front/src/routes/dashboard/expanded-dashboard/style.css
Owners: @Pierre-Gilles

chore(chart): Update y-axis label positioning in ApexChartTimelineOptions
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Migrate EDF Tempo widget to RTE API
  server/lib/gateway/gateway.getEdfTempo.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/services/edf-tempo/index.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getEdfTempo.test.js
  server/test/services/edf-tempo/edf-tempo.controller.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/edf-tempo/edf-tempo.controller.test.js
  server/test/services/edf-tempo/index.test.js
Owners: @Pierre-Gilles

Migrate EDF Tempo widget to RTE API (#2114)
  server/lib/gateway/gateway.getEdfTempo.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/services/edf-tempo/index.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getEdfTempo.test.js
  server/test/services/edf-tempo/edf-tempo.controller.test.js
  server/test/services/edf-tempo/index.test.js
Owners: @Pierre-Gilles

chore(chart): Update y-axis label positioning in ApexChartTimelineOptions
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/style.css
Owners: @Pierre-Gilles

deleting role on user update to prevent privilege escalation
  server/lib/user/user.update.js
Owners: @Pierre-Gilles

deleting role on user update to prevent privilege escalation
  server/api/controllers/user.controller.js
  server/lib/user/user.update.js
Owners: @Pierre-Gilles

feat(chart): Add support for selecting device features and loading chart data
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

chore(chart): Update y-axis label positioning in ApexChartTimelineOptions
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

feat(chart): Improve y-axis label positioning in ApexChartTimelineOptions
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

fix(chart): Set default start and end dates in Chartbox component
  front/src/components/boxs/chart/Chart.jsx
  front/src/routes/dashboard/expanded-dashboard/index.js
Owners: @Pierre-Gilles

chore(chart): Update y-axis label positioning in ApexChartTimelineOptions
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

chore(chart): Refactor tooltip content creation in ApexChartComponent
  front/src/components/boxs/chart/ApexChartComponent.jsx
Owners: @Pierre-Gilles

feat(chart): Update max_states based on chart type in Chart.jsx
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

refactor: Update ApexChartComponent to dynamically adjust height based on additional features
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

chore: Update EditChart component to include device features threshold options
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

feat: Add device features threshold options to EditChart component
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/ManualThresholdForm.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/fr.json
  server/models/dashboard.js
Owners: @Pierre-Gilles

feat: Add device features threshold options to EditChart component
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/chart/ManualThresholdForm.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/fr.json
  server/models/dashboard.js
Owners: @Pierre-Gilles

Add nightly job to purge old messages
  server/config/scheduler-jobs.js
  server/lib/message/index.js
  server/lib/message/message.purge.js
  server/test/lib/message/message.purge.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
