Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

remove unused translate keys
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add DE Ecovacs translations
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

Update demo with vacbot box
  front/src/config/demo.js
Owners: @Pierre-Gilles

Prettier
  front/src/config/demo.js
Owners: @Pierre-Gilles

feature: Add support for NAModule3 precipitation sensor
  front/src/assets/integrations/devices/netatmo/netatmo-NAModule3.jpg
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNAModule3.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.constants.js
Owners: @thibautmery, @Terdious

fix: Remove unused variable in updateNAModule1 function
  server/services/netatmo/lib/device/netatmo.updateNAModule1.js
Owners: @thibautmery, @Terdious

fix: Eslint and prettier
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/test/services/netatmo/lib/device/netatmo.deviceMapping.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule2.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: Update Netatmo device rain feature and add tests
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.updateNAModule3.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.deviceMapping.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule3.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingValues.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.getWeatherStation.mock.test.json
  server/test/services/netatmo/netatmo.homesdata.mock.test.json
  server/test/services/netatmo/netatmo.homestatus.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

fix: Eslint and prettier
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/test/services/netatmo/lib/device/netatmo.deviceMapping.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: code rehabilitation with new devices/features
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommon.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSignal.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifEnergy.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/device/netatmo.convertDevice.js
  server/services/netatmo/lib/device/netatmo.convertDeviceEnergy.js
  server/services/netatmo/lib/device/netatmo.convertDeviceNotSupported.js
  server/services/netatmo/lib/device/netatmo.convertDeviceWeather.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/device/netatmo.updateNAModule2.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/update/netatmo.updateNAMain.js
  server/services/netatmo/lib/update/netatmo.updateNAModule1.js
  server/services/netatmo/lib/update/netatmo.updateNAModule2.js
  server/services/netatmo/lib/update/netatmo.updateNAModule3.js
  server/services/netatmo/lib/update/netatmo.updateNAModule4.js
  server/services/netatmo/lib/update/netatmo.updateNAPlug.js
  server/services/netatmo/lib/update/netatmo.updateNATherm1.js
  server/services/netatmo/lib/update/netatmo.updateNRV.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDevice.test.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceEnergy.test.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceNotSupported.test.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceWeather.test.js
  server/test/services/netatmo/lib/device/netatmo.deviceMapping.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule2.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule3.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAPlug.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNATherm1.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNRV.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.discoverDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

Revert usb package lock update
  server/services/usb/package-lock.json
Owners: @Pierre-Gilles, @atrovato

feature: Add support for NACamera device
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/update/netatmo.updateNACamera.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
Owners: @thibautmery, @Terdious

Test state changing
  server/test/services/nuki/lib/device/nuki.getProtocolFromDevice.test.js
  server/test/services/nuki/lib/device/nuki.setValue.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-battery.test.js
  server/test/services/nuki/lib/mqtt/new-state/nuki.mqtt.handleMessage.newState-state.test.js
Owners: @Pierre-Gilles, @atrovato

refactor: Update Netatmo dependencies and add camera-related functions
  front/src/assets/integrations/devices/netatmo/netatmo-NACamera.jpg
  front/src/components/boxs/camera/Camera.jsx
  front/src/utils/device.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/camera/checkIfLiveActive.js
  server/services/netatmo/lib/camera/convertLocalStreamToGateway.js
  server/services/netatmo/lib/camera/getImage.js
  server/services/netatmo/lib/camera/liveActivePing.js
  server/services/netatmo/lib/camera/onNewCameraFile.js
  server/services/netatmo/lib/camera/poll.js
  server/services/netatmo/lib/camera/sendCameraFileToGateway.js
  server/services/netatmo/lib/camera/startStreaming.js
  server/services/netatmo/lib/camera/startStreamingIfNotStarted.js
  server/services/netatmo/lib/camera/stopStreaming.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/update/netatmo.updateNACamera.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/services/netatmo/lib/utils/netatmo.validateStreamParams.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
Owners: @thibautmery, @Terdious, @Pierre-Gilles

refactor: updateValues function parameters
  server/services/netatmo/lib/netatmo.updateValues.js
Owners: @thibautmery, @Terdious

4.36.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Features : add icons and translate
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
Owners: @Pierre-Gilles

feat(action): Blink lights frontend style
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
Owners: @Pierre-Gilles

feat(action): Add blinking lights
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(action): Fix blinking lights
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

fix: Fix backend action
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

fix: Improve frontend and usability
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
Owners: @Pierre-Gilles

Fix front style
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
Owners: @Pierre-Gilles

Changing fast blink to 200ms
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.blinkLights.test.js
Owners: @Pierre-Gilles

Fix front issues
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
Owners: @Pierre-Gilles

Fix front style
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
Owners: @Pierre-Gilles

Fix test coverage
  server/test/lib/scene/actions/scene.action.blinkLights.test.js
Owners: @Pierre-Gilles

From flash to blink
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.blinkLights.test.js
Owners: @Pierre-Gilles

Add tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.blinkLights.test.js
Owners: @Pierre-Gilles

Better blinking time management
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

feat(action): Take in account PR review
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
Owners: @Pierre-Gilles

fixup
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.blinkLights.test.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): Reduce log level on unknown feature
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
Owners: @Pierre-Gilles

fixup
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

refactor: camera streaming code and remove unused function
  front/src/assets/integrations/devices/netatmo/netatmo-NACamera.jpg
  front/src/components/boxs/camera/Camera.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/utils/device.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

chore(eslint): Add no-console rule + clean
  front/.eslintrc.json
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/routes/integration/all/zwavejs-ui/setup-page/index.js
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

refactor: Update Netatmo service: loadCameraDetails and convertDeviceSecurity
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/camera/checkIfLiveActive.js
  server/services/netatmo/lib/camera/convertLocalStreamToGateway.js
  server/services/netatmo/lib/camera/getImage.js
  server/services/netatmo/lib/camera/liveActivePing.js
  server/services/netatmo/lib/camera/onNewCameraFile.js
  server/services/netatmo/lib/camera/poll.js
  server/services/netatmo/lib/camera/sendCameraFileToGateway.js
  server/services/netatmo/lib/camera/startStreaming.js
  server/services/netatmo/lib/camera/startStreamingIfNotStarted.js
  server/services/netatmo/lib/camera/stopStreaming.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
Owners: @thibautmery, @Terdious

Translation
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Eslint front: Add no-console rule + clean (#2023)
  front/.eslintrc.json
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/routes/integration/all/zwavejs-ui/setup-page/index.js
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

refactor: code to handle empty camera array and remove unused file
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.validateStreamParams.js
Owners: @thibautmery, @Terdious
