Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

change after rebase
  front/package-lock.json
Owners: @Pierre-Gilles

change after review
  front/src/components/boxs/clock/style.css
  front/src/style/index.css
Owners: @Pierre-Gilles

change after review
  front/src/components/boxs/clock/Clock.jsx
Owners: @Pierre-Gilles

change after review
  front/src/components/boxs/clock/Clock.jsx
Owners: @Pierre-Gilles

Fix typo & add isUsed method
  front/src/config/i18n/en.json
  server/services/nextcloud-talk/index.js
  server/test/services/nextcloud-talk/index.test.js
Owners: @Pierre-Gilles

Update axios & remove Abort polyfill
  server/services/nextcloud-talk/lib/message/message.connect.js
  server/services/nextcloud-talk/package-lock.json
  server/services/nextcloud-talk/package.json
Owners: @Pierre-Gilles

Fix test
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Owners: @Pierre-Gilles

Remove python symlink ( not needed anymore )
  docker/Dockerfile.buildx
Owners: @VonOx

Remove python symlink ( not needed anymore )
  docker/Dockerfile
Owners: @VonOx

Remove Python symlink in Dockerfiles (#1671)
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Fix zigbee2mqtt.isUsed function
  server/services/zigbee2mqtt/index.js
  server/test/services/zigbee2mqtt/index.test.js
Owners: @Pierre-Gilles

Fix zigbee2mqtt.isUsed function (#1673)
  server/services/zigbee2mqtt/index.js
  server/test/services/zigbee2mqtt/index.test.js
Owners: @Pierre-Gilles

Re-order forgot password on login page (#1518)
  front/src/routes/login/LoginPage.jsx
Owners: @Pierre-Gilles

make change after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

Duplicate scene
  .gitignore
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.duplicate.js
  server/seeders/20190227043234-scene.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

fix after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/scene/scene.duplicate.js
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

fix test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

change after review
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/duplicate-scene/style.css
  server/api/controllers/scene.controller.js
  server/lib/scene/scene.duplicate.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

fix test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

fix coverage
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

fix test
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
Owners: @Pierre-Gilles

prettier
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

Add promise/prefer-await-to-then eslint rule
  front/.eslintrc.json
  front/package-lock.json
  front/package.json
  server/.eslintrc.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Remove rule for Cypress code
  front/.eslintrc.json
Owners: @Pierre-Gilles

then to await
  front/src/routes/scene/duplicate-scene/index.js
Owners: @Pierre-Gilles

change size day and month clock
  front/src/components/boxs/clock/style.css
Owners: @Pierre-Gilles

move CLOCK_TYPES into frontend
  front/src/components/boxs/clock/Clock.jsx
  front/src/components/boxs/clock/ClockTypes.js
  front/src/components/boxs/clock/EditClock.jsx
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix css
  front/src/routes/integration/all/influxdb/InfluxDBPage.jsx
Owners: @Pierre-Gilles

Add duplicate scene feature (#1670)
  .gitignore
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.duplicate.js
  server/seeders/20190227043234-scene.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.duplicate.test.js
Owners: @Pierre-Gilles

Add promise/prefer-await-to-then eslint rule (#1675)
  front/.eslintrc.json
  front/package-lock.json
  front/package.json
  server/.eslintrc.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Delete docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

fix for scanwatch
  server/services/withings/lib/utils/withings.buildMapOfMeasures.js
  server/services/withings/lib/utils/withings.getAndSaveMeasures.js
  server/services/withings/lib/withings.poll.js
Owners: @Pierre-Gilles

add test case
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

fix scanwatch test
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

Use fake for promises in test & improve coverage
  server/test/services/nextcloud-talk/index.test.js
  server/test/services/nextcloud-talk/lib/messageHandler.test.js
Owners: @Pierre-Gilles

change font after review
  front/src/components/boxs/clock/Clock.jsx
Owners: @Pierre-Gilles

Initial setup
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/actions.js
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
Owners: @Pierre-Gilles

Initial setup
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
Owners: @Pierre-Gilles

change feature icon
  front/src/utils/consts.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
