Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Wrong scrip tpath
  server/services/zwave-js-ui/lib/commands/installZwaveJSUIContainer.js
Owners: @Pierre-Gilles

Docker
  server/services/zwave-js-ui/lib/commands/installZwaveJSUIContainer.js
Owners: @Pierre-Gilles

Avoid log
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
Owners: @Pierre-Gilles

Do not hide password anymore Fixes #1724
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/lib/constants.js
  server/test/services/mqtt/api/mqtt.controler.test.js
Owners: @atrovato

Fix #1714: When editing device in room box, select should not be hidden behind bottom bar (#1732)
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

MQTT: Fix #1724 bug on password hide feature (#1733)
  front/src/routes/integration/all/mqtt/setup-page/SetupForm.jsx
  server/services/mqtt/api/mqtt.controller.js
  server/services/mqtt/lib/constants.js
  server/test/services/mqtt/api/mqtt.controler.test.js
Owners: @atrovato

Activate persistence in Zigbee2mqtt mosquitto to avoid losing devices on MQTT restart (#1731)
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-env.sh
  server/services/zigbee2mqtt/docker/mosquitto.conf
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Owners: @Pierre-Gilles

[FIX] Fix openweather api call issue
  server/services/openweather/index.js
Owners: @callemand

Add more delay when saving enedis data
  server/services/enedis/lib/enedis.sync.js
Owners: @Pierre-Gilles

Add Enedis integration in public beta (#1597)
  front/package-lock.json
  front/package.json
  front/preact.config.js
  front/src/assets/integrations/cover/enedis.jpg
  front/src/components/app.jsx
  front/src/config.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/enedis-gateway/EnedisPage.jsx
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
  front/src/routes/integration/all/enedis-gateway/consts.js
  front/src/routes/integration/all/enedis-gateway/enedis-button.png
  front/src/utils/device.js
  server/lib/device/device.saveHistoricalState.js
  server/lib/gateway/enedis/gateway.enedisGetConsumptionLoadCurve.js
  server/lib/gateway/enedis/gateway.enedisGetDailyConsumption.js
  server/lib/gateway/enedis/gateway.enedisGetDailyConsumptionMaxPower.js
  server/lib/gateway/index.js
  server/services/enedis/api/enedis.controller.js
  server/services/enedis/index.js
  server/services/enedis/lib/enedis.init.js
  server/services/enedis/lib/enedis.sync.js
  server/services/enedis/lib/index.js
  server/services/enedis/package-lock.json
  server/services/enedis/package.json
  server/services/enedis/utils/parser.js
  server/services/index.js
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.enedis.test.js
  server/test/services/enedis/enedis.controller.test.js
  server/test/services/enedis/enedis.sync.test.js
  server/test/services/enedis/index.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

4.20.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

LANManager: backend service
  server/services/index.js
  server/services/lan-manager/api/lan-manager.controller.js
  server/services/lan-manager/index.js
  server/services/lan-manager/lib/index.js
  server/services/lan-manager/lib/lan-manager.constants.js
  server/services/lan-manager/lib/lan-manager.getConfiguration.js
  server/services/lan-manager/lib/lan-manager.getDiscoveredDevices.js
  server/services/lan-manager/lib/lan-manager.getStatus.js
  server/services/lan-manager/lib/lan-manager.init.js
  server/services/lan-manager/lib/lan-manager.initPresenceScanner.js
  server/services/lan-manager/lib/lan-manager.mergeWithExistingDevice.js
  server/services/lan-manager/lib/lan-manager.saveConfiguration.js
  server/services/lan-manager/lib/lan-manager.scan.js
  server/services/lan-manager/lib/lan-manager.scanPresence.js
  server/services/lan-manager/lib/lan-manager.stop.js
  server/services/lan-manager/lib/lan-manager.transformDevice.js
  server/services/lan-manager/package-lock.json
  server/services/lan-manager/package.json
  server/test/services/lan-manager/api/lan-manager.controler.test.js
  server/test/services/lan-manager/index.test.js
  server/test/services/lan-manager/lib/lan-manager.getConfiguration.test.js
  server/test/services/lan-manager/lib/lan-manager.getDiscoveredDevices.test.js
  server/test/services/lan-manager/lib/lan-manager.initPresenceScanner.test.js
  server/test/services/lan-manager/lib/lan-manager.saveConfiguration.test.js
  server/test/services/lan-manager/lib/lan-manager.scan.test.js
  server/test/services/lan-manager/lib/lan-manager.scanPresence.test.js
  server/test/services/lan-manager/lib/lan-manager.stop.test.js
  server/test/services/lan-manager/lib/lan-manager.transformDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Improve UX
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerIPLine.jsx
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerIPRange.jsx
Owners: @Pierre-Gilles

avoir internal interfaces
  server/services/lan-manager/lib/lan-manager.loadConfiguration.js
  server/services/lan-manager/lib/lan-manager.scan.js
  server/test/services/lan-manager/lib/lan-manager.loadConfiguration.test.js
Owners: @Pierre-Gilles

Improve first discovered device load
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverDevice.jsx
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverTab.jsx
  front/src/routes/integration/all/lan-manager/discover-page/actions.js
Owners: @Pierre-Gilles

Use device name for presence devices
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
Owners: @Pierre-Gilles

Improve demo
  front/src/config/demo.js
Owners: @Pierre-Gilles

Filter param
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverTab.jsx
  front/src/routes/integration/all/lan-manager/discover-page/actions.js
  server/services/lan-manager/lib/lan-manager.getDiscoveredDevices.js
Owners: @Pierre-Gilles

Notify when scan is ready
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverTab.jsx
  front/src/routes/integration/all/lan-manager/discover-page/actions.js
  front/src/routes/integration/all/lan-manager/discover-page/index.js
  server/services/lan-manager/lib/lan-manager.init.js
  server/services/lan-manager/lib/lan-manager.initPresenceScanner.js
  server/services/lan-manager/lib/lan-manager.saveConfiguration.js
  server/services/lan-manager/lib/lan-manager.scan.js
  server/services/lan-manager/lib/lan-manager.transformDevice.js
  server/test/services/lan-manager/lib/lan-manager.initPresenceScanner.test.js
  server/test/services/lan-manager/lib/lan-manager.saveConfiguration.test.js
  server/test/services/lan-manager/lib/lan-manager.scan.test.js
Owners: @Pierre-Gilles

Load and store IP masks
  server/services/lan-manager/lib/index.js
  server/services/lan-manager/lib/lan-manager.constants.js
  server/services/lan-manager/lib/lan-manager.getConfiguration.js
  server/services/lan-manager/lib/lan-manager.loadConfiguration.js
  server/services/lan-manager/lib/lan-manager.saveConfiguration.js
  server/test/services/lan-manager/index.test.js
  server/test/services/lan-manager/lib/lan-manager.getConfiguration.test.js
  server/test/services/lan-manager/lib/lan-manager.saveConfiguration.test.js
Owners: @Pierre-Gilles

Test requests:
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverDevice.jsx
  server/services/lan-manager/lib/lan-manager.transformDevice.js
  server/test/services/lan-manager/lib/lan-manager.scan.test.js
  server/test/services/lan-manager/lib/lan-manager.transformDevice.test.js
Owners: @Pierre-Gilles

Load config at startup
  server/services/lan-manager/index.js
  server/services/lan-manager/lib/index.js
  server/services/lan-manager/lib/lan-manager.constants.js
  server/services/lan-manager/lib/lan-manager.init.js
  server/services/lan-manager/lib/lan-manager.loadConfiguration.js
Owners: @Pierre-Gilles

Change nmap library
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverDevice.jsx
  server/services/lan-manager/index.js
  server/services/lan-manager/lib/index.js
  server/services/lan-manager/lib/lan-manager.constants.js
  server/services/lan-manager/lib/lan-manager.getStatus.js
  server/services/lan-manager/lib/lan-manager.init.js
  server/services/lan-manager/lib/lan-manager.initPresenceScanner.js
  server/services/lan-manager/lib/lan-manager.loadConfiguration.js
  server/services/lan-manager/lib/lan-manager.saveConfiguration.js
  server/services/lan-manager/lib/lan-manager.scan.js
  server/services/lan-manager/lib/lan-manager.stop.js
  server/services/lan-manager/lib/lan-manager.transformDevice.js
  server/services/lan-manager/package-lock.json
  server/services/lan-manager/package.json
  server/test/services/lan-manager/index.test.js
  server/test/services/lan-manager/lib/lan-manager.getConfiguration.test.js
  server/test/services/lan-manager/lib/lan-manager.getDiscoveredDevices.test.js
  server/test/services/lan-manager/lib/lan-manager.initPresenceScanner.test.js
  server/test/services/lan-manager/lib/lan-manager.loadConfiguration.test.js
  server/test/services/lan-manager/lib/lan-manager.saveConfiguration.test.js
  server/test/services/lan-manager/lib/lan-manager.scan.test.js
  server/test/services/lan-manager/lib/lan-manager.scanPresence.test.js
  server/test/services/lan-manager/lib/lan-manager.stop.test.js
  server/test/services/lan-manager/lib/lan-manager.transformDevice.test.js
Owners: @Pierre-Gilles

Fix typo
  server/services/lan-manager/lib/lan-manager.getDiscoveredDevices.js
Owners: @Pierre-Gilles

Range scan
  server/services/lan-manager/lib/lan-manager.scan.js
  server/services/lan-manager/package-lock.json
  server/services/lan-manager/package.json
  server/test/services/lan-manager/lib/lan-manager.scan.test.js
Owners: @Pierre-Gilles

CIDR list management
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerIPLine.jsx
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerIPRange.jsx
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerSettingsTab.jsx
Owners: @Pierre-Gilles

Vendor information
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/lan-manager/device-page/LANManagerDevice.jsx
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverDevice.jsx
  server/services/lan-manager/lib/lan-manager.constants.js
  server/services/lan-manager/lib/lan-manager.transformDevice.js
  server/services/lan-manager/package-lock.json
  server/services/lan-manager/package.json
  server/test/services/lan-manager/lib/lan-manager.transformDevice.test.js
Owners: @Pierre-Gilles

Fix log order
  server/services/lan-manager/index.js
Owners: @Pierre-Gilles

LANManager: frontend integration
  front/src/assets/integrations/cover/lan-manager.jpg
  front/src/components/app.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/lan-manager/EmptyState.jsx
  front/src/routes/integration/all/lan-manager/LANManagerPage.js
  front/src/routes/integration/all/lan-manager/device-page/LANManagerDevice.jsx
  front/src/routes/integration/all/lan-manager/device-page/LANManagerDeviceTab.jsx
  front/src/routes/integration/all/lan-manager/device-page/actions.js
  front/src/routes/integration/all/lan-manager/device-page/index.js
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverDevice.jsx
  front/src/routes/integration/all/lan-manager/discover-page/LANManagerDiscoverTab.jsx
  front/src/routes/integration/all/lan-manager/discover-page/actions.js
  front/src/routes/integration/all/lan-manager/discover-page/index.js
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerPresenceScanner.jsx
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerSettingsTab.jsx
  front/src/routes/integration/all/lan-manager/settings-page/index.js
  front/src/routes/integration/all/lan-manager/style.css
Owners: @Pierre-Gilles

fix prettier
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Missing icon link + disable creation of device without feature
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
Owners: @Pierre-Gilles

Action bar
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
Owners: @Pierre-Gilles

Constants + version
  server/services/zwave-js-ui/lib/constants.js
Owners: @Pierre-Gilles

Device without feature
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  server/services/zwave-js-ui/lib/commands/addNode.js
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/commands/getStatus.js
  server/services/zwave-js-ui/lib/commands/removeNode.js
  server/services/zwave-js-ui/lib/commands/scanNetwork.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/zwave.test.js
Owners: @Pierre-Gilles

Enedis daily consumption device is in Watt-Hour
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
  server/migrations/20230414020652-enedis-unit-is-watt-hour.js
Owners: @Pierre-Gilles

Improve Enedis page responsive
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
Owners: @Pierre-Gilles

Add link to Gladys Plus in Enedis page
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
