Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Handle milight with color and brightness
  server/lib/device/device.getBySelector.js
  server/services/index.js
  server/services/rflink/README.md
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/package-lock.json
  server/services/rflink/package.json
Owners: @Pierre-Gilles

Reactivate xiaomi module
  server/services/index.js
Owners: @Pierre-Gilles

Correct eslint
  front/package-lock.json
  front/package.json
  server/services/rflink/lib/commands/rflink.setValue.js
Owners: @Pierre-Gilles

Make eslint happy
  server/services/rflink/lib/commands/rflink.setValue.js
Owners: @Pierre-Gilles

Correct tests
  server/services/rflink/lib/commands/rflink.setValue.js
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/setValue.test.js
Owners: @Pierre-Gilles

audit fix
  package-lock.json
Owners: @Pierre-Gilles

Audit fix
  front/package-lock.json
  server/package-lock.json
Owners: @Pierre-Gilles

Audit fix
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Get package from master
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Get package from master
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Taking package version from a passing build
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Ajout du model
  server/services/zigbee2mqtt/model/Philips.js
Owners: @Pierre-Gilles

Following npm audit, fix tar version ...
  server/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/caldav/package-lock.json
  server/services/ewelink/package-lock.json
  server/services/example/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/openweather/package-lock.json
  server/services/philips-hue/package-lock.json
  server/services/rflink/package-lock.json
  server/services/rtsp-camera/package-lock.json
  server/services/tasmota/package-lock.json
  server/services/telegram/package-lock.json
  server/services/tp-link/package-lock.json
  server/services/usb/package-lock.json
  server/services/xiaomi/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
  server/services/zwave/package-lock.json
Owners: @Pierre-Gilles, @atrovato, @bertrandda, @NickDub, @callemand, @VonOx, @hotfix31, @cicoub13

Still trying to fix PR, now having this message : 7:30 error Unable to resolve path to module 'ewelink-api' import/no-unresolved. I do not understand why BOUUUUUHOUHOU
  server/package-lock.json
Owners: @Pierre-Gilles

Still trying to fix PR, now having this message : 7:30 error Unable to resolve path to module 'ewelink-api' import/no-unresolved. I do not understand why BOUUUUUHOUHOU
  server/services/bluetooth/package-lock.json
  server/services/caldav/package-lock.json
  server/services/ewelink/package-lock.json
  server/services/example/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/openweather/package-lock.json
  server/services/philips-hue/package-lock.json
  server/services/rflink/package-lock.json
  server/services/rtsp-camera/package-lock.json
  server/services/tasmota/package-lock.json
  server/services/telegram/package-lock.json
  server/services/tp-link/package-lock.json
  server/services/usb/package-lock.json
  server/services/xiaomi/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
  server/services/zwave/package-lock.json
Owners: @atrovato, @bertrandda, @NickDub, @Pierre-Gilles, @callemand, @VonOx, @hotfix31, @cicoub13

This has nothing to do with rflink
  server/services/ewelink/package-lock.json
Owners: @NickDub

External Zigbee2mqtt
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/actions.js
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
Owners: @Pierre-Gilles

unit for humidity/temperature
  server/services/zwave2mqtt/lib/utils/convertFeature.js
Owners: @Pierre-Gilles

Test if connect is called and a json returned
  server/test/services/rflink/controllers/rflink.controller.test.js
Owners: @Pierre-Gilles

Test if device is remove from list
  server/test/services/rflink/controllers/rflink.controller.test.js
Owners: @Pierre-Gilles

Remove duplicate writing
  server/services/rflink/lib/commands/rflink.milight.unpair.js
Owners: @Pierre-Gilles

tried to fix api : connect entry point is working, but not the test
  server/services/rflink/lib/events/rflink.message.js
  server/test/services/rflink/controllers/rflink.controller.test.js
Owners: @Pierre-Gilles

Setup
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/index.js
  server/services/zwave/package.json
Owners: @Pierre-Gilles

Rflink color converter test
  server/services/rflink/lib/commands/rflink.setValue.js
  server/test/services/rflink/lib/setValue.test.js
Owners: @Pierre-Gilles

Rflink color converter test
  server/services/rflink/lib/utils/colors.js
  server/test/services/rflink/lib/colors.test.js
Owners: @Pierre-Gilles

Test milight brightness when a previous color was set
  server/test/services/rflink/lib/setValue.test.js
Owners: @Pierre-Gilles

prettier run
  server/services/rflink/lib/commands/rflink.setValue.js
  server/test/services/rflink/lib/colors.test.js
Owners: @Pierre-Gilles

remove 'only' to run all tests
  server/test/services/rflink/lib/setValue.test.js
Owners: @Pierre-Gilles

From Zigbee service : improve selection list of usb port
  front/src/routes/integration/all/rflink/settings-page/SettingsTab.jsx
Owners: @Pierre-Gilles

prettier
  front/src/routes/integration/all/rflink/settings-page/SettingsTab.jsx
Owners: @Pierre-Gilles

Add TS0503B Fix #1260
  server/services/zigbee2mqtt/model/TuYa.js
Owners: @Pierre-Gilles

Add 929002241201 Fix #1258
  server/services/zigbee2mqtt/model/Philips.js
Owners: @Pierre-Gilles

Add LED1837R5 Fix #1255
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Add IKEA LED1934G3 Fix #1232
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Update ws after security audit
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

bump node-nlp
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

npm audit fix
  server/package-lock.json
Owners: @Pierre-Gilles

npm audit fix
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

temp bump sqlite3
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Bump docker meta action to v3
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles
