Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Add more Zigbee2mqtt devices (#1275)
  server/services/zigbee2mqtt/model/IKEA.js
  server/services/zigbee2mqtt/model/TuYa.js
Owners: @Pierre-Gilles

Update
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @Pierre-Gilles, @atrovato

Update
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @atrovato

Eslint
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @atrovato

Rename
  front/src/routes/integration/all/netatmo/dashboard-box-page/BinaryDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/CameraNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/CommandDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/SensorDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/dashboard-box-page/actions.js
  front/src/routes/integration/all/netatmo/dashboard-box-page/consts.js
Owners: @thibautmery, @Terdious

No new line
  package.json
Owners: @Pierre-Gilles

prettier
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
Owners: @Pierre-Gilles

Update DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
Owners: @Pierre-Gilles

Update DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
Owners: @Pierre-Gilles

Changeé
  server/index.js
  server/lib/device/camera/camera.get.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveLastStateChanged.js
  server/lib/device/index.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/commands/netatmo.getHomeStatusData.js
  server/services/netatmo/lib/commands/netatmo.getStationsData.js
  server/services/netatmo/lib/event/netatmo.newValueCamera.js
  server/services/netatmo/lib/event/netatmo.newValueSmokeDetector.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/update/netatmo.updateThermostat.js
  server/services/netatmo/package.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/utils/device.test.js
  server/test/utils/format.test.js
  server/utils/constants.js
  server/utils/device.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious, @atrovato

Adding tests to verify that backup file is valid
  server/lib/gateway/gateway.restoreBackup.js
Owners: @Pierre-Gilles

System shutdown should be more resilient
  server/index.js
  server/lib/system/system.shutdown.js
Owners: @Pierre-Gilles

Fix UI when restoring a backup and Gladys is restarting
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayRestoreInProgress.jsx
  front/src/routes/settings/settings-backup/index.js
Owners: @Pierre-Gilles

Fix eslint server
  server/index.js
Owners: @Pierre-Gilles

Refresh device in room box data when dashboard changes
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
Owners: @Pierre-Gilles

Fix camera box refresh problem
  front/src/components/boxs/camera/Camera.jsx
Owners: @Pierre-Gilles

Fix humidity in room box
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
Owners: @Pierre-Gilles

Fix temperature in room box
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Owners: @Pierre-Gilles

Fix user presence box
  front/src/components/boxs/user-presence/UserPresence.jsx
Owners: @Pierre-Gilles

Fix cannot remove user presence box bug
  front/src/components/boxs/user-presence/EditUserPresenceBox.jsx
Owners: @Pierre-Gilles

Fix weather box
  front/src/components/boxs/weather/WeatherBox.jsx
Owners: @Pierre-Gilles

Test restoring broken DBs
  server/lib/gateway/gateway.restoreBackup.js
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/lib/gateway/gateway.test.js
  server/test/lib/gateway/this_db_has_no_users.dbfile
  server/test/lib/gateway/this_file_has_no_user_table.dbfile
  server/test/lib/gateway/this_file_is_not_a_valid_db.dbfile
Owners: @Pierre-Gilles

Fix #1280: When switching dashboard, similar box should be refreshed (#1283)
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/user-presence/EditUserPresenceBox.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
Owners: @Pierre-Gilles

Debounce input range change + try new design
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceList.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/RoomCard.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Owners: @Pierre-Gilles

Add tests to system.shutdown
  server/test/lib/system/system.shutdown.test.js
Owners: @Pierre-Gilles

Fix #1279: Fix Gladys Plus backup restore process (#1282)
  front/src/actions/gateway.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayRestoreInProgress.jsx
  front/src/routes/settings/settings-backup/index.js
  server/index.js
  server/lib/gateway/gateway.restoreBackup.js
  server/lib/system/system.shutdown.js
  server/test/lib/gateway/gateway.test.js
  server/test/lib/gateway/this_db_has_no_users.dbfile
  server/test/lib/gateway/this_file_has_no_user_table.dbfile
  server/test/lib/gateway/this_file_is_not_a_valid_db.dbfile
  server/test/lib/system/system.shutdown.test.js
Owners: @Pierre-Gilles

Fix tabler issue
  front/package-lock.json
  front/package.json
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Owners: @Pierre-Gilles

Clean code
  front/src/actions/dashboard/boxes/devicesInRoom.js
Owners: @Pierre-Gilles

Fix eslint
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
Owners: @Pierre-Gilles

Remove useless max-height on device in room box
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
Owners: @Pierre-Gilles

Fix #1267: New scene should not have the previous scene name prefilled
  front/src/actions/createScene.js
  front/src/routes/scene/new-scene/index.js
Owners: @Pierre-Gilles

Fix #1277: Should be able to slide brightness on a touchscreen (#1284)
  front/package-lock.json
  front/package.json
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceList.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/RoomCard.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Owners: @Pierre-Gilles

Sync
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeReady.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueChanged.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/services/zwave/package-lock.json
Owners: @Pierre-Gilles

Fix #1267: New scene should not have the previous scene name prefilled (#1285)
  front/src/actions/createScene.js
  front/src/routes/scene/new-scene/index.js
Owners: @Pierre-Gilles

Prettier
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
Owners: @Pierre-Gilles

Fix #1163: In scene, when deleting a trigger, it should not mix device feature data
  front/src/components/device/SelectDeviceFeature.jsx
Owners: @Pierre-Gilles

ES Lint
  front/src/routes/integration/all/zwave2mqtt/settings-page/SettingsTab.jsx
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
Owners: @Pierre-Gilles

Fix #1211: In Caldav integration, events should support timezone (#1231)
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/test/services/caldav/lib/calendar/formaters.test.js
Owners: @bertrandda

Google Home: Should not forward empty reportState
  server/lib/gateway/gateway.forwardDeviceStateToGoogleHome.js
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
