Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Add user check presence action server side with tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Add en translations
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Fix checkUserpresence front build
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
Owners: @Pierre-Gilles

Save preferences in same form as user
  front/src/actions/profile.js
  front/src/components/user/profile.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/profile/index.js
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
  front/src/routes/settings/settings-users/edit-user/index.js
  front/src/routes/signup/2-create-account-local/CreateAccountLocalTab.jsx
Owners: @Pierre-Gilles

Update dashboard selector in dashboard migration
  server/migrations/20210129155044-multi-user.js
Owners: @Pierre-Gilles

UI improvements
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-users/UserCard.jsx
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/index.js
Owners: @Pierre-Gilles

Explain better what are roles
  front/src/components/user/profile.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Set temperature/distance unit in create user too
  front/src/routes/settings/settings-users/create-user/index.js
Owners: @Pierre-Gilles

Renforce admin securities on services
  server/services/ewelink/api/ewelink.controller.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/philips-hue/api/hue.controller.js
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/tasmota/api/tasmota.controller.js
  server/services/zwave/api/zwave.controller.js
Owners: @NickDub, @atrovato, @VonOx, @hotfix31, @Pierre-Gilles

when creating account, role is not shown
  front/src/routes/signup/2-create-account-local/CreateAccountLocalTab.jsx
Owners: @Pierre-Gilles

Adapt Gladys plus to multi-users
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway-users/UserList.js
  front/src/routes/settings/settings-gateway-users/UserRow.js
Owners: @Pierre-Gilles

Add loading bar for user screen
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/index.js
Owners: @Pierre-Gilles

fix test
  server/lib/device/device.downsamplingStates.js
  server/lib/device/device.get.js
  server/lib/device/device.getFeatureStates.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getFeatureStates.test.js
Owners: @Pierre-Gilles

fix front
  front/src/actions/dashboard/boxes/chart-box-config/chartStyle.js
  front/src/actions/dashboard/boxes/chart.js
  front/src/actions/dashboard/boxes/commons.js
  front/src/components/boxs/chart-feature/ChartOneFeaturesBox.jsx
  server/api/controllers/device.controller.js
Owners: @Pierre-Gilles

fix prettier
  front/src/actions/dashboard/boxes/chart-box-config/chartStyle.js
  front/src/components/boxs/chart-feature/ChartOneFeaturesBox.jsx
  server/api/controllers/device.controller.js
Owners: @Pierre-Gilles

fix typo in check user presence translations
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

[MQTT] Mosquitto 2.0 and Configuration #1071
  server/lib/system/index.js
  server/lib/system/system.getNetworkMode.js
  server/lib/system/system.removeContainer.js
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/docker/eclipse-mosquitto-env.sh
  server/services/mqtt/lib/constants.js
  server/services/mqtt/lib/getConfiguration.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/init.js
  server/services/mqtt/lib/installContainer.js
  server/services/mqtt/lib/saveConfiguration.js
  server/services/mqtt/lib/updateContainer.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.removeContainer.test.js
  server/test/services/mqtt/lib/getConfiguration.test.js
  server/test/services/mqtt/lib/installContainer.test.js
  server/test/services/mqtt/lib/saveConfiguration.test.js
  server/test/services/mqtt/lib/updateContainer.test.js
Owners: @Pierre-Gilles, @atrovato

Fix typo in check user presence translations (#1078)
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Mis a jour du message dans une box alert
  front/src/routes/integration/all/netatmo/device-page/DeviceTab.jsx
Owners: @thibautmery, @Terdious

Update prettier
  front/src/routes/integration/all/netatmo/device-page/DeviceTab.jsx
Owners: @thibautmery, @Terdious

MQTT: Upgrade container to Mosquitto 2.0 and fix listener bug #1071 (#1074)
  server/lib/system/index.js
  server/lib/system/system.getNetworkMode.js
  server/lib/system/system.removeContainer.js
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/docker/eclipse-mosquitto-env.sh
  server/services/mqtt/lib/constants.js
  server/services/mqtt/lib/getConfiguration.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/init.js
  server/services/mqtt/lib/installContainer.js
  server/services/mqtt/lib/saveConfiguration.js
  server/services/mqtt/lib/updateContainer.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.removeContainer.test.js
  server/test/services/mqtt/lib/getConfiguration.test.js
  server/test/services/mqtt/lib/installContainer.test.js
  server/test/services/mqtt/lib/saveConfiguration.test.js
  server/test/services/mqtt/lib/updateContainer.test.js
Owners: @Pierre-Gilles, @atrovato

4.1.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Use Node 14 instead of Node 12
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  front/package.json
  package.json
  server/package.json
Owners: @VonOx, @Pierre-Gilles

Upgrade docker image to node 14 + upgrade docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.buildx
  docker/docker-compose-arm.yml
  docker/docker-compose.yml
Owners: @VonOx

add demo file
  front/src/components/boxs/chart-feature/ChartOneFeaturesBox.jsx
  front/src/config/demo.json
Owners: @Pierre-Gilles

Add more test coverage
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/lib/commands/rflink.connect.js
  server/services/rflink/lib/commands/rflink.getNewDevice.js
  server/services/rflink/lib/commands/rflink.milight.unpair.js
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/lib/events/rflink.newValue.js
  server/services/rflink/lib/index.js
  server/test/services/philips-hue/lights.json
  server/test/services/rflink/SerialPortMock.test.js
  server/test/services/rflink/controllers/rflink.controller.test.js
  server/test/services/rflink/lib/addDevice.test.js
  server/test/services/rflink/lib/connect.test.js
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/disconnect.test.js
  server/test/services/rflink/lib/getNewDevice.test.js
  server/test/services/rflink/lib/message.test.js
  server/test/services/rflink/lib/newValue.test.js
  server/test/services/rflink/lib/pair.milight.test.js
  server/test/services/rflink/lib/setValue.test.js
  server/test/services/rflink/lib/unpair.milight.test.js
  server/test/services/rflink/rflink.test.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Upgrade philips-hue dependency to 4.0.9
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
Owners: @VonOx, @hotfix31

Use upnp search in case nupnp search fail
  server/services/philips-hue/lib/light/light.getBridges.js
  server/test/services/philips-hue/light/light.getBridges.test.js
Owners: @VonOx, @hotfix31

Use upnp search instead of n-upnp search
  server/services/philips-hue/lib/light/light.getBridges.js
  server/test/services/philips-hue/light/light.getBridges.test.js
  server/test/services/philips-hue/mocks.test.js
Owners: @VonOx, @hotfix31

feat(service-pihole): add pihole service
  front/src/actions/dashboard/boxes/piHole.js
  front/src/assets/integrations/cover/pihole.jpg
  front/src/components/app.jsx
  front/src/components/boxs/pihole/DataList.jsx
  front/src/components/boxs/pihole/EditPiholeBox.jsx
  front/src/components/boxs/pihole/PiholeBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/index.js
  front/src/config/integrations/networks.json
  front/src/manifest.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  front/src/routes/integration/all/pihole/Pihole.jsx
  front/src/routes/integration/all/pihole/actions.js
  front/src/routes/integration/all/pihole/index.js
  front/src/utils/consts.js
  server/services/index.js
  server/services/pihole/api/pihole.controller.js
  server/services/pihole/index.js
  server/services/pihole/lib/getPiholeSummary.js
  server/services/pihole/lib/index.js
  server/services/pihole/package-lock.json
  server/services/pihole/package.json
  server/utils/constants.js
Owners: @Pierre-Gilles

Go on on the road of testing : long & hard but mandatory
  server/services/rflink/api/rflink.controller.js
  server/services/rflink/lib/commands/rflink.setValue.js
  server/test/services/rflink/lib/addDevice.test.js
  server/test/services/rflink/lib/addNewDevice.test.js
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/pair.milight.test.js
  server/test/services/rflink/lib/setValue.test.js
Owners: @Pierre-Gilles

Fix error on test
  server/services/pihole/api/pihole.controller.js
  server/services/pihole/lib/getPiholeSummary.js
Owners: @Pierre-Gilles

Front: Brighntess device
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/BrightnessDeviceFeature.jsx
Owners: @Pierre-Gilles

hue: Add brightness
  server/services/philips-hue/lib/light/light.setValue.js
Owners: @VonOx, @hotfix31

Front: add brightness device feature
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
Owners: @Pierre-Gilles

prettier front
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
Owners: @Pierre-Gilles

Add demo data
  front/src/config/demo.json
Owners: @Pierre-Gilles

Clear discovered device on re-scan
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
Owners: @atrovato

remove unused import
  server/services/philips-hue/lib/light/light.setValue.js
Owners: @VonOx, @hotfix31

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
