Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

feat(homekit): expose buttons as stateless programmable switches
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(homekit): actually deliver button presses without delay
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(homekit): expose fans as Fanv2
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(homekit): send fan speed commands to a writable feature
  server/services/homekit/lib/buildService.js
  server/test/services/homekit/lib/buildService.test.js
Owners: @Pierre-Gilles

fix(homekit): remember the fan speed when it is switched off
  server/services/homekit/lib/buildService.js
  server/test/services/homekit/lib/buildService.test.js
Owners: @Pierre-Gilles

feat(homekit): expose device batteries
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

test(homekit): cover the battery threshold boundary and level clamping
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(homekit): expose thermostats and air conditioners
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/buildThermostatService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

test(homekit): cover the thermostat service merge
  server/test/services/homekit/lib/buildAccessory.test.js
Owners: @Pierre-Gilles

fix(homekit): deliver every alarm when the mapping asks for no debounce
  server/services/homekit/lib/notifyChange.js
  server/test/services/homekit/lib/notifyChange.test.js
Owners: @Pierre-Gilles

fix(homekit): deliver every press, on the button that was actually pressed
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(homekit): let a lock that reports its own state stay authoritative
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(homekit): keep the fan percentage authoritative on the push path
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(sun): compute sun times in the instance timezone and handle polar day/night
  front/src/components/boxs/sun/Sun.jsx
  server/api/controllers/house.controller.js
  server/lib/house/house.getSunState.js
  server/lib/house/index.js
  server/lib/index.js
  server/test/lib/house/house.getSunState.test.js
Owners: @Pierre-Gilles

fix(homekit): notify HomeKit when a battery crosses the low threshold
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(homekit): report a thermostat as idle between its two setpoints
  server/services/homekit/lib/buildThermostatService.js
  server/test/services/homekit/lib/buildService.test.js
Owners: @Pierre-Gilles

fix(external-integration): ignore unsolicited SRV/TXT records in mDNS discovery scan
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanMdns.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Owners: @Pierre-Gilles

docs(specs): address review feedback on the B.19 calendar type
  docs/specs/external-integrations.md
Owners: @Pierre-Gilles

test(homekit): pin the battery push to the battery service
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

test(homekit): cover a battery rising back above the low threshold
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(sun): compute sun times in the instance timezone and handle DST and polar days
  front/src/components/boxs/sun/Sun.jsx
  server/lib/house/house.getSunState.js
  server/test/lib/house/house.getSunState.test.js
Owners: @Pierre-Gilles

perf(cypress): remove Bluetooth and Broadlink e2e specs
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscovered.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothNoDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkDeviceList.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditDevice.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.cy.js
  front/cypress/fixtures/integration/routes/integration/bluetooth/peripherals.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_scanning.json
  front/cypress/fixtures/integration/routes/integration/broadlink/peripherals.json
Owners: @atrovato, @Pierre-Gilles

fix(cypress): make the signup spec run first explicitly
  front/cypress/cypress.config.js
Owners: @Pierre-Gilles

perf(cypress): build the front without minification and sourcemaps
  front/package.json
Owners: @Pierre-Gilles

ci(cypress): cache node_modules and the Cypress binary
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

ci(cypress): cache the per-service node_modules too
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

feat(dashboard): redesign the weather widget
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/style/dark-mode.css
  front/src/utils/consts.js
Owners: @Pierre-Gilles

fix(homekit): forward the long press of a Xiaomi wireless switch
  server/services/homekit/lib/deviceMappings.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

test(homekit): restore the siren and particulate coverage dropped in a rebase
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(dashboard): add a display toggle for weather alerts
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
Owners: @Pierre-Gilles

fix(dashboard): address review comments on the weather widget
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
Owners: @Pierre-Gilles

Use existing categories & types
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/SirenForAutomationOnlyDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/device/SelectSirenForAutomationOnly.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(dashboard): address review comments on the weather widget
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(dashboard): label binary buttons with the action they apply
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix eslint
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
Owners: @Pierre-Gilles

fix(i18n): correct inverted lock action labels in fr/de translations
  front/src/config/i18n/de.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix unused
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
Owners: @Pierre-Gilles

Move test in siren
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add comment
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  server/utils/constants.js
Owners: @Pierre-Gilles

Speed up the Cypress CI job: drop Bluetooth/Broadlink specs, cache dependencies, lighter e2e build (#2813)
  .github/workflows/docker-pr-build.yml
  front/cypress/cypress.config.js
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscovered.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothNoDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkDeviceList.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditDevice.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.cy.js
  front/cypress/fixtures/integration/routes/integration/bluetooth/peripherals.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_ready.json
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_scanning.json
  front/cypress/fixtures/integration/routes/integration/broadlink/peripherals.json
  front/package.json
Owners: @VonOx, @Pierre-Gilles, @atrovato
