Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Fix z-index bug on input-icon-addon in dark mode
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix btn-outline- colors
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix EDF tempo icon
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Add test
  server/test/services/homekit/lib/buildService.test.js
Owners: @Pierre-Gilles

Disable ssl on config
  server/services/caldav/lib/config/index.js
  server/services/caldav/package-lock.json
Owners: @bertrandda

Use npm package
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
Owners: @bertrandda

Remove useless import
  front/src/routes/integration/all/caldav/account-page/actions.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
Owners: @bertrandda

Fix tests
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Owners: @bertrandda

CalDav integration: Allow user to skip SSL certificate verification (#2344)
  front/package-lock.json
  front/package.json
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/account-page/AccountTab.css
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/account-page/actions.js
  front/src/routes/integration/all/caldav/account-page/index.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/config/index.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Owners: @Pierre-Gilles, @bertrandda

update service get status info to tell if mqtt is ok or if web request is ok
  server/services/nuki/api/nuki.controller.js
  server/services/nuki/lib/commands/nuki.getStatus.js
  server/test/services/nuki/lib/commands/nuki.getStatus.test.js
Owners: @Pierre-Gilles

Rework : use local component state instead of shared global state
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/nuki/NukiDeviceBox.jsx
  front/src/routes/integration/all/nuki/device-page/DeviceTab.jsx
  front/src/routes/integration/all/nuki/discover-http/DiscoverTab.jsx
  front/src/routes/integration/all/nuki/discover-http/index.js
  front/src/routes/integration/all/nuki/discover-mqtt/DiscoverTab.jsx
  front/src/routes/integration/all/nuki/discover-mqtt/index.js
  front/src/routes/integration/all/nuki/index.js
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
  front/src/routes/integration/all/nuki/setup-page/index.js
Owners: @Pierre-Gilles

Update nuki demo
  front/src/config/demo.js
Owners: @Pierre-Gilles

Rework : use the getDeviceParam
  server/services/nuki/lib/device/nuki.getProtocolFromDevice.js
Owners: @Pierre-Gilles

remove unused files
  front/src/routes/integration/all/nuki/actions.js
  front/src/routes/integration/all/nuki/discover-http/SearchForm.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: Fix set permit join
  server/services/zigbee2mqtt/lib/setPermitJoin.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
Owners: @Pierre-Gilles

Fix response/permit_join callback
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Fix set permit join (#2347)
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/setPermitJoin.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
Owners: @Pierre-Gilles

HomeKit: Handle state only shutters (#2342)
  server/services/homekit/lib/buildService.js
  server/test/services/homekit/lib/buildService.test.js
Owners: @Pierre-Gilles

4.61.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Init mpc server
  server/lib/message/message.replyByIntent.js
  server/services/index.js
  server/services/mcp/api/mcp.controller.js
  server/services/mcp/index.js
  server/services/mcp/lib/createServer.js
  server/services/mcp/lib/getAllTools.js
  server/services/mcp/lib/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Owners: @Pierre-Gilles

Handle multiple feature type
  server/services/mcp/lib/createServer.js
  server/services/mcp/lib/getAllTools.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Owners: @Pierre-Gilles

Fix linting
  front/src/utils/emojiWrapper.js
Owners: @Pierre-Gilles

Fix cypress tests
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Improve icons look on dashboard
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix btn bugs
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Improve scene icons display
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Add switch and formater for specific sensors
  server/services/mcp/lib/formatValue.js
  server/services/mcp/lib/getAllTools.js
  server/services/mcp/lib/index.js
Owners: @Pierre-Gilles

Add front integration
  front/src/assets/integrations/cover/mcp.jpg
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/mcp/welcome.jsx
Owners: @Pierre-Gilles

Fix front build on Node v22.18.0
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Fix front build on Node v22.18.0 (#2349)
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

replace uncalibrated icon by another (that is working)
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
Owners: @Pierre-Gilles

Use an explicit toggle button with text
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/nuki/NukiDeviceBox.jsx
Owners: @Pierre-Gilles

Invert state label
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

prettier
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

A new consumption & production energy features
  server/utils/constants.js
Owners: @Pierre-Gilles

Add energy monitoring integration skeleton
  front/src/assets/integrations/cover/energy-monitoring.jpg
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/index.js
Owners: @Pierre-Gilles

Add list of device features with hierarchical view
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.updateFeature.js
  server/lib/device/index.js
  server/migrations/20250825074100-add-device-feature-energy-parent-id.js
  server/models/device_feature.js
Owners: @Pierre-Gilles

Improve translations
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Owners: @Pierre-Gilles

Add new energy monitoring price list
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/api/controllers/energy-price.controller.js
  server/api/routes.js
  server/lib/energy-price/index.js
  server/lib/energy-price/price.create.js
  server/lib/energy-price/price.destroy.js
  server/lib/energy-price/price.get.js
  server/lib/energy-price/price.update.js
  server/lib/index.js
  server/migrations/20250825083612-add-energy-price.js
  server/models/energy_price.js
  server/models/index.js
Owners: @Pierre-Gilles

Adapt tests for energy
  server/lib/energy-price/price.get.js
  server/models/energy_price.js
  server/test/lib/device/device.create.test.js
  server/test/lib/energy-price/energy-price.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
