Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

feat(energy-monitoring): add selective recalculation by feature whitelist
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostEveryThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromYesterday.js
  server/services/energy-monitoring/lib/index.js
Owners: @Pierre-Gilles

feat(front): add multi-feature selection UI for energy recalculation
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Owners: @Pierre-Gilles

i18n(energy-monitoring): add translations for multi-feature selection (de/en/fr)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

chore(test): remove duplicate blank line in calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Owners: @Pierre-Gilles

refactor(pr2): restore master tests strictly + remove cosmetic prod additions
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostEveryThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/utils/duckdb.js
Owners: @Pierre-Gilles

refactor(energy-monitoring): drop calculateCostFrom backward-compat, align legacy test call sites
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Owners: @Pierre-Gilles

refactor(energy-monitoring): drop non-runtime-reachable selector fallbacks
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Owners: @Pierre-Gilles

chore(energy-monitoring): align with unified job.wrapper API from #2528
  server/services/energy-monitoring/lib/index.js
  server/test/services/checks.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostEveryThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Owners: @Pierre-Gilles

chore(pr2): drop dead -range i18n keys and parseDateWithBoundary leftover
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
Owners: @Pierre-Gilles

refactor(energy-monitoring): drop detached wrapper, mirror master fire-and-forget
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
Owners: @Pierre-Gilles

Netatmo: Restore OAuth refresh and add resilient auto-reconnect
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/device-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/discover-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/setup-page/StateConnection.jsx
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.saveStatus.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

feat: replace TOON with GCF for MCP tool responses (60% fewer tokens)
  server/services/mcp/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Owners: @Pierre-Gilles

Fix save device bug when energy_parent_id is invalid (#2559)
  server/lib/device/device.create.js
  server/lib/energy-price/price.getDefaultElectricMeterFeatureId.js
  server/test/lib/device/device.create.test.js
  server/test/lib/energy-price/price.getDefaultElectricMeterFeatureId.test.js
  server/utils/resolveEnergyParentId.js
Owners: @Pierre-Gilles

Tuya : Add mapping core for local/cloud device handling - PR3 (#2466)
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/device-page/DeviceTab.jsx
  front/src/routes/integration/all/tuya/discover-page/DiscoverTab.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/device/tuya.localMapping.js
  server/services/tuya/lib/mappings/cloud/global.js
  server/services/tuya/lib/mappings/cloud/smart-socket.js
  server/services/tuya/lib/mappings/index.js
  server/services/tuya/lib/mappings/local/global.js
  server/services/tuya/lib/mappings/local/smart-socket.js
  server/services/tuya/lib/tuya.localPoll.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/device/tuya.localMapping.test.js
  server/test/services/tuya/lib/mappings/index.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/test/services/tuya/lib/utils/tuya.deviceParams.test.js
Owners: @Pierre-Gilles

Netatmo: Restore OAuth refresh and add resilient auto-reconnect (#2561)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/device-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/discover-page/StateConnection.jsx
  front/src/routes/integration/all/netatmo/setup-page/StateConnection.jsx
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.saveStatus.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Matter: add local temperature
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/temperatureMatterHelper.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/utils/temperatureMatterHelper.test.js
Owners: @Pierre-Gilles

Reverse read order
  server/services/matter/lib/matter.listenToStateChange.js
Owners: @Pierre-Gilles

Matter : Display save error in UI
  front/src/routes/integration/all/matter/MatterDevices.jsx
Owners: @Pierre-Gilles

Run prettier
  front/src/routes/integration/all/matter/MatterDevices.jsx
Owners: @Pierre-Gilles

feat(energy-monitoring): add date-range recalculation (backend)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.destroyStatesFrom.js
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexRange.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostRange.js
  server/services/energy-monitoring/lib/index.js
  server/test/lib/device/device.destroyStatesFrom.test.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexRange.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostRange.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Netatmo: Trigger reconnect cycle on auth errors from business API calls
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/netatmo/discover-page/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.handleApiAuthError.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.handleApiAuthError.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingValues.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Owners: @thibautmery, @Terdious

Display the full error content
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDeviceSaveErrorAlert.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/utils/formatErrors.js
Owners: @Pierre-Gilles

Netatmo: Trigger reconnect cycle on auth errors from business API calls (#2562)
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/netatmo/discover-page/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.handleApiAuthError.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.handleApiAuthError.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingValues.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
Owners: @thibautmery, @Terdious

Tuya: Add GitHub issue assistant for unsupported and partially supported devices - PR4 (#2467)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  front/src/routes/integration/all/tuya/commons/deviceHelpers.js
  front/src/routes/integration/all/tuya/commons/localPoll.js
  front/src/routes/integration/all/tuya/discover-page/TuyaGithubIssueSection.jsx
  front/src/routes/integration/all/tuya/discover-page/githubIssue.js
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.localScan.js
  server/services/tuya/lib/utils/tuya.deviceParams.js
  server/services/tuya/lib/utils/tuya.report.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.localPoll.test.js
  server/test/services/tuya/lib/tuya.localScan.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Owners: @Pierre-Gilles

Add ensureNodeConnected function
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.refreshDevices.js
  server/services/matter/utils/constants.js
  server/services/matter/utils/ensureNodeConnected.js
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
  server/test/services/matter/utils/ensureNodeConnected.test.js
Owners: @Pierre-Gilles

Add more logs to Matter integration
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.refreshDevices.js
  server/services/matter/utils/ensureNodeConnected.js
  server/services/matter/utils/temperatureMatterHelper.js
  server/test/services/matter/utils/ensureNodeConnected.test.js
  server/test/services/matter/utils/temperatureMatterHelper.test.js
Owners: @Pierre-Gilles

Fix review feedback
  server/services/matter/utils/ensureNodeConnected.js
  server/test/services/matter/utils/ensureNodeConnected.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: add IEEE address and link to open Z2M (#2488)
  front/src/assets/integrations/logos/logo_zigbee2mqtt.png
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/Zigbee2mqttBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteOptions.jsx
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getSetup.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/payloads/CCT5015.json
  server/test/services/zigbee2mqtt/utils/payloads/ZSS-ZK-THL.json
Owners: @Pierre-Gilles

Add DeviceFeature supported options
  server/lib/device/camera/camera.get.js
  server/lib/device/device.create.js
  server/lib/device/device.destroyParam.js
  server/lib/device/device.get.js
  server/lib/device/device.init.js
  server/lib/device/device.syncFeatureSupportedOptions.js
  server/lib/device/device.updateFeature.js
  server/lib/device/light/light.getLightsInRoom.js
  server/lib/device/light/light.init.js
  server/lib/room/room.get.js
  server/lib/room/room.getBySelector.js
  server/migrations/20260619120000-create-device-feature-supported-option.js
  server/models/device_feature.js
  server/models/device_feature_supported_option.js
  server/models/index.js
  server/test/lib/device/device.create.test.js
  server/test/utils/deviceQueryIncludes.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/deviceQueryIncludes.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles

Fix eslint
  server/test/lib/device/device.create.test.js
Owners: @Pierre-Gilles

Fix feedbacks
  server/lib/device/device.create.js
  server/migrations/20260619120000-create-device-feature-supported-option.js
  server/models/device_feature_supported_option.js
  server/test/lib/device/device.create.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles

Fix crash on undefined options
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles

Add AI download debug JSON button
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiChatDebugDownload.jsx
  front/src/routes/integration/all/openai/index.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/lib/gateway/index.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Owners: @Pierre-Gilles

Add AI download debug JSON button (#2568)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiChatDebugDownload.jsx
  front/src/routes/integration/all/openai/index.js
  server/api/controllers/gateway.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.getAiChatDebugContext.js
  server/lib/gateway/index.js
  server/test/controllers/gateway/gateway.controller.test.js
  server/test/lib/gateway/gateway.getAiChatDebugContext.test.js
Owners: @Pierre-Gilles

AI: Add sensor.set-state tool
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

Fix feature
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/createServer.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/createServer.test.js
Owners: @Pierre-Gilles

Add coverage
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

Fix feedbacks
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

feat(tuya): add degraded-local backoff with UI badge and reset endpoints
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaLocalPollSection.jsx
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.degraded.js
  server/test/services/tuya/lib/controllers/tuya.controller.test.js
  server/test/services/tuya/lib/tuya.poll.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
  server/test/services/tuya/lib/utils/tuya.degraded.test.js
Owners: @Pierre-Gilles

fix(front/tuya): preserve transient tuya_mapping after device save
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
