Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Labels
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/device-page/EmptyState.jsx
Owners: @Pierre-Gilles

UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/device-page/EmptyState.jsx
Owners: @Pierre-Gilles

Improve Vacbot box
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/vacbot/Vacbot.jsx
Owners: @Pierre-Gilles

Fix bug when saving historical state older than current state
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Remove .only
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Sync with Gladys Plus every hour
  server/services/enedis/lib/enedis.init.js
  server/test/services/enedis/index.test.js
Owners: @Pierre-Gilles

Explain better in UI how it works + add delete button
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/enedis-gateway/Welcome.jsx
Owners: @Pierre-Gilles

Add Air Conditioning device category (#1718)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Update year in footer of readme (#1726)
  README.md
  front/README.md
Owners: @Pierre-Gilles

Tasmota/Zigbee2mqtt: Keep name and room of device when merging (#1575)
  server/services/tasmota/lib/mqtt/tasmota.mqtt.handleMessage.js
  server/services/tasmota/lib/tasmota.mergeWithExistingDevice.js
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/test/services/tasmota/lib/http/tasmota.http.status.test.js
  server/test/services/tasmota/lib/http/tasmota.http.subStatus.test.js
  server/test/services/tasmota/lib/tasmota.getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/utils/device.test.js
  server/utils/device.js
Owners: @atrovato, @Pierre-Gilles

Gladys Plus: Display error message when local user is not accepted
  front/src/actions/gatewayLinkUser.js
  front/src/routes/gateway-setup/index.js
Owners: @Pierre-Gilles

Gladys Plus: Display error message when local user is not accepted (#1728)
  front/src/actions/gatewayLinkUser.js
  front/src/routes/gateway-setup/index.js
Owners: @Pierre-Gilles

Update ChatGPT integration translations
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Correct i18n fr on "réordonner"
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Update ChatGPT integration translations + Fix FR i18n typo (#1729)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

4.19.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

3 years -> 2 years
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tasmota thermostat management
  server/services/tasmota/lib/features/index.js
  server/services/tasmota/lib/features/temperature.js
  server/services/tasmota/lib/features/thermostat.js
  server/test/services/tasmota/lib/device-creation/thermostat.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-thermostat.test.js
Owners: @atrovato

Merge
  front/src/components/boxs/device-in-room/device-features/ThermostatModeDeviceFeature.jsx
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

ESLint
  front/src/routes/integration/all/overkiz/actions.js
  front/src/routes/integration/all/overkiz/discover-page/EmptyState.jsx
  server/services/overkiz/lib/commands/overkiz.connect.js
  server/services/overkiz/lib/commands/overkiz.disconnect.js
  server/services/overkiz/lib/commands/overkiz.getDevicesStates.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
  server/services/overkiz/lib/commands/overkiz.sendCommand.js
  server/services/overkiz/lib/commands/overkiz.syncOverkizDevices.js
  server/services/overkiz/package-lock.json
  server/services/overkiz/package.json
Owners: @Pierre-Gilles

Documentation link
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/overkiz/OverkizPage.jsx
Owners: @Pierre-Gilles

last_daily_aggregate & last_hourly_aggregate should be reset to day before in saveHistoricalState
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Update Vacbot box template
  front/src/components/boxs/vacbot/Vacbot.jsx
Owners: @Pierre-Gilles

add hygen template
  server/_templates/gladys_module/box/config/integrations/devices.json
  server/_templates/gladys_module/box/routes/integrations/all/app.jsx
  server/_templates/gladys_module/service/README.md.t
  server/_templates/gladys_module/service/api/module.controller.js.t
  server/_templates/gladys_module/service/import_module.js.t
  server/_templates/gladys_module/service/index.js.t
  server/_templates/gladys_module/service/lib/commands/module.getStatus.js.t
  server/_templates/gladys_module/service/lib/commands/module.start.js.t
  server/_templates/gladys_module/service/lib/commands/module.stop.js.t
  server/_templates/gladys_module/service/lib/config/module.getConfiguration.js.t
  server/_templates/gladys_module/service/lib/config/module.saveConfiguration.js.t
  server/_templates/gladys_module/service/lib/index.js.t
  server/_templates/gladys_module/service/lib/utils/module.constants.js.t
  server/_templates/gladys_module/service/package.json.t
  server/_templates/gladys_module/service/prompt.js
  server/_templates/gladys_module/service/test/api/module.controller.test.js
  server/_templates/gladys_module/service/test/index.test.js.t
  server/_templates/gladys_module/service/test/lib/commands/module.getStatus.test.js.t
  server/_templates/gladys_module/service/test/lib/commands/module.start.test.js.t
  server/_templates/gladys_module/service/test/lib/commands/module.stop.test.js.t
  server/_templates/gladys_module/service/test/lib/config/module.getConfiguration.test.js.t
  server/_templates/gladys_module/service/test/lib/config/module.saveConfiguration.test.js.t
  server/_templates/gladys_module/service/test/mocks/consts.test.js.t
  server/_templates/gladys_module/service/test/mocks/module.mock.test.js.t
Owners: @Pierre-Gilles

install hygen and give a try to a script
  server/package.json
Owners: @Pierre-Gilles

correct saveConfiguration and getConfiguration test template
  server/_templates/gladys_module/service/test/lib/config/module.getConfiguration.test.js.t
  server/_templates/gladys_module/service/test/lib/config/module.saveConfiguration.test.js.t
Owners: @Pierre-Gilles

Fix controller test template
  server/_templates/gladys_module/service/test/api/module.controller.test.js
Owners: @Pierre-Gilles

Prettier and eslint
  server/_templates/gladys_module/box/config/integrations/devices.json
  server/_templates/gladys_module/service/lib/config/module.getConfiguration.js.t
  server/_templates/gladys_module/service/lib/config/module.saveConfiguration.js.t
  server/_templates/gladys_module/service/prompt.js
  server/_templates/gladys_module/service/test/api/module.controller.test.js.t
  server/_templates/gladys_module/service/test/index.test.js.t
  server/package-lock.json
  server/services/index.js
Owners: @Pierre-Gilles

sync
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/EweLinkDeviceBox.jsx
  front/src/routes/integration/all/overkiz/OverkizDeviceBox.jsx
  front/src/routes/integration/all/overkiz/OverkizPage.jsx
  front/src/routes/integration/all/overkiz/actions.js
  front/src/routes/integration/all/overkiz/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/overkiz/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/overkiz/settings-page/index.js
  front/src/routes/integration/all/overkiz/setup-page/SetupTab.jsx
  server/lib/device/device.setupPoll.js
  server/services/index.js
  server/services/overkiz/api/overkiz.controller.js
  server/services/overkiz/lib/commands/overkiz.config.js
  server/services/overkiz/lib/commands/overkiz.configuration.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
  server/services/overkiz/lib/index.js
  server/services/overkiz/lib/utils/overkiz.bindValue.js
  server/services/overkiz/lib/utils/overkiz.constants.js
Owners: @Pierre-Gilles, @NickDub

Reset agregate with less conditions
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Activate persistence in Zigbee2mqtt mosquitto to avoid losing devices on MQTT restart
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-env.sh
  server/services/zigbee2mqtt/lib/constants.js
Owners: @Pierre-Gilles

Remove shell script and write file in Node.js
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-env.sh
  server/services/zigbee2mqtt/docker/mosquitto.conf
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Owners: @Pierre-Gilles

Fix #1714: When editing device in room box, select should not be hidden behind bottom bar
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
Owners: @Pierre-Gilles

Add margin bottom to container + add max height to select menu
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

Wrong script file
  server/services/zwave-js-ui/lib/commands/installZwaveJSUIContainer.js
Owners: @Pierre-Gilles

Empty password
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/updateConfiguration.js
Owners: @Pierre-Gilles

Empty password
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/commands/updateConfiguration.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
