Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Translate the Gladys Plus offline alert card in Spanish
  front/src/config/i18n/es.json
Owners: @Pierre-Gilles

fix(security): stop password reset link poisoning through an attacker-chosen origin
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/forgot-password/ForgotPasswordPage.jsx
  front/src/routes/forgot-password/index.js
  front/src/utils/consts.js
  server/api/controllers/user.controller.js
  server/api/routes.js
  server/config/brain/user/answers.en.json
  server/config/brain/user/answers.fr.json
  server/lib/session/session.create.js
  server/lib/session/session.getAccessToken.js
  server/lib/user/index.js
  server/lib/user/user.forgotPassword.js
  server/lib/user/user.verifyForgotPasswordCode.js
  server/migrations/20260922000000-add-session-origin.js
  server/models/session.js
  server/test/controllers/user/user.create.test.js
  server/test/controllers/user/user.forgotPassword.controller.test.js
  server/test/controllers/user/user.forgotPassword.test.js
  server/test/controllers/user/user.getAccessToken.test.js
  server/test/controllers/user/user.login.test.js
  server/test/lib/session/session.test.js
  server/test/lib/user/user.forgotPassword.test.js
  server/test/lib/user/user.verifyForgotPasswordCode.test.js
  server/test/utils/accessToken.test.js
  server/test/utils/origin.test.js
  server/utils/accessToken.js
  server/utils/origin.js
Owners: @Pierre-Gilles

feat(i18n): Spanish translation of the forgot-password one-time code flow
  front/src/config/i18n/es.json
  server/config/brain/user/answers.es.json
Owners: @Pierre-Gilles

Gladys Plus: setting to be emailed when the instance goes offline (#3095)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway/GatewayInstanceOfflineAlert.jsx
  front/src/routes/settings/settings-gateway/GatewayPage.jsx
  front/src/routes/settings/settings-gateway/index.js
  front/src/utils/GatewaySession.js
Owners: @Pierre-Gilles

fix(security): address review of the forgot-password origin check
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/forgot-password/ForgotPasswordPage.jsx
  front/src/routes/forgot-password/index.js
  front/src/utils/consts.js
  server/api/controllers/user.controller.js
  server/lib/session/session.getAccessToken.js
  server/lib/user/user.forgotPassword.js
  server/test/controllers/user/user.forgotPassword.controller.test.js
  server/test/controllers/user/user.forgotPassword.test.js
  server/test/controllers/user/user.getAccessToken.test.js
  server/test/lib/session/session.test.js
  server/test/lib/user/user.forgotPassword.test.js
Owners: @Pierre-Gilles

feat(i18n): add the Spanish labels of the grid-carbon-sensor category
  front/src/config/i18n/es.json
Owners: @Pierre-Gilles

feat(device): grid-carbon-sensor category (#3121)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/test/utils/constants.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

style(server): format the forgot-password tests with prettier
  server/test/lib/user/user.forgotPassword.test.js
Owners: @Pierre-Gilles

fix(security): stop password reset link poisoning through an attacker-chosen origin (#3120)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/forgot-password/ForgotPasswordPage.jsx
  front/src/routes/forgot-password/index.js
  front/src/utils/consts.js
  server/api/controllers/user.controller.js
  server/api/routes.js
  server/config/brain/user/answers.en.json
  server/config/brain/user/answers.es.json
  server/config/brain/user/answers.fr.json
  server/lib/session/session.create.js
  server/lib/user/index.js
  server/lib/user/user.forgotPassword.js
  server/lib/user/user.verifyForgotPasswordCode.js
  server/migrations/20260922000000-add-session-origin.js
  server/models/session.js
  server/test/controllers/user/user.create.test.js
  server/test/controllers/user/user.forgotPassword.controller.test.js
  server/test/controllers/user/user.forgotPassword.test.js
  server/test/controllers/user/user.login.test.js
  server/test/lib/session/session.test.js
  server/test/lib/user/user.forgotPassword.test.js
  server/test/lib/user/user.verifyForgotPasswordCode.test.js
  server/test/utils/accessToken.test.js
  server/test/utils/origin.test.js
  server/utils/accessToken.js
  server/utils/origin.js
Owners: @Pierre-Gilles

fix(matter): upgrade matter.js to 0.17.9 to fix "Node ID X is already commissioned" pairing errors
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Owners: @Pierre-Gilles

fix(matter): upgrade matter.js to 0.17.9 to fix "Node ID X is already commissioned" pairing errors (#3122)
  server/package-lock.json
  server/package.json
  server/services/matter/package-lock.json
  server/services/matter/package.json
Owners: @Pierre-Gilles

chore(deps): apply patch/minor security updates to lockfiles
  front/package-lock.json
  server/package-lock.json
  server/services/airplay/package-lock.json
  server/services/google-cast/package-lock.json
  server/services/mcp/package-lock.json
  server/services/tuya/package-lock.json
Owners: @Pierre-Gilles

chore(deps): apply patch/minor security updates to lockfiles (#3123)
  front/package-lock.json
  server/package-lock.json
  server/services/airplay/package-lock.json
  server/services/google-cast/package-lock.json
  server/services/mcp/package-lock.json
  server/services/tuya/package-lock.json
Owners: @Pierre-Gilles

fix(i18n): add the Spanish labels of the smoke detector features
  front/src/config/i18n/es.json
Owners: @Pierre-Gilles

feat(zigbee2mqtt): map the diagnostic features of smoke detectors (#3124)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SmokeSensorContaminationDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SmokeSensorMutedDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/BinaryDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/SmokeSensorContaminationDeviceState.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/index.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/exposes/textType.js
  server/test/services/zigbee2mqtt/exposes/smokeSensorBinaryType.test.js
  server/test/services/zigbee2mqtt/exposes/smokeSensorEnumType.test.js
  server/test/services/zigbee2mqtt/exposes/textType.test.js
  server/test/services/zigbee2mqtt/utils/payloads/HS1SA-E-PLUS.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

5.1.0 (#3125)
  package-lock.json
  package.json
Owners: @Pierre-Gilles

ci: replace removed cloudflare/pages-action with wrangler-action
  .github/workflows/build-apidoc-documentation.yml
  .github/workflows/build-demo-website.yml
Owners: @VonOx, @Pierre-Gilles

ci: replace removed cloudflare/pages-action with wrangler-action (#3126)
  .github/workflows/build-apidoc-documentation.yml
  .github/workflows/build-demo-website.yml
Owners: @VonOx, @Pierre-Gilles

fix(external-integration): make registerProxyService idempotent
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/test/lib/external-integration/externalIntegration.registerProxyService.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
Owners: @Pierre-Gilles

feat(thermostat): add the schedule matching and validation helpers
  server/test/utils/thermostatSchedule.test.js
  server/test/utils/thermostatValidateSchedule.test.js
  server/utils/thermostatSchedule.js
  server/utils/thermostatValidateSchedule.js
Owners: @Pierre-Gilles

feat(thermostat): add the weekly schedule tables
  server/migrations/20260823000000-create-thermostat-schedule.js
  server/models/index.js
  server/models/thermostat_schedule.js
  server/models/thermostat_schedule_slot.js
  server/test/models/thermostat_schedule.test.js
  server/utils/thermostatConstants.js
Owners: @Pierre-Gilles

feat(thermostat): add the thermostat integration service
  server/services/index.js
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/index.js
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.createDevice.js
  server/services/thermostat/lib/thermostat.createSchedule.js
  server/services/thermostat/lib/thermostat.deleteSchedule.js
  server/services/thermostat/lib/thermostat.deviceConfig.js
  server/services/thermostat/lib/thermostat.getDevices.js
  server/services/thermostat/lib/thermostat.getSchedules.js
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/services/thermostat/lib/thermostat.postDelete.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/services/thermostat/lib/thermostat.setVariable.js
  server/services/thermostat/lib/thermostat.updateSchedule.js
  server/services/thermostat/package.json
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/index.test.js
  server/test/services/thermostat/lib/index.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers2.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.test.js
  server/test/services/thermostat/lib/thermostat.deviceConfig.test.js
  server/test/services/thermostat/lib/thermostat.devices.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Owners: @Pierre-Gilles

feat(thermostat): declare the dashboard box type
  server/lib/device/device.migrate.js
  server/models/dashboard.js
  server/test/lib/device/device.migrate.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(thermostat): add the dashboard widget
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/components/boxs/thermostat/CircularGauge.jsx
  front/src/components/boxs/thermostat/EditThermostatBox.jsx
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/components/boxs/thermostat/deviceConfig.js
  front/src/components/boxs/thermostat/gaugeGeometry.js
  front/src/components/boxs/thermostat/scheduleLookup.js
  front/src/components/boxs/thermostat/style.css
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/utils/thermostatPresetColors.js
Owners: @Pierre-Gilles

feat(thermostat): add the integration pages
  front/src/assets/integrations/cover/thermostat.jpg
  front/src/components/app.jsx
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/thermostat/ThermostatPage.jsx
  front/src/routes/integration/all/thermostat/device-page/DeviceTab.jsx
  front/src/routes/integration/all/thermostat/device-page/ThermostatDeviceBox.jsx
  front/src/routes/integration/all/thermostat/device-page/actions.js
  front/src/routes/integration/all/thermostat/device-page/index.js
  front/src/routes/integration/all/thermostat/device-page/style.css
  front/src/routes/integration/all/thermostat/edit-page/EditForm.jsx
  front/src/routes/integration/all/thermostat/edit-page/actions.js
  front/src/routes/integration/all/thermostat/edit-page/index.js
  front/src/routes/integration/all/thermostat/edit-page/style.css
  front/src/routes/integration/all/thermostat/schedule-page/ScheduleEditor.jsx
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  front/src/routes/integration/all/thermostat/schedule-page/actions.js
  front/src/routes/integration/all/thermostat/schedule-page/index.js
  front/src/routes/integration/all/thermostat/schedule-page/style.css
Owners: @Pierre-Gilles

fix(thermostat): address the review feedback on units, manual holds and cleanup
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.deleteSchedule.js
  server/services/thermostat/lib/thermostat.detachSchedule.js
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/services/thermostat/lib/thermostat.setVariable.js
  server/services/thermostat/package-lock.json
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers.test.js
  server/test/services/thermostat/lib/thermostat.detachSchedule.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Owners: @Pierre-Gilles

test(thermostat): cover the remaining defensive branches
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Owners: @Pierre-Gilles

fix(thermostat): defer the preset write to the end of the drag
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/api/thermostat.controller.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers2.test.js
Owners: @Pierre-Gilles

fix(thermostat): keep overnight slots when copying a day onto other days
  server/test/utils/thermostatSchedule.test.js
  server/utils/thermostatSchedule.js
Owners: @Pierre-Gilles

feat(thermostat): add the English, French and German translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/es.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(thermostat): stop the return to the schedule from re-arming manual mode
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
Owners: @Pierre-Gilles

docs(thermostat): add the living specs for the integration
  docs/specs/dashboard-flexible-layout-and-widgets.md
  docs/specs/device-migration.md
  docs/specs/thermostat.md
Owners: @Pierre-Gilles

fix(thermostat): harden the regulation loop against out-of-range input
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/routes/integration/all/thermostat/edit-page/actions.js
  front/src/routes/integration/all/thermostat/schedule-page/SchedulePage.jsx
  front/src/routes/integration/all/thermostat/schedule-page/actions.js
  server/migrations/20260823000000-create-thermostat-schedule.js
  server/models/thermostat_schedule.js
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.createSchedule.js
  server/services/thermostat/lib/thermostat.updateSchedule.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers2.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
  server/utils/thermostatConstants.js
Owners: @Pierre-Gilles

fix(thermostat): make the schedule editor readable and stop it blocking saves
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/schedule-page/ScheduleEditor.jsx
  front/src/routes/integration/all/thermostat/schedule-page/style.css
Owners: @Pierre-Gilles

perf(thermostat): cache the runtime feature keys behind the ownership check
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.createDevice.js
  server/services/thermostat/lib/thermostat.onWindowOpen.js
  server/services/thermostat/lib/thermostat.postDelete.js
  server/services/thermostat/lib/thermostat.setVariable.js
  server/test/services/thermostat/lib/thermostat.devices.test.js
  server/test/services/thermostat/lib/thermostat.onWindowOpen.test.js
  server/test/services/thermostat/lib/thermostat.setVariable.test.js
Owners: @Pierre-Gilles

chore(thermostat): drop dead styles and stop the services the tests start
  front/src/components/boxs/thermostat/style.css
  server/test/services/thermostat/index.test.js
Owners: @Pierre-Gilles

fix(thermostat): expire a permanent manual hold once a schedule is attached
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
Owners: @Pierre-Gilles

fix(thermostat): really stop an external thermostat that has a mode
  docs/specs/thermostat.md
  front/src/components/boxs/thermostat/CircularGauge.jsx
  front/src/components/boxs/thermostat/ThermostatBox.jsx
  front/src/components/boxs/thermostat/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/thermostat/device-page/ThermostatDeviceBox.jsx
  front/src/routes/integration/all/thermostat/device-page/actions.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/test/services/thermostat/lib/thermostat.external.test.js
Owners: @Pierre-Gilles

test(thermostat): cover the mode writes, and format the device list
  front/src/routes/integration/all/thermostat/device-page/actions.js
  server/test/services/thermostat/lib/thermostat.external.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
Owners: @Pierre-Gilles

feat(thermostat): store schedules as transition points, owned by a house
  server/migrations/20260823000000-create-thermostat-schedule.js
  server/models/index.js
  server/models/thermostat_schedule.js
  server/models/thermostat_schedule_device.js
  server/models/thermostat_schedule_slot.js
  server/models/thermostat_schedule_transition.js
  server/services/thermostat/api/thermostat.controller.js
  server/services/thermostat/lib/index.js
  server/services/thermostat/lib/thermostat.applySchedules.js
  server/services/thermostat/lib/thermostat.createDevice.js
  server/services/thermostat/lib/thermostat.createSchedule.js
  server/services/thermostat/lib/thermostat.deleteSchedule.js
  server/services/thermostat/lib/thermostat.detachSchedule.js
  server/services/thermostat/lib/thermostat.deviceConfig.js
  server/services/thermostat/lib/thermostat.getSchedules.js
  server/services/thermostat/lib/thermostat.scheduleDevice.js
  server/services/thermostat/lib/thermostat.setValue.js
  server/services/thermostat/lib/thermostat.updateSchedule.js
  server/test/models/thermostat_schedule.test.js
  server/test/services/thermostat/api/thermostat.controller.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.helpers2.test.js
  server/test/services/thermostat/lib/thermostat.applySchedules.test.js
  server/test/services/thermostat/lib/thermostat.detachSchedule.test.js
  server/test/services/thermostat/lib/thermostat.external.test.js
  server/test/services/thermostat/lib/thermostat.regulateDevice.test.js
  server/test/services/thermostat/lib/thermostat.scheduleDevice.test.js
  server/test/services/thermostat/lib/thermostat.schedules.test.js
  server/test/services/thermostat/lib/thermostat.setValue.test.js
  server/test/utils/thermostatValidateSchedule.test.js
  server/utils/thermostatConstants.js
  server/utils/thermostatSchedule.js
  server/utils/thermostatValidateSchedule.js
Owners: @Pierre-Gilles
