Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Upgrade ESLint + JSDoc eslint
  server/.eslintrc.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Update fr.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add action description
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/commands/updateConfiguration.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Update version of ecovacs-deebot lib
  server/services/ecovacs/package-lock.json
  server/services/ecovacs/package.json
Owners: @Pierre-Gilles

Add batterylevel in status test
  server/test/services/ecovacs/consts.test.js
  server/test/services/ecovacs/lib/device/vacbot.getStatus.test.js
  server/test/services/ecovacs/mocks/ecovacs-api.mock.test.js
Owners: @Pierre-Gilles

Set red for some active sensors
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/demo.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles

remove console log
  server/lib/message/message.create.js
Owners: @Pierre-Gilles

Enedis: Fix typo on usage point screen
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Enedis: Fix typo on usage point screen (#1765)
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Upgrade front Eslint, add warning on @connect decorator
  front/.eslintrc.json
  front/package-lock.json
  front/package.json
  front/src/routes/login-gateway/index.js
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
  front/src/routes/settings/settings-gateway-open-api/index.js
  front/src/routes/settings/settings-house/index.js
  front/src/routes/settings/settings-system/index.js
  front/src/routes/settings/settings-users/edit-user/index.js
  front/src/routes/signup/1-welcome/index.js
  front/src/routes/signup/2-create-account-gladys-gateway/index.js
  front/src/routes/signup/2-create-account-local/index.js
  front/src/routes/signup/4-configure-house/index.js
Owners: @Pierre-Gilles

Convert @connect to connect()
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
  front/src/routes/integration/index.js
  front/src/routes/map/Map.jsx
  front/src/routes/profile/index.js
  front/src/routes/scene/duplicate-scene/index.js
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/HouseEmptyOrNot.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/UserPresenceTrigger.jsx
  front/src/routes/scene/index.js
  front/src/routes/settings/settings-billing/index.js
  front/src/routes/settings/settings-gateway-users/index.js
  front/src/routes/settings/settings-gateway/index.js
  front/src/routes/settings/settings-users/UserCard.jsx
  front/src/routes/settings/settings-users/create-user/index.js
  front/src/routes/settings/settings-users/edit-user/EditPreferences.jsx
  front/src/routes/settings/settings-users/edit-user/ResetPassword.jsx
  front/src/routes/settings/settings-users/index.js
  front/src/routes/signup/3-preferences/index.js
Owners: @Pierre-Gilles

Convert all @connect
  front/src/components/app.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/components/boxs/clock/EditClock.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/room-humidity/EditRoomHumidityBox.jsx
  front/src/components/boxs/room-temperature/EditRoomTemperatureBox.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/routes/forgot-password/index.js
  front/src/routes/gateway-forgot-password/index.js
  front/src/routes/integration/all/bluetooth/device-page/index.js
  front/src/routes/integration/all/bluetooth/setup-page/setup-peripheral/ConfigurePeripheral.jsx
  front/src/routes/integration/all/broadlink/device-page/index.js
  front/src/routes/integration/all/caldav/account-page/index.js
  front/src/routes/integration/all/google-home-gateway/index.js
  front/src/routes/integration/all/lan-manager/discover-page/index.js
  front/src/routes/integration/all/mqtt/device-page/index.js
  front/src/routes/integration/all/mqtt/setup-page/index.js
  front/src/routes/integration/all/philips-hue/setup-page/index.js
  front/src/routes/integration/all/tasmota/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/commons/CheckStatus.js
  front/src/routes/integration/all/zigbee2mqtt/edit-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/CheckStatus.js
  front/src/routes/map/NewArea.jsx
  front/src/routes/map/index.jsx
  front/src/routes/settings/settings-session/index.js
  front/src/routes/signup-gateway/index.js
Owners: @Pierre-Gilles, @atrovato, @bertrandda, @VonOx, @hotfix31

Recommend NPM 9.x
  front/package-lock.json
  front/package.json
  package.json
  server/package.json
Owners: @Pierre-Gilles

Inline style is not recommended anymore
  front/.eslintrc.json
Owners: @Pierre-Gilles

@connect is now an error
  front/.eslintrc.json
Owners: @Pierre-Gilles

Scene: Add new toggle light/switch action
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Water leak, CO and smoke sensor should be in red when active (#1763)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/demo.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Update NPM engine in server package-lock.json
  server/package-lock.json
Owners: @Pierre-Gilles

Update OpenWeather integration to use new free API
  front/src/actions/dashboard/boxes/weather.js
  server/services/openweather/index.js
  server/services/openweather/lib/formatResults.js
  server/test/services/openweather/expected-result.json
  server/test/services/openweather/openweather.test.js
  server/test/services/openweather/weather-clear.json
  server/test/services/openweather/weather-clouds.json
  server/test/services/openweather/weather-data-new.json
  server/test/services/openweather/weather-drizzle.json
  server/test/services/openweather/weather-fog.json
  server/test/services/openweather/weather-forecast.json
  server/test/services/openweather/weather-other.json
  server/test/services/openweather/weather-rain.json
  server/test/services/openweather/weather-snow.json
  server/test/services/openweather/weather-thunderstorm.json
Owners: @Pierre-Gilles, @callemand

Add test to unknown weather type
  server/services/openweather/lib/formatResults.js
  server/test/services/openweather/openweather.test.js
Owners: @callemand

Update OpenWeather integration to use new free API (#1767)
  front/src/actions/dashboard/boxes/weather.js
  server/services/openweather/index.js
  server/services/openweather/lib/formatResults.js
  server/test/services/openweather/expected-result.json
  server/test/services/openweather/openweather.test.js
  server/test/services/openweather/weather-clear.json
  server/test/services/openweather/weather-clouds.json
  server/test/services/openweather/weather-data-new.json
  server/test/services/openweather/weather-drizzle.json
  server/test/services/openweather/weather-fog.json
  server/test/services/openweather/weather-forecast.json
  server/test/services/openweather/weather-other.json
  server/test/services/openweather/weather-rain.json
  server/test/services/openweather/weather-snow.json
  server/test/services/openweather/weather-thunderstorm.json
Owners: @Pierre-Gilles, @callemand

4.22.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Align sensor display name
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
Owners: @Pierre-Gilles

fix eslint
  front/src/routes/integration/all/withings/device-page/index.js
  front/src/routes/integration/all/withings/edit-page/index.js
  front/src/routes/integration/all/withings/settings-page/index.js
  server/lib/device/device.destroyByServiceId.js
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/oauth2-client/oauth2.executeQuery.js
  server/services/withings/lib/utils/withings.buildBatteryLevelValues.js
  server/services/withings/lib/utils/withings.buildMapOfMeasures.js
  server/services/withings/lib/utils/withings.getAndSaveBatteryLevel.js
  server/services/withings/lib/utils/withings.getAndSaveMeasures.js
  server/services/withings/lib/utils/withings.getDevices.js
  server/services/withings/lib/utils/withings.getMeasures.js
  server/services/withings/lib/utils/withings.matchDeviceInDB.js
  server/services/withings/lib/withings.initDevices.js
  server/services/withings/lib/withings.poll.js
  server/services/withings/lib/withings.postCreate.js
  server/test/services/withings/lib/oauth2-client/oauth2manager.test.js
  server/test/services/withings/lib/withings.serverMock.test.js
Owners: @Pierre-Gilles

fix prettier
  front/src/routes/integration/all/withings/edit-page/index.js
Owners: @Pierre-Gilles

Initial commit
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Test
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
Owners: @Pierre-Gilles

New ES Lint rules
  server/services/zwave-js-ui/index.js
  server/services/zwave-js-ui/lib/commands/addNode.js
  server/services/zwave-js-ui/lib/commands/getConfiguration.js
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/commands/getStatus.js
  server/services/zwave-js-ui/lib/commands/removeNode.js
  server/services/zwave-js-ui/lib/commands/setValue.js
  server/services/zwave-js-ui/lib/commands/updateConfiguration.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/nodeReady.js
  server/services/zwave-js-ui/lib/events/notification.js
  server/services/zwave-js-ui/lib/events/scanComplete.js
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueNotification.js
  server/services/zwave-js-ui/lib/events/valueRemoved.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
  server/services/zwave-js-ui/lib/utils/bindValue.js
  server/services/zwave-js-ui/lib/utils/externalId.js
  server/services/zwave-js-ui/lib/utils/getCategory.js
  server/services/zwave-js-ui/lib/utils/splitNode.js
  server/services/zwave-js-ui/lib/utils/transformClasses.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Owners: @Pierre-Gilles

New ES Lint rules
  front/src/routes/integration/all/zwave-js-ui/device-page/index.js
  front/src/routes/integration/all/zwave-js-ui/discover-page/index.js
  front/src/routes/integration/all/zwave-js-ui/edit-page/index.js
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/index.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/CheckStatus.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/index.js
Owners: @Pierre-Gilles

Prettier
  front/src/routes/integration/all/zwave-js-ui/settings-page/CheckStatus.js
Owners: @Pierre-Gilles

Tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeSingleAction.test.js
Owners: @Pierre-Gilles

Prettier
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Tests
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Tests
  server/test/lib/scene/scene.checkTrigger.test.js
Owners: @Pierre-Gilles

Tests
  server/test/lib/scene/scene.execute.test.js
Owners: @Pierre-Gilles

Initial commit
  front/src/assets/integrations/cover/overkiz.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/overkiz/OverkizDeviceBox.jsx
  front/src/routes/integration/all/overkiz/OverkizPage.jsx
  front/src/routes/integration/all/overkiz/actions.js
  front/src/routes/integration/all/overkiz/device-page/DeviceTab.jsx
  front/src/routes/integration/all/overkiz/device-page/EmptyState.jsx
  front/src/routes/integration/all/overkiz/device-page/index.js
  front/src/routes/integration/all/overkiz/device-page/style.css
  front/src/routes/integration/all/overkiz/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/overkiz/discover-page/EmptyState.jsx
  front/src/routes/integration/all/overkiz/discover-page/index.js
  front/src/routes/integration/all/overkiz/discover-page/style.css
  front/src/routes/integration/all/overkiz/edit-page/index.js
  front/src/routes/integration/all/overkiz/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/overkiz/settings-page/index.js
  server/services/index.js
  server/services/overkiz/README.md
  server/services/overkiz/api/overkiz.controller.js
  server/services/overkiz/index.js
  server/services/overkiz/lib/commands/overkiz.configuration.js
  server/services/overkiz/lib/commands/overkiz.connect.js
  server/services/overkiz/lib/commands/overkiz.disconnect.js
  server/services/overkiz/lib/commands/overkiz.getDevicesStates.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
  server/services/overkiz/lib/commands/overkiz.sendCommand.js
  server/services/overkiz/lib/commands/overkiz.setValue.js
  server/services/overkiz/lib/commands/overkiz.syncOverkizDevices.js
  server/services/overkiz/lib/index.js
  server/services/overkiz/lib/utils/overkiz.bindValue.js
  server/services/overkiz/lib/utils/overkiz.constants.js
  server/services/overkiz/lib/utils/overkiz.externalId.js
  server/services/overkiz/package-lock.json
  server/services/overkiz/package.json
Owners: @Pierre-Gilles

Update devices.json
  front/src/config/integrations/devices.json
Owners: @Pierre-Gilles

use timeout instead of pending promise
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.stop.js
  server/services/bluetooth/lib/events/bluetooth.scanStop.js
  server/test/services/bluetooth/lib/commands/bluetooth.readDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.stop.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.subscribeDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.unsubscribeDevice.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.writeDevice.test.js
Owners: @atrovato
