Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

test(tuya): cover convertDevice and report/cloudStrategy branches
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
  server/test/services/tuya/lib/utils/tuya.cloudStrategy.test.js
  server/test/services/tuya/lib/utils/tuya.report.test.js
Owners: @Pierre-Gilles

fix(front): add missing icons for energy production sensor
  front/src/utils/consts.js
Owners: @Pierre-Gilles

fix scale
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Owners: @Pierre-Gilles

Bluetooth Presence : Make integration more clear for new users (#2490)
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDeviceTab.jsx
Owners: @atrovato, @Pierre-Gilles

Matter: Make pairing process more clear (#2491)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDiscoverPage.jsx
Owners: @Pierre-Gilles

Fix missing icons for ENERGY_PRODUCTION_SENSOR features (#2492)
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Matter : Add Boolean & Switch clusters
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
Owners: @Pierre-Gilles

fix(tuya): avoid empty feature payload on local update
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
Owners: @Pierre-Gilles

fix(tuya): avoid empty feature payload on local update
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
Owners: @Pierre-Gilles

fix scale
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Owners: @Pierre-Gilles

fix(tuya): avoid empty feature payload on local update
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
Owners: @Pierre-Gilles

fix scale
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/lib/device/feature/tuya.deviceMapping.test.js
Owners: @Pierre-Gilles

fix(energy-monitoring): make selected-features description period-agnostic in en i18n (CodeRabbit #1)
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

fix(energy-monitoring): make selected-features description period-agnostic in fr i18n (CodeRabbit #2)
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(energy-monitoring): aggregate all descendant selectors for selected roots (CodeRabbit #3)
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Owners: @Pierre-Gilles

fix(energy-monitoring): validate feature_selectors payload in recalculation endpoints (CodeRabbit #5)
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
Owners: @Pierre-Gilles

fix(energy-monitoring): restore last processed cursor on failed full-history windows (CodeRabbit #6)
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Owners: @Pierre-Gilles

fix(energy-monitoring): restore range cursor when windows fail (CodeRabbit #7)
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexRange.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexRange.test.js
Owners: @Pierre-Gilles

test(energy-monitoring): rename duplicated from-beginning test title (CodeRabbit #8)
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexFromBeginning.test.js
Owners: @Pierre-Gilles

fix prettier
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
Owners: @Pierre-Gilles

Change typo in weather.js to camelCase
  front/src/actions/dashboard/boxes/weather.js
Owners: @Pierre-Gilles

Add try catch around attribute.get in handleNode
  server/services/matter/lib/matter.handleNode.js
Owners: @Pierre-Gilles

Adapt code to 0.16
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.setValue.js
Owners: @Pierre-Gilles

Add unit tests
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
  server/test/services/matter/lib/matter.setValue.test.js
Owners: @Pierre-Gilles

Should not wait for Matter to refresh all devices before starting
  server/services/matter/lib/matter.init.js
  server/test/services/matter/lib/matter.init.test.js
Owners: @Pierre-Gilles

Run prettier
  server/services/matter/lib/matter.listenToStateChange.js
  server/test/services/matter/lib/listenToStateChange.test.js
Owners: @Pierre-Gilles

Fix eslint
  server/services/matter/lib/matter.handleNode.js
Owners: @Pierre-Gilles

Matterbridge: Should correctly save current version to upgrade only once
  server/services/matterbridge/lib/init.js
Owners: @Pierre-Gilles

Matterbridge: Should correctly save current version to upgrade only once (#2499)
  server/services/matterbridge/lib/init.js
Owners: @Pierre-Gilles

Matter : Add Boolean & Switch clusters (#2496)
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
Owners: @Pierre-Gilles

Matter - Add HEPA filter monitoring (#2469)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

4.71.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Display caldav error logs in service config
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/account-page/actions.js
  front/src/routes/integration/all/caldav/account-page/index.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/config/index.js
Owners: @bertrandda

Use error stack instead message
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/account-page/actions.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/config/index.js
  server/test/services/caldav/lib/config/index.test.js
Owners: @Pierre-Gilles, @bertrandda

Fix test
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
  server/test/services/caldav/lib/config/index.test.js
Owners: @bertrandda

Replace simple string by button
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
Owners: @bertrandda

Improve test assertions
  server/test/services/caldav/lib/config/index.test.js
Owners: @bertrandda

Add copy button
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
Owners: @bertrandda

fix: use numeric bitmap for ColorControl optionsMask in moveToHueAndSaturation
  server/services/matter/lib/matter.setValue.js
  server/test/services/matter/lib/matter.setValue.test.js
Owners: @Pierre-Gilles

Matter: Use numeric bitmap for ColorControl optionsMask (#2500)
  server/services/matter/lib/matter.setValue.js
  server/test/services/matter/lib/matter.setValue.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
