Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Add enedis progress in background jobs
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/enedis/lib/enedis.sync.js
  server/services/enedis/lib/index.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/enedis/index.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

MCP Integration: Add get-history as MCP tool (#2377)
  server/services/mcp/index.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatValue.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatValue.test.js
Owners: @Pierre-Gilles

Fix tests
  front/src/config/i18n/de.json
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
Owners: @Pierre-Gilles

Better calculation of progress in enedis job
  server/services/enedis/lib/enedis.sync.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
Owners: @Pierre-Gilles

Redirect to job page after starting enedis sync
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  server/services/enedis/api/enedis.controller.js
Owners: @Pierre-Gilles

Enedis should have only 1 sync at the same time
  server/services/enedis/lib/enedis.sync.js
  server/services/enedis/lib/index.js
  server/services/enedis/package-lock.json
  server/services/enedis/package.json
  server/services/enedis/utils/queueWrapper.js
Owners: @Pierre-Gilles

Fix scheduled job
  server/services/enedis/lib/enedis.init.js
Owners: @Pierre-Gilles

Upgrade hap-nodejs to last stable version
  server/services/homekit/index.js
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
Owners: @Pierre-Gilles

Every day at 9 AM, re-calculate cost from yesterday (useful for enedis, or other integration that reports consumption daily)
  server/services/energy-monitoring/index.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/package-lock.json
  server/services/energy-monitoring/package.json
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/test/services/energy-monitoring/index.test.js
Owners: @Pierre-Gilles

Encapsulate the task in a daily job
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromYesterday.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/index.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromYesterday.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

UI should let the user select peak/off-peak time in import price wizard
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Owners: @Pierre-Gilles

Upgrade Zigbee2mqtt to 2.7.0
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Owners: @Pierre-Gilles

Switch to 11 AM
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
Owners: @Pierre-Gilles

Update to 2.7.1
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Owners: @Pierre-Gilles

Switch to 11:10
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/energy-monitoring/index.test.js
Owners: @Pierre-Gilles

Make dashboard larger on large screens
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

Make scene larger on larger screens
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/style.css
Owners: @Pierre-Gilles

Upgrade Zigbee2mqtt to 2.7.1 (#2380)
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Owners: @Pierre-Gilles

4.66.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade Watchtower to use nickfedor/watchtower image
  docker/docker-compose.yml
  server/lib/system/system.installUpgrade.js
  server/test/lib/system/DockerApiMock.test.js
Owners: @VonOx, @Pierre-Gilles

Upgrade Watchtower to use nickfedor/watchtower image (#2382)
  docker/docker-compose.yml
  server/lib/system/system.installUpgrade.js
  server/test/lib/system/DockerApiMock.test.js
Owners: @VonOx, @Pierre-Gilles

4.66.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

do not use an async function to publish with mqtt
  server/services/nuki/lib/mqtt/nuki.mqtt.setValue.js
Owners: @atrovato

FIX: Use correct mapping to update the button state in gladys
  server/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.js
  server/services/nuki/lib/utils/nuki.constants.js
Owners: @atrovato, @Pierre-Gilles

Do not use async function when calling the setAction from nuki lib
  server/services/nuki/lib/http/nuki.http.setValue.js
Owners: @Pierre-Gilles

FIX : Use a mapping to set the right button state
  server/services/nuki/lib/http/nuki.http.getValue.js
Owners: @Pierre-Gilles

FIX: modify switch button state only if state value has changed + test
  server/services/nuki/lib/http/nuki.http.getValue.js
  server/test/services/nuki/lib/http/nuki.http.getValue.test.js
Owners: @Pierre-Gilles

Improve translations (more details for user)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Continue displaying warning explanation until some devices are registered
  front/src/routes/integration/all/nuki/device-page/DeviceTab.jsx
Owners: @Pierre-Gilles

Disable submit button until api token is changed
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles

After prettier, a hidden magic is in the air : I see no diff
  server/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.js
Owners: @atrovato

Add TELEINFORMATION features to Energy monitoring
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/utils/constants.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
Owners: @Pierre-Gilles

Energy Monitoring : Add UI helper for MQTT integration
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
Owners: @Pierre-Gilles, @atrovato

Should set the index energy_parent_id
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/api/controllers/energy-price.controller.js
  server/api/routes.js
  server/test/controllers/energy-price/energy-price.controller.test.js
Owners: @atrovato, @Pierre-Gilles

Add TELEINFORMATION features to Energy monitoring (#2384)
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/utils/constants.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

Poll every minutes
  server/services/nuki/lib/http/nuki.http.convertToDevice.js
Owners: @Pierre-Gilles

Energy monitoring : Improve contract UX
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
  server/migrations/20251211120000-add-energy-price-name.js
  server/models/energy_price.js
Owners: @Pierre-Gilles

Make the consumption 30 Minutes / cost 30 minutes parent not editable because now they can be set on the MQTT integration side
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Owners: @Pierre-Gilles
