Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Delete docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Vacbot box : get image and name of vacuum
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/vacbot/EditVacbot.jsx
  front/src/components/boxs/vacbot/Vacbot.jsx
  front/src/config/i18n/fr.json
  server/services/ecovacs/api/ecovacs.controller.js
  server/services/ecovacs/lib/commands/ecovacs.connect.js
  server/services/ecovacs/lib/commands/ecovacs.listen.js
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/services/ecovacs/lib/device/vacbot.discover.js
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/services/ecovacs/lib/event/ecovacs.onMessage.js
Owners: @Pierre-Gilles

extract z2m backup
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/restoreZ2mBackup.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/services/zigbee2mqtt/lib/backup/base64.backup
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/restoreZ2mBackup.test.js
Owners: @Pierre-Gilles

Fix tmp dirs
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Owners: @Pierre-Gilles

Use core job wrapper and scheduler
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/lib/backup.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/getZ2mBackup.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/requestZ2mBackup.js
  server/services/zigbee2mqtt/lib/restoreZ2mBackup.js
  server/services/zigbee2mqtt/lib/saveZ2mBackup.js
  server/test/services/checks.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zigbee2mqtt/lib/backup.test.js
  server/test/services/zigbee2mqtt/lib/checkForContainerUpdates.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/getPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/getZ2mBackup.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/isEnabled.test.js
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/lib/requestZ2mBackup.test.js
  server/test/services/zigbee2mqtt/lib/restoreZ2mBackup.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/saveZ2mBackup.test.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
  server/test/services/zigbee2mqtt/lib/subscribe.test.js
  server/test/services/zigbee2mqtt/utils/realZigbee2mqttDevices.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

z2m store backup from mqtt
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getZ2mBackup.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/saveZ2mBackup.js
  server/test/services/zigbee2mqtt/lib/getZ2mBackup.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/saveZ2mBackup.test.js
Owners: @Pierre-Gilles

npm 18 package-lock
  server/services/zigbee2mqtt/package-lock.json
Owners: @Pierre-Gilles

request for z2m backup
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/requestZ2mBackup.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/requestZ2mBackup.test.js
Owners: @Pierre-Gilles

Correct start test and loadVacbots test
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
  server/services/ecovacs/lib/commands/ecovacs.start.js
  server/test/services/ecovacs/consts.test.js
  server/test/services/ecovacs/lib/commands/ecovacs.loadVacbots.test.js
  server/test/services/ecovacs/mocks/ecovacs.mock.test.js
Owners: @Pierre-Gilles

Fix discover test with new battery feature
  server/services/ecovacs/lib/device/vacbot.discover.js
Owners: @Pierre-Gilles

Notification classe
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/utils/bindValue.js
  server/services/zwave-js-ui/lib/utils/externalId.js
  server/services/zwave-js-ui/lib/utils/getCategory.js
  server/services/zwave-js-ui/lib/utils/transformClasses.js
Owners: @Pierre-Gilles

Prettier
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/utils/externalId.js
Owners: @Pierre-Gilles

ESLint
  server/services/zwave-js-ui/lib/commands/getNodes.js
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/utils/bindValue.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/utils/bindValue.test.js
Owners: @Pierre-Gilles

test poll and listen
  server/services/ecovacs/lib/commands/ecovacs.listen.js
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/services/ecovacs/lib/event/ecovacs.onMessage.js
  server/test/services/ecovacs/lib/commands/ecovacs.listen.test.js
  server/test/services/ecovacs/lib/commands/ecovacs.loadVacbots.test.js
  server/test/services/ecovacs/lib/device/vacbot.poll.test.js
  server/test/services/ecovacs/mocks/ecovacs-api.mock.test.js
  server/test/services/ecovacs/mocks/ecovacs.mock.test.js
Owners: @Pierre-Gilles

fix merge
  server/utils/constants.js
Owners: @Pierre-Gilles

add soil moisture sensor
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Add return charge to stop commande + get more information about vacbot status
  front/src/components/boxs/vacbot/Vacbot.jsx
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/services/ecovacs/lib/device/vacbot.setValue.js
Owners: @Pierre-Gilles

Reload vacbots object after adding a new device
  server/services/ecovacs/lib/index.js
Owners: @Pierre-Gilles

cleaning up dead code
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
Owners: @Pierre-Gilles

Display in error logs, errors like : device is power off
  server/services/ecovacs/lib/device/vacbot.poll.js
Owners: @Pierre-Gilles

[WIP] Vacbot box update infos
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/vacbot/EditVacbot.jsx
  front/src/components/boxs/vacbot/Vacbot.jsx
  server/services/ecovacs/lib/device/vacbot.getStatus.js
Owners: @Pierre-Gilles

Retrieve vacbot infos
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/vacbot/Vacbot.jsx
  server/services/ecovacs/lib/device/vacbot.getStatus.js
Owners: @Pierre-Gilles

add air conditioning category
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Display button click translations text instead of numbers (#1642)
  front/src/components/boxs/device-in-room/device-features/sensor-value/ButtonClickDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/BinaryDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DefaultDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PresenceSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ThresholdDeviceState.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: Add daily backup to Gladys DB (#1563)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/lib/backup.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/restoreZ2mBackup.js
  server/services/zigbee2mqtt/lib/saveZ2mBackup.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/services/checks.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zigbee2mqtt/lib/backup.test.js
  server/test/services/zigbee2mqtt/lib/backup/base64.backup
  server/test/services/zigbee2mqtt/lib/checkForContainerUpdates.test.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/getPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/isEnabled.test.js
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/lib/restoreZ2mBackup.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/saveZ2mBackup.test.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
  server/test/services/zigbee2mqtt/lib/subscribe.test.js
  server/test/services/zigbee2mqtt/utils/realZigbee2mqttDevices.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Replace shell script by javascript
  server/services/mqtt/docker/eclipse-mosquitto-env.sh
  server/services/mqtt/lib/configureContainer.js
  server/services/mqtt/lib/index.js
  server/services/mqtt/lib/installContainer.js
  server/test/services/mqtt/lib/configureContainer.test.js
  server/test/services/mqtt/lib/installContainer.test.js
Owners: @atrovato

Create password file
  server/services/mqtt/lib/configureContainer.js
  server/services/mqtt/lib/constants.js
  server/services/mqtt/lib/saveConfiguration.js
  server/test/services/mqtt/lib/configureContainer.test.js
Owners: @atrovato

getStatus test from a vacbot mock obj
  server/test/services/ecovacs/consts.test.js
  server/test/services/ecovacs/lib/device/vacbot.getStatus.test.js
Owners: @Pierre-Gilles

getStatus test from a vacbot mock obj
  server/test/services/ecovacs/consts.test.js
Owners: @Pierre-Gilles

Test vacbot poll : check what is run
  server/test/services/ecovacs/lib/device/vacbot.poll.test.js
Owners: @Pierre-Gilles

Test if charge is run when stopped + reuse fakes instead of VacbotMock
  server/test/services/ecovacs/lib/device/vacbot.poll.test.js
  server/test/services/ecovacs/lib/device/vacbot.setValue.test.js
  server/test/services/ecovacs/mocks/ecovacs-api.mock.test.js
Owners: @Pierre-Gilles

Improve listen test coverage
  server/services/ecovacs/lib/commands/ecovacs.listen.js
  server/test/services/ecovacs/lib/commands/ecovacs.listen.test.js
  server/test/services/ecovacs/mocks/ecovacs-api.mock.test.js
Owners: @Pierre-Gilles

Improve listen test coverage
  server/services/ecovacs/api/ecovacs.controller.js
  server/test/services/ecovacs/api/ecovacs.controller.test.js
Owners: @Pierre-Gilles

Improve controller test coverage
  server/test/services/ecovacs/api/ecovacs.controller.test.js
Owners: @Pierre-Gilles

Improve controller test coverage
  server/test/services/ecovacs/lib/commands/ecovacs.connect.test.js
Owners: @Pierre-Gilles

Improve connect test coverage
  server/test/services/ecovacs/lib/commands/ecovacs.connect.test.js
Owners: @Pierre-Gilles

Improve load test coverage by removing tracez
  server/services/ecovacs/lib/commands/ecovacs.loadVacbots.js
Owners: @Pierre-Gilles

Clean eslint default parameter order warning
  server/services/zigbee2mqtt/utils/features/buildFeatures.js
  server/test/services/zigbee2mqtt/utils/feature/buildFeatures.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
