Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Fix non admin total size
  front/src/actions/integration.js
Owners: @Pierre-Gilles

Clean code
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
  front/src/routes/settings/settings-service/ServiceItem.jsx
Owners: @Pierre-Gilles

Fix integration search/sort form (#1395)
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Fix missing async
  front/src/actions/integration.js
Owners: @Pierre-Gilles

Add service.getUsage function
  server/lib/service/index.js
  server/lib/service/service.getUsage.js
  server/services/zwave/index.js
  server/services/zwave/lib/index.js
  server/test/lib/service/service.getUsage.test.js
Owners: @Pierre-Gilles

Report integrations usage on zwave + zigbee2mqtt
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/gateway/gateway.init.js
  server/package-lock.json
  server/package.json
  server/services/zigbee2mqtt/index.js
  server/test/lib/gateway/gateway.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zwave/zwave.test.js
Owners: @Pierre-Gilles

Update tests
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

Fix #1554: Device states should be displayed in the correct timezone in charts (#1566)
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles

Add integrations usage (#1568)
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/service/index.js
  server/lib/service/service.getUsage.js
  server/package-lock.json
  server/package.json
  server/services/zigbee2mqtt/index.js
  server/services/zwave/index.js
  server/services/zwave/lib/index.js
  server/test/lib/gateway/gateway.test.js
  server/test/lib/service/service.getUsage.test.js
  server/test/services/zigbee2mqtt/index.test.js
  server/test/services/zwave/zwave.test.js
Owners: @Pierre-Gilles

Fix bluetooth & signup Cypress issues (#1562)
  front/cypress/fixtures/integration/routes/integration/bluetooth/status_not_ready.json
  front/cypress/integration/routes/0-signup/SignUp.js
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
Owners: @atrovato, @Pierre-Gilles

Implement RelativeCI new github action (#1560)
  .github/workflows/docker-pr-build.yml
  .github/workflows/relative-ci.yaml
Owners: @VonOx, @Pierre-Gilles

4.9.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Make event emitting async to avoid blocking the event-loop
  server/lib/event/index.js
  server/test/lib/event/event.test.js
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Load only required icons
  front/src/assets/icons/icon-sprite.svg
  front/src/assets/icons/tabler-sprite-v1.68.0.svg
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
  front/src/components/icons/SvgIcon.jsx
Owners: @Pierre-Gilles

Signal dashboard box
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
  front/src/config/demo.js
  front/src/index.js
  front/src/style/icons.css
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Use tabler svg sprite
  front/src/assets/icons/tabler-sprite-v1.68.0.svg
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
  front/src/components/icons/TablerIcon.jsx
  front/src/index.js
  front/src/style/icons.css
Owners: @Pierre-Gilles

Use import for svg
  front/src/components/icons/SvgIcon.jsx
Owners: @Pierre-Gilles

Update temp/humidity in room
  front/cypress/integration/routes/dashboard/DashboardHumidityBox.js
  front/cypress/integration/routes/dashboard/DashboardTemperatureBox.js
  front/src/actions/dashboard/boxes/humidityInRoom.js
  front/src/actions/dashboard/boxes/temperatureInRoom.js
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  server/services/example/index.js
  server/services/example/lib/light/index.js
  server/services/example/lib/light/light.setValue.js
  server/test/services/example/lib/setValue.test.js
Owners: @Pierre-Gilles

Make event emitting async to avoid blocking the event-loop (#1569)
  server/lib/event/index.js
  server/test/lib/event/event.test.js
Owners: @Pierre-Gilles

Fix integration search/sort form (#1557)
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
  front/src/routes/settings/settings-service/ServiceItem.jsx
Owners: @Pierre-Gilles

Add signal quality feature (#1546)
  front/src/assets/icons/icon-sprite.svg
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
  front/src/components/icons/SvgIcon.jsx
  front/src/config/demo.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Fix #1316: Update temperature/humidity in room box live when changes (#1465)
  front/cypress/integration/routes/dashboard/DashboardHumidityBox.js
  front/cypress/integration/routes/dashboard/DashboardTemperatureBox.js
  front/src/actions/dashboard/boxes/humidityInRoom.js
  front/src/actions/dashboard/boxes/temperatureInRoom.js
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  server/services/example/index.js
  server/services/example/lib/light/index.js
  server/services/example/lib/light/light.setValue.js
  server/test/services/example/lib/setValue.test.js
Owners: @Pierre-Gilles

Create enedis-linky front
  front/src/assets/integrations/cover/enedis-linky.jpg
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/enedis-linky/EnedisLinky.js
  front/src/routes/integration/all/enedis-linky/account-page/AccountTab.jsx
  front/src/routes/integration/all/enedis-linky/account-page/actions.js
  front/src/routes/integration/all/enedis-linky/account-page/index.js
  front/src/routes/integration/all/enedis-linky/meter-page/EmptyState.jsx
  front/src/routes/integration/all/enedis-linky/meter-page/EnedisLinkyBox.jsx
  front/src/routes/integration/all/enedis-linky/meter-page/MeterTab.jsx
  front/src/routes/integration/all/enedis-linky/meter-page/actions.js
  front/src/routes/integration/all/enedis-linky/meter-page/index.js
  server/services/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Manage array values
  server/services/tasmota/lib/features/colorChannel.js
  server/services/tasmota/lib/features/index.js
  server/services/tasmota/lib/mqtt/tasmota.mqtt.subStatus.js
  server/services/tasmota/lib/utils/tasmota.featureStatus.js
  server/test/services/tasmota/lib/device-creation/SonoffDualR3.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/new-state/tasmota.mqtt.handleMessage.newState-arrayValue.test.js
Owners: @atrovato

Relais is integer
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

add ecovacs service
  server/services/index.js
Owners: @Pierre-Gilles

package-lock.json redone after npm change
  server/package-lock.json
  server/services/alexa/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/caldav/package-lock.json
  server/services/ewelink/package-lock.json
  server/services/example/package-lock.json
  server/services/google-actions/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/openweather/package-lock.json
  server/services/philips-hue/package-lock.json
  server/services/rtsp-camera/package-lock.json
  server/services/tasmota/package-lock.json
  server/services/telegram/package-lock.json
  server/services/tp-link/package-lock.json
  server/services/usb/package-lock.json
  server/services/xiaomi/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
  server/services/zwave/package-lock.json
Owners: @Pierre-Gilles, @atrovato, @bertrandda, @NickDub, @callemand, @VonOx, @hotfix31, @cicoub13

Manage by datatype
  server/services/influxdb/dev.js
  server/services/influxdb/lib/influxdb.saveConfiguration.js
  server/services/influxdb/lib/influxdb.write.js
  server/services/influxdb/lib/influxdb.writeFloat.js
  server/services/influxdb/lib/influxdb.writeInteger.js
Owners: @Pierre-Gilles

Revert
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

4.9.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Add enedis lib functions
  server/services/enedis-linky/api/enedisLinky.controller.js
  server/services/enedis-linky/index.js
  server/services/enedis-linky/lib/enedis/enedis.createSession.js
  server/services/enedis-linky/lib/enedis/enedis.getDailyConsumption.js
  server/services/enedis-linky/lib/enedis/enedis.getLoadCurve.js
  server/services/enedis-linky/lib/index.js
  server/services/enedis-linky/lib/poll.js
  server/services/enedis-linky/package-lock.json
  server/services/enedis-linky/package.json
Owners: @Pierre-Gilles

update
  server/package-lock.json
  server/services/alexa/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/caldav/package-lock.json
  server/services/ewelink/package-lock.json
  server/services/example/package-lock.json
  server/services/google-actions/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/openweather/package-lock.json
  server/services/philips-hue/package-lock.json
  server/services/rtsp-camera/package-lock.json
  server/services/tasmota/package-lock.json
  server/services/telegram/package-lock.json
  server/services/tp-link/package-lock.json
  server/services/usb/package-lock.json
  server/services/xiaomi/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
  server/services/zwave/package-lock.json
Owners: @Pierre-Gilles, @atrovato, @bertrandda, @NickDub, @callemand, @VonOx, @hotfix31, @cicoub13

Z2M add VOC Sensors
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

PPB
  server/utils/constants.js
Owners: @Pierre-Gilles

Typo
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Add missing integrations in integrations view
  front/src/assets/integrations/cover/alexa.jpg
  front/src/assets/integrations/cover/google-home.jpg
  front/src/assets/integrations/cover/owntracks.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/alexa-gateway/index.js
  front/src/routes/integration/all/alexa-gateway/welcome.jsx
  front/src/routes/integration/all/google-home-gateway/index.js
  front/src/routes/integration/all/google-home-gateway/welcome.jsx
  front/src/routes/integration/all/owntracks/welcome.jsx
Owners: @Pierre-Gilles

Add message about deprecated Open-Zwave integration
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
Owners: @Pierre-Gilles

Writes functions
  server/services/influxdb/lib/influxdb.write.js
  server/services/influxdb/lib/influxdb.writeBinary.js
  server/services/influxdb/lib/influxdb.writeFloat.js
  server/services/influxdb/lib/influxdb.writeInteger.js
Owners: @Pierre-Gilles
