Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Added device feature selector and external_id in response + Added REST API documentation
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Fix display condition and div height
  front/src/routes/integration/all/ewelink/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
  front/src/routes/integration/all/tasmota/discover-http/DiscoverTab.jsx
  front/src/routes/integration/all/tasmota/discover-mqtt/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/style.css
Owners: @NickDub, @VonOx, @hotfix31, @atrovato, @Pierre-Gilles

Remove 'optionnal' parameters in doc API REST
  server/api/controllers/device.controller.js
Owners: @Pierre-Gilles

Fix CalDAV event sync (#1471)
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/test/services/caldav/lib/calendar/requests.test.js
Owners: @bertrandda

Add buttons view List or GroupList
  front/cypress/integration/routes/scene/Scene.js
  front/src/actions/createScene.js
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/index.js
  front/src/routes/scene/new-scene/style.css
Owners: @Pierre-Gilles

Add buttons view List or GroupList
  front/src/actions/createScene.js
  front/src/routes/scene/new-scene/NewScenePage.jsx
Owners: @Pierre-Gilles

Add units in front
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Upgrade set-value dependency
  front/package-lock.json
  front/package.json
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
Owners: @Pierre-Gilles

Add translate fr / en groupsIconsLabel and adjust NewScenePage
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
  server/config/icons-groups.json
Owners: @Pierre-Gilles

Changes to solve tests + translations
  front/src/actions/createScene.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/config/icons-groups.json
Owners: @Pierre-Gilles

Changes to solve tests + translations
  front/cypress/integration/routes/scene/Scene.js
Owners: @Pierre-Gilles

fix for review
  server/services/withings/lib/withings.init.js
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.postCreate.test.js
  server/test/services/withings/lib/withings.serverMock.test.js
Owners: @Pierre-Gilles

modification made to the request following discussion with Pierre-Gilles
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStatesMulti.js
  server/lib/device/index.js
  server/test/lib/device/device.getDeviceFeaturesStatesMulti.test.js
Owners: @Pierre-Gilles

Tests
  server/lib/device/device.getDeviceFeaturesStates.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Tests
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Tests
  server/lib/device/device.getDeviceFeaturesStates.js
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Delete docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Prettier
  front/src/actions/dashboard/boxes/weather.js
Owners: @Pierre-Gilles

fix for review
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/cypress/plugins/index.js
  front/src/components/app.jsx
  front/src/components/oauth2/actions.js
  front/src/config/integrations/devices.json
  front/src/config/integrations/index.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  front/src/routes/integration/all/withings/settings-page/index.js
  server/api/controllers/oauth2.controller.js
  server/lib/oauth2-client/index.js
  server/lib/oauth2-client/oauth2.executeQuery.js
  server/lib/oauth2-client/oauth2.getAccessToken.js
  server/services/withings/lib/index.js
  server/services/withings/lib/utils/withings.getDevices.js
  server/services/withings/lib/utils/withings.getMeasures.js
  server/test/lib/oauth2-client/oauth2manager.test.js
  server/test/services/withings/index.test.js
  server/utils/coreErrors.js
Owners: @Pierre-Gilles

Replace icon in tests and seeders
  server/seeders/20190227043234-scene.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles

Add more tests to scene
  server/test/lib/scene/actions/scene.action.getValue.test.js
  server/test/lib/scene/actions/scene.action.httpRequest.test.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Upgrade dependencies (#1501)
  front/package-lock.json
  front/package.json
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
  server/test/lib/scene/actions/scene.action.getValue.test.js
  server/test/lib/scene/actions/scene.action.httpRequest.test.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Reduced number of states in tests
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Reduced number of states in tests
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

fix merge error
  server/package-lock.json
Owners: @Pierre-Gilles

fix package-lock
  server/package-lock.json
Owners: @Pierre-Gilles

Reduced number of states in tests
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Reduced number of states in tests
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Add test new scene with groupsView icon select
  front/cypress/integration/routes/scene/Scene.js
  front/src/routes/scene/new-scene/NewScenePage.jsx
Owners: @Pierre-Gilles

Add test new scene with groupsView icon select
  front/cypress/integration/routes/scene/Scene.js
Owners: @Pierre-Gilles

Adding CODECOV_TOKEN secret
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Revert "Zigbee2mqtt : Handle custom device mappings (#1383)"
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/compositeType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/lib/findMatchingExpose.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/readValue.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/exposes/binaryType.test.js
  server/test/services/zigbee2mqtt/exposes/compositeType.test.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/lib/payloads/single_mqtt_device.json
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Owners: @Pierre-Gilles

Fix click button compat
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
Owners: @Pierre-Gilles

fix for review
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.initDevices.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.initDevices.test.js
Owners: @Pierre-Gilles

fix for review
  front/cypress/plugins/index.js
Owners: @Pierre-Gilles

Add scene box on dashboard
  .gitignore
  front/src/actions/dashboard/boxes/scene.js
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  server/models/dashboard.js
  server/utils/constants.js
Owners: @Pierre-Gilles

firx for review
  server/lib/oauth2-client/oauth2.buildAuthorizationUri.js
Owners: @Pierre-Gilles

Conversation token config
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/nextcloud-talk/actions.js
  front/src/routes/integration/all/nextcloud-talk/index.js
  server/lib/user/user.getById.js
  server/lib/user/user.getByNextcloudTalkToken.js
Owners: @Pierre-Gilles

Add Nextcloud Talk service
  front/src/assets/integrations/cover/nextcloud-talk.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/communications.json
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/nextcloud-talk/actions.js
  front/src/routes/integration/all/nextcloud-talk/index.js
  front/src/utils/consts.js
  server/lib/user/index.js
  server/lib/user/user.getByNextcloudTalkToken.js
  server/lib/user/user.getBySelector.js
  server/lib/user/user.getNextcloudTalkTokens.js
  server/lib/user/user.updateBySelector.js
  server/migrations/20211030192718-add-nextcloud-talk.js
  server/models/user.js
  server/services/index.js
  server/services/nextcloud-talk/index.js
  server/services/nextcloud-talk/lib/index.js
  server/services/nextcloud-talk/lib/message.bot.js
  server/services/nextcloud-talk/lib/message.connect.js
  server/services/nextcloud-talk/lib/message.disconnect.js
  server/services/nextcloud-talk/lib/message.new.js
  server/services/nextcloud-talk/lib/message.send.js
  server/services/nextcloud-talk/package-lock.json
  server/services/nextcloud-talk/package.json
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
