Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

feat(energy): explain how to get a missing contract on the import page
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Owners: @Pierre-Gilles

feat(energy): explain how to get a missing contract on the import page (#3085)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
Owners: @Pierre-Gilles

fix(backup): reject on child stdio stream errors, portable cwd test, Telegram error scoping
  front/src/routes/integration/all/telegram/actions.js
  server/test/utils/childProcess.test.js
  server/utils/childProcess.js
Owners: @Pierre-Gilles

fix(security): reserve integration secrets to admins, and remove the shell from the backup chain (#3086)
  front/src/routes/integration/all/telegram/actions.js
  front/src/routes/integration/index.js
  front/src/routes/settings/SettingsLayout.jsx
  server/api/controllers/variable.controller.js
  server/api/routes.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.downloadBackup.js
  server/lib/gateway/gateway.restoreBackup.js
  server/services/mqtt/api/mqtt.controller.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/nuki/api/nuki.controller.js
  server/services/tuya/api/tuya.controller.js
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zwavejs-ui/api/zwaveJSUI.controller.js
  server/test/controllers/serviceSecretRoutes.test.js
  server/test/controllers/variable/variable.test.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/malicious-backup-shell-metacharacters.tar.gz.enc
  server/test/utils/backupSafety.test.js
  server/test/utils/childProcess.test.js
  server/utils/backupSafety.js
  server/utils/childProcess.js
Owners: @Pierre-Gilles, @atrovato, @thibautmery, @Terdious

5.0.4 (#3087)
  package-lock.json
  package.json
Owners: @Pierre-Gilles

fix(homekit): expose air conditioners as HeaterCooler so "turn on" keeps the mode
  server/services/homekit/lib/buildHeaterCoolerService.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/buildThermostatService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildHeaterCoolerService.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix(homekit): only report and expose what an air conditioner declared it can do
  server/services/homekit/lib/buildHeaterCoolerService.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildHeaterCoolerService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

chore(security): clear 3 more high-severity advisories via non-major bumps
  front/package-lock.json
  package-lock.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

fix(homekit): never report a target state the air conditioner does not declare
  server/services/homekit/lib/buildHeaterCoolerService.js
  server/test/services/homekit/lib/buildHeaterCoolerService.test.js
Owners: @Pierre-Gilles

feat(sonos): add the Migrate device button to native Sonos devices
  front/src/routes/integration/all/sonos/SonosDeviceBox.jsx
Owners: @Pierre-Gilles

feat(sonos): mark the native integration as deprecated in the catalog
  front/src/config/integrations/devices.json
Owners: @Pierre-Gilles

docs+feat(sonos): DeprecationWarning banner + update the migration living spec
  docs/specs/device-migration.md
  front/src/routes/integration/all/sonos/SonosPage.jsx
Owners: @Pierre-Gilles

docs(device-migration): record the play-notification parity check
  docs/specs/device-migration.md
Owners: @Pierre-Gilles

Tag scenes created by AI
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

Document automatic AI scene tagging
  server/config/prompts/aiChatScenes.prompt.txt
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

Publish each release to Gladys Plus from the release workflow
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

docs: require a forum topic or GitHub issue link in every pull request
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Owners: @Pierre-Gilles

Publish each release to Gladys Plus from the release workflow (#3091)
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

docs: make the forum / issue link a strong recommendation, not a requirement
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Owners: @Pierre-Gilles

docs: recommend linking the forum topic or GitHub issue in pull requests (#3092)
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Owners: @Pierre-Gilles

fix: PR Feedbacks
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
Owners: @Pierre-Gilles

Tag scenes created by the AI so they can be filtered
  server/lib/scene/scene.get.js
  server/services/mcp/lib/buildSchemas.js
  server/test/lib/scene/scene.get.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Drop unreachable branches in the AI scene tag code
  server/lib/scene/scene.get.js
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

docs(api): publish the endpoints missing from the generated apidoc
  server/api/controllers/area.controller.js
  server/api/controllers/gateway.controller.js
  server/api/controllers/house.controller.js
  server/api/controllers/http.controller.js
  server/api/controllers/system.controller.js
  server/api/controllers/variable.controller.js
Owners: @Pierre-Gilles

Add the Gladys Plus "instance offline" alert setting
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway/GatewayInstanceOfflineAlert.jsx
  front/src/routes/settings/settings-gateway/GatewayPage.jsx
  front/src/routes/settings/settings-gateway/index.js
  front/src/utils/GatewaySession.js
Owners: @Pierre-Gilles

docs(api): fix the methods and URLs the new titles would publish
  server/api/controllers/area.controller.js
  server/api/controllers/gateway.controller.js
  server/api/controllers/system.controller.js
  server/api/controllers/variable.controller.js
Owners: @Pierre-Gilles

Associate the delay label with its select
  front/src/routes/settings/settings-gateway/GatewayInstanceOfflineAlert.jsx
Owners: @Pierre-Gilles

Narrow the offline alert update to its two fields, clarify the copy
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway/GatewayInstanceOfflineAlert.jsx
  front/src/utils/GatewaySession.js
Owners: @Pierre-Gilles

docs(api): publish the endpoints missing from the generated apidoc (#3094)
  server/api/controllers/area.controller.js
  server/api/controllers/gateway.controller.js
  server/api/controllers/house.controller.js
  server/api/controllers/http.controller.js
  server/api/controllers/system.controller.js
  server/api/controllers/variable.controller.js
Owners: @Pierre-Gilles

Make the offline alert a setting of the Gladys Plus account
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway/GatewayInstanceOfflineAlert.jsx
  front/src/utils/GatewaySession.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): map the ZLinky_TIC three-phase apparent power labels
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/migrations/20260907000000-rename-zlinky-apparent-power-features.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/migrations/20260907000000-rename-zlinky-apparent-power-features.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Fix a stale comment: the offline alert lives on the Gladys Plus account
  front/src/routes/settings/settings-gateway/GatewayInstanceOfflineAlert.jsx
Owners: @Pierre-Gilles

Keep the local alert settings for a field missing from the save response
  front/src/routes/settings/settings-gateway/GatewayInstanceOfflineAlert.jsx
Owners: @Pierre-Gilles

fix(zigbee2mqtt): scope the apparent power rename migration to ZLinky_TIC devices
  server/migrations/20260907000000-rename-zlinky-apparent-power-features.js
  server/test/migrations/20260907000000-rename-zlinky-apparent-power-features.test.js
Owners: @Pierre-Gilles

docs(spec): B.8 Installed view also shows calendar integrations to non-admins
  docs/specs/external-integrations.md
Owners: @Pierre-Gilles

fix(zigbee2mqtt): map the ZLinky_TIC three-phase historic mode currents
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/migrations/20260907000000-rename-zlinky-phase-1-features.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/migrations/20260907000000-rename-zlinky-phase-1-features.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Address PR review: prototype-free tag map and AI tag hint
  server/lib/scene/scene.get.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles

feat(energy): energy-calendar integration type and day-type contract
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
  front/src/routes/integration/all/external-integration/ExternalIntegrationPage.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  front/src/routes/integration/all/external-integration/install-page/index.js
  front/src/routes/integration/index.js
  server/lib/energy-calendar/energyCalendar.getDayTypes.js
  server/lib/energy-calendar/index.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.normalizeEnergyDayTypes.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/lib/index.js
  server/models/energy_price.js
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/energy-calendar/energyCalendar.getDayTypes.test.js
  server/test/lib/energy-price/energy-price.test.js
  server/test/lib/external-integration/externalIntegration.energyCalendar.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/services/energy-monitoring/contracts/contracts.calculateCost.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(energy): address review on the energy calendar type
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/energy-calendar/energyCalendar.getDayTypes.js
  server/models/energy_price.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/energy-calendar/energyCalendar.getDayTypes.test.js
  server/test/lib/energy-price/energy-price.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Owners: @Pierre-Gilles

fix(energy): reset the day type when the contract changes
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
