Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Add icon to vibration binary (#1386)
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Add missing units on switch device (#1382)
  server/utils/constants.js
Owners: @Pierre-Gilles

Rename component
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
Owners: @Pierre-Gilles

Television category/features and box rows
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Rearrange demo dashboard
  front/src/config/demo.js
Owners: @Pierre-Gilles

Add new television category/features (#1365)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add onDiscovery function
  server/services/alexa/index.js
  server/services/alexa/lib/alexa.onDiscovery.js
  server/services/alexa/lib/deviceMappings.js
  server/services/alexa/lib/index.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/services/alexa/package-lock.json
  server/services/alexa/package.json
  server/services/index.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
Owners: @Pierre-Gilles

add cypress test
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceList.js
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListNoDevice.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/src/assets/images/withings/Aura_2.jpg
  front/src/assets/images/withings/KidScale.jpeg
  front/src/assets/images/withings/KidScale.jpg
  front/src/assets/images/withings/SmartBabyMonitor.jpg
  front/src/assets/images/withings/body-black-kg.jpg
  front/src/assets/images/withings/body-plus-black-kg.jpg
  front/src/assets/images/withings/body-plus-white-kg.jpg
  front/src/assets/images/withings/go.jpg
  front/src/assets/images/withings/home.jpg
  front/src/assets/images/withings/sleep-analyzer-single.png
  front/src/assets/images/withings/thermo-c.jpg
  front/src/routes/integration/all/withings/device-page/actions.js
  server/services/withings/lib/withings.init.js
Owners: @Pierre-Gilles

fix merge error
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceList.js
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceListNoDevice.js
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/src/components/oauth2/actions.js
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/lib/withings.init.js
Owners: @Pierre-Gilles

fix server test
  front/src/components/oauth2/OAuth2Config.jsx
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/withings/device-page/Device.jsx
  front/src/routes/integration/all/withings/settings-page/actions.js
  server/api/controllers/oauth2.controller.js
  server/config/oauth2/providers.json
  server/lib/oauth2/oauth2.executeOauth2HTTPQuery.js
  server/seeders/20190226025931-variable.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/lib/withings.getServiceId.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/services/withings/lib/withings.saveVar.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.getServiceId.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
  server/test/services/withings/lib/withings.saveVar.test.js
Owners: @Pierre-Gilles

fix translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Owners: @Pierre-Gilles

fix cypress test
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
Owners: @Pierre-Gilles

improve server test
  server/test/services/withings/index.test.js
Owners: @Pierre-Gilles

improve server test
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

fix test
  front/package.json
  server/package.json
  server/seeders/20190226025931-variable.js
  server/test/controllers/oauth2/oauth2.controller.test.js
  server/test/lib/oauth2/oauth2manager.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

fix test
  front/package-lock.json
  server/package-lock.json
Owners: @Pierre-Gilles

fix test
  server/test/lib/oauth2/oauth2manager.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

Keep only illuminance_lux
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Fix NaN device state
  server/lib/device/device.saveState.js
  server/migrations/20211204080815-clean-nan-device-states.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/lib/device/device.saveState.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Keep only illuminance_lux for light sensors (#1400)
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Xiaomi: Add support for sensor_switch.aq2 (switch button) (#1391)
  server/services/xiaomi/lib/event/xiaomi.onMessage.js
  server/test/services/xiaomi/messagesToTest.test.js
Owners: @Pierre-Gilles

Fix & clean NaN device state (#1394)
  server/lib/device/device.saveState.js
  server/migrations/20211204080815-clean-nan-device-states.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/lib/device/device.saveState.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Owners: @Pierre-Gilles

fix for review
  front/cypress/integration/routes/integration/withings/devices/WithingsDeviceList.js
  front/src/routes/integration/all/withings/device-page/Device.jsx
  front/src/routes/integration/all/withings/device-page/actions.js
  server/lib/device/device.destroyBySelectorPattern.js
  server/lib/device/device.destroyByServiceId.js
  server/lib/device/device.saveHistoricalState.js
  server/lib/device/index.js
  server/services/withings/lib/withings.deleteDevices.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/test/lib/device/device.destroyByServiceId.test.js
  server/test/services/withings/lib/withings.deleteDevices.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

add alexa message handler
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

4.7.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Change 2021 to 2022 in README & LICENSE
  LICENSE
  README.md
Owners: @Pierre-Gilles

Use shared calendar
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CheckCalendarEvent.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventTrigger.jsx
  server/lib/calendar/calendar.getEvents.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.addScene.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/services/caldav/index.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @bertrandda

Add schedule in task page
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/SettingsBackgroundJobs.jsx
  server/lib/job/index.js
  server/lib/job/job.get.js
Owners: @Pierre-Gilles

Delete zwavejs-pr.yml
  .github/workflows/zwavejs-pr.yml
Owners: @VonOx, @Pierre-Gilles

Allow to use "long" event for sonoff-snzb-01
  server/services/zigbee2mqtt/utils/convertValue.js
Owners: @Pierre-Gilles

improve tests
  server/services/rflink/api/rflink.controller.js
  server/test/services/rflink/controllers/rflink.controller.test.js
  server/test/services/rflink/lib/connect.test.js
Owners: @Pierre-Gilles

Add CO sensor
  server/services/zigbee2mqtt/exposes/binaryType.js
Owners: @Pierre-Gilles

Upgrade bluetooth deps
  server/services/bluetooth/package-lock.json
  server/services/bluetooth/package.json
Owners: @atrovato

Add zigbee2mqtt alarm feature
  server/services/zigbee2mqtt/exposes/binaryType.js
Owners: @Pierre-Gilles

Fix features edition
  front/src/routes/integration/all/rflink/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/rflink/device-page/setup/index.js
Owners: @Pierre-Gilles

typo
  server/test/services/rflink/lib/connect.test.js
Owners: @Pierre-Gilles

Better Mighlight sample
  server/test/services/rflink/lib/devicesToTest.test.js
Owners: @Pierre-Gilles

typo
  server/services/rflink/api/rflink.controller.js
Owners: @Pierre-Gilles

typo
  server/services/rflink/lib/events/rflink.newValue.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
