Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

fix(mqtt): address code review feedback on Home Assistant discovery
  front/src/routes/integration/all/mqtt/discovery-page/DiscoveredBox.jsx
  front/src/routes/integration/all/mqtt/discovery-page/actions.js
  server/services/mqtt/lib/homeAssistant/convertToGladysDevice.js
  server/services/mqtt/lib/homeAssistant/handleHomeAssistantDiscoveryMessage.js
  server/services/mqtt/lib/homeAssistant/setValueHomeAssistant.js
  server/test/services/mqtt/lib/homeAssistant/convertToGladysDevice.test.js
  server/test/services/mqtt/lib/homeAssistant/handleHomeAssistantDiscoveryMessage.test.js
  server/test/services/mqtt/lib/homeAssistant/setValueHomeAssistant.test.js
Owners: @atrovato

Front: Sort widget types alphabetically by translated label in dashboard box selector
  front/src/components/boxs/SelectBoxType.jsx
Owners: @Pierre-Gilles

Front: Sort scene triggers and actions alphabetically by translated label
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
Owners: @Pierre-Gilles

feat(dashboard): add sun horizon widget
  front/src/components/boxs/sun/EditSun.jsx
  front/src/components/boxs/sun/Sun.jsx
  front/src/components/boxs/sun/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/api/controllers/house.controller.js
  server/api/routes.js
  server/lib/house/house.getSunState.js
  server/lib/house/index.js
  server/test/controllers/house/house.test.js
  server/test/lib/house/house.getSunState.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(sun): address code review findings and rebase master
  front/src/components/boxs/sun/EditSun.jsx
  server/api/controllers/house.controller.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add SONOFF SWV sma
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/WaterValveDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterValveDeviceState.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
  server/test/services/zigbee2mqtt/utils/payloads/SWV.json
  server/test/services/zigbee2mqtt/utils/payloads/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Zigbee2mqtt: SONOFF SWV - restrict selectable units per feature type
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

add numericType tests for water valve features
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
Owners: @Pierre-Gilles

Throttle the orphaned states purge with a duty cycle
  server/lib/device/device.purgeOrphanedDuckDbStates.js
  server/lib/device/index.js
  server/test/lib/device/device.purgeOrphanedDuckDbStates.test.js
Owners: @Pierre-Gilles

Floor the purge pause at 1 second
  server/lib/device/device.purgeOrphanedDuckDbStates.js
  server/lib/device/index.js
  server/test/lib/device/device.purgeOrphanedDuckDbStates.test.js
Owners: @Pierre-Gilles

Checkpoint DuckDB after the orphaned states purge
  server/lib/device/device.purgeOrphanedDuckDbStates.js
Owners: @Pierre-Gilles

Checkpoint DuckDB after a feature states purge
  server/lib/device/device.purgeStatesByFeatureId.js
Owners: @Pierre-Gilles

Front: Sort widget types alphabetically by translated label in dashboard (#2654)
  front/src/components/boxs/SelectBoxType.jsx
Owners: @Pierre-Gilles

Front: Sort scene triggers and actions alphabetically (#2655)
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
Owners: @Pierre-Gilles

Improve horizontal scroll for activity filter chips on Windows
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/GroupChipsScroll.jsx
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

fix(mqtt): remove excessive vertical spacing in device list cards
  front/src/routes/integration/all/mqtt/device-page/style.css
Owners: @atrovato

Improve horizontal scroll for activity filter chips on Windows (#2657)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/GroupChipsScroll.jsx
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

MQTT: fix excessive vertical spacing in device list cards (#2658)
  front/src/routes/integration/all/mqtt/device-page/style.css
Owners: @atrovato

Add implementation plan for external integrations (RFC 10343)
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: devices created by user from discovery tab, not by the integration
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: merge external integrations into t_service, stateless integration JWT
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: remove POST /logs, logs are read via Docker API only
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: front on par with internal integrations (catalog + 3 screens)
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: decentralized store in phase 1 (GitHub topic + auto-generated index)
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: explain how the bridge network coexists with host-mode Gladys
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: rename store topic to gladys-assistant-integration, clarify manifest location
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Migrate DuckDB from the deprecated `duckdb` package to `@duckdb/node-api` (#2641)
  AGENTS.md
  server/index.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.restoreBackup.js
  server/models/index.js
  server/package-lock.json
  server/package.json
  server/test/models/duckdb-date-params.test.js
  server/test/models/index.test.js
Owners: @Pierre-Gilles

Plan: add full interface specification (section C)
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: drop unenforceable permissions field, document token-based host API identity
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: one specific WS message type per command instead of generic 'command'
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: document store vs :selector route collision handling
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

fix(dev): ignorer les dossiers d'etat (matter, backups, db) dans nodemon pour eviter les redemarrages en boucle
  server/package.json
Owners: @Pierre-Gilles

Plan: manifest rules for name/description/cover, indexer re-hosts covers
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: first-class install from GitHub repo URL, dev mode relocated
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: resolve all identified implementation ambiguities
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: specify the full integration container contract (section C.7)
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: deterministic GLADYS_HOST_API_URL via pinned bridge subnet
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: per-repo work split for parallel execution
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: single end-to-end PR per repo, milestones become commits
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles

Plan: dedicated SDK repo (integration-sdk-js) and precise JS API spec (C.8)
  PLAN_INTEGRATIONS_EXTERNES.md
Owners: @Pierre-Gilles
