Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

fix(front): use a native button for the gateway banner disclosure
  front/src/routes/integration/IntegrationGatewayBanner.jsx
  front/src/routes/integration/style.css
Owners: @Pierre-Gilles

fix(dashboard): address review feedback on moving a widget
  front/src/components/boxs/baseEditBox.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Owners: @Pierre-Gilles

fix(matter): address review feedback on the dishwasher features
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
Owners: @Pierre-Gilles, @atrovato

Query both tag forms in the changelog release filter
  docs/specs/external-integrations.md
  front/src/routes/integration/all/external-integration/utils.js
Owners: @Pierre-Gilles

Distinguish unknown device usage from unused, share the selector fields
  docs/specs/device-migration.md
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/index.js
  server/lib/device/device.getUsage.js
  server/lib/device/device.migrate.js
  server/lib/device/device.selectorFields.js
Owners: @Pierre-Gilles

Harden the derived energy features reinjection on republication
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.getDiscoveredDevices.js
  server/test/lib/external-integration/externalIntegration.energyFeatures.test.js
Owners: @Pierre-Gilles

fix(scene): make enable/disable actions idempotent and flag disabled scenes
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/EnableDisableSceneParams.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.enableDisableScene.test.js
Owners: @Pierre-Gilles

fix: expose a readable list of calendar events in scene variables (#2916) (#2918)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.getCalendarEvents.test.js
Owners: @Pierre-Gilles

fix: stop re-queuing a state-purge job on every device save (#2900) (#2904)
  server/lib/device/device.create.js
  server/test/lib/device/device.create.test.js
Owners: @Pierre-Gilles

Add a random part to the selector of new dashboards, like scenes (#2906)
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  server/lib/dashboard/dashboard.create.js
  server/test/lib/dashboard/dashboard.create.test.js
  server/test/lib/dashboard/dashboard.updateOrder.test.js
Owners: @Pierre-Gilles

External integrations: show the new version number in the "update available" banner (#2926)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/supervision-page/SupervisionCard.jsx
  server/api/controllers/externalIntegration.controller.js
  server/lib/external-integration/externalIntegration.get.js
  server/lib/external-integration/externalIntegration.getLatestVersion.js
  server/lib/external-integration/externalIntegration.isUpdateAvailable.js
  server/lib/external-integration/index.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/externalIntegration.get.test.js
Owners: @Pierre-Gilles

Front: collapse the integrations disclaimer banner on mobile (#2924)
  front/src/routes/integration/IntegrationGatewayBanner.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/style.css
Owners: @Pierre-Gilles

Matter: support door locks on the DoorLock cluster (#2921)
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/doorLockMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/utils/doorLockMatterMapping.test.js
Owners: @Pierre-Gilles

Add energy tracking features automatically for external integrations (#2922)
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.getDiscoveredDevices.js
  server/lib/external-integration/index.js
  server/lib/index.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/externalIntegration.energyFeatures.test.js
  server/test/lib/external-integration/testUtils.test.js
Owners: @Pierre-Gilles

Disable the usage filter until the device usage is loaded
  front/src/routes/devices/DevicesPage.jsx
Owners: @Pierre-Gilles

fix(dashboard): expose the move-to-dashboard dropdown state to screen readers
  front/src/components/boxs/baseEditBox.jsx
Owners: @Pierre-Gilles

Fix mDNS spelling mangled by the JSDoc sentence rule
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanMdns.js
Owners: @Pierre-Gilles

feat(scene): see and stop running scenes (#9015) (#2710)
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/RunningStopButton.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/index.js
  front/src/routes/scene/runningInfo.js
  front/src/routes/scene/style.css
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.destroy.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.executeActions.js
  server/lib/scene/scene.getRunning.js
  server/lib/scene/scene.stop.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.destroy.test.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.stop.test.js
  server/utils/constants.js
  server/utils/coreErrors.js
Owners: @Pierre-Gilles

Display integration names on the devices list (#2886)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/index.js
  front/src/routes/devices/integrationLinks.js
  front/src/routes/devices/style.css
Owners: @Pierre-Gilles

Hide the DuckDB migration card once nothing is left to migrate in SQLite (#2888)
  front/src/routes/settings/settings-system/SettingsSystemDuckDbMigration.jsx
  server/lib/device/device.getDuckDbMigrationState.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDuckDbMigrationState.test.js
Owners: @Pierre-Gilles

Matter: handle water leak detectors (and contact/rain sensors) on the BooleanState cluster (#2892)
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/booleanStateMatterMapping.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/utils/booleanStateMatterMapping.test.js
Owners: @Pierre-Gilles

Allow deleting the first action block of a scene (#2907)
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/actions/ConditionIfElseThen.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

Add an "Installed" integration view to see which external integrations run on the instance (#2911)
  docs/specs/external-integrations.md
  front/src/components/app.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/InstalledIntegrationsSummary.jsx
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/all/external-integration/utils.js
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

feat(mqtt): support wildcard state topics in Home Assistant discovery (#2915)
  server/services/mqtt/lib/handleNewMessage.js
  server/services/mqtt/lib/homeAssistant/constants.js
  server/services/mqtt/lib/homeAssistant/handleHomeAssistantStateMessage.js
  server/services/mqtt/lib/homeAssistant/listenToHomeAssistantDevice.js
  server/services/mqtt/lib/mqttTopicMatches.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/test/services/mqtt/lib/homeAssistant/handleHomeAssistantStateMessage.test.js
  server/test/services/mqtt/lib/homeAssistant/listenToHomeAssistantDevice.test.js
  server/test/services/mqtt/lib/mqttTopicMatches.test.js
Owners: @atrovato

Add an "any state change" mode to the device state scene trigger (#2894)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/scene.create.test.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
  server/test/models/scene.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
  server/test/utils/compare.test.js
  server/utils/compare.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(front): collapse the scene formula help by default
  front/src/components/scene/FormulaFunctionsHelp.css
  front/src/components/scene/FormulaFunctionsHelp.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Energy consumption widget: allow the tracking period to start on any day of the month (billing period) (#2913)
  front/src/components/boxs/energy-consumption/EditEnergyConsumption.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
  server/test/utils/energyPeriod.test.js
  server/utils/energyPeriod.js
Owners: @Pierre-Gilles

Refresh the demo instance and make it a showcase
  .github/workflows/build-demo-website.yml
  front/src/config/demo.js
  front/src/config/demo/README.md
  front/src/config/demo/assets.js
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/history.js
  front/src/config/demo/home.js
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
  front/src/config/demo/scenes.js
  front/src/config/demo/system.js
  front/src/config/demo/weather.js
  front/src/utils/DemoHttpClient.js
Owners: @VonOx, @Pierre-Gilles

Add an on-demand Claude autofix triggered by a /claude PR comment
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-on-demand-autofix.yml
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

Restrict /claude to an explicit allow-list, not any org member
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-on-demand-autofix.yml
Owners: @Pierre-Gilles, @VonOx

Fix the on-demand loop guard, reply routing and prompt compatibility
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-on-demand-autofix.yml
Owners: @Pierre-Gilles, @VonOx

feat(dashboard): one-tap pill selector in every mode
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

Add "Last 3 days" interval to dashboard chart durations
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/mcp/lib/buildSchemas.js
Owners: @Pierre-Gilles

Add an on-demand Claude autofix triggered by a /claude PR comment (#2932)
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-on-demand-autofix.yml
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

Back-port the routine's "do not watch the PR" rule into the versioned prompt
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
Owners: @Pierre-Gilles

feat(dashboard): priority+ overflow for the pill selector
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/DashboardTabs.jsx
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

fix(dashboard): header spacing and glass overflow menu
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

Back-port the routine's "do not watch the PR" rule into the versioned prompt (#2934)
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
Owners: @Pierre-Gilles

feat(dashboard): Horizon glass is the one and only style
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/style.css
  server/lib/dashboard/dashboard.getBySelector.js
  server/migrations/20260815000000-add-dashboard-appearance-columns.js
  server/models/dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add BLE advertisement streaming spec (Bluetooth sensors)
  AGENTS.md
  docs/specs/bluetooth-ble-sensors.md
  docs/specs/external-integrations.md
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
