Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

unduplicate
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
Owners: @Pierre-Gilles

Better logo
  front/src/assets/integrations/cover/nuki.jpg
  front/src/assets/integrations/cover/nuki.png
  front/src/config/integrations/devices.json
Owners: @Pierre-Gilles

Specify that the lock is updated every minutes in web mode
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Update Lock every minutes through HTTP
  server/services/nuki/lib/http/nuki.http.convertToDevice.js
  server/test/services/nuki/lib/http/nuki.http.convertToDevice.test.js
Owners: @Pierre-Gilles

Energy Monitoring : Add UI helper for MQTT integration (#2385)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/api/controllers/energy-price.controller.js
  server/api/routes.js
  server/test/controllers/energy-price/energy-price.controller.test.js
Owners: @Pierre-Gilles, @atrovato

Energy monitoring : Improve contract UX (#2386)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/energy-monitoring/ImportPrices.jsx
  server/migrations/20251211120000-add-energy-price-name.js
  server/models/energy_price.js
Owners: @Pierre-Gilles

Scene: Handle device state change on text devices
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/device-states/DefaultDeviceState.jsx
  server/lib/device/device.saveStringState.js
  server/models/scene.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
Owners: @Pierre-Gilles

Scene: Handle device state change on text devices (#2389)
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/device-states/DefaultDeviceState.jsx
  server/lib/device/device.saveStringState.js
  server/models/scene.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
Owners: @Pierre-Gilles

Scene: Condition on variables should allow text comparison
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
Owners: @Pierre-Gilles

Remove previous error message
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Owners: @Pierre-Gilles

Scene: Condition on variables should allow text comparison (#2390)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
Owners: @Pierre-Gilles

Scene: Fix bug in MQTT received trigger when message is undefined
  server/lib/scene/scene.triggers.js
  server/test/lib/scene/triggers/scene.trigger.mqttReceived.test.js
Owners: @Pierre-Gilles

Scene: Fix bug in MQTT received trigger when message is undefined (#2391)
  server/lib/scene/scene.triggers.js
  server/test/lib/scene/triggers/scene.trigger.mqttReceived.test.js
Owners: @Pierre-Gilles

4.66.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

MQTT : Custom topics should parse number if number
  server/services/mqtt/lib/handler/handleDeviceCustomTopicMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Owners: @atrovato

MQTT : Custom topics should parse number if number (#2392)
  server/services/mqtt/lib/handler/handleDeviceCustomTopicMessage.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
Owners: @atrovato

MQTT : When unsuscribing a scene topic, check if device feature is not listening to it
  server/services/mqtt/lib/unsubscribe.js
  server/test/services/mqtt/lib/unsubscribe.test.js
Owners: @atrovato

Energy monitoring : Switch from currency to kWh
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Owners: @Pierre-Gilles

Inverse the UI buttons states
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Owners: @Pierre-Gilles

Add dynamic currency
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Owners: @Pierre-Gilles

Add spinner
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
Owners: @Pierre-Gilles

MQTT : When unsuscribing a scene topic, check if device feature is not listening to it (#2394)
  server/services/mqtt/lib/unsubscribe.js
  server/test/services/mqtt/lib/unsubscribe.test.js
Owners: @atrovato

Energy monitoring : Switch from currency to kWh, dynamic currency & spinner (#2395)
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Owners: @Pierre-Gilles

Upgrade DuckDB to v1.4.3
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Energy monitoring : Add subscription
  server/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.js
  server/test/lib/device/energy-sensor/energy-sensor.getConsumptionByDates.test.js
Owners: @Pierre-Gilles

Upgrade DuckDB to v1.4.3 (#2396)
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Upgrade to Node 24
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/services/airplay/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/mcp/package-lock.json
  server/services/telegram/package-lock.json
Owners: @Pierre-Gilles, @VonOx, @atrovato

Set DuckDB memory limit to 30% of system memory
  server/models/index.js
Owners: @Pierre-Gilles

Energy Monitoring : Detect & be able to fix circular dependencies
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/device/energy-sensor/energy-sensor.getRootElectricMeterDevice.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/device/energy-sensor/energy-sensor.getRootElectricMeterDevice.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Owners: @Pierre-Gilles

Energy Monitoring : Detect & be able to fix circular dependencies (#2400)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/device/energy-sensor/energy-sensor.getRootElectricMeterDevice.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/device/energy-sensor/energy-sensor.getRootElectricMeterDevice.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Owners: @Pierre-Gilles

4.66.3
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Set DuckDB memory limit to 30% of system memory (#2398)
  server/models/index.js
Owners: @Pierre-Gilles

4.66.4
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Improve startup performance on large DuckDB database
  server/lib/device/device.getDuckDbMigrationState.js
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/test/lib/device/device.getDuckDbMigrationState.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/controllers/device/device.controller.test.js
Owners: @Pierre-Gilles

Add more logs
  server/lib/device/device.getDuckDbMigrationState.js
Owners: @Pierre-Gilles

Should not fail if sending a message to the user is failing
  server/lib/system/system.checkIfGladysUpgraded.js
  server/test/lib/system/system.checkIfGladysUpgraded.test.js
Owners: @Pierre-Gilles

Improve Gladys start : Fix performance bug on large DuckDB database + fix gladys check upgrade failing if one message not sent (#2401)
  server/lib/device/device.getDuckDbMigrationState.js
  server/lib/gateway/gateway.getLatestGladysVersion.js
  server/lib/system/system.checkIfGladysUpgraded.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDuckDbMigrationState.test.js
  server/test/lib/system/system.checkIfGladysUpgraded.test.js
Owners: @Pierre-Gilles

4.66.5
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Energy Monitoring: Be able to modify parent of 30 minutes consumption & 30 minutes cost
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
