Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Bump codecov action to v3
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Edit category
  front/src/routes/integration/all/tasmota/edit-page/index.js
  front/src/routes/integration/all/zwave2mqtt/edit-page/index.js
Owners: @atrovato, @Pierre-Gilles

Corrections : milight mode feature icon display, edit milight device features, tests
  server/services/rflink/README.md
  server/services/rflink/lib/commands/rflink.setValue.js
  server/services/rflink/lib/events/rflink.message.js
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/setValue.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
Owners: @Pierre-Gilles

Run npm audit with --audit-level=critical while issues are being fixed on dependencies
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Add Philips Hue 929002241201 to Zigbee2mqtt integration (#1259)
  server/services/zigbee2mqtt/model/Philips.js
Owners: @Pierre-Gilles

Gladys Plus: Add account expired banner on dashboard
  front/src/actions/main.js
  front/src/assets/images/undraw_credit_card_payments.svg
  front/src/components/gateway/GatewayAccountExpired.jsx
  front/src/components/gateway/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/index.js
  front/src/utils/GatewaySession.js
Owners: @Pierre-Gilles

Gladys Plus: Add account expired banner on dashboard (#1270)
  front/src/actions/main.js
  front/src/assets/images/undraw_credit_card_payments.svg
  front/src/components/gateway/GatewayAccountExpired.jsx
  front/src/components/gateway/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/index.js
  front/src/utils/GatewaySession.js
Owners: @Pierre-Gilles

Update Gladys Plus page on local instance
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway/GatewayPricing.jsx
Owners: @Pierre-Gilles

Fix typo
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Update Gladys Plus page on local instance (#1271)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-gateway/GatewayPricing.jsx
Owners: @Pierre-Gilles

Fix #1250: Dashboard should change fullscreen mode even when the change is triggered by the browser
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles

Fix #1250: Dashboard should change fullscreen mode even when the change is triggered by the browser (#1272)
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles

Add get parameters to return_url in login
  front/src/actions/main.js
Owners: @Pierre-Gilles

Add get parameters to return_url in login (#1273)
  front/src/actions/main.js
Owners: @Pierre-Gilles

4.5.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Update Light bulb #1269
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Add LED1924G9 #1275
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Add LED1934G3 #1232
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Add battery feature to RTCGQ11LM #1254
  server/services/zigbee2mqtt/model/Xiaomi.js
Owners: @Pierre-Gilles

Add LED1837R5 #1255
  server/services/zigbee2mqtt/model/IKEA.js
Owners: @Pierre-Gilles

Add TS0503B #1260
  server/services/zigbee2mqtt/model/TuYa.js
Owners: @Pierre-Gilles

In scene, trigger device state change should parse number as float
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

In scene, trigger device state change should parse number as float (#1276)
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

4.5.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Add get jobs route + websocket events
  server/api/controllers/job.controller.js
  server/api/routes.js
  server/lib/index.js
  server/lib/job/index.js
  server/lib/job/job.finish.js
  server/lib/job/job.get.js
  server/lib/job/job.start.js
  server/lib/job/job.updateProgress.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add new job page in settings with live progress
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/settings-background-jobs/JobList.jsx
  front/src/routes/settings/settings-background-jobs/SettingsBackgroundJobs.jsx
  front/src/routes/settings/settings-background-jobs/index.js
  server/config/scheduler-jobs.js
Owners: @Pierre-Gilles

Put back scheduler frequency
  server/config/scheduler-jobs.js
Owners: @Pierre-Gilles

Fix eslint server
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles

Add tests to job lib
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Add more tests to job
  server/lib/job/job.get.js
  server/test/controllers/job/job.test.js
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Fix eslint front
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobList.jsx
Owners: @Pierre-Gilles

Fix tests
  server/test/lib/device/device.calculateAggregate.test.js
  server/test/lib/device/device.create.test.js
Owners: @Pierre-Gilles

Fix tests
  server/lib/device/device.onMonthlyDeviceAggregateEvent.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.init.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/controllers/device/device.controller.test.js
Owners: @Pierre-Gilles

REmove change on camera boxes
  front/src/components/boxs/camera/Camera.jsx
Owners: @Pierre-Gilles

Add more tests to job wrapper
  server/test/lib/device/device.calculateAggregate.test.js
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Revert back to original as battery feature is auto detected
  server/services/zigbee2mqtt/model/Xiaomi.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
