Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

refactor: ajout de nouvelles lignes à la fin des fichiers de test pour la création de dispositifs Tasmota
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-1.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-2.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-4.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-5.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorScheme.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorSpeed.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorTemperature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-counter-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_light.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_switch.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

Suppression des références à la fonctionnalité de suivi énergétique dans les fichiers de traduction et mise à jour des identifiants pour une meilleure gestion des fonctionnalités.
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Owners: @Pierre-Gilles, @atrovato

Refactor test for Tasmota discovered devices: simplify search for today's energy consumption feature
  server/test/services/tasmota/lib/tasmota.buildDiscoveredDevice.test.js
  server/test/services/tasmota/lib/tasmota.getDiscoveredDevices.test.js
  server/test/services/tasmota/lib/tasmota.notifyNewDevice.test.js
Owners: @atrovato

Amélioration de la fonction notifyNewDevice : ajout de la gestion des fonctionnalités énergétiques et mise à jour des tests associés
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/test/services/tasmota/lib/tasmota.getDiscoveredDevices.test.js
  server/test/services/tasmota/lib/tasmota.notifyNewDevice.test.js
Owners: @atrovato

Amélioration de l'intégration Tasmota : ajout de fonctionnalités de suivi énergétique et mise à jour des descriptions dans les traductions
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/services/tasmota/api/tasmota.controller.js
  server/services/tasmota/index.js
  server/services/tasmota/lib/tasmota.buildDiscoveredDevice.js
  server/services/tasmota/lib/tasmota.getDiscoveredDevices.js
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/test/services/tasmota/api/tasmota.controller.test.js
  server/test/services/tasmota/lib/tasmota.buildDiscoveredDevice.test.js
  server/test/services/tasmota/lib/tasmota.getDiscoveredDevices.test.js
  server/test/services/tasmota/lib/tasmota.notifyNewDevice.test.js
Owners: @Pierre-Gilles, @atrovato

Amélioration de la fonction notifyNewDevice : remplacement de mergeWithExistingDevice par mergeDevices et mise à jour des tests associés
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/tasmota.notifyNewDevice.test.js
Owners: @atrovato

Amélioration du test de création de dispositif Tasmota : vérification des identifiants externes des fonctionnalités énergétiques
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
Owners: @atrovato

Refactor UpdateDevice and UpdateDeviceFeature components: remove energy monitoring logic and related features for simplification
  front/src/components/device/UpdateDevice.jsx
  server/utils/constants.js
Owners: @Pierre-Gilles

Refactor gestion des fonctionnalités de suivi énergétique : mise à jour des traductions et ajustement des composants pour une meilleure intégration
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Owners: @Pierre-Gilles, @atrovato

Refactor addEnergyFeatures: simplify filtering logic for index features
  server/services/energy-monitoring/utils/addEnergyFeatures.js
Owners: @Pierre-Gilles

Refactor ajout de la gestion des fonctionnalités énergétiques : amélioration de la logique de filtrage et ajout de tests pour la réinjection des fonctionnalités dérivées
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/services/tasmota/lib/tasmota.buildDiscoveredDevice.js
  server/test/services/tasmota/lib/tasmota.buildDiscoveredDevice.test.js
Owners: @Pierre-Gilles, @atrovato

Tasmota: add MQTT IP discovery + direct UI link and improve discovery sorting (#2426)
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
Owners: @atrovato

Update DuckDB to 1.4.4 (#2456)
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Ajout de tests pour gérer les fonctionnalités manquantes et normaliser le format des identifiants dérivés dans buildDiscoveredDevice
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
  server/test/services/tasmota/lib/tasmota.buildDiscoveredDevice.test.js
Owners: @Pierre-Gilles, @atrovato

feat: add support for daily energy index features in Tasmota integration
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/migrations/20260220192730-update-tasmota-energy-daily-index-types.js
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/services/tasmota/lib/features/energy.today.js
  server/services/tasmota/lib/features/energy.yesterday.js
  server/services/tasmota/lib/tasmota.buildDiscoveredDevice.js
  server/services/tasmota/lib/tasmota.getDiscoveredDevices.js
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/tasmota.buildDiscoveredDevice.test.js
  server/test/services/tasmota/lib/tasmota.getDiscoveredDevices.test.js
  server/test/services/tasmota/lib/tasmota.notifyNewDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Refactor test cases to use async/await for STATUS message handling in Tasmota device creation tests
  server/services/tasmota/lib/http/tasmota.http.status.js
  server/services/tasmota/lib/http/tasmota.http.subStatus.js
  server/services/tasmota/lib/mqtt/tasmota.mqtt.handleMessage.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-1.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-2.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-4.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-5.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorScheme.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorSpeed.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorTemperature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-counter-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_light.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_switch.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

refactor: suppression de tests obsolètes pour les fonctionnalités d'énergie
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

refactor: simplification de la gestion des fonctionnalités d'énergie et suppression des tests obsolètes
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/test/services/energy-monitoring/utils/addEnergyFeatures.test.js
Owners: @Pierre-Gilles

Normalisation des fonctionnalités dérivées et ajout de tests pour gérer les cas où les fonctionnalités existantes ne sont pas un tableau
  server/services/tasmota/lib/tasmota.buildDiscoveredDevice.js
  server/test/services/tasmota/lib/tasmota.buildDiscoveredDevice.test.js
Owners: @atrovato

Mise à jour des identifiants externes des fonctionnalités d'énergie pour utiliser le format :consumption et :cost dans les tests et la logique de construction des appareils découverts.
  server/services/tasmota/lib/tasmota.buildDiscoveredDevice.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/tasmota.buildDiscoveredDevice.test.js
  server/test/services/tasmota/lib/tasmota.getDiscoveredDevices.test.js
  server/test/services/tasmota/lib/tasmota.notifyNewDevice.test.js
Owners: @atrovato

feat: ajout de tests pour la gestion des messages STATUS et la fusion des appareils découverts
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/tasmota.mqtt.scan.test.js
  server/test/services/tasmota/lib/tasmota.getDiscoveredDevices.test.js
  server/test/services/tasmota/lib/tasmota.mergeWithExistingDevice.test.js
  server/test/services/tasmota/lib/tasmota.notifyNewDevice.test.js
Owners: @atrovato

Temperature in room: Should exclude crazy temperature values (#2459)
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/test/lib/device/temperature-sensor/temperature-sensor.test.js
Owners: @Pierre-Gilles

Amélioration de la fonction notifyNewDevice : remplacement de mergeWithExistingDevice par mergeDevices et mise à jour des tests associés
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
Owners: @atrovato

refactor: ajout de nouvelles lignes à la fin des fichiers de test pour la création de dispositifs Tasmota
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-1.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-2.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-4.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-5.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorScheme.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorSpeed.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorTemperature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-counter-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_light.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_switch.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

refactor(tasmota): change async test cases to synchronous for STATUS message decoding
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-1.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-2.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-4.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-5.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorScheme.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorSpeed.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorTemperature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-counter-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_DS18B20.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-device_temperature_ESP32.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_light.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-dimmer_switch.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_SR04.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-distance_VL53L0X.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_light_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_off.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-power_switch_on.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_BL09XX.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_AM2301.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_DHT11.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-temperature_humidity_THR320.test.js
Owners: @atrovato

4.68.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Simplification de la vérification des fonctionnalités d'index énergétique dans buildDiscoveredDevice
  server/services/tasmota/lib/tasmota.buildDiscoveredDevice.js
Owners: @atrovato

Refactor addEnergyFeatures to remove options parameter and filter logic; update buildDiscoveredDevice to filter features before adding energy features
  server/services/energy-monitoring/utils/addEnergyFeatures.js
  server/services/tasmota/lib/tasmota.buildDiscoveredDevice.js
Owners: @Pierre-Gilles, @atrovato

feat(z2m): Migrate to ember driver
  server/migrations/20260216000000-zigbee2mqtt-ezsp-dongle-rename.js
  server/services/zigbee2mqtt/adapters/index.js
  server/test/services/zigbee2mqtt/lib/config/z2m_adapter-ember_config.yaml
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/getManagedAdapters.test.js
Owners: @Pierre-Gilles

feat(z2m): Detect EZSP protocol version error in container logs
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalMode.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  server/lib/system/index.js
  server/lib/system/system.getContainerLogs.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/readZ2mContainerLogs.js
  server/services/zigbee2mqtt/lib/status.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
Owners: @Pierre-Gilles

feat(z2m): Check dongle firmware version for ember
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalMode.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  server/services/zigbee2mqtt/adapters/index.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/status.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/getManagedAdapters.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/status.test.js
Owners: @Pierre-Gilles

Add recalculation of consumption/cost based on multiple feature selection and/or start/end date
  front/src/components/device/UpdateDevice.jsx
  front/src/components/device/UpdateDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Owners: @Pierre-Gilles, @atrovato

fix: Take in account PR feedbacks
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  server/migrations/20260216000000-zigbee2mqtt-ezsp-dongle-rename.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/readZ2mContainerLogs.js
  server/test/lib/system/system.getContainerLogs.test.js
  server/test/services/energy-monitoring/contracts/contracts.buildEdfTempoDayMap.test.js
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/readZ2mContainerLogs.test.js
Owners: @Pierre-Gilles

feat(z2m): Extend logs reading to all errors
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  server/services/zigbee2mqtt/lib/readZ2mContainerLogs.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/readZ2mContainerLogs.test.js
Owners: @Pierre-Gilles

fix: Fix z2m container logs reading
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/readZ2mContainerLogs.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/readZ2mContainerLogs.test.js
Owners: @Pierre-Gilles

refactor: supprimer le code redondant et améliorer la lisibilité dans UpdateDeviceFeature
  front/src/components/device/UpdateDeviceFeature.jsx
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromEndToEnd.test.js
Owners: @Pierre-Gilles

Amélioration gestion déduplication découverte
  server/services/tasmota/lib/tasmota.getDiscoveredDevices.js
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/services/tasmota/lib/utils/tasmota.dedupeFeaturesByExternalId.js
Owners: @atrovato

(fix): tests
  server/services/tasmota/lib/tasmota.getDiscoveredDevices.js
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/services/tasmota/lib/utils/tasmota.dedupeFeaturesByExternalId.js
Owners: @atrovato

maj tasmota
  server/services/tasmota/lib/tasmota.getDiscoveredDevices.js
  server/services/tasmota/lib/tasmota.notifyNewDevice.js
  server/services/tasmota/lib/utils/tasmota.dedupeFeaturesByExternalId.js
Owners: @atrovato

Apply Tuya lint/prettier fixes and small refactors
  front/src/components/boxs/device-in-room/device-features/AirConditioningFanSpeedDeviceFeature.jsx
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/tuya.discoverDevices.js
  server/services/tuya/lib/utils/tuya.deviceParams.js
  server/services/tuya/lib/utils/tuya.normalize.js
Owners: @Pierre-Gilles
