Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Energy monitoring: only recalculate costs for devices impacted by an Enedis sync (#3009)
  server/services/enedis/lib/enedis.sync.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFromDate.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndex.js
  server/test/services/enedis/enedis.sync.dailyConsumption.test.js
  server/test/services/enedis/enedis.sync.loadConsumptionCurve.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFromDate.test.js
Owners: @Pierre-Gilles

Scene editor: dropdown menus no longer paint under the next step (#3008)
  front/src/components/device/SelectDeviceFeatureValue.jsx
  front/src/components/device/SelectFanFeatureValue.jsx
  front/src/components/device/SelectFanMode.jsx
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/components/device/SelectWaterHeaterMode.jsx
  front/src/components/form/Select.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/CheckTime.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/SetAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
  front/src/routes/scene/edit-scene/triggers/UserPresenceTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanLabeledDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/FanModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelMatterSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterHeaterModeDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterValveDeviceState.jsx
Owners: @Pierre-Gilles

Scenes: don't force a space after a variable inserted in a text (#3003)
  front/src/components/scene/TextWithVariablesInjected.jsx
Owners: @Pierre-Gilles

Settings: horizontally scrollable menu with overflow arrows on mobile (#3000)
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/chips-scroll/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/GroupChipsScroll.jsx
  front/src/routes/settings/SettingsLayout.jsx
  front/src/routes/settings/style.css
Owners: @Pierre-Gilles

Cypress: stop a late window.open from failing the whole OAuth run
  front/cypress/e2e/routes/integration/external-integration/ExternalIntegrationOAuth.cy.js
  front/cypress/support/e2e.js
Owners: @Pierre-Gilles

Cypress: stop a late window.open from failing the whole OAuth run (#3010)
  front/cypress/e2e/routes/integration/external-integration/ExternalIntegrationOAuth.cy.js
  front/cypress/support/e2e.js
Owners: @Pierre-Gilles

Free Mobile: point users to the right screen for their credentials
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Also use "native Integration" in the German strings, matching the wording already used elsewhere in de.json.
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

fix(front): keep the Telegram and Free Mobile pages working for their audience
  front/src/routes/integration/all/telegram/actions.js
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

fix(front): hide the admin-only settings tabs from non-admin users
  front/src/routes/settings/SettingsLayout.jsx
Owners: @Pierre-Gilles

chore(security): bump transitive deps to clear high/critical npm advisories
  server/services/google-cast/package-lock.json
  server/services/mcp/package-lock.json
Owners: @Pierre-Gilles

Integrations: drop the card headers that repeated the page title
  front/src/routes/integration/all/alexa-gateway/welcome.jsx
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  front/src/routes/integration/all/free-mobile/FreeMobile.jsx
  front/src/routes/integration/all/google-home-gateway/welcome.jsx
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/mcp/mcp.jsx
  front/src/routes/integration/all/nextcloud-talk/NextcloudTalk.jsx
  front/src/routes/integration/all/openweather/OpenWeather.jsx
  front/src/routes/integration/all/owntracks/welcome.jsx
  front/src/routes/integration/all/telegram/Telegram.jsx
Owners: @Pierre-Gilles, @callemand

Demo: rebalance the dashboards and speak French in the chat
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/index.js
  front/src/config/demo/scenes.js
Owners: @Pierre-Gilles

Integrations: recenter the active tab on URL change and update spec G
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/integration/IntegrationSubPageLayout.jsx
Owners: @Pierre-Gilles

Demo: keep the Home layout as it was, fix the camera in place
  front/src/config/demo/dashboards.js
Owners: @Pierre-Gilles

Demo: show the real community integration store, live
  front/src/config/demo/README.md
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
  front/src/config/demo/store.js
Owners: @Pierre-Gilles

Demo: don't install the same store integration twice
  front/src/config/demo/index.js
  front/src/config/demo/scenes.js
Owners: @Pierre-Gilles

Demo: a failed store refresh no longer empties the catalog
  front/src/config/demo/README.md
  front/src/config/demo/index.js
  front/src/config/demo/store.js
Owners: @Pierre-Gilles

Demo: speak French everywhere, show the tool calls, redesign the Energy dashboard
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/home.js
  front/src/config/demo/i18n.js
  front/src/config/demo/index.js
  front/src/config/demo/scenes.js
Owners: @Pierre-Gilles

Upgrade Zigbee2mqtt to 2.13.0
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Owners: @Pierre-Gilles

Demo: two languages everywhere, live integration store, tool calls in the chat, rebalanced dashboards (#3013)
  front/src/config/demo/README.md
  front/src/config/demo/dashboards.js
  front/src/config/demo/helpers.js
  front/src/config/demo/home.js
  front/src/config/demo/i18n.js
  front/src/config/demo/index.js
  front/src/config/demo/integrations.js
  front/src/config/demo/scenes.js
  front/src/config/demo/store.js
Owners: @Pierre-Gilles

Upgrade Zigbee2mqtt to 2.13.0 (#3014)
  server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Owners: @Pierre-Gilles

Use a nicer garden snapshot for the demo camera
  front/src/config/demo/assets.js
Owners: @Pierre-Gilles

Remove outdated insomnia.json
  insomnia.json
Owners: @Pierre-Gilles

CI: prepare Docker release tags for Gladys Assistant 5
  .github/workflows/docker-release-build.yml
  .github/workflows/prepare-release.yml
Owners: @VonOx, @Pierre-Gilles

Update community health files for the 5.0.0 release
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SUPPORT.md
  README.md
  SECURITY.md
Owners: @Pierre-Gilles

Store the demo camera image without the data: prefix
  front/src/config/demo/assets.js
Owners: @Pierre-Gilles

Address maintainer feedback on community files
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SUPPORT.md
  README.md
  SECURITY.md
Owners: @Pierre-Gilles

Use a nicer garden snapshot for the demo camera (#3017)
  front/src/config/demo/assets.js
Owners: @Pierre-Gilles

Update community health files (#3020)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SUPPORT.md
  README.md
  SECURITY.md
Owners: @Pierre-Gilles

CI: only feed latest and v4 from stable release tags
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Remove outdated insomnia.json (#3018)
  insomnia.json
Owners: @Pierre-Gilles

CI: prepare Docker release tags for Gladys Assistant 5 (#3019)
  .github/workflows/docker-release-build.yml
  .github/workflows/prepare-release.yml
Owners: @VonOx, @Pierre-Gilles

5.0.0
  README.md
  docker/docker-compose.yml
  package-lock.json
  package.json
  server/services/example/README.md
Owners: @Pierre-Gilles, @VonOx

Store the README dashboard screenshot in the repository
  .github/images/gladys-dashboard-en.webp
  README.md
Owners: @Pierre-Gilles

Pin the running version in the digest-pinned image test
  server/test/lib/system/system.getGladysImage.test.js
Owners: @Pierre-Gilles

Fix host reboot/shutdown unavailable on AppArmor hosts
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

Fix host reboot/shutdown unavailable on AppArmor hosts: run the DBus helper container unconfined (#3022)
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

Mount the host D-Bus in the Docker install instructions
  README.md
  docker/docker-compose.yml
Owners: @Pierre-Gilles, @VonOx

fix(front): center the loader on the Activity page during the first load
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
