Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

docs(scene): document device_features in migration spec and drop the flake fix
  docs/specs/device-migration.md
  server/test/lib/device/device.migrate.test.js
  server/test/services/zigbee2mqtt/lib/publish.test.js
Owners: @Pierre-Gilles

Rewrite device selectors in scene conditions during device migration
  docs/specs/device-migration.md
  server/lib/device/device.migrate.js
  server/test/lib/device/device.migrate.test.js
Owners: @Pierre-Gilles

chore: sync lockfile engines and drop no-op --unsafe-perm
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/package-lock.json
  package-lock.json
  server/cli/install_service_dependencies.js
  server/package-lock.json
Owners: @VonOx, @Pierre-Gilles

fix(scene): match full-day calendar events on their UTC day
  server/lib/calendar/calendar.findEventsInRange.js
  server/lib/scene/scene.actions.js
  server/test/lib/calendar/calendar.findEventsInRange.test.js
  server/test/lib/scene/actions/scene.action.getCalendarEvents.test.js
Owners: @Pierre-Gilles

Fix JSDoc slugs capitalized by the sentence rule, document front/.npmrc
  front/.npmrc
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(scene): make the variable value type selector keyboard operable
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.css
  front/src/routes/scene/edit-scene/actions/SetVariable.jsx
  server/models/scene.js
  server/test/lib/scene/scene.create.test.js
Owners: @Pierre-Gilles

fix: answer device.get-state when the model targets the house instead of a room (#2850) (#2852)
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

Harden the Wake-on-LAN host API endpoint (review of #2848)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.wakeOnLan.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

feat(scene): allow sending text to a device from the control-device action (#2856)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  server/lib/device/device.setValue.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/device/device.setValue.test.js
  server/test/lib/scene/scene.create.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

fix: look HomeKit services up by feature rather than by type (#2812) (#2829)
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/featureServices.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

Add energy production index calculation from meter readings (#2817)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/energy-monitoring/api/energy-monitoring.controller.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.init.js
  server/services/energy-monitoring/lib/index.js
  server/services/energy-monitoring/utils/constants.js
  server/services/energy-monitoring/utils/thirtyMinutesWindow.js
  server/test/services/energy-monitoring/api/energy-monitoring.controller.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateEnergyFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndexFromBeginning.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.init.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(scene): show device state trigger variables as a single generic set
  front/src/components/scene/TextWithVariablesInjected.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

feat(device): add generic maintenance feature category for consumable life tracking (#2855)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/test/utils/constants.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

chore: upgrade to Node.js 24 (#2861)
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
  server/cli/install_service_dependencies.js
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles, @VonOx

Add while loop action for scene automation (#2750)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/device/device.migrate.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.conditionIfThenElse.test.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Scene: Send message action should let the user choose the channel (#2808)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  server/api/controllers/service.controller.js
  server/api/routes.js
  server/lib/message/message.forwardToChannels.js
  server/lib/message/message.sendToUser.js
  server/lib/scene/scene.actions.js
  server/lib/service/service.getMessageServices.js
  server/lib/service/service.load.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/controllers/service/service.controller.test.js
  server/test/lib/message/message.sendToUser.test.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
  server/test/lib/service/service.test.js
Owners: @Pierre-Gilles

Address review feedback on house address search
  front/src/components/house/AddressSearch.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(dashboard): make chart tooltip follow the cursor instead of masking the curves
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
Owners: @Pierre-Gilles

House: search home address by text (#2867)
  front/cypress/e2e/routes/0-signup/SignUp.cy.js
  front/src/actions/signup/signupConfigureHouse.js
  front/src/components/house/AddressSearch.jsx
  front/src/components/house/EditHouse.jsx
  front/src/components/house/EditHouseComponent.jsx
  front/src/components/house/Map.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/signup/4-configure-house/ConfigureHouseTab.jsx
  front/src/utils/geocoding.js
Owners: @Pierre-Gilles

Add a Devices page listing all instance devices
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/EmptyState.jsx
  front/src/routes/devices/index.js
  front/src/routes/devices/integrationLinks.js
  front/src/routes/devices/style.css
Owners: @Pierre-Gilles

fix: map thermostat:mode and thermostat:operating-state in the HomeKit bridge (#2806) (#2828)
  server/services/homekit/lib/buildThermostatService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(homekit): expose the house alarm as a SecuritySystem (#2847)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/homekit/HomeKit.jsx
  server/services/homekit/api/homekit.controller.js
  server/services/homekit/lib/buildAlarmAccessory.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/exposedDevices.js
  server/services/homekit/lib/index.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendAlarmState.js
  server/test/services/homekit/api/homekit.controller.test.js
  server/test/services/homekit/index.test.js
  server/test/services/homekit/lib/buildAlarmAccessory.test.js
  server/test/services/homekit/lib/createBridge.test.js
  server/test/services/homekit/lib/exposedDevices.test.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendAlarmState.test.js
Owners: @Pierre-Gilles

fix(dashboard): keep the chart tooltip at a distance from the cursor
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/apexChartTooltipPositioning.js
  front/src/style/index.css
Owners: @Pierre-Gilles

feat(device): add text/select feature type with string-valued supported_options
  docs/specs/device-feature-categories.md
  docs/specs/external-integrations.md
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/AdaptiveOptionControl.jsx
  front/src/components/boxs/device-in-room/device-features/TextSelectDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/TextDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/utils/consts.js
  front/src/utils/deviceFeatureValueOptions.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.setValue.js
  server/lib/scene/scene.actions.js
  server/migrations/20260814000000-widen-device-feature-supported-option-value.js
  server/models/device_feature_supported_option.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/device/device.setValue.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/constants.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles, @atrovato

Load devices once and search/order client-side on the Devices page
  front/src/routes/devices/index.js
Owners: @Pierre-Gilles

feat(integrations): browse categories, facet filters and newest sort in the catalog
  docs/specs/external-integrations.md
  docs/specs/integration-catalog-categories.md
  front/src/components/app.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/layout/CardFilter.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/calendars.json
  front/src/config/integrations/communications.json
  front/src/config/integrations/devices.json
  front/src/config/integrations/index.js
  front/src/config/integrations/weathers.json
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/routes/integration/IntegrationFacets.jsx
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/lib/external-integration/store/store.getCatalog.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/store/store.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(front): stop showing last state report time as last motion on motion sensors
  front/src/components/boxs/device-in-room/device-features/sensor-value/MotionSensorDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Answer weather questions in the AI chat (#2853)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/index.js
  server/config/prompts/aiChat.prompt.txt
  server/lib/gateway/gateway.classifyAiChatToolCategories.js
  server/lib/gateway/gateway.forwardMessageToAiChat.js
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/formatWeather.js
  server/test/lib/gateway/gateway.forwardMessageToAiChat.test.js
  server/test/services/mcp/lib/buildSchemas.test.js
  server/test/services/mcp/lib/formatWeather.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

test(scene): assert the exact validation error for an ambiguous variable.set
  server/test/lib/scene/scene.create.test.js
Owners: @Pierre-Gilles

fix(front): make drag & drop work with a mouse on touchscreen PCs
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/ReorderDashbordList.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/scene/edit-scene/index.js
  front/src/utils/dragAndDropBackend.js
Owners: @Pierre-Gilles

fix(front): stop showing last state report time as last motion on motion sensors (#2871)
  front/src/components/boxs/device-in-room/device-features/sensor-value/MotionSensorDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix device count placement in the Devices page header
  front/src/routes/devices/DevicesPage.jsx
Owners: @Pierre-Gilles

refactor(device): store string option values in a dedicated value_string column
  docs/specs/device-feature-categories.md
  server/lib/device/device.syncFeatureSupportedOptions.js
  server/migrations/20260814000000-add-device-feature-supported-option-value-string.js
  server/migrations/20260814000000-widen-device-feature-supported-option-value.js
  server/models/device_feature_supported_option.js
  server/test/lib/device/device.create.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles

fix(front): make drag & drop work with a mouse on touchscreen PCs (#2872)
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/drag-and-drop/DeviceListWithDragAndDrop.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/ReorderDashbordList.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/scene/edit-scene/index.js
  front/src/utils/dragAndDropBackend.js
Owners: @Pierre-Gilles

fix(dashboard): keep tooltip positioning state across live chart refreshes
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/apexChartTooltipPositioning.js
  front/src/style/index.css
Owners: @Pierre-Gilles

Show feature icons and polish the Devices page design
  front/src/config/demo.js
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/style.css
Owners: @Pierre-Gilles

Make the Devices page fully responsive and center the device stamp icon
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/style.css
Owners: @Pierre-Gilles

fix(scene): store a numeric text variable as a number
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.setVariable.test.js
Owners: @Pierre-Gilles

fix(integrations): keep a categories-declaring manifest valid across re-validation
  docs/specs/integration-catalog-categories.md
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Owners: @Pierre-Gilles

fix(device): address review — type-aware optimistic updates, scoped string options
  docs/specs/device-feature-categories.md
  docs/specs/external-integrations.md
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  server/lib/device/device.create.js
  server/lib/device/device.syncFeatureSupportedOptions.js
  server/migrations/20260814000000-add-device-feature-supported-option-value-string.js
  server/test/lib/device/device.create.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles
