Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

fix: Update condition for checking values length in Chart.jsx
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

fix: review me
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

Google Cast integration (#2088)
  front/src/assets/integrations/cover/google-cast.jpg
  front/src/components/app.jsx
  front/src/components/boxs/music/EditMusicBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/google-cast/GoogleCastDeviceBox.jsx
  front/src/routes/integration/all/google-cast/GoogleCastPage.jsx
  front/src/routes/integration/all/google-cast/device-page/DeviceTab.jsx
  front/src/routes/integration/all/google-cast/device-page/EmptyState.jsx
  front/src/routes/integration/all/google-cast/device-page/index.js
  front/src/routes/integration/all/google-cast/device-page/style.css
  front/src/routes/integration/all/google-cast/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/google-cast/discover-page/EmptyState.jsx
  front/src/routes/integration/all/google-cast/discover-page/index.js
  front/src/routes/integration/all/google-cast/discover-page/style.css
  server/services/google-cast/api/google_cast.controller.js
  server/services/google-cast/index.js
  server/services/google-cast/lib/google_cast.init.js
  server/services/google-cast/lib/google_cast.scan.js
  server/services/google-cast/lib/google_cast.setValue.js
  server/services/google-cast/lib/index.js
  server/services/google-cast/package-lock.json
  server/services/google-cast/package.json
  server/services/google-cast/utils/convertToGladysDevice.js
  server/services/index.js
  server/test/services/google-cast/api/google_cast.controller.test.js
  server/test/services/google-cast/index.test.js
  server/test/services/google-cast/lib/google_cast.init.test.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
  server/test/services/google-cast/lib/google_cast_scan.test.js
Owners: @Pierre-Gilles

4.43.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

fix: Update height calculation in ApexChartComponent
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Gladys Plus : Send Telegram message when backup failed
  server/config/brain/backup/answers.en.json
  server/config/brain/backup/answers.fr.json
  server/lib/gateway/gateway.backup.js
  server/test/lib/gateway/gateway.backup.test.js
Owners: @Pierre-Gilles

Fix z-index issue on device.setValue scene action
  front/src/components/device/SelectDeviceFeature.jsx
Owners: @Pierre-Gilles

Improve column layout and accessibility in EditBoxColumns component
  front/package.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

fix: prettier
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

chore: Update height calculation in ApexChartComponent
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
Owners: @Pierre-Gilles

chore: Refactor EditDevices component to improve device options filtering
  front/src/components/boxs/device-in-room/EditDevices.jsx
Owners: @Pierre-Gilles

feature: Add support for NRV module type
  server/test/services/netatmo/lib/device/netatmo.updateNRV.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

feature: Add support for NAMain module in Netatmo updateValues function
  server/services/netatmo/lib/device/netatmo.updateNAMain.js
  server/test/services/netatmo/lib/device/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

feature: Add support for NAModule1 device
  server/services/netatmo/lib/device/netatmo.updateNAModule1.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: Remove unused code related to therm_measured_temperature feature
  server/services/netatmo/lib/device/netatmo.updateNAModule1.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule1.test.js
Owners: @thibautmery, @Terdious

feature: Add support for NAModule4 device
  server/services/netatmo/lib/device/netatmo.updateNAModule4.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule4.test.js
Owners: @thibautmery, @Terdious

feature: Add support for NAModule2 and update sensor categories
  server/services/netatmo/lib/device/netatmo.updateNAModule2.js
Owners: @thibautmery, @Terdious

refactor: Add coverage NAModule2
  server/test/services/netatmo/lib/device/netatmo.updateNAModule2.test.js
Owners: @thibautmery, @Terdious

fix: Eslint and prettier
  server/test/services/netatmo/lib/device/netatmo.updateNAModule2.test.js
Owners: @thibautmery, @Terdious

feature: Add support for NAModule3 precipitation sensor
  server/services/netatmo/lib/device/netatmo.updateNAModule3.js
Owners: @thibautmery, @Terdious

refactor: Update Netatmo device rain feature and add tests
  server/services/netatmo/lib/device/netatmo.updateNAModule3.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule3.test.js
Owners: @thibautmery, @Terdious

fix: Eslint and prettier
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
Owners: @thibautmery, @Terdious

refactor: code rehabilitation with new devices/features
  server/services/netatmo/lib/device/netatmo.updateNAMain.js
  server/services/netatmo/lib/device/netatmo.updateNAModule1.js
  server/services/netatmo/lib/device/netatmo.updateNAModule2.js
  server/services/netatmo/lib/device/netatmo.updateNAModule3.js
  server/services/netatmo/lib/device/netatmo.updateNAModule4.js
  server/services/netatmo/lib/device/netatmo.updateNRV.js
  server/test/services/netatmo/lib/device/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule2.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule3.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/device/netatmo.updateNRV.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevices.mock.test.json
  server/test/services/netatmo/netatmo.loadDevicesDetails.mock.test.json
Owners: @thibautmery, @Terdious

feature: Add support for NACamera device
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/update/netatmo.updateNACamera.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
Owners: @thibautmery, @Terdious

refactor: camera streaming code and remove unused function
  front/src/assets/integrations/devices/netatmo/netatmo-NACamera.jpg
  front/src/components/boxs/camera/Camera.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/utils/device.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

refactor: Update Netatmo dependencies and add camera-related functions
  front/src/assets/integrations/devices/netatmo/netatmo-NACamera.jpg
  front/src/components/boxs/camera/Camera.jsx
  front/src/utils/device.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/camera/checkIfLiveActive.js
  server/services/netatmo/lib/camera/convertLocalStreamToGateway.js
  server/services/netatmo/lib/camera/getImage.js
  server/services/netatmo/lib/camera/liveActivePing.js
  server/services/netatmo/lib/camera/onNewCameraFile.js
  server/services/netatmo/lib/camera/poll.js
  server/services/netatmo/lib/camera/sendCameraFileToGateway.js
  server/services/netatmo/lib/camera/startStreaming.js
  server/services/netatmo/lib/camera/startStreamingIfNotStarted.js
  server/services/netatmo/lib/camera/stopStreaming.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/update/netatmo.updateNACamera.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/services/netatmo/lib/utils/netatmo.validateStreamParams.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
Owners: @thibautmery, @Terdious, @Pierre-Gilles

refactor: updateValues function parameters
  server/services/netatmo/lib/netatmo.updateValues.js
Owners: @thibautmery, @Terdious

refactor: Update Netatmo service: loadCameraDetails and convertDeviceSecurity
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/camera/checkIfLiveActive.js
  server/services/netatmo/lib/camera/convertLocalStreamToGateway.js
  server/services/netatmo/lib/camera/getImage.js
  server/services/netatmo/lib/camera/liveActivePing.js
  server/services/netatmo/lib/camera/onNewCameraFile.js
  server/services/netatmo/lib/camera/poll.js
  server/services/netatmo/lib/camera/sendCameraFileToGateway.js
  server/services/netatmo/lib/camera/startStreaming.js
  server/services/netatmo/lib/camera/startStreamingIfNotStarted.js
  server/services/netatmo/lib/camera/stopStreaming.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
Owners: @thibautmery, @Terdious

refactor: code to handle empty camera array and remove unused file
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/utils/netatmo.validateStreamParams.js
Owners: @thibautmery, @Terdious

refactor: add Netatmo security API
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  server/migrations/20240301093530-default-netatmo-variable-security-api.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.deviceDetailsMerger.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/utils/netatmo.constants.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

refactor: add/update tests
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceSecurity.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.updateValues.test.js
  server/test/services/netatmo/netatmo.loadThermostatDetails.mock.test.json
  server/test/services/netatmo/netatmo.loadWeatherStationDetails.mock.test.json
Owners: @thibautmery, @Terdious

refactor: fix modules id
  server/services/netatmo/lib/netatmo.deviceDetailsMerger.js
Owners: @thibautmery, @Terdious

refactor: prettier
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix fr typo
  server/config/brain/backup/answers.fr.json
Owners: @Pierre-Gilles

Fix z-index issue on device.setValue scene action (#2100)
  front/src/components/device/SelectDeviceFeature.jsx
Owners: @Pierre-Gilles

Gladys Plus : Send Telegram message when backup failed (#2099)
  server/config/brain/backup/answers.en.json
  server/config/brain/backup/answers.fr.json
  server/lib/gateway/gateway.backup.js
  server/test/lib/gateway/gateway.backup.test.js
Owners: @Pierre-Gilles

Dashboard: In Devices widget, don't display already selected features in list (#2101)
  front/src/components/boxs/device-in-room/EditDevices.jsx
Owners: @Pierre-Gilles

fix: review
  front/src/routes/dashboard/BoxColumns.jsx
Owners: @Pierre-Gilles

fix: review
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
Owners: @Pierre-Gilles

fix: review delete mutationObserver and resizeObserver
  front/package.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
Owners: @Pierre-Gilles
