Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Rules
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.refreshNodeParams.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
Owners: @Pierre-Gilles

Check driver ready
  server/services/zwave/lib/commands/zwave.connect.js
Owners: @Pierre-Gilles

Schedule Update configuration
  server/services/zwave/lib/commands/zwave.disconnect.js
  server/services/zwave/lib/events/zwave.driverReady.js
  server/services/zwave/lib/index.js
Owners: @Pierre-Gilles

Schedule update configuration
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/events/zwave.driverFailed.js
  server/services/zwave/lib/events/zwave.driverReady.js
Owners: @Pierre-Gilles

Schedule update configuration
  server/services/zwave/package.json
Owners: @Pierre-Gilles

Slugify with limax lib
  server/package-lock.json
  server/package.json
  server/utils/slugify.js
Owners: @Pierre-Gilles

Prettier
  server/utils/slugify.js
Owners: @Pierre-Gilles

Adapt demo.js file to add a chart example
  front/src/config/demo.js
  front/src/config/demo.json
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Add background tasks to demo
  front/src/config/demo.js
Owners: @Pierre-Gilles

Fix live refresh bug
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Remove unneccessary logs
  front/src/components/boxs/chart/ApexChartComponent.jsx
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles

Remove old code
  server/config/scheduler-jobs.js
  server/lib/device/device.onDailyDeviceAggregateEvent.js
  server/lib/device/device.onHourlyDeviceAggregateEvent.js
  server/lib/device/index.js
  server/test/lib/device/device.calculateAggregate.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Modify PR template with new demo.js file
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Pierre-Gilles

Update demo.js everywhere
  .github/CONTRIBUTING.md
  front/src/utils/DemoHttpClient.js
Owners: @Pierre-Gilles

Create scheduer + api + trigger
  server/api/controllers/calendar.controller.js
  server/api/routes.js
  server/lib/calendar/calendar.createEvent.js
  server/lib/calendar/calendar.createScheduledEvent.js
  server/lib/calendar/calendar.getScheduledEvents.js
  server/lib/calendar/calendar.updateEvent.js
  server/lib/calendar/index.js
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.triggers.js
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @bertrandda

Add random string to selector for less collision
  server/test/utils/addSelector.test.js
  server/utils/addSelector.js
Owners: @Pierre-Gilles

Split device by endpoint
  server/services/zwave/lib/commands/zwave.disconnect.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/events/zwave.driverFailed.js
  server/services/zwave/lib/events/zwave.driverReady.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/utils/externalId.js
Owners: @Pierre-Gilles

Scope
  server/services/zwave/lib/events/zwave.driverReady.js
Owners: @Pierre-Gilles

test
  server/test/services/zwave/zwave.test.js
Owners: @Pierre-Gilles

Tests
  server/config/config.js
Owners: @Pierre-Gilles

Add Xiaomi GZCGQ01LM illuminance sensor (#1329)
  server/services/zigbee2mqtt/model/Xiaomi.js
  server/services/zigbee2mqtt/utils/features.js
Owners: @Pierre-Gilles

4.6.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Generate CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave/zwave.test.js
Owners: @Pierre-Gilles

Remove scheduled events
  server/lib/calendar/calendar.createEvent.js
  server/lib/calendar/calendar.createScheduledEvent.js
  server/lib/calendar/calendar.getScheduledEvents.js
  server/lib/calendar/calendar.updateEvent.js
  server/lib/calendar/index.js
Owners: @Pierre-Gilles

Remove scheduled events
  server/api/controllers/calendar.controller.js
  server/api/routes.js
Owners: @Pierre-Gilles

Remove event schedule
  server/services/caldav/index.js
Owners: @bertrandda

Scene calendar trigger
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  server/lib/calendar/calendar.createScheduledEvent.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/test/services/caldav/index.test.js
  server/test/utils/compare.test.js
  server/utils/compare.js
Owners: @Pierre-Gilles, @bertrandda

Calendar trigger
  front/src/routes/scene/edit-scene/triggers/CalendarEventTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  server/lib/calendar/calendar.createScheduledEvent.js
Owners: @Pierre-Gilles

Scheduled jobs API
  server/lib/calendar/calendar.createScheduledEvent.js
  server/lib/calendar/calendar.getScheduledEvents.js
  server/lib/calendar/index.js
Owners: @Pierre-Gilles

Scheduled jobs API
  server/api/controllers/calendar.controller.js
Owners: @Pierre-Gilles

Named job
  server/lib/calendar/calendar.createScheduledEvent.js
Owners: @Pierre-Gilles

Revert zwave
  .github/workflows/docker-master-test.yml
  server/services/zwave/api/zwave.controller.js
  server/services/zwave/index.js
  server/services/zwave/lib/commands/zwave.addNode.js
  server/services/zwave/lib/commands/zwave.cancelControllerCommand.js
  server/services/zwave/lib/commands/zwave.connect.js
  server/services/zwave/lib/commands/zwave.disconnect.js
  server/services/zwave/lib/commands/zwave.getInfos.js
  server/services/zwave/lib/commands/zwave.getNodeNeighbors.js
  server/services/zwave/lib/commands/zwave.getNodes.js
  server/services/zwave/lib/commands/zwave.healNetwork.js
  server/services/zwave/lib/commands/zwave.refreshNodeParams.js
  server/services/zwave/lib/commands/zwave.removeNode.js
  server/services/zwave/lib/commands/zwave.setValue.js
  server/services/zwave/lib/commands/zwave.updateConfiguration.js
  server/services/zwave/lib/constants.js
  server/services/zwave/lib/events/zwave.driverFailed.js
  server/services/zwave/lib/events/zwave.driverReady.js
  server/services/zwave/lib/events/zwave.metadataUpdate.js
  server/services/zwave/lib/events/zwave.nodeAdded.js
  server/services/zwave/lib/events/zwave.nodeInterview.js
  server/services/zwave/lib/events/zwave.nodeReady.js
  server/services/zwave/lib/events/zwave.nodeRemoved.js
  server/services/zwave/lib/events/zwave.nodeState.js
  server/services/zwave/lib/events/zwave.notification.js
  server/services/zwave/lib/events/zwave.statisticsUpdated.js
  server/services/zwave/lib/events/zwave.valueAdded.js
  server/services/zwave/lib/events/zwave.valueNotification.js
  server/services/zwave/lib/events/zwave.valueRemoved.js
  server/services/zwave/lib/events/zwave.valueUpdated.js
  server/services/zwave/lib/index.js
  server/services/zwave/lib/utils/bindValue.js
  server/services/zwave/lib/utils/externalId.js
  server/services/zwave/lib/utils/getCategory.js
  server/services/zwave/package-lock.json
  server/services/zwave/package.json
Owners: @VonOx, @Pierre-Gilles

Revert zwave
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave/node-page/Device.jsx
  front/src/routes/integration/all/zwave/setup-page/Node.jsx
Owners: @Pierre-Gilles

Revert zwave
  server/config/config.js
  server/lib/device/device.newStateEvent.js
  server/services/index.js
Owners: @Pierre-Gilles

Revert zwave
  server/test/services/zwave/ZwaveMock.test.js
  server/test/services/zwave/lib/node16.json
  server/test/services/zwave/lib/nodesData.json
  server/test/services/zwave/lib/nodesExpectedResult.json
  server/test/services/zwave/lib/zwaveManager.test.js
  server/test/services/zwave/zwave.test.js
Owners: @Pierre-Gilles

Revert zwave
  server/services/zwave/lib/events/zwave.nodeEvent.js
  server/services/zwave/lib/events/zwave.valueChanged.js
Owners: @Pierre-Gilles

Fix maximum call stack size exceeded when aggregating too big array of device features
  server/test/utils/chunks.test.js
  server/utils/chunks.js
Owners: @Pierre-Gilles

Fix maximum call stack size exceeded when aggregating too big array of device features (#1340)
  server/test/utils/chunks.test.js
  server/utils/chunks.js
Owners: @Pierre-Gilles

Inital commit
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  server/lib/calendar/calendar.createEvent.js
  server/lib/calendar/calendar.createScheduledEvent.js
  server/lib/calendar/calendar.getScheduledEvents.js
  server/lib/calendar/calendar.updateEvent.js
  server/services/caldav/index.js
  server/test/services/caldav/index.test.js
Owners: @Pierre-Gilles, @bertrandda
