Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Fix tests
  server/test/lib/brain/brain.e2e.test.js
Owners: @Pierre-Gilles

Fix RTSP camera tests + remove pretest in package.json
  server/package.json
  server/services/rtsp-camera/lib/getImage.js
  server/test/services/rtsp-camera/FfmpegMock.test.js
  server/test/services/rtsp-camera/rtspCamera.test.js
Owners: @Pierre-Gilles

Fix coverage
  server/lib/system/system.pull.js
Owners: @Pierre-Gilles

Upgrade Github actions
  .github/workflows/build-demo-website.yml
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Update github steps
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Update test function
  server/services/influxdb/lib/influxdb.testConnection.js
Owners: @Pierre-Gilles

Dynamic run-name
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Remove plural
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

update serialport package
  server/services/rflink/package.json
Owners: @Pierre-Gilles

update serialport package
  server/services/rflink/package-lock.json
Owners: @Pierre-Gilles

Cancel previous push in the same PR to limit builds
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

Use node-version-file in github action
  .github/workflows/build-demo-website.yml
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Skip bluetooth state change tests
  front/cypress/integration/routes/integration/bluetooth/scanner/BluetoothStateChange.js
Owners: @atrovato

Upgrade front to Node 18
  front/package.json
Owners: @Pierre-Gilles

Improve Github Actions build titles (#1657)
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Upgrade server production dependencies
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Upgrade some deps in services
  server/services/alexa/package-lock.json
  server/services/alexa/package.json
  server/services/bluetooth/package-lock.json
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/services/tasmota/package-lock.json
  server/services/tasmota/package.json
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
Owners: @Pierre-Gilles, @atrovato

Fix breaking changes in joi / pathtoregex
  server/api/setupGateway.js
  server/lib/device/device.saveHistoricalState.js
  server/models/dashboard.js
  server/models/job.js
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles

Upgrade server production dependencies (#1658)
  server/api/setupGateway.js
  server/lib/device/device.saveHistoricalState.js
  server/models/dashboard.js
  server/models/job.js
  server/package-lock.json
  server/package.json
  server/services/alexa/package-lock.json
  server/services/alexa/package.json
  server/services/bluetooth/package-lock.json
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/services/tasmota/package-lock.json
  server/services/tasmota/package.json
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
  server/test/lib/device/device.saveHistoricalState.test.js
  server/test/lib/job/job.test.js
Owners: @Pierre-Gilles, @atrovato

Review Motion sensor
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/lib/constants.js
  server/services/zwave-js-ui/lib/utils/transformClasses.js
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Owners: @Pierre-Gilles

ci(github): update workflows
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  package.json
Owners: @VonOx, @Pierre-Gilles

ci: update Cypress to 10
  .github/workflows/docker-pr-build.yml
  front/cypress/cypress.config.js
  front/cypress/cypress.json
  front/cypress/e2e/routes/0-signup/SignUp.cy.js
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/cypress/e2e/routes/dashboard/DashboardHumidityBox.cy.js
  front/cypress/e2e/routes/dashboard/DashboardTemperatureBox.cy.js
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscovered.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothNoDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkDeviceList.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditDevice.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.cy.js
  front/cypress/e2e/routes/login/Login.cy.js
  front/cypress/e2e/routes/maps/Maps.cy.js
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/cypress/plugins/index.js
  front/cypress/support/e2e.js
  front/package-lock.json
  front/package.json
  package-lock.json
Owners: @VonOx, @Pierre-Gilles, @atrovato

node 18
  server/services/influxdb/package-lock.json
  server/services/influxdb/package.json
Owners: @Pierre-Gilles

Open/close on scenes #1423
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

Fix small screen display
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

Fix responsive card
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

Fix long text
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

Change arrow direction
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

Fixing test
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/new-state/tasmota.mqtt.handleMessage.newState-arrayValue.test.js
Owners: @atrovato

Update package-lock.json & root engines
  front/package-lock.json
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade to Cypress 10 (#1661)
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  front/cypress/cypress.config.js
  front/cypress/cypress.json
  front/cypress/e2e/routes/0-signup/SignUp.cy.js
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/cypress/e2e/routes/dashboard/DashboardHumidityBox.cy.js
  front/cypress/e2e/routes/dashboard/DashboardTemperatureBox.cy.js
  front/cypress/e2e/routes/integration/bluetooth/BluetoothDisabled.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscovered.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothCreateDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/create/BluetoothNoDevice.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothStateChange.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkDeviceList.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditDevice.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.cy.js
  front/cypress/e2e/routes/login/Login.cy.js
  front/cypress/e2e/routes/maps/Maps.cy.js
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/cypress/plugins/index.js
  front/cypress/support/e2e.js
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
Owners: @VonOx, @Pierre-Gilles, @atrovato

Missing event
  server/utils/constants.js
Owners: @Pierre-Gilles

Node 18
  server/services/zwave-js-ui/lib/commands/getNodes.js
  server/services/zwave-js-ui/package-lock.json
Owners: @Pierre-Gilles

Prettier
  server/services/zwave-js-ui/lib/commands/getNodes.js
Owners: @Pierre-Gilles

Lint
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/test/services/zwave-js-ui/lib/commands/getConfiguration.test.js
Owners: @Pierre-Gilles

Add Github Codespace configuration
  .devcontainer/devcontainer.json
Owners: @Pierre-Gilles

Add Github Codespace configuration (#1662)
  .devcontainer/devcontainer.json
Owners: @Pierre-Gilles

Improve labels for opening sensor in scenes + improve mobile layout (#1578)
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
