Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Review name feature
  server/services/zwave-js-ui/lib/constants.js
Owners: @Pierre-Gilles

Server with events + front controls + volume
  front/src/assets/integrations/cover/sonos.jpg
  front/src/components/boxs/music/EditMusicBox.jsx
  front/src/components/boxs/music/MusicBox.jsx
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/sonos/SonosDeviceBox.jsx
  front/src/routes/integration/all/sonos/discover-page/DiscoverTab.jsx
  server/services/index.js
  server/services/sonos/api/sonos.controller.js
  server/services/sonos/index.js
  server/services/sonos/lib/index.js
  server/services/sonos/lib/sonos.init.js
  server/services/sonos/lib/sonos.onAvTransportEvent.js
  server/services/sonos/lib/sonos.onVolumeEvent.js
  server/services/sonos/lib/sonos.scan.js
  server/services/sonos/lib/sonos.setValue.js
  server/services/sonos/package-lock.json
  server/services/sonos/package.json
  server/services/sonos/utils/convertToGladysDevice.js
  server/test/services/sonos/api/sonos.controller.test.js
  server/test/services/sonos/index.test.js
  server/test/services/sonos/lib/sonos.init.test.js
  server/test/services/sonos/lib/sonos.onAvTransportEvent.test.js
  server/test/services/sonos/lib/sonos.onVolumeEvent.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
Owners: @Pierre-Gilles

Fix linting & add EN translations
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/sonos/discover-page/DiscoverTab.jsx
  server/test/services/sonos/lib/sonos.setValue.test.js
Owners: @Pierre-Gilles

Fix server tests
  server/test/services/sonos/lib/sonos.init.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
Owners: @Pierre-Gilles

Fix missing coverage on sonos init
  server/test/services/sonos/lib/sonos.init.test.js
Owners: @Pierre-Gilles

Add demo mode requests
  front/src/config/demo.js
Owners: @Pierre-Gilles

fix(translations): French errors
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Netatmo integration frontend & constants
  front/src/assets/integrations/cover/netatmo.jpg
  front/src/assets/integrations/devices/netatmo/netatmo-NATherm1.jpg
  front/src/assets/integrations/devices/netatmo/netatmo-NRV.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
  front/src/routes/integration/all/netatmo/device-page/DeviceTab.jsx
  front/src/routes/integration/all/netatmo/device-page/EmptyState.jsx
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/device-page/style.css
  front/src/routes/integration/all/netatmo/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/netatmo/discover-page/EmptyState.jsx
  front/src/routes/integration/all/netatmo/discover-page/index.js
  front/src/routes/integration/all/netatmo/discover-page/style.css
  front/src/routes/integration/all/netatmo/edit-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Server with events and access_token connection
  server/services/index.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.getAccessToken.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.getRefreshToken.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/netatmo.setTokens.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Refactor front connection access_token
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Fix typo in french translations (#1950)
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Update UI after click in music box
  front/src/components/boxs/music/MusicBox.jsx
Owners: @Pierre-Gilles

Remove room list in discover tab
  front/src/routes/integration/all/sonos/SonosDeviceBox.jsx
  front/src/routes/integration/all/sonos/discover-page/DiscoverTab.jsx
Owners: @Pierre-Gilles

Fix linting
  front/src/routes/integration/all/sonos/discover-page/DiscoverTab.jsx
Owners: @Pierre-Gilles

Fix eslint
  front/src/routes/settings/settings-backup/UpgradePlan.jsx
  front/src/routes/settings/settings-billing/index.js
Owners: @Pierre-Gilles

Improve warning messages Gladys Plus (#1952)
  front/src/components/boxs/camera/Camera.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/UpgradePlan.jsx
  front/src/routes/settings/settings-backup/index.js
  front/src/routes/settings/settings-billing/GatewayBilling.jsx
  front/src/routes/settings/settings-billing/index.js
Owners: @Pierre-Gilles

Fix z-index issue in only-continue-if selector in scene action (#1947)
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.css
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Owners: @Pierre-Gilles

4.31.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Add warning system for battery level
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/scheduler-jobs.js
  server/lib/device/device.checkBatteries.js
  server/lib/device/index.js
  server/lib/index.js
  server/lib/user/index.js
  server/lib/user/user.getByRole.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add enabled
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/lib/device/device.checkBatteries.js
  server/migrations/20231115163530-default-system-variable-device-battery.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Change config system to box mode and change cron check device
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/routes/settings/settings-system/SettingsSystemContainers.jsx
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepAggregatedStates.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepDeviceHistory.jsx
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimeExpiryState.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimezone.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/scheduler-jobs.js
Owners: @Pierre-Gilles

Fix unit test
  server/seeders/20190227081700-device-feature.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/user/user.getByRole.test.js
Owners: @Pierre-Gilles

Fix test missing line
  server/test/lib/device/device.checkBatteries.test.js
Owners: @Pierre-Gilles

Fix test
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
Owners: @Pierre-Gilles

Change text
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix translation and lint
  front/src/config/i18n/en.json
  front/src/routes/scene/edit-scene/actions/SendMqttMessage.jsx
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Add Action send mqtt message
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMqttMessage.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix eslint
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Finalize integration
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Init
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

Fix commented code
  front/src/routes/scene/style.css
Owners: @Pierre-Gilles

Change order button
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
Owners: @Pierre-Gilles

Scene : Fix feedbacks on tag filtering (#1946)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
  server/lib/scene/scene.get.js
  server/lib/scene/scene.getTag.js
  server/package-lock.json
  server/package.json
  server/test/controllers/scene/scene.test.js
Owners: @Pierre-Gilles

Backup screen: Add message when Gladys Plus is not connected
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayNotConfigured.jsx
  front/src/routes/settings/settings-backup/index.js
Owners: @Pierre-Gilles

zigbee2mqtt: add expose tamper & battery_low
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

front refactoring, improvement of status feedback and i18n update
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Change how to select device feature
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
Owners: @Pierre-Gilles

refactor server + eslint + first tests
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.getAccessToken.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.getRefreshToken.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/netatmo.setTokens.js
  server/services/netatmo/lib/netatmo.status.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/netatmo.mock.test.js
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

add button event logs
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Front prettier
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
