Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Fix Cypress tests
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/cypress/e2e/routes/dashboard/DashboardHumidityBox.cy.js
  front/cypress/e2e/routes/dashboard/DashboardTemperatureBox.cy.js
Owners: @Pierre-Gilles

Fix Philips Hue polling in color temperature only mode (#2081)
  server/services/philips-hue/lib/light/light.poll.js
  server/test/services/philips-hue/light/light.poll.test.js
  server/test/services/philips-hue/mocks.test.js
  server/test/utils/colors.test.js
  server/utils/colors.js
Owners: @VonOx, @hotfix31, @Pierre-Gilles

ZWaveJS UI : Should still display Z-Wave devices without names (#2083)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
Owners: @Pierre-Gilles

MQTT: Fix start without Docker socket available
  server/services/mqtt/lib/getConfiguration.js
  server/test/services/mqtt/lib/getConfiguration.test.js
Owners: @atrovato

Scene: Add shutter value selector to control device action
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/device/ShutterButtons.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
Owners: @Pierre-Gilles

Add different name when shutter is closed/opened
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/device/ShutterButtons.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

MQTT: Fix start without Docker socket available (#2084)
  server/services/mqtt/lib/getConfiguration.js
  server/test/services/mqtt/lib/getConfiguration.test.js
Owners: @atrovato

Add public dashboards (#2075)
  front/cypress/e2e/routes/dashboard/Dashboard.cy.js
  front/cypress/e2e/routes/dashboard/DashboardHumidityBox.cy.js
  front/cypress/e2e/routes/dashboard/DashboardTemperatureBox.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/new-dashboard/index.js
  server/lib/dashboard/dashboard.destroy.js
  server/lib/dashboard/dashboard.get.js
  server/lib/dashboard/dashboard.getBySelector.js
  server/lib/dashboard/dashboard.update.js
  server/lib/dashboard/dashboard.updateOrder.js
  server/migrations/20240513141123-dashboard-visibility.js
  server/models/dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.create.test.js
  server/test/lib/dashboard/dashboard.destroy.test.js
  server/test/lib/dashboard/dashboard.get.test.js
  server/test/lib/dashboard/dashboard.getBySelector.test.js
  server/test/lib/dashboard/dashboard.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/lib/dashboard/dashboard.updateOrder.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Scene: UX improvement on new trigger/action
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
Owners: @Pierre-Gilles

Remove useless Jest from front
  front/.eslintrc.json
  front/README.md
  front/package-lock.json
  front/package.json
  front/tests/__mocks__/browserMocks.js
  front/tests/__mocks__/fileMocks.js
  front/tests/header.test.js
Owners: @Pierre-Gilles

Scene: UX improvement on new trigger/action (#2086)
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
Owners: @Pierre-Gilles

Remove useless Jest from front (#2087)
  front/.eslintrc.json
  front/README.md
  front/package-lock.json
  front/package.json
  front/tests/__mocks__/browserMocks.js
  front/tests/__mocks__/fileMocks.js
  front/tests/header.test.js
Owners: @Pierre-Gilles

4.42.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Scene: Add shutter value selector to control device action (#2085)
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/device/ShutterButtons.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
Owners: @Pierre-Gilles

Google Cast integration
  front/src/assets/integrations/cover/google-cast.jpg
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/google-cast/GoogleCastDeviceBox.jsx
  front/src/routes/integration/all/google-cast/GoogleCastPage.jsx
  front/src/routes/integration/all/google-cast/device-page/DeviceTab.jsx
  front/src/routes/integration/all/google-cast/device-page/EmptyState.jsx
  front/src/routes/integration/all/google-cast/device-page/index.js
  front/src/routes/integration/all/google-cast/device-page/style.css
  front/src/routes/integration/all/google-cast/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/google-cast/discover-page/EmptyState.jsx
  front/src/routes/integration/all/google-cast/discover-page/index.js
  front/src/routes/integration/all/google-cast/discover-page/style.css
  server/services/google-cast/api/google_cast.controller.js
  server/services/google-cast/index.js
  server/services/google-cast/lib/google_cast.init.js
  server/services/google-cast/lib/google_cast.scan.js
  server/services/google-cast/lib/google_cast.setValue.js
  server/services/google-cast/lib/index.js
  server/services/google-cast/package-lock.json
  server/services/google-cast/package.json
  server/services/google-cast/utils/convertToGladysDevice.js
  server/services/index.js
Owners: @Pierre-Gilles

Add tests + translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  server/services/google-cast/index.js
  server/services/google-cast/lib/google_cast.scan.js
  server/services/google-cast/lib/index.js
  server/services/google-cast/utils/convertToGladysDevice.js
  server/test/services/google-cast/index.test.js
  server/test/services/google-cast/lib/google_cast.init.test.js
  server/test/services/google-cast/lib/google_cast.setValue.test.js
  server/test/services/google-cast/lib/google_cast_scan.test.js
Owners: @Pierre-Gilles

Add missing system deps
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Fix lint
  server/services/google-cast/lib/google_cast.setValue.js
Owners: @Pierre-Gilles

Add more tests
  server/test/services/google-cast/api/google_cast.controller.test.js
  server/test/services/google-cast/lib/google_cast_scan.test.js
Owners: @Pierre-Gilles

Don't display the nest mini in the music dashboard widget
  front/src/components/boxs/music/EditMusicBox.jsx
Owners: @Pierre-Gilles

Add avahi-dev in Dockerfile for Alpine build
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Add python missing deps
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

Sonos.playNotification : Increase timout + add delayMs + more logs to getTTSApiUrl
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/services/sonos/lib/sonos.setValue.js
Owners: @Pierre-Gilles

Gladys Plus : Change backup to 2-4 AM
  server/lib/gateway/gateway.init.js
Owners: @Pierre-Gilles

Fix test
  server/test/services/sonos/lib/sonos.setValue.test.js
Owners: @Pierre-Gilles

Add charts-history feature and related components and styles
  front/src/routes/charts-history/BoxColumns.jsx
  front/src/routes/charts-history/ChartsHistoryPage.jsx
  front/src/routes/charts-history/EmptyState.jsx
  front/src/routes/charts-history/index.js
  front/src/routes/charts-history/new-dashboard/index.js
  front/src/routes/charts-history/new-dashboard/style.css
  front/src/routes/charts-history/style.css
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/index.js
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceFeaturesAggregatesMulti.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStatesMulti.js
  server/lib/device/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Update enumType.js for IKEA E1524/E1810
  server/services/zigbee2mqtt/exposes/enumType.js
Owners: @Pierre-Gilles

Update constants.js for IKEA E1524/E1810
  server/utils/constants.js
Owners: @Pierre-Gilles

Update enumType.js
  server/services/zigbee2mqtt/exposes/enumType.js
Owners: @Pierre-Gilles

Update en.json for IKEA E1524/E1810
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Update en.json typo
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Update fr.json IKEA E1524/E1810
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Update de.json for IKEA E1524/E1810
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

Update de.json typo
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

Update fr.json typo
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add dependencies and update code***
  front/package.json
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/EditChartHistoric.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/charts-history/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/charts-history/edit-dashboard/ReorderDashbordList.jsx
  front/src/routes/charts-history/edit-dashboard/index.js
  front/src/routes/charts-history/index.js
  front/src/routes/charts-history/new-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/index.js
  front/src/utils/ExportUtils.js
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/lib/device/device.getDeviceFeaturesAggregatesMulti.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStatesMulti.js
Owners: @Pierre-Gilles

Update user authentication logic to use bcrypt for password hashing
  front/package-lock.json
Owners: @Pierre-Gilles

Update chart styles and functionality
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/ChartHistory.jsx
  front/src/components/boxs/chart/style.css
  front/src/routes/charts-history/index.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles

Add import for style.css
  front/src/components/boxs/chart/ApexChartComponent.jsx
Owners: @Pierre-Gilles

Remove xlsx dependency
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles
