Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Improve style
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/style.css
Owners: @Pierre-Gilles

remove old var
  front/src/routes/integration/all/matter/MatterDevices.jsx
Owners: @Pierre-Gilles

Matter: Improve loading states (#2340)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/MatterDiscoverPage.jsx
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  front/src/routes/integration/all/matter/style.css
Owners: @Pierre-Gilles

Matter: Add PM2.5 sensors (#2327)
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.init.test.js
Owners: @Pierre-Gilles

4.61.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Add temperature sensor features and localization support
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/migrations/20250624075200-update-netatmo-weather-features.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.convertDeviceWeather.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/test/services/netatmo/lib/device/netatmo.deviceMapping.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Update temperature sensor types to 'min' and 'max' in mock test data
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
Owners: @thibautmery, @Terdious

WIP: sauvegarde avant merge
  front/src/config.js
Owners: @Pierre-Gilles

Update temperature sensor types to include 'average' and 'decimal'
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/seeders/20190227081700-device-feature.js
  server/test/services/broadlink/lib/commands/features/broadlink.sensor.test.js
Owners: @Pierre-Gilles

Reset config front
  front/src/config.js
Owners: @Pierre-Gilles

Update German translations for temperature sensor and refine Netatmo migration logic
  front/src/config/i18n/de.json
  server/migrations/20250624075200-update-netatmo-weather-features.js
Owners: @Pierre-Gilles

Fix missing newline at end of German translation file
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

Netatmo: Add support for min, max, and average temperature readings (#2341)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/lib/device/temperature-sensor/temperature-sensor.getTemperatureInRoom.js
  server/migrations/20250624075200-update-netatmo-weather-features.js
  server/seeders/20190227081700-device-feature.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.convertDeviceWeather.js
  server/services/netatmo/lib/device/netatmo.deviceMapping.js
  server/test/services/broadlink/lib/commands/features/broadlink.sensor.test.js
  server/test/services/netatmo/lib/device/netatmo.deviceMapping.test.js
  server/test/services/netatmo/netatmo.convertDevices.mock.test.json
  server/utils/constants.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Allow ssl check skip in caldav service
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/caldav/account-page/AccountTab.css
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/account-page/actions.js
  front/src/routes/integration/all/caldav/account-page/index.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/package-lock.json
  server/services/caldav/package.json
Owners: @Pierre-Gilles, @bertrandda

Update react-big-calendar
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Handle state only shutter in Homekit
  server/services/homekit/lib/buildService.js
Owners: @Pierre-Gilles

Add dark mode toggle
  front/src/components/darkmode/DarkModeToggle.jsx
  front/src/components/header/index.jsx
  front/src/style/dark-mode.css
  front/src/style/index.js
Owners: @Pierre-Gilles

System dark mode has priority
  front/src/components/darkmode/DarkModeToggle.jsx
Owners: @Pierre-Gilles

Make darkMode global and update maps to dark mode
  front/src/actions/darkMode.js
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/darkmode/DarkModeToggle.jsx
  front/src/components/house/Map.jsx
  front/src/routes/map/Map.jsx
  front/src/utils/getDefaultState.js
Owners: @Pierre-Gilles

Fix map on signup configure house
  front/src/actions/signup/signupConfigureHouse.js
  front/src/routes/signup/4-configure-house/index.js
Owners: @Pierre-Gilles

Adapt new area map
  front/src/routes/map/NewAreaMap.jsx
Owners: @Pierre-Gilles

Fix btn-primary buttons in dark mode
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix integrations images for dark mode
  front/src/config/integrations/calendars.json
  front/src/config/integrations/communications.json
  front/src/config/integrations/devices.json
  front/src/config/integrations/weathers.json
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Add success / stamp to excluded class
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix prettier & linting
  front/src/actions/darkMode.js
  front/src/actions/signup/signupConfigureHouse.js
  front/src/components/app.jsx
  front/src/components/darkmode/DarkModeToggle.jsx
  front/src/utils/getDefaultState.js
Owners: @Pierre-Gilles

Handle the service status
  front/src/config/demo.js
  front/src/config/i18n/fr.json
  server/services/nuki/lib/commands/nuki.getStatus.js
Owners: @Pierre-Gilles

Use colors of dark mode of tabler 1.0.0
  front/src/components/boxs/chart/style.css
  front/src/routes/settings/settings-system/SettingsSystemTimezone.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Add default className and prefix to all react-select components
  front/src/components/boxs/chart/EditChart.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/gauge/EditGaugeBox.jsx
  front/src/components/boxs/user-presence/EditUserPresenceBox.jsx
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/components/house/RoomSelector.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/map/ColorPicker.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/actions/CheckAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SetAlarmMode.jsx
  front/src/routes/scene/edit-scene/actions/StartSceneParams.jsx
  front/src/routes/scene/edit-scene/actions/UserPresence.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/UserEnteredOrLeftArea.jsx
  front/src/routes/scene/edit-scene/triggers/UserPresenceTrigger.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/ButtonClickDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/LevelSensorDeviceState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
Owners: @Pierre-Gilles

Make input more readable
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Add missing class to all <Select>
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/routes/scene/edit-scene/actions/AskAI.jsx
  front/src/routes/scene/edit-scene/actions/BlinkLightParams.jsx
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/actions/CheckTime.jsx
  front/src/routes/scene/edit-scene/actions/HouseEmptyOrNotCondition.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffSwitchParams.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  front/src/routes/scene/edit-scene/triggers/ScheduledTrigger.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Emoji should not be inverted
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/style/dark-mode.css
  front/src/utils/emojiWrapper.js
Owners: @Pierre-Gilles

Improve dark mode
  front/src/routes/dashboard/edit-dashboard/ReorderDashbordList.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix placeholder
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Add back border color on input
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix music box + stamp, tag, badge
  front/src/components/boxs/music/EditMusicBox.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix EDF Tempo
  front/src/components/boxs/edf-tempo/EdfTempo.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix sendMessageParams & btn-secondary
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix range input
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Improve toggle
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Fix music range
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
