Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Body can be empty in POST request in actions
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

Body can be empty in POST request in actions (#1072)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.executeActions.test.js
Owners: @Pierre-Gilles

4.0.8
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Modification of camera image processing with ffmpeg
  server/services/netatmo/index.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.updateCamera.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
  server/test/services/netatmo/lib/update/FfmpegMock.test.js
  server/test/services/netatmo/lib/update/netatmo.updateCamera.test.js
  server/test/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNHC.test.js
  server/test/services/netatmo/lib/update/netatmo.updateThermsotat.test.js
  server/test/services/netatmo/lib/update/netatmo.updateWeatherStation.test.js
Owners: @thibautmery, @Terdious

Add Todoist APIs
  server/models/dashboard.js
  server/services/index.js
  server/services/todoist/api/todoist.controller.js
  server/services/todoist/index.js
  server/services/todoist/lib/index.js
  server/services/todoist/package-lock.json
  server/services/todoist/package.json
  server/utils/constants.js
Owners: @Pierre-Gilles

Add Todoist front-end components
  front/src/actions/dashboard/boxes/todoist.js
  front/src/actions/dashboard/edit-boxes/editTodoist.js
  front/src/assets/integrations/cover/todoist.jpg
  front/src/components/app.jsx
  front/src/components/boxs/todoist/EditTodoistBox.jsx
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/components/boxs/todoist/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/index.js
  front/src/config/integrations/tasks.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/EditBox.jsx
  front/src/routes/integration/all/todoist/Todoist.jsx
  front/src/routes/integration/all/todoist/actions.js
  front/src/routes/integration/all/todoist/index.js
Owners: @Pierre-Gilles

Handle Todoist task completion
  front/src/actions/dashboard/boxes/todoist.js
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/components/boxs/todoist/style.css
  front/src/config/i18n/fr.json
  server/services/todoist/api/todoist.controller.js
  server/services/todoist/index.js
Owners: @Pierre-Gilles

Fix Eslint and prettier issues
  front/src/actions/dashboard/boxes/todoist.js
  front/src/components/boxs/todoist/EditTodoistBox.jsx
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/config/i18n/en.json
  front/src/routes/integration/all/todoist/index.js
  server/services/todoist/api/todoist.controller.js
  server/services/todoist/index.js
  server/services/todoist/lib/index.js
Owners: @Pierre-Gilles

Fix icon and finalise style
  front/src/assets/integrations/cover/todoist.jpg
  front/src/components/boxs/todoist/TodoistBox.jsx
  front/src/components/boxs/todoist/style.css
  front/src/config/demo.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Add tests
  front/src/components/boxs/todoist/EditTodoistBox.jsx
  server/package.json
  server/services/todoist/index.js
  server/services/todoist/lib/index.js
  server/test/services/todoist/controllers/todoist.controller.test.js
  server/test/services/todoist/todoist.test.js
Owners: @Pierre-Gilles

Correct tickers parameter saving
  front/src/routes/integration/all/stock-exchange/actions.js
Owners: @Pierre-Gilles

Prettier
  front/src/routes/integration/all/stock-exchange/actions.js
Owners: @Pierre-Gilles

fix
  server/package.json
Owners: @Pierre-Gilles

Update following call and review with @Pierre-Gilles + @VonOx - Add Netatmo API disconnection - Separation of Netatmo dedicated box views - Minor front-end fixes
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/CommandDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/Dashboard-box-page/CameraNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/CommandDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/SensorDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/style.css
  front/src/routes/integration/all/netatmo/NetatmoPage.js
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-device/FoundDevices.jsx
  front/src/routes/integration/all/netatmo/discover-device/actions.js
  front/src/routes/integration/all/netatmo/discover-device/index.js
  front/src/routes/integration/all/netatmo/setting/SettingTab.jsx
  front/src/routes/integration/all/netatmo/setting/actions.js
  front/src/routes/integration/all/netatmo/setting/index.js
  front/src/utils/consts.js
  server/lib/device/device.saveLastStateChanged.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/index.js
  server/services/netatmo/lib/commands/netatmo.connect.js
  server/services/netatmo/lib/commands/netatmo.disconnect.js
  server/services/netatmo/lib/constants.js
  server/services/netatmo/lib/event/netatmo.pollManual.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/update/netatmo.update.js
  server/services/netatmo/lib/utils/format.js
  server/test/services/netatmo/lib/update/netatmo.updateCamera.test.js
  server/test/services/netatmo/lib/update/netatmo.updateHomeCoachWeather.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNHC.test.js
  server/test/services/netatmo/lib/update/netatmo.updateThermsotat.test.js
  server/test/services/netatmo/lib/update/netatmo.updateWeatherStation.test.js
  server/test/utils/format.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Update Tests
  server/services/netatmo/lib/commands/netatmo.connect.js
  server/services/netatmo/lib/commands/netatmo.disconnect.js
  server/services/netatmo/lib/index.js
  server/test/services/netatmo/api/netatmo.controller.test.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/commands/netatmo.connect.test.js
  server/test/services/netatmo/lib/commands/netatmo.disconnect.test.js
  server/test/services/netatmo/netatmo.mock.test.js
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

Add hanlder test
  server/services/stock-exchange/lib/getStockExchangeIndexQuote.js
  server/test/services/stock-exchange/lib/getStockExchangeQuote.test.js
Owners: @Pierre-Gilles

run all test (remove only)
  server/test/services/stock-exchange/lib/getStockExchangeQuote.test.js
Owners: @Pierre-Gilles

Add search and order to user list
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/index.js
Owners: @Pierre-Gilles

Add FR translations
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-users/edit-user/ResetPassword.jsx
Owners: @Pierre-Gilles

Fix eslint front
  front/src/routes/settings/settings-users/create-user/CreateUserPage.js
  front/src/routes/settings/settings-users/create-user/index.js
  front/src/routes/settings/settings-users/edit-user/EditUserPage.jsx
Owners: @Pierre-Gilles

fix ui bugs
  front/src/routes/settings/settings-users/UserPage.jsx
  front/src/routes/settings/settings-users/edit-user/index.js
Owners: @Pierre-Gilles

filter integrations for user with non admin role + hide scene
  front/src/actions/integration.js
  front/src/components/header/index.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

fix integration list bug
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Hide weather + improve telegram integration
  front/src/actions/integration.js
  front/src/routes/integration/all/telegram/Telegram.jsx
Owners: @Pierre-Gilles

non admin user cannot create, update and delete scene
  server/api/routes.js
Owners: @Pierre-Gilles

Fix demo mode
  front/src/config/demo.json
Owners: @Pierre-Gilles

Set log level to info on start/stop function of all services (#1064)
  server/services/bluetooth/index.js
  server/services/caldav/index.js
  server/services/ewelink/index.js
  server/services/example/index.js
  server/services/mqtt/index.js
  server/services/openweather/index.js
  server/services/philips-hue/index.js
  server/services/rtsp-camera/index.js
  server/services/tasmota/index.js
  server/services/telegram/index.js
  server/services/tp-link/index.js
  server/services/usb/index.js
  server/services/xiaomi/index.js
  server/services/zwave/index.js
  server/test/services/rtsp-camera/rtspCamera.test.js
  server/test/services/telegram/index.test.js
  server/test/services/usb/index.test.js
Owners: @atrovato, @bertrandda, @NickDub, @Pierre-Gilles, @callemand, @VonOx, @hotfix31, @cicoub13

Remove useless manual upgrade from UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Owners: @Pierre-Gilles

Remove useless manual upgrade from UI (#1076)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
Owners: @Pierre-Gilles

Update translations + add presence sensor on device state change in scene
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

fix(conversation): Spread chat messages to same user open tabs
  front/src/actions/message.js
  front/src/routes/chat/index.js
  server/api/controllers/message.controller.js
  server/lib/message/message.create.js
  server/lib/message/message.handleEvent.js
  server/services/telegram/lib/message.new.js
  server/test/lib/message/message.create.test.js
  server/test/lib/message/message.handleMessage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

merge gladys 4.0.7
  front/src/actions/integration.js
  front/src/actions/main.js
  front/src/actions/profile.js
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/components/device/index.js
  front/src/routes/gateway-forgot-password/index.js
  front/src/routes/gateway-setup/index.js
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  front/src/routes/scene/edit-scene/actions/TurnOnOffLightParams.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/signup-gateway/index.js
Owners: @Pierre-Gilles

Forget EN language
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

modify healthHomeCoach airQualityHealthIndex
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/Dashboard-box-page/SensorDeviceFeatureNetatmo.jsx
  front/src/routes/integration/all/netatmo/Dashboard-box-page/consts.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

downsample in db
  server/api/controllers/device.controller.js
  server/config/scheduler-jobs.js
  server/lib/device/device.downsamplingStates.js
  server/lib/device/device.getFeatureStates.js
  server/lib/device/index.js
  server/migrations/20210206000000-create-device-feature-state-light.js
  server/migrations/20210207000000-create-device-feature.js
  server/models/device_feature.js
  server/models/device_feature_state_light.js
  server/models/index.js
  server/test/controllers/device/device.controller.state.test.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.donwsamplingStates.test.js
  server/test/lib/device/device.getFeatureStates.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix describe only
  server/test/controllers/device/device.controller.state.test.js
  server/test/lib/device/device.donwsamplingStates.test.js
  server/test/lib/device/device.getFeatureStates.test.js
Owners: @Pierre-Gilles

fix test error
  server/test/lib/device/device.create.test.js
Owners: @Pierre-Gilles

Improve tests : fix newDevices
  server/services/rflink/api/rflink.controller.js
  server/test/services/rflink/controllers/rflink.controller.test.js
Owners: @Pierre-Gilles

Add new checkuserpresence action in scene
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CheckUserPresence.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/models/scene.js
  server/utils/constants.js
Owners: @Pierre-Gilles
