Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Fix lint
  server/lib/gateway/gateway.init.js
Owners: @Pierre-Gilles

Reduce get gladys latest version timeout
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
Owners: @Pierre-Gilles

Destroy all correct variables
  server/lib/gateway/gateway.init.js
  server/test/lib/gateway/gateway.init.test.js
Owners: @Pierre-Gilles

Gladys Plus : Faster load time + get message if the instance is disconnected (#2252)
  front/package-lock.json
  front/package.json
  server/config/brain/gladys-plus/answers.en.json
  server/config/brain/gladys-plus/answers.fr.json
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/lib/message/index.js
  server/lib/message/message.sendToAdmins.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/gateway.init.test.js
  server/test/lib/message/message.sendToAdmins.test.js
Owners: @Pierre-Gilles

Fix "undefined" on some screens during slow load
  front/package-lock.json
  front/package.json
  front/src/components/app.jsx
  front/src/index.js
Owners: @Pierre-Gilles

Remove preact debug
  front/src/index.js
Owners: @Pierre-Gilles

Fix eslint
  front/src/components/app.jsx
Owners: @Pierre-Gilles

Fix "undefined" on some screens during slow load (#2258)
  front/package-lock.json
  front/package.json
  front/src/components/app.jsx
Owners: @Pierre-Gilles

Import leaflet dynamically
  front/src/actions/signup/signupConfigureHouse.js
  front/src/components/house/Map.jsx
  front/src/index.js
  front/src/routes/map/Map.jsx
  front/src/routes/map/NewAreaMap.jsx
  front/src/routes/signup/4-configure-house/index.js
Owners: @Pierre-Gilles

fix: update Netatmo service to use undici for HTTP requests and improve error handling
  server/package-lock.json
  server/package.json
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Import ApexChart dynamically
  front/src/components/boxs/chart/ApexChartComponent.jsx
Owners: @Pierre-Gilles

Import Hls.js dynamically
  front/src/components/boxs/camera/Camera.jsx
Owners: @Pierre-Gilles

fix: enhance error handling in Netatmo token retrieval and replace nock with undici for HTTP requests
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
Owners: @thibautmery, @Terdious

fix: add undici as a dependency and update tests to use undici for HTTP requests
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
Owners: @thibautmery, @Terdious

Improve route code splitting
  front/src/components/app.jsx
Owners: @Pierre-Gilles

Migrate other components
  front/src/components/app.jsx
Owners: @Pierre-Gilles

fix: simplify error logging in Netatmo token retrieval
  server/services/netatmo/lib/netatmo.retrieveTokens.js
Owners: @thibautmery, @Terdious

Improve route code splitting (#2260)
  front/src/components/app.jsx
Owners: @Pierre-Gilles

Migrate back signup routes
  front/src/components/app.jsx
Owners: @Pierre-Gilles

Add upgrade Gladys button (first commit)
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/api/controllers/system.controller.js
  server/api/routes.js
  server/lib/system/index.js
  server/lib/system/system.downloadUpgrade.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.installUpgrade.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix: update undici dependency and improve error logging in Netatmo service
  server/package-lock.json
  server/package.json
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Tuya: add IR for infrared_tv infrared_ac
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
Owners: @Pierre-Gilles

fix: update undici usage in Netatmo tests to manage global dispatcher correctly after review
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
Owners: @thibautmery, @Terdious

fix: standardize error logging messages in Netatmo service
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
Owners: @thibautmery, @Terdious

fix: standardize error logging messages in Netatmo service
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
Owners: @thibautmery, @Terdious

fix: standardize error logging messages in Netatmo service
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
Owners: @thibautmery, @Terdious

Fix Netatmo service: Replace axios with undici for HTTP/2 support (#2256)
  server/package-lock.json
  server/package.json
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.loadThermostatDetails.js
  server/services/netatmo/lib/netatmo.loadWeatherStationDetails.js
  server/services/netatmo/lib/netatmo.pollRefreshingValues.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/package-lock.json
  server/services/netatmo/package.json
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.loadThermostatDetails.test.js
  server/test/services/netatmo/lib/netatmo.loadWeatherStationDetails.test.js
  server/test/services/netatmo/lib/netatmo.pollRefreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

House.arm : Fix flaky test
  server/test/lib/house/house.arm.test.js
Owners: @Pierre-Gilles

House.arm : Fix flaky test (#2263)
  server/test/lib/house/house.arm.test.js
Owners: @Pierre-Gilles

4.56.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

fix: update Netatmo service to use undici for API requests and improve error handling
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifWeather.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.loadCameraDetails.js
Owners: @thibautmery, @Terdious

Matter integration, first commit
  .gitignore
  front/src/assets/integrations/cover/matter.jpg
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/matter/EmptyState.jsx
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/MatterDiscoverPage.jsx
  front/src/routes/integration/all/matter/MatterPage.jsx
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  server/services/index.js
  server/services/matter/api/matter.controller.js
  server/services/matter/index.js
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.getDevices.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.pairDevice.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/lib/matter.stop.js
  server/services/matter/package-lock.json
  server/services/matter/package.json
  server/services/matter/utils/convertToGladysDevice.js
Owners: @Pierre-Gilles

Add getNodes, decommission node, state change notification & tests
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/MatterDiscoverPage.jsx
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  server/services/matter/api/matter.controller.js
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.decommission.js
  server/services/matter/lib/matter.getNodes.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/package-lock.json
  server/services/matter/package.json
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.setValue.test.js
Owners: @Pierre-Gilles

Add all unit tests & fix lint
  server/.eslintrc.json
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.pairDevice.js
  server/test/services/matter/api/matter.controller.test.js
  server/test/services/matter/index.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.decommission.test.js
  server/test/services/matter/lib/matter.getDevices.test.js
  server/test/services/matter/lib/matter.getNodes.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/lib/matter.stop.test.js
Owners: @Pierre-Gilles

feat: add support for Netatmo camera snapshot URL retrieval and enhance device value updates
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/utils/netatmo.getCameraSnapshotUrl.js
Owners: @thibautmery, @Terdious

feat: enhance RTSP camera actions to include Netatmo NACamera devices
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

async foreach to Promise.each
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.pairDevice.js
Owners: @Pierre-Gilles

Revert "Gladys Plus : Faster load time + get message if the instance is disco…"
  front/package-lock.json
  front/package.json
  server/config/brain/gladys-plus/answers.en.json
  server/config/brain/gladys-plus/answers.fr.json
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/lib/message/index.js
  server/lib/message/message.sendToAdmins.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/gateway.init.test.js
  server/test/lib/message/message.sendToAdmins.test.js
Owners: @Pierre-Gilles

Revert "Gladys Plus : Faster load time + get message if the instance is disconnected" (#2265)
  front/package-lock.json
  front/package.json
  server/config/brain/gladys-plus/answers.en.json
  server/config/brain/gladys-plus/answers.fr.json
  server/lib/gateway/gateway.init.js
  server/lib/gateway/index.js
  server/lib/index.js
  server/lib/message/index.js
  server/lib/message/message.sendToAdmins.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/gateway.init.test.js
  server/test/lib/message/message.sendToAdmins.test.js
Owners: @Pierre-Gilles

4.56.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
