Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Fix after review
  server/lib/brain/index.js
  server/lib/weather/weather.command.js
Owners: @Pierre-Gilles

Fix after review
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/weather/weather.command.js
Owners: @Pierre-Gilles

Change _rawData to _data
  server/services/philips-hue/lib/models/colorWithTemperature.js
  server/services/philips-hue/lib/models/whiteWithTemperature.js
  server/test/services/philips-hue/lights.json
Owners: @VonOx, @hotfix31

Add clean node modules script
  package.json
Owners: @Pierre-Gilles

Bluetooth: Clear discovered device on re-scan (#1070)
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
Owners: @atrovato

Fix after review
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
Owners: @Pierre-Gilles

feat(conversation): Take PR feedbacks
  front/src/actions/message.js
  front/src/routes/chat/index.js
  server/services/telegram/lib/message.new.js
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
Owners: @Pierre-Gilles

Add test to listen and RFtoObject
  server/test/services/rflink/controllers/rflink.parse.RFtoObject.test.js
  server/test/services/rflink/lib/listen.test.js
Owners: @Pierre-Gilles

More test on unpair milight
  server/test/services/rflink/lib/unpair.milight.test.js
Owners: @Pierre-Gilles

More test on newValue
  server/test/services/rflink/lib/newValue.test.js
Owners: @Pierre-Gilles

More test on newValue
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/rflinkManager.test.js
Owners: @Pierre-Gilles

test: correct humdity values
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Owners: @Pierre-Gilles

Improved test on RflinkService and Rflinkmanager
  server/services/rflink/index.js
  server/test/services/rflink/lib/devicesToTest.test.js
  server/test/services/rflink/lib/rflinkManager.test.js
  server/test/services/rflink/rflink.test.js
Owners: @Pierre-Gilles

Access to raw peripheral
  server/services/bluetooth/lib/commands/bluetooth.getPeripheral.js
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.start.js
  server/services/bluetooth/lib/index.js
  server/test/services/bluetooth/BluetoothMock.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.start.test.js
Owners: @atrovato

Noble reset
  server/package-lock.json
  server/package.json
  server/services/bluetooth/lib/commands/bluetooth.applyOnPeripheral.js
  server/test/services/bluetooth/BluetoothMock.test.js
Owners: @Pierre-Gilles, @atrovato

Improving message tests
  server/services/rflink/lib/events/rflink.message.js
  server/test/services/rflink/lib/message.test.js
Owners: @Pierre-Gilles

fix: Remove darksky service in demo
  front/src/config/demo.json
Owners: @Pierre-Gilles

fix: Remove darksky service in demo (#1090)
  front/src/config/demo.json
Owners: @Pierre-Gilles

Bluetooth service: Access to raw peripheral (#1089)
  server/services/bluetooth/lib/commands/bluetooth.getPeripheral.js
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.start.js
  server/services/bluetooth/lib/index.js
  server/test/services/bluetooth/BluetoothMock.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.scan.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.start.test.js
Owners: @atrovato

Remove moment package in front
  front/package-lock.json
  front/package.json
  front/src/routes/calendar/index.js
Owners: @Pierre-Gilles

Fix server humidity command
  server/lib/device/humidity-sensor/humidity-sensor.command.js
Owners: @Pierre-Gilles

Fix test
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Owners: @Pierre-Gilles

Prettier
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Owners: @Pierre-Gilles

Fix after review
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Fix after review
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
Owners: @Pierre-Gilles

Fix Gladys Plus backup in high write scenario
  server/lib/gateway/gateway.backup.js
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Gracefully exit when quitting the server process
  server/api/index.js
  server/index.js
Owners: @Pierre-Gilles

Add more tests to test progress bar
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/bootstrap.test.js
Owners: @Pierre-Gilles

Fix Gladys Plus backups in high write scenario (#1095)
  server/api/index.js
  server/index.js
  server/lib/gateway/gateway.backup.js
  server/package-lock.json
  server/package.json
  server/test/bootstrap.test.js
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

4.1.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Upgrade philips-hue dependency to 4.0.9 & improve bridge search (#1080)
  server/services/philips-hue/lib/light/light.getBridges.js
  server/services/philips-hue/lib/models/colorWithTemperature.js
  server/services/philips-hue/lib/models/whiteWithTemperature.js
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
  server/test/services/philips-hue/lights.json
  server/test/services/philips-hue/mocks.test.js
Owners: @VonOx, @hotfix31

fix(conversation): Spread chat messages to same user open tabs (#1051)
  front/src/actions/message.js
  front/src/routes/chat/index.js
  server/api/controllers/message.controller.js
  server/lib/message/message.create.js
  server/lib/message/message.handleEvent.js
  server/services/telegram/lib/message.new.js
  server/services/telegram/package-lock.json
  server/services/telegram/package.json
  server/test/lib/message/message.create.test.js
  server/test/lib/message/message.handleMessage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Final test
  server/test/lib/device/humidity-sensor/humidity-sensor.test.js
Owners: @Pierre-Gilles

Fix after review
  server/lib/device/humidity-sensor/humidity-sensor.command.js
  server/lib/device/humidity-sensor/humidity-sensor.getHumidityInRoom.js
Owners: @Pierre-Gilles

Fix after review
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  server/lib/scene/scene.addScene.js
  server/test/lib/scene/scene.addScene.test.js
Owners: @Pierre-Gilles

Fix after review
  server/lib/scene/scene.execute.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/scene.execute.test.js
Owners: @Pierre-Gilles

Fix test
  server/test/controllers/scene/scene.test.js
Owners: @Pierre-Gilles

Fix after review
  server/lib/scene/scene.addScene.js
  server/migrations/202102212184604-add-active-scene.js
  server/models/scene.js
Owners: @Pierre-Gilles
