Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Chart: Add more units to the list of "when down is positive"
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Make the title optional in the device and scene widgets. (#2220)
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Scene: Fix tag selection bugs & move order_dir to URL (#2217)
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/index.js
Owners: @Pierre-Gilles

Chart: Add more units to the list of "when down is positive" (#2221)
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

Chart: Increase max value before scientific display to 10e9
  front/src/components/boxs/chart/yAxisFormatter.js
Owners: @Pierre-Gilles

Chart: Increase max value before scientific display to 10e9 (#2222)
  front/src/components/boxs/chart/yAxisFormatter.js
Owners: @Pierre-Gilles

ZWaveJS: Add support for Battery, Illuminance, Binary Sensor, Alarm Sensor (#2198)
  server/services/zwavejs-ui/lib/constants.js
  server/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.js
  server/services/zwavejs-ui/lib/zwaveJSUI.refineCategory.js
  server/services/zwavejs-ui/utils/convertToGladysDevice.js
  server/test/services/zwavejs-ui/lib/exampleData.json
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNewDeviceDiscover.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.onNodeValueUpdated.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.refineCategory.test.js
Owners: @Pierre-Gilles

Chart: Close interval dropdown when clicking outside
  front/src/components/boxs/chart/Chart.jsx
Owners: @Pierre-Gilles

use mousedown event instead of click on header dropdown too
  front/src/components/header/index.jsx
Owners: @Pierre-Gilles

Scene: Search should check without accents
  server/lib/scene/scene.get.js
  server/test/lib/scene/scene.get.test.js
  server/utils/accents.js
Owners: @Pierre-Gilles

Scene: When duplicating a scene, prefill the title with "Copy of {{previous name}}"
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/index.js
Owners: @Pierre-Gilles

Fix cypress tests
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Integration List: Fix scroll to top bug
  front/src/components/router/ScrollToTopLink.jsx
  front/src/routes/integration/IntegrationCategory.jsx
Owners: @Pierre-Gilles

Dashboard: When websocket connection is restored, refresh widgets
  front/package-lock.json
  front/package.json
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/utils/GatewayHttpClient.js
  front/src/utils/GatewaySession.js
  front/src/utils/Session.js
Owners: @Pierre-Gilles

All widgets should refresh
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/music/MusicBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
Owners: @Pierre-Gilles

Fix linting
  front/src/routes/integration/IntegrationCategory.jsx
Owners: @Pierre-Gilles

Chart: Close interval dropdown when clicking outside (#2224)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/header/index.jsx
Owners: @Pierre-Gilles

Scene: Search should check without accents (#2225)
  server/lib/scene/scene.get.js
  server/test/lib/scene/scene.get.test.js
  server/utils/accents.js
Owners: @Pierre-Gilles

Scene: When duplicating a scene, prefill the title with "Copy of {{previous name}}" (#2226)
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/index.js
Owners: @Pierre-Gilles

Camera: Sort rooms by name in select
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

Integration List: Fix scroll to top bug (#2227)
  front/src/components/router/ScrollToTopLink.jsx
  front/src/routes/integration/IntegrationCategory.jsx
Owners: @Pierre-Gilles

Camera: Sort rooms by name in select (#2229)
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

System: When vacuum is finished, it should display a message in the UI
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  server/lib/system/system.vacuum.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add vacuum duration
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  server/lib/system/system.vacuum.js
Owners: @Pierre-Gilles

Upgrade translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Chart: Add last twelve hours interval
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix FR translation
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Nuki service 1.0 (with test coverage)
  server/services/nuki/README.md
  server/services/nuki/lib/device/nuki.setValue.js
  server/services/nuki/lib/mqtt/nuki.mqtt.setValue.js
  server/test/services/nuki/lib/device/nuki.poll.test.js
  server/test/services/nuki/lib/device/nuki.postCreate.test.js
  server/test/services/nuki/lib/device/nuki.postDelete.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.handleMessage.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.scan.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.setValue.test.js
  server/test/services/nuki/lib/mqtt/nuki.mqtt.subscribeDeviceTopic.test.js
  server/test/services/nuki/mocks/nuki.protocol.mock.test.js
Owners: @Pierre-Gilles, @atrovato

eslint & prettier jobs
  front/src/components/app.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/routes/integration/all/nuki/NukiDeviceBox.jsx
  front/src/routes/integration/all/nuki/NukiPage.js
  front/src/routes/integration/all/nuki/actions.js
  front/src/routes/integration/all/nuki/index.js
  front/src/routes/integration/all/nuki/setup-page/SetupTab.jsx
  front/src/routes/integration/all/nuki/setup-page/index.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Chart: Add last twelve hours interval (#2231)
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/EditChart.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

System: When vacuum is finished, it should display a message in the UI (#2230)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  server/lib/system/system.vacuum.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Dashboard: When websocket connection is restored, refresh widgets (#2228)
  front/package-lock.json
  front/package.json
  front/src/components/boxs/alarm/Alarm.jsx
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/components/boxs/music/MusicBox.jsx
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/utils/GatewayHttpClient.js
  front/src/utils/GatewaySession.js
  front/src/utils/Session.js
Owners: @Pierre-Gilles

4.53.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade to Node 22
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/services/free-mobile/package-lock.json
Owners: @Pierre-Gilles, @VonOx

Update hap-nodejs to 0.12.3 for node 22 compatibility
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
Owners: @Pierre-Gilles

Upgrade serialport package version
  server/services/usb/index.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/services/usb/SerialPortMock.test.js
Owners: @Pierre-Gilles, @atrovato

Fix ESLint errors on Cypress tests
  front/cypress/e2e/routes/0-signup/SignUp.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/cypress/e2e/routes/maps/Maps.cy.js
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/dashboard/index.js
Owners: @Pierre-Gilles, @atrovato

Upgrade to Node 22 (#2234)
  .devcontainer/devcontainer.json
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/cypress/e2e/routes/0-signup/SignUp.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceEdit.cy.js
  front/cypress/e2e/routes/integration/bluetooth/devices/BluetoothDeviceList.cy.js
  front/cypress/e2e/routes/integration/bluetooth/discover/BluetoothDiscover.cy.js
  front/cypress/e2e/routes/integration/bluetooth/scanner/BluetoothScanner.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemote.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.cy.js
  front/cypress/e2e/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.cy.js
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/cypress/e2e/routes/maps/Maps.cy.js
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/package-lock.json
  front/package.json
  front/src/routes/dashboard/index.js
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/services/free-mobile/package-lock.json
  server/services/homekit/package-lock.json
  server/services/homekit/package.json
  server/services/usb/index.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/services/usb/SerialPortMock.test.js
Owners: @Pierre-Gilles, @VonOx, @atrovato

ZwaveJS / MQTT : Better handle MQTT reconnection when broker is unavailable
  server/services/mqtt/lib/connect.js
  server/services/mqtt/package-lock.json
  server/services/mqtt/package.json
  server/services/zwavejs-ui/lib/zwaveJSUI.connect.js
  server/services/zwavejs-ui/package-lock.json
  server/services/zwavejs-ui/package.json
Owners: @atrovato, @Pierre-Gilles

Add tests to reconnect
  server/test/services/mqtt/lib/connect.test.js
  server/test/services/zwavejs-ui/lib/zwaveJSUI.connect.test.js
Owners: @atrovato, @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
