Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Improve UI on mobile devices (#2590)
  front/src/components/house/EditHouse.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothPresenceScanner.jsx
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothSettingsTab.jsx
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/enedis-gateway/UsagePoints.jsx
  front/src/routes/integration/all/lan-manager/settings-page/LANManagerPresenceScanner.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/MatterSettingsPage.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
  front/src/routes/settings/settings-backup/GatewayBackupList.jsx
  front/src/routes/settings/settings-gateway/GatewayPricing.jsx
  front/src/routes/settings/settings-gateway/style.css
  front/src/routes/settings/settings-house/HousePage.jsx
  front/src/routes/settings/settings-users/UserPage.jsx
Owners: @Pierre-Gilles, @atrovato, @bertrandda

Add noescape for all Handlebars compile() (#2588)
  server/lib/brain/brain.getReply.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
Owners: @Pierre-Gilles

Add DeviceFeature supported options (#2567)
  server/lib/device/camera/camera.get.js
  server/lib/device/device.create.js
  server/lib/device/device.destroyParam.js
  server/lib/device/device.get.js
  server/lib/device/device.init.js
  server/lib/device/device.syncFeatureSupportedOptions.js
  server/lib/device/device.updateFeature.js
  server/lib/device/light/light.getLightsInRoom.js
  server/lib/device/light/light.init.js
  server/lib/room/room.get.js
  server/lib/room/room.getBySelector.js
  server/migrations/20260619120000-create-device-feature-supported-option.js
  server/models/device_feature.js
  server/models/device_feature_supported_option.js
  server/models/index.js
  server/test/lib/device/device.create.test.js
  server/test/utils/deviceQueryIncludes.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/deviceQueryIncludes.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles

feat: add Activity Log page for smart home event history
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/activity/ActivityLogEntry.jsx
  front/src/routes/activity/ActivityLogFilters.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getActivityLog.js
  server/lib/device/index.js
  server/test/lib/device/device.getActivityLog.test.js
Owners: @Pierre-Gilles

fix: remove optional chaining for babel compatibility in ActivityLogEntry
  front/src/routes/activity/ActivityLogEntry.jsx
Owners: @Pierre-Gilles

feat(energy): add Enercoop contract support with French calendar APIs
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/french-calendar/french-calendar.buildPublicHolidaysSet.js
  server/lib/french-calendar/french-calendar.buildSchoolVacationsSet.js
  server/lib/french-calendar/french-calendar.getEnercoopSeason.js
  server/lib/french-calendar/index.js
  server/migrations/20260703120000-add-energy-price-rate-type.js
  server/models/energy_price.js
  server/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.js
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/contracts/contracts.enercoopUtils.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/lib/french-calendar/french-calendar.getEnercoopSeason.test.js
  server/test/services/energy-monitoring/contracts/contracts.calculateCost.test.js
  server/test/services/energy-monitoring/contracts/contracts.enercoopUtils.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(scenes): add While (Tant Que) action with loop safety
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(dashboard): add Photo widget for displaying external images
  front/src/components/boxs/photo/EditPhotoBox.jsx
  front/src/components/boxs/photo/PhotoBox.jsx
  front/src/components/boxs/photo/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  server/models/dashboard.js
  server/utils/constants.js
Owners: @Pierre-Gilles

style: run Prettier on Enercoop energy contract files
  front/src/routes/integration/all/energy-monitoring/EnergyMonitoring.jsx
  server/lib/french-calendar/french-calendar.buildSchoolVacationsSet.js
  server/lib/french-calendar/french-calendar.getEnercoopSeason.js
  server/lib/french-calendar/index.js
  server/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.js
  server/services/energy-monitoring/contracts/contracts.calculateCost.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateCostFrom.js
  server/test/services/energy-monitoring/contracts/contracts.enercoopUtils.test.js
Owners: @Pierre-Gilles

style: fix prettier formatting for photo widget files
  front/src/components/boxs/photo/EditPhotoBox.jsx
  front/src/components/boxs/photo/PhotoBox.jsx
  server/models/dashboard.js
Owners: @Pierre-Gilles

fix(ci): resolve eslint no-await-in-loop and prettier formatting
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

refactor(activity): cleaner Activity Log UI design
  front/src/routes/activity/ActivityLogEntry.jsx
  front/src/routes/activity/ActivityLogFilters.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
Owners: @Pierre-Gilles

fix(server): satisfy eslint for Enercoop energy contract files
  server/lib/french-calendar/french-calendar.buildPublicHolidaysSet.js
  server/lib/french-calendar/french-calendar.buildSchoolVacationsSet.js
  server/lib/french-calendar/french-calendar.getEnercoopSeason.js
  server/migrations/20260703120000-add-energy-price-rate-type.js
  server/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.js
  server/services/energy-monitoring/contracts/contracts.enercoopUtils.js
Owners: @Pierre-Gilles

fix(photo): replace nullish coalescing for legacy Babel compatibility
  front/src/components/boxs/photo/EditPhotoBox.jsx
Owners: @Pierre-Gilles

fix(ci): resolve ESLint, Prettier and Cypress failures
  front/src/components/header/index.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/utils.js
  server/lib/device/device.getActivityLog.js
Owners: @Pierre-Gilles

test(server): add coverage for French calendar and public holidays map
  server/test/lib/french-calendar/french-calendar.buildPublicHolidaysSet.test.js
  server/test/lib/french-calendar/french-calendar.buildSchoolVacationsSet.test.js
  server/test/services/energy-monitoring/contracts/contracts.buildPublicHolidaysMap.test.js
Owners: @Pierre-Gilles

fix(photo): proxy image loading through Gladys server
  front/src/components/boxs/photo/PhotoBox.jsx
  front/src/components/boxs/photo/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/dashboard.controller.js
  server/api/routes.js
  server/lib/dashboard/dashboard.getPhoto.js
  server/lib/dashboard/index.js
  server/test/lib/dashboard/dashboard.getPhoto.test.js
Owners: @Pierre-Gilles

fix(activity): widen layout, support all device values, 100% test coverage
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
  server/lib/device/device.getActivityLog.js
  server/test/lib/device/device.getActivityLog.test.js
Owners: @Pierre-Gilles

feat(dashboard): add time navigation to chart widget
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
  server/lib/device/device.getDeviceFeaturesAggregatesMulti.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceFeaturesAggregates.test.js
Owners: @Pierre-Gilles

feat(mqtt): redesign virtual device integration UI
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceForm.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceListItem.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureCatalog.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeaturePreview.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/style.css
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @Pierre-Gilles, @atrovato

Add custom date range picker to activity log
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/activity/ActivityLogFilters.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
Owners: @Pierre-Gilles

Add home activity history view
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/EventLine.jsx
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/categoryGroups.js
  front/src/routes/history/index.js
  front/src/routes/history/style.css
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceStatesHistory.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

Improve custom date range layout in activity log
  front/src/routes/activity/ActivityDateRangeBar.jsx
  front/src/routes/activity/ActivityLogFilters.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/style.css
Owners: @Pierre-Gilles

Add device type filter chips to activity log
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/activity/ActivityCategoryFilters.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/index.js
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
Owners: @Pierre-Gilles

style: fix Prettier formatting for chart navigation changes
  front/src/components/boxs/chart/Chart.jsx
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles

fix(ci): replace chai .to.exist with ESLint-safe assertions
  server/test/lib/device/device.getActivityLog.test.js
Owners: @Pierre-Gilles

fix(ci): add missing de.json MQTT translations and harden Cypress install
  .github/workflows/docker-pr-build.yml
  front/src/config/i18n/de.json
Owners: @VonOx, @Pierre-Gilles

fix(photo): replace optional chaining for legacy Babel and add API test
  front/src/components/boxs/photo/PhotoBox.jsx
  server/test/controllers/dashboard/dashboard.controller.test.js
Owners: @Pierre-Gilles

fix(server): restore JSDoc on getDeviceFeaturesAggregates for ESLint
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles

test(photo): improve coverage for dashboard photo proxy
  server/lib/dashboard/dashboard.getPhoto.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.getPhoto.test.js
Owners: @Pierre-Gilles

test(server): cover Enercoop error paths and public holidays loading
  server/test/services/energy-monitoring/contracts/contracts.calculateCost.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateCostFrom.test.js
Owners: @Pierre-Gilles

Group consecutive sensor states and increase activity log density
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/activity/ActivityLogEntry.jsx
  front/src/routes/activity/ActivityLogEntryGroup.jsx
  front/src/routes/activity/ActivityPage.jsx
  front/src/routes/activity/style.css
  front/src/routes/activity/utils.js
Owners: @Pierre-Gilles

fix(activity): remove focus outline on collapsible group rows
  front/src/routes/activity/style.css
Owners: @Pierre-Gilles

Add date picker to jump to a past day in activity history
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

feat(tuya): probe silent persistent sockets before recycling them
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.persistentConnection.js
  server/services/tuya/lib/tuya.poll.js
  server/test/services/tuya/lib/tuya.persistentConnection.test.js
Owners: @Pierre-Gilles

fix(mqtt): address forum feedback on dark mode, sensor toggle and back button
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeaturePreview.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/style.css
Owners: @atrovato

test: cover activity log API endpoint for codecov patch
  server/test/controllers/device/device.controller.test.js
Owners: @Pierre-Gilles

fix(mqtt): improve dark mode feature subtitle and sensor toggle layout
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/style.css
Owners: @Pierre-Gilles, @atrovato

fix(mqtt): soften feature tag badges in dark mode device list
  front/src/routes/integration/all/mqtt/device-page/style.css
Owners: @atrovato

style(dashboard): polish chart widget time navigation design
  front/src/components/boxs/chart/Chart.jsx
  front/src/components/boxs/chart/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
