Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Prepare for release to encode Gladys Plus messages with TextEncoder
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Rate limit API calls to Gladys Gateway googleHome.reportState
  server/lib/gateway/gateway.forwardDeviceStateToGoogleHome.js
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Rate limit API calls to Gladys Gateway googleHome.reportState (#1486)
  server/lib/gateway/gateway.forwardDeviceStateToGoogleHome.js
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Prepare for release to encode Gladys Plus messages with TextEncoder (#1485)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Fix #1483 : Gateway backup should retry if the transaction fails to start
  server/lib/gateway/gateway.backup.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

Fix #1483 : Gateway backup should retry if the transaction fails to start (#1487)
  server/lib/gateway/gateway.backup.js
  server/package-lock.json
  server/package.json
  server/test/lib/gateway/gateway.test.js
Owners: @Pierre-Gilles

fix for review
  front/src/components/boxs/device-in-room/device-features/SensorDeviceFeature.jsx
  front/src/components/oauth2/OAuth2Config.jsx
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/device/device.create.js
  server/lib/device/device.saveHistoricalState.js
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/withings.deleteVar.js
  server/services/withings/lib/withings.init.js
  server/test/services/withings/api/withings.controller.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Presence sensor datetime in future #1328
  front/src/components/boxs/device-in-room/device-features/sensor-value/LastSeenDeviceValue.jsx
  front/src/components/device/RelativeTime.jsx
  front/src/config/demo.js
Owners: @Pierre-Gilles

Store discovered devices as received
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
Owners: @Pierre-Gilles

Fix set value
  server/services/zigbee2mqtt/lib/setValue.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
Owners: @Pierre-Gilles

Use mapping from discovered devices
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/compositeType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/findMatchingExpose.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/readValue.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/services/zigbee2mqtt/utils/parameters/convertParameterValue.js
  server/services/zigbee2mqtt/utils/parameters/mapBinaryParameters.js
  server/services/zigbee2mqtt/utils/parameters/mapDefinitionParameters.js
  server/services/zigbee2mqtt/utils/parameters/mapExposeParameters.js
  server/test/services/zigbee2mqtt/exposes/binaryType.test.js
  server/test/services/zigbee2mqtt/exposes/compositeType.test.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/single_mqtt_device.json
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Owners: @Pierre-Gilles

Keep binary feautre mapping
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertDevice.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/services/zigbee2mqtt/utils/parameters/convertParameterValue.js
  server/services/zigbee2mqtt/utils/parameters/mapBinaryParameters.js
  server/services/zigbee2mqtt/utils/parameters/mapDefinitionParameters.js
  server/services/zigbee2mqtt/utils/parameters/mapExposeParameters.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Owners: @Pierre-Gilles

fix for review
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/withings/device-page/Device.jsx
  front/src/routes/integration/all/withings/device-page/actions.js
  front/src/routes/integration/all/withings/settings-page/index.js
  server/lib/device/device.destroyByServiceId.js
  server/lib/index.js
  server/lib/oauth2-client/index.js
  server/lib/oauth2-client/oauth2.buildAuthorizationUri.js
  server/lib/oauth2-client/oauth2.deleteClient.js
  server/lib/oauth2-client/oauth2.executeOauth2HTTPQuery.js
  server/lib/oauth2-client/oauth2.getAccessToken.js
  server/services/withings/api/withings.controller.js
  server/services/withings/lib/withings.deleteVar.js
  server/test/lib/device/device.destroyByServiceId.test.js
  server/test/lib/device/device.setParam.test.js
  server/test/lib/oauth2-client/oauth2manager.test.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

Update calendar to 0.40
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

4.8.2
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

fix for review
  front/cypress/integration/routes/integration/withings/settings/WithingsSettings.js
  front/src/components/oauth2/OAuth2Config.jsx
  front/src/components/oauth2/actions.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/withings/device-page/actions.js
  front/src/routes/integration/all/withings/settings-page/actions.js
  front/src/routes/integration/all/withings/settings-page/index.js
  server/services/withings/api/withings.controller.js
  server/services/withings/index.js
  server/services/withings/lib/index.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.postCreate.js
  server/test/services/withings/api/withings.controller.test.js
  server/test/services/withings/index.test.js
  server/test/services/withings/lib/withings.deleteDevices.test.js
  server/test/services/withings/lib/withings.deleteVar.test.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
Owners: @Pierre-Gilles

Default to new encoder for Gladys Gateway payload
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Default to new encoder for Gladys Gateway payload (#1491)
  front/package-lock.json
  front/package.json
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Add lixee features
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Map units
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/features/mapUnit.js
Owners: @Pierre-Gilles

More test
  server/test/services/zigbee2mqtt/utils/feature/mapUnit.test.js
Owners: @Pierre-Gilles

fix for review
  server/services/withings/lib/index.js
  server/services/withings/lib/utils/withings.getDevices.js
  server/services/withings/lib/utils/withings.getMeasures.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
  server/test/services/withings/lib/withings.init.test.js
  server/test/services/withings/lib/withings.poll.test.js
  server/test/services/withings/lib/withings.serverMock.test.js
Owners: @Pierre-Gilles

fix for review
  server/services/withings/lib/index.js
  server/services/withings/lib/utils/withings.buildBatteryLevelValues.js
  server/services/withings/lib/utils/withings.buildMapOfMeasures.js
  server/services/withings/lib/utils/withings.getAndSaveBatteryLevel.js
  server/services/withings/lib/utils/withings.getAndSaveMeasures.js
  server/services/withings/lib/utils/withings.matchDeviceInDB.js
  server/services/withings/lib/withings.init.js
  server/services/withings/lib/withings.poll.js
Owners: @Pierre-Gilles

Add API request states features
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStatesMulti.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
  server/test/lib/device/device.getDeviceFeaturesStatesMulti.test.js
Owners: @Pierre-Gilles

4.8.3
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Upgrade CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

removed dataForDownsampling for dataRow method
  server/api/controllers/device.controller.js
  server/lib/device/device.getDeviceFeaturesStates.js
  server/lib/device/device.getDeviceFeaturesStatesMulti.js
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

removed dataForDownsampling for dataRow method
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
Owners: @Pierre-Gilles

Modify icons NewScenePage
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
  server/config/icons-groups.json
Owners: @Pierre-Gilles

Modify tests on error
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDeviceFeaturesStates.test.js
  server/test/lib/device/device.getDeviceFeaturesStatesMulti.test.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Handle custom device mappings (#1383)
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/compositeType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/lib/findMatchingExpose.js
  server/services/zigbee2mqtt/lib/getDiscoveredDevices.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/readValue.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/services/zigbee2mqtt/utils/convertValue.js
  server/test/services/zigbee2mqtt/exposes/binaryType.test.js
  server/test/services/zigbee2mqtt/exposes/compositeType.test.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
  server/test/services/zigbee2mqtt/lib/findMatchingExpose.test.js
  server/test/services/zigbee2mqtt/lib/getDiscoveredDevices.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/payloads/discovered_devices.json
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
  server/test/services/zigbee2mqtt/lib/payloads/mqtt_devices_get.json
  server/test/services/zigbee2mqtt/lib/payloads/single_mqtt_device.json
  server/test/services/zigbee2mqtt/lib/readValue.test.js
  server/test/services/zigbee2mqtt/lib/setValue.test.js
  server/test/services/zigbee2mqtt/utils/convertValue.test.js
Owners: @Pierre-Gilles

Calendar: Display more events in popup (#1481)
  front/package-lock.json
  front/package.json
  front/src/routes/calendar/index.js
Owners: @Pierre-Gilles

Fix #1328 : Presence sensor should not display datetime in the future (#1466)
  front/src/components/boxs/device-in-room/device-features/sensor-value/LastSeenDeviceValue.jsx
  front/src/components/device/RelativeTime.jsx
  front/src/config/demo.js
Owners: @Pierre-Gilles

Use name ( not property )
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Add apiParams, apiParamExample and apiSuccessExample for REST API
  server/api/controllers/device.controller.js
Owners: @Pierre-Gilles

Add groups for icons in new scene
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
  server/config/icons-groups.json
Owners: @Pierre-Gilles

Modify on test cypress error
  server/config/icons-groups.json
Owners: @Pierre-Gilles

Fix calendars with special char in url
  server/services/caldav/lib/calendar/calendar.requests.js
Owners: @bertrandda

Common empty device list
  front/src/components/device/view/EmptyDeviceList.jsx
  front/src/routes/integration/all/bluetooth/EmptyState.jsx
  front/src/routes/integration/all/bluetooth/device-page/BluetoothDeviceTab.jsx
  front/src/routes/integration/all/bluetooth/setup-page/BluetoothPeripheralTab.jsx
  front/src/routes/integration/all/bluetooth/setup-page/setup-peripheral/index.js
  front/src/routes/integration/all/bluetooth/style.css
  front/src/routes/integration/all/ewelink/device-page/EmptyState.jsx
  front/src/routes/integration/all/ewelink/device-page/style.css
  front/src/routes/integration/all/ewelink/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/ewelink/discover-page/EmptyState.jsx
  front/src/routes/integration/all/ewelink/discover-page/style.css
  front/src/routes/integration/all/mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/philips-hue/device-page/DevicePage.jsx
  front/src/routes/integration/all/philips-hue/device-page/FoundDevices.jsx
  front/src/routes/integration/all/rtsp-camera/EmptyState.jsx
  front/src/routes/integration/all/rtsp-camera/RtspCamera.jsx
  front/src/routes/integration/all/rtsp-camera/style.css
  front/src/routes/integration/all/tasmota/EmptyState.jsx
  front/src/routes/integration/all/tasmota/device-page/EmptyState.jsx
  front/src/routes/integration/all/tasmota/device-page/style.css
  front/src/routes/integration/all/tasmota/discover-http/DiscoverTab.jsx
  front/src/routes/integration/all/tasmota/discover-mqtt/DiscoverTab.jsx
  front/src/routes/integration/all/tasmota/style.css
  front/src/routes/integration/all/tp-link/device-page/DevicePage.jsx
  front/src/routes/integration/all/tp-link/device-page/FoundDevices.jsx
  front/src/routes/integration/all/xiaomi/DevicePanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/EmptyState.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/style.css
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/EmptyState.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/style.css
  front/src/routes/integration/all/zwave/node-page/NodeTab.jsx
  front/src/style/index.css
Owners: @Pierre-Gilles, @atrovato, @NickDub, @VonOx, @hotfix31, @cicoub13

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
