Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Tests
  front/src/routes/integration/all/sunspec/discover-page/actions.js
  server/services/sunspec/api/sunspec.controller.js
  server/services/sunspec/index.js
  server/services/sunspec/lib/getStatus.js
  server/services/sunspec/lib/index.js
  server/services/sunspec/lib/sunspec.connect.js
  server/services/sunspec/lib/sunspec.disconnect.js
  server/services/sunspec/lib/sunspec.getStatus.js
  server/test/services/sunspec/api/sunspec.controller.test.js
  server/test/services/sunspec/index.test.js
Owners: @Pierre-Gilles

Tests
  server/services/sunspec/lib/sunspec.disconnect.js
  server/services/sunspec/lib/utils/sunspec.ModbusClient.js
  server/test/services/sunspec/index.test.js
  server/test/services/sunspec/lib/ModbusTCPMock.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/sunspec/lib/ModbusTCPMock.test.js
Owners: @Pierre-Gilles

Tests
  server/services/sunspec/lib/sunspec.updateConfiguration.js
  server/test/services/sunspec/index.test.js
  server/test/services/sunspec/lib/sunspec.getConfiguration.test.js
  server/test/services/sunspec/lib/sunspec.updateConfiguration.test.js
Owners: @Pierre-Gilles

Tests
  server/services/sunspec/lib/sunspec.connect.js
  server/services/sunspec/lib/sunspec.disconnect.js
  server/services/sunspec/lib/sunspec.getConfiguration.js
  server/services/sunspec/lib/sunspec.getStatus.js
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/services/sunspec/lib/sunspec.scanNetwork.js
  server/services/sunspec/lib/sunspec.updateConfiguration.js
  server/services/sunspec/lib/utils/sunspec.ModbusClient.js
  server/test/services/sunspec/api/sunspec.controller.test.js
  server/test/services/sunspec/index.test.js
  server/test/services/sunspec/lib/ModbusTCPMock.test.js
  server/test/services/sunspec/lib/sunspec.connect.test.js
  server/test/services/sunspec/lib/sunspec.disconnect.test.js
  server/test/services/sunspec/lib/sunspec.getConfiguration.test.js
  server/test/services/sunspec/lib/sunspec.scanDevices.test.js
  server/test/services/sunspec/lib/sunspec.scanNetwork.test.js
  server/test/services/sunspec/lib/sunspec.updateConfiguration.test.js
  server/test/services/sunspec/lib/utils/ModbusTCPMock.test.js
Owners: @Pierre-Gilles

Merge
  server/services/overkiz/index.js
  server/services/overkiz/lib/commands/overkiz.configuration.js
  server/services/overkiz/lib/commands/overkiz.syncOverkizDevices.js
  server/services/overkiz/lib/utils/overkiz.bindValue.js
  server/services/overkiz/lib/utils/overkiz.externalId.js
  server/services/overkiz/package-lock.json
Owners: @Pierre-Gilles

Tests
  server/services/zwave-js-ui/lib/commands/connect.js
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/test/services/zwave-js-ui/lib/commands/connect.test.js
Owners: @Pierre-Gilles

Add auto scroll
  front/src/components/drag-and-drop/AutoScrollMobile.jsx
  front/src/components/drag-and-drop/style.css
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/SceneActionsDropdown.jsx
  front/src/routes/scene/edit-scene/style.css
Owners: @Pierre-Gilles

Fix styles
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneCards.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/SceneActionsDropdown.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
Owners: @Pierre-Gilles

Remove useless translation
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix bug on dropdown close
  front/src/routes/scene/edit-scene/SceneActionsDropdown.jsx
Owners: @Pierre-Gilles

Fix Cypress tets
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/scene/edit-scene/SceneActionsDropdown.jsx
Owners: @Pierre-Gilles

Zigbee2mqtt: Add PM2.5 & formaldehyd features (#1801)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

TP-Link: Prefer await to then()/catch()/finally() (#1795)
  server/services/tp-link/lib/smart-device/index.js
  server/services/tp-link/lib/smart-device/smart-device.getDevices.js
  server/test/services/tp-link/smart-device/smart-device.getDevices.test.js
Owners: @cicoub13

Front: Clean style tags (#1796)
  front/src/actions/dashboard/boxes/userPresence.js
  front/src/components/app.jsx
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/device-in-room/DeviceList.jsx
  front/src/components/boxs/device-in-room/EmptyState.jsx
  front/src/components/boxs/device-in-room/RoomCard.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/house/EditRoom.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/device/DevicePage.jsx
  front/src/routes/device/index.js
  front/src/routes/forgot-password/ForgotPasswordPage.jsx
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/integration/all/philips-hue/setup-page/SetupTab.jsx
  front/src/routes/reset-password/ResetPasswordPage.jsx
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/settings/settings-gateway-users/UserRow.js
  front/src/routes/settings/settings-house/EmptySearch.jsx
  front/src/routes/settings/settings-house/HousePage.jsx
Owners: @Pierre-Gilles, @atrovato, @VonOx, @hotfix31

Setup local mode
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/cypress/fixtures/integration/routes/integration/usb/get_available_usb_ports.json
  front/cypress/fixtures/integration/routes/integration/zigbee2mqtt/status_ready_to_setup.json
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/Zigbee2mqttPage.js
  front/src/routes/integration/all/zigbee2mqtt/settings-page/SettingsTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/settings-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/AllInOneInstallationPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/InstallationModePanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/RunningStatus.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupModePanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/InstallationCard.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/Requirement.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/constants.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalMode.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalModeCard.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteModeCard.jsx
Owners: @Pierre-Gilles, @atrovato

Load config from setup endpoint
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
Owners: @Pierre-Gilles

Get modifiable variables
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getSetup.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/lib/saveOrDestroyVariable.js
  server/services/zigbee2mqtt/lib/setup.js
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/test/services/zigbee2mqtt/lib/getSetup.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/setup.test.js
Owners: @Pierre-Gilles

Reset status on service init
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/init.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Owners: @Pierre-Gilles

Setup wizard
  front/src/config/i18n/en.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/AllInOneInstallationPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/InstallationCard.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/InstallationModePanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles

Factorize page components
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/CheckStatus.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/RunningStatus.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupModePanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/ContainerLinkStatus.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/ContainerStatus.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/status/EnableStatus.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/status/RunningStatus.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/style.css
Owners: @Pierre-Gilles

Emit status with zigbee2mqtt.status-change event
  server/services/zigbee2mqtt/lib/connect.js
  server/services/zigbee2mqtt/lib/disconnect.js
  server/services/zigbee2mqtt/lib/events/emitStatusEvent.js
  server/services/zigbee2mqtt/lib/handleMqttMessage.js
  server/services/zigbee2mqtt/lib/index.js
  server/services/zigbee2mqtt/lib/installMqttContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/services/zigbee2mqtt/lib/connect.test.js
  server/test/services/zigbee2mqtt/lib/disconnect.test.js
  server/test/services/zigbee2mqtt/lib/handleMqttMessage.test.js
  server/test/services/zigbee2mqtt/lib/installMqttContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Improve cypress for standard flow
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupModePanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/InstallationCard.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/components/SubmitConfiguration.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalMode.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalModeCard.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteModeCard.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/status/EnableStatus.jsx
Owners: @Pierre-Gilles

Setup z2m tcp port
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  server/services/zigbee2mqtt/api/zigbee2mqtt.controller.js
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/getConfiguration.js
  server/services/zigbee2mqtt/lib/saveConfiguration.js
  server/services/zigbee2mqtt/package-lock.json
  server/services/zigbee2mqtt/package.json
  server/test/services/zigbee2mqtt/api/zigbee2mqtt.controller.test.js
  server/test/services/zigbee2mqtt/lib/config/z2m_adapter-deconz_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_adapter-ezsp_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_default_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_mqtt-other_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_mqtt_config.yaml
  server/test/services/zigbee2mqtt/lib/config/z2m_port_config.yaml
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/getConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/getSetup.test.js
  server/test/services/zigbee2mqtt/lib/saveConfiguration.test.js
  server/test/services/zigbee2mqtt/lib/setup.test.js
Owners: @Pierre-Gilles

Wizard for gladys mqtt usage
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupRemoteGladys.cy.js
  front/cypress/fixtures/integration/routes/integration/zigbee2mqtt/status_not_ready_to_setup.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupModePanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/SetupPanel.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteMode.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteModeCard.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/remote/SetupRemoteSummary.jsx
Owners: @Pierre-Gilles

Improve random port generator
  front/cypress/e2e/routes/integration/zigbee2mqtt/setup/Zigbee2MqttSetupLocalContainers.cy.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  server/services/zigbee2mqtt/lib/configureContainer.js
  server/services/zigbee2mqtt/lib/constants.js
  server/services/zigbee2mqtt/lib/init.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/services/zigbee2mqtt/lib/setup.js
  server/test/services/zigbee2mqtt/lib/configureContainer.test.js
  server/test/services/zigbee2mqtt/lib/init.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
  server/test/services/zigbee2mqtt/lib/setup.test.js
Owners: @Pierre-Gilles

Remove connect and action
  front/src/actions/forgotPassword.js
  front/src/routes/forgot-password/index.js
Owners: @Pierre-Gilles

Write component as pure function
  front/src/routes/integration/all/xiaomi/edit-page/index.js
Owners: @Pierre-Gilles

Write component as pure function
  front/src/routes/integration/all/ewelink/edit-page/index.js
Owners: @NickDub

Write component as pure function
  front/src/routes/integration/all/bluetooth/edit-page/index.js
  front/src/routes/integration/all/bluetooth/settings-page/index.js
Owners: @atrovato

Write component as pure function
  front/src/routes/integration/all/lan-manager/settings-page/index.js
Owners: @Pierre-Gilles

Promise onExecute
  server/services/google-actions/lib/smarthome/googleActions.onExecute.js
  server/services/google-actions/package-lock.json
  server/services/google-actions/package.json
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.switch.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.color.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.curtain.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.shutter.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onExecute.test.js
Owners: @Pierre-Gilles

Optimize event emit and command management
  server/services/google-actions/lib/smarthome/googleActions.onExecute.js
  server/services/google-actions/lib/traits/googleActions.brightness.trait.js
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/services/google-actions/lib/traits/googleActions.onOff.trait.js
  server/services/google-actions/lib/traits/googleActions.openClose.trait.js
  server/test/services/google-actions/index.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.light.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.brightness.trait.switch.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.color.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.curtain.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.shutter.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onExecute.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onQuery.test.js
  server/test/services/google-actions/lib/smarthome/googleActions.onSync.test.js
Owners: @Pierre-Gilles

Manages status and result states
  server/services/google-actions/lib/smarthome/googleActions.onExecute.js
  server/services/google-actions/lib/traits/googleActions.brightness.trait.js
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/services/google-actions/lib/traits/googleActions.onOff.trait.js
  server/services/google-actions/lib/traits/googleActions.openClose.trait.js
Owners: @Pierre-Gilles

Remove unsused files
  front/src/actions/dashboard/index.js
  front/src/components/layout/IntegrationPage.jsx
  front/src/components/layout/page.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-users/edit-user/EditPreferences.jsx
Owners: @Pierre-Gilles

Integration key
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zwave-js-ui/ZwaveJSUIPage.js
  front/src/routes/integration/all/zwave-js-ui/device-page/Device.jsx
  front/src/routes/integration/all/zwave-js-ui/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zwave-js-ui/device-page/EmptyState.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/EmptyState.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/node-operation-page/AddRemoveNode.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/CheckStatus.js
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
Owners: @Pierre-Gilles

Refactor connect
  front/src/routes/integration/all/overkiz/device-page/index.js
  front/src/routes/integration/all/overkiz/discover-page/index.js
  front/src/routes/integration/all/overkiz/settings-page/index.js
Owners: @Pierre-Gilles

Remove non ready device
  server/services/zwave-js-ui/lib/commands/getNodes.js
Owners: @Pierre-Gilles

WIP : implementing VacbotModeDeviceFeature into a Vacbot global box
  front/src/actions/dashboard/boxes/vacbot.js
  front/src/components/boxs/vacbot/Vacbot.jsx
Owners: @Pierre-Gilles

Set module name as a variable
  server/_templates/gladys_module/service/test/api/module.controller.test.js.t
Owners: @Pierre-Gilles
