Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Add tests to handleAlexaMessage
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/test/lib/gateway/gateway.handleAlexaMessage.test.js
Owners: @Pierre-Gilles

Display 2FA secret in Gladys Plus configure 2FA screen (#1521)
  front/package.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/gateway-configure-two-factor/ConfigureTwoFactorForm.js
  front/src/routes/gateway-configure-two-factor/index.js
Owners: @Pierre-Gilles

fix new eslint front
  front/src/routes/integration/all/withings/WithingsPage.jsx
  front/src/routes/integration/all/withings/device-page/Device.jsx
  front/src/routes/integration/all/withings/edit-page/index.js
  front/src/routes/integration/all/withings/settings-page/index.js
  front/src/utils/combineActions.js
Owners: @Pierre-Gilles

Unit + Relais readonly
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/numericType.js
Owners: @Pierre-Gilles

Fix apigroup
  server/services/telegram/api/telegram.controller.js
Owners: @Pierre-Gilles

Correction bad line
  front/src/components/device/UpdateDeviceFeature.jsx
Owners: @Pierre-Gilles

Add support for Sonoff SNZB-01
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add features, fixes features current and voltage + change categories and types energies' features + fixes units front VAr
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/tasmota/lib/features/energy.apparentPower.js
  server/services/tasmota/lib/features/energy.power.js
  server/services/tasmota/lib/features/energy.reactivePower.js
  server/services/tasmota/lib/features/energy.today.js
  server/services/tasmota/lib/features/energy.total.js
  server/services/tasmota/lib/features/energy.voltage.js
  server/services/tasmota/lib/features/index.js
  server/test/services/tasmota/lib/device-creation/energy.json
  server/test/services/tasmota/lib/device-setValue/mqtt/tasmota.mqtt.setValue-energy.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-energy-feature.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/new-state/tasmota.mqtt.handleMessage.newState-energy.test.js
Owners: @Pierre-Gilles, @atrovato

Changed the functioning of feature names for mqtt and tasmota in the curves legend and for tasmota on the dashboard.
  front/src/components/boxs/chart/Chart.jsx
  front/src/utils/device.js
  server/lib/device/device.getDeviceFeaturesAggregates.js
Owners: @Pierre-Gilles

Add event description
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.checkCalendarTriggers.js
  server/migrations/20220513204058-add-calendar-type-event-desc.js
  server/models/calendar.js
  server/models/calendar_event.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Owners: @Pierre-Gilles, @bertrandda

Sync webcals
  server/lib/calendar/calendar.get.js
  server/services/caldav/api/caldav.controller.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserWebcals.js
  server/services/caldav/lib/index.js
Owners: @Pierre-Gilles, @bertrandda

Missing await keyword
  server/services/bluetooth/index.js
Owners: @atrovato

Fix eslint
  front/package-lock.json
  front/src/routes/integration/all/rflink/RflinkPage.jsx
  front/src/routes/integration/all/rflink/device-page/Device.jsx
  front/src/routes/integration/all/rflink/device-page/FoundDevices.jsx
  front/src/routes/integration/all/rflink/settings-page/actions.js
Owners: @Pierre-Gilles

Update event when needed & sync deleted events
  server/migrations/20220513204058-add-calendar-type-event-desc.js
  server/models/calendar.js
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserWebcals.js
Owners: @Pierre-Gilles, @bertrandda

Fix problem between chair and keyboard (I deleted the content of the file ...)
  front/src/routes/integration/all/rflink/device-page/FoundDevices.jsx
Owners: @Pierre-Gilles

prettier
  front/src/routes/integration/all/rflink/device-page/FoundDevices.jsx
Owners: @Pierre-Gilles

Remove vtodo only calendar
  server/services/caldav/lib/calendar/calendar.requests.js
Owners: @bertrandda

Add tests to forwardDeviceStateToAlexa
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
Owners: @Pierre-Gilles

Improve onExecute + add switch devices + add more tests
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/deviceMappings.js
  server/test/lib/gateway/gateway.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

add tests to forwardDeviceStateToAlexa
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
Owners: @Pierre-Gilles

More tests to forwardDeviceStateToAlexa
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
Owners: @Pierre-Gilles

Fix onExecute + tests
  server/services/alexa/lib/alexa.onExecute.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
Owners: @Pierre-Gilles

Fix line break in chat message
  front/src/routes/chat/ChatItems.js
  front/src/routes/chat/style.css
Owners: @Pierre-Gilles

Add Alexa integration with Gladys Plus (#1396)
  front/package-lock.json
  front/package.json
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/alexa-gateway/Layout.jsx
  front/src/routes/integration/all/alexa-gateway/index.js
  front/src/routes/integration/all/alexa-gateway/style.css
  server/lib/gateway/gateway.forwardDeviceStateToAlexa.js
  server/lib/gateway/gateway.handleAlexaMessage.js
  server/lib/gateway/gateway.handleNewMessage.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
  server/services/alexa/index.js
  server/services/alexa/lib/alexa.onDiscovery.js
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/services/alexa/lib/deviceMappings.js
  server/services/alexa/lib/index.js
  server/services/alexa/lib/syncDeviceConverter.js
  server/services/alexa/package-lock.json
  server/services/alexa/package.json
  server/services/index.js
  server/test/lib/gateway/gateway.forwardDeviceStateToAlexa.test.js
  server/test/lib/gateway/gateway.handleAlexaMessage.test.js
  server/test/lib/gateway/gateway.test.js
  server/test/services/alexa/lib/alexa.onDiscovery.test.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Bluetooth: Add missing await in start function (#1529)
  server/services/bluetooth/index.js
Owners: @atrovato

Fix #1476 : Fix line break in chat message (#1533)
  front/src/routes/chat/ChatItems.js
  front/src/routes/chat/style.css
Owners: @Pierre-Gilles

Fix API documentation of Telegram integration (#1524)
  server/services/telegram/api/telegram.controller.js
Owners: @Pierre-Gilles

Change topic for permit join
  server/services/zigbee2mqtt/lib/setPermitJoin.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
Owners: @Pierre-Gilles

4.8.8
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Fix execute on multiple device feature + reject when device is not found
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

Alexa: Fix execute on multiple device feature + reject when device is not found (#1536)
  server/services/alexa/lib/alexa.onExecute.js
  server/services/alexa/lib/alexa.onReportState.js
  server/test/services/alexa/lib/alexa.onExecute.test.js
  server/test/services/alexa/lib/alexa.onReportState.test.js
Owners: @Pierre-Gilles

4.8.9
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update CHANGELOG
  CHANGELOG.md
Owners: @Pierre-Gilles

Add tests
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/syncUserWebcals.test.js
Owners: @bertrandda

Fix lib calendar tests
  server/seeders/20190403081927-calendar.js
  server/seeders/20190403081933-calendar-event.js
  server/test/lib/calendar/calendar.event.test.js
  server/test/lib/calendar/calendar.test.js
Owners: @Pierre-Gilles

Fix scene tests
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
Owners: @Pierre-Gilles

Increase code coverage
  server/services/caldav/index.js
  server/test/lib/calendar/calendar.test.js
  server/test/services/caldav/controllers/caldav.controller.test.js
  server/test/services/caldav/index.test.js
Owners: @bertrandda, @Pierre-Gilles

Run prettier
  server/test/lib/calendar/calendar.test.js
Owners: @Pierre-Gilles

Improve code coverage
  server/test/services/caldav/index.test.js
Owners: @bertrandda

Fix camera list bug
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
