Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

fix commit #1969
  front/cypress/cypress.config.js
  front/cypress/support/component-index.html
  front/cypress/support/component.js
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Remove console.log
  server/services/sonos/lib/sonos.setValue.js
Owners: @Pierre-Gilles

Update fr.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

ewelink: remove deprecation message
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles, @NickDub

ewelink: upgrade service functions
  server/services/ewelink/index.js
  server/services/ewelink/lib/ewelink.init.js
  server/services/ewelink/lib/index.js
  server/services/ewelink/lib/utils/constants.js
  server/services/ewelink/lib/versions/ewelink.upgrade.js
  server/services/ewelink/lib/versions/ewelink.v2.js
  server/services/ewelink/package-lock.json
  server/services/ewelink/package.json
  server/test/services/ewelink/index.test.js
  server/test/services/ewelink/lib/ewelink.init.test.js
  server/test/services/ewelink/lib/version/ewelink.upgrade.test.js
Owners: @NickDub

ewelink: setup and login pages
  front/src/assets/integrations/cover/ewelink_logo.png
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/actions.js
  front/src/routes/integration/all/ewelink/setup-page/ApplicationSetup.jsx
  front/src/routes/integration/all/ewelink/setup-page/SetupSummary.jsx
  front/src/routes/integration/all/ewelink/setup-page/SetupTab.jsx
  front/src/routes/integration/all/ewelink/setup-page/constants.js
  front/src/routes/integration/all/ewelink/setup-page/index.js
  front/src/routes/integration/all/ewelink/setup-page/login/ErrorPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/login/ExchangeTokenPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/login/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @NickDub

ewelink: add documentation link
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ewelink/EweLinkPage.jsx
  front/src/routes/integration/all/ewelink/setup-page/index.js
Owners: @Pierre-Gilles, @NickDub

ewelink: add stop service method
  server/services/ewelink/index.js
  server/services/ewelink/lib/ewelink.stop.js
  server/services/ewelink/lib/index.js
  server/test/services/ewelink/index.test.js
  server/test/services/ewelink/lib/ewelink.stop.test.js
  server/utils/constants.js
Owners: @NickDub, @Pierre-Gilles

ewelink: rename Client to WebAPIClient
  server/services/ewelink/lib/config/ewelink.createClients.js
  server/services/ewelink/lib/config/ewelink.loadConfiguration.js
  server/services/ewelink/lib/config/ewelink.saveConfiguration.js
  server/services/ewelink/lib/device/discover.js
  server/services/ewelink/lib/device/poll.js
  server/services/ewelink/lib/device/setValue.js
  server/services/ewelink/lib/handlers/ewelink.handleRequest.js
  server/services/ewelink/lib/index.js
  server/services/ewelink/lib/user/ewelink.buildLoginUrl.js
  server/services/ewelink/lib/user/ewelink.deleteTokens.js
  server/services/ewelink/lib/user/ewelink.exchangeToken.js
  server/test/services/ewelink/lib/config/ewelink.loadConfiguration.test.js
  server/test/services/ewelink/lib/config/ewelink.saveConfiguration.test.js
  server/test/services/ewelink/lib/device/discover.test.js
  server/test/services/ewelink/lib/device/poll.test.js
  server/test/services/ewelink/lib/device/setValue.test.js
  server/test/services/ewelink/lib/handlers/ewelink.handleRequest.test.js
  server/test/services/ewelink/lib/user/ewelink.buildLoginUrl.test.js
  server/test/services/ewelink/lib/user/ewelink.deleteTokens.test.js
  server/test/services/ewelink/lib/user/ewelink.exchangeToken.test.js
Owners: @NickDub

ewelink: create client is not a promise
  server/services/ewelink/lib/config/ewelink.createClients.js
Owners: @NickDub

Change after eslint run
  server/_templates/promptArgsUtil.js
Owners: @Pierre-Gilles

Add template for device and discover tabs
  server/_templates/gladys_module/devices_box/components/add_imports.app.jsx.t
  server/_templates/gladys_module/devices_box/components/add_pages_to_router.app.jsx.t
  server/_templates/gladys_module/devices_box/prompt.js
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/ServiceDeviceBox.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/ServicePage.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/actions.js.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/DeviceTab.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/EmptyState.jsx.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/index.js.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/device-page/style.css.t
  server/_templates/gladys_module/devices_box/routes/integrations/all/service/index.js.t
  server/_templates/gladys_module/discover_box/components/add_imports.app.jsx.t
  server/_templates/gladys_module/discover_box/components/add_pages_to_router.app.jsx.t
  server/_templates/gladys_module/discover_box/config/demo.js.t
  server/_templates/gladys_module/discover_box/config/i18n/en.edit_txt.json.t
  server/_templates/gladys_module/discover_box/config/i18n/en.json.t
  server/_templates/gladys_module/discover_box/config/i18n/fr.edit_txt.json.t
  server/_templates/gladys_module/discover_box/config/i18n/fr.json.t
  server/_templates/gladys_module/discover_box/prompt.js
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/ServiceDeviceBox.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/ServicePage.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/actions.js.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/DiscoverTab.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/EmptyState.jsx.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/index.js.t
  server/_templates/gladys_module/discover_box/routes/integrations/all/service/discover-page/style.css.t
Owners: @Pierre-Gilles

feat: Close user-dropdown with click outside
  front/src/actions/main.js
  front/src/components/app.jsx
  front/src/components/header/index.jsx
Owners: @Pierre-Gilles

eslint + prettier
  front/src/actions/main.js
  front/src/components/header/index.jsx
Owners: @Pierre-Gilles

4.32.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Update volume
  server/services/sonos/lib/sonos.setValue.js
Owners: @Pierre-Gilles

Remove log
  server/lib/scene/scene.actions.js
Owners: @Pierre-Gilles

Add tests to getTTSApiUrl
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.getTTSApiUrl.test.js
Owners: @Pierre-Gilles

Add test on play-notification
  server/test/lib/scene/actions/scene.action.playNotification.test.js
Owners: @Pierre-Gilles

Add EN translation + fix tests
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/test/services/sonos/lib/sonos.init.test.js
Owners: @Pierre-Gilles

Add tests on sonos
  server/test/services/sonos/lib/sonos.setValue.test.js
Owners: @Pierre-Gilles

Fix lint
  server/test/services/sonos/lib/sonos.setValue.test.js
Owners: @Pierre-Gilles

Add test on error
  server/test/lib/gateway/gateway.getTTSApiUrl.test.js
Owners: @Pierre-Gilles

Fix time of device states purge (4AM)
  server/config/scheduler-jobs.js
Owners: @Pierre-Gilles

Alarm: Try to fix disconnect on tablet locked mode
  front/src/routes/locked/index.js
Owners: @Pierre-Gilles

Fix time of device states purge (4AM) (#1975)
  server/config/scheduler-jobs.js
Owners: @Pierre-Gilles

Zigbee2mqtt: replace access mode by child lock binary device (#1956)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

following first returns fix remarks and errors
  front/src/assets/integrations/devices/netatmo/netatmo-NAPlug.jpg
  front/src/assets/integrations/devices/netatmo/netatmo-NATherm1.jpg
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/discover-page/index.js
  front/src/routes/integration/all/netatmo/edit-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/style.css
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesCommonTemp.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesRf.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesWifi.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.getAccessToken.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.getRefreshToken.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.poll.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/netatmo.setTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

add logBox component
  front/src/components/log/logBox.jsx
Owners: @Pierre-Gilles

add style.css for logBox
  front/src/components/log/logBox.jsx
  front/src/components/log/style.css
Owners: @Pierre-Gilles

first logBox
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

invisible logBox
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

Event log rework
  server/api/controllers/eventlog.controller.js
  server/lib/event/event.log.add.js
  server/lib/event/event.log.get.js
  server/lib/event/event.log.js
  server/lib/event/index.js
  server/lib/eventlog/index.js
  server/lib/house/house.update.js
  server/lib/index.js
Owners: @Pierre-Gilles

correcting bug
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

First API implementation
  server/api/controllers/eventlog.controller.js
  server/api/routes.js
  server/lib/event/event.log.get.js
Owners: @Pierre-Gilles

design box events
  front/src/components/log/logBox.jsx
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

Added events for House
  server/api/controllers/eventlog.controller.js
  server/lib/event/event.log.add.js
  server/lib/event/event.log.get.js
  server/lib/house/house.arm.js
  server/lib/house/house.create.js
  server/lib/house/house.destroy.js
  server/lib/house/house.disarm.js
  server/lib/house/house.disarmWithCode.js
  server/lib/house/house.panic.js
  server/lib/house/house.partialArm.js
  server/lib/house/house.update.js
  server/lib/house/house.userLeft.js
  server/lib/house/house.userSeen.js
  server/migrations/20231206092537-create-event-log.js
  server/models/event_log.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Remove and centralize device functions
  server/services/bluetooth/lib/commands/bluetooth.scanDevice.js
  server/services/bluetooth/lib/device/bluetooth.information.js
  server/services/bluetooth/lib/device/bluetooth.transformToDevice.js
  server/test/services/bluetooth/lib/commands/bluetooth.scanDevice.test.js
  server/test/services/bluetooth/lib/device/bluetooth.transformToDevice.test.js
  server/test/services/bluetooth/lib/events/bluetooth.discover.test.js
  server/test/utils/device.test.js
  server/test/utils/setDeviceFeature.test.js
  server/test/utils/setDeviceParam.test.js
  server/utils/device.js
  server/utils/setDeviceParam.js
Owners: @atrovato, @Pierre-Gilles

Added log event constraints
  server/utils/constants.js
Owners: @Pierre-Gilles

add parameter to logBox
  front/src/components/log/logBox.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
