Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

ChatGPT: When asking the AI, should send better context
  server/lib/message/message.create.js
  server/test/lib/message/message.create.test.js
Owners: @Pierre-Gilles

Fix ordering of messages
  server/lib/message/message.create.js
  server/test/lib/message/message.create.test.js
Owners: @Pierre-Gilles

feat:update-websocket-support-tuya-device
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.convertUnit.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/tuya.getConfiguration.js
  server/services/tuya/lib/tuya.handleFeedbackFromTuya.js
  server/services/tuya/lib/tuya.init.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.poll.js
  server/services/tuya/lib/tuyaWebsocket/index.js
  server/services/tuya/lib/tuyaWebsocket/utils.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/services/tuya/lib/utils/tuya.convertFeature.js
  server/services/tuya/package.json
Owners: @Pierre-Gilles

feat:update-env-for-user
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  server/services/tuya/lib/tuya.getConfiguration.js
  server/services/tuya/lib/tuya.init.js
  server/services/tuya/lib/tuya.saveConfiguration.js
  server/services/tuya/lib/tuyaWebsocket/index.js
  server/services/tuya/lib/utils/tuya.constants.js
Owners: @Pierre-Gilles

revert
  server/package-lock.json
Owners: @Pierre-Gilles

Params translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Refactor device feature types for electrical vehicles and remove unused dashboard type selection
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/CurrentSetpointDeviceFeature.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/new-dashboard/index.js
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Update DeviceGetValueParams to handle text device feature type
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
Owners: @Pierre-Gilles

Refactor DeviceGetValueParams to use DeviceFeatureTypesString for text feature type handling
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Add support for additional electrical vehicle features and update translations
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/utils/consts.js
  server/lib/device/device.newStateEvent.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Refactor electrical vehicle feature definitions and improve CSS for setpoint controls
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/utils/consts.js
Owners: @Pierre-Gilles, @atrovato

Remove unused temperature property from AIR_CONDITIONING feature type
  server/utils/constants.js
Owners: @Pierre-Gilles

prettier
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Refactor CSS for device features by removing unused setpoint control styles
  front/src/components/boxs/device-in-room/device-features/style.css
Owners: @Pierre-Gilles

Add energy efficiency and km per kilowatt hour translations to i18n files
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix text category feature type reference in constants
  server/utils/constants.js
Owners: @Pierre-Gilles

Bluetooth: Upgrade @abandonware/noble to 1.9.2-26
  server/services/bluetooth/package-lock.json
  server/services/bluetooth/package.json
Owners: @atrovato

Bluetooth: Upgrade @abandonware/noble to 1.9.2-26 (#2319)
  server/services/bluetooth/package-lock.json
  server/services/bluetooth/package.json
Owners: @atrovato

ChatGPT: When asking the AI, should send better context (#2316)
  server/lib/message/message.create.js
  server/test/lib/message/message.create.test.js
Owners: @Pierre-Gilles

Scene: Device Get Value should handle text features (#2317)
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Matter : Add controller backup
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.backupController.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.restoreBackup.js
  server/services/matter/utils/constants.js
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.checkIpv6.test.js
  server/test/services/matter/lib/matter.decommission.test.js
  server/test/services/matter/lib/matter.getDevices.test.js
  server/test/services/matter/lib/matter.getNodes.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/lib/matter.stop.test.js
Owners: @Pierre-Gilles

Fix backup tests
  server/test/services/matter/lib/matter.backupController.test.js
Owners: @Pierre-Gilles

Add missing tests
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/matter/lib/matter.backupController.test.js
Owners: @Pierre-Gilles

Refactor MqttFeatureBox to use DEVICE_FEATURE_CATEGORIES for category checks
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
Owners: @atrovato

Refactor dashboard and MQTT device setup to simplify feature type checks and remove unused code
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/lib/device/device.newStateEvent.js
Owners: @Pierre-Gilles, @atrovato

Update i18n files to enhance electrical vehicle terminology and structure
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Matter : Add controller backup (#2320)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/matter/lib/index.js
  server/services/matter/lib/matter.backupController.js
  server/services/matter/lib/matter.init.js
  server/services/matter/lib/matter.restoreBackup.js
  server/services/matter/utils/constants.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.checkIpv6.test.js
  server/test/services/matter/lib/matter.decommission.test.js
  server/test/services/matter/lib/matter.getDevices.test.js
  server/test/services/matter/lib/matter.getNodes.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.pairDevice.test.js
  server/test/services/matter/lib/matter.refreshDevices.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/lib/matter.stop.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Matter : Display serial number & unique_id in UI
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/matter/MatterDevices.jsx
  front/src/routes/integration/all/matter/style.css
  server/services/matter/lib/matter.handleNode.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/matter.pairDevice.test.js
Owners: @Pierre-Gilles

Refactor electrical vehicle feature handling and add battery level display component
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/CurrentSetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BatteryLevelFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/RawDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
  server/utils/units.js
Owners: @Pierre-Gilles

Enhance electrical vehicle feature handling with custom button controls and improve i18n support for commands and states
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Enhance MultiLevelDeviceFeature component with unit display and improve French i18n translations for vehicle states
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Refactor IconBinaryDeviceValue component to simplify icon mapping and remove unused electrical vehicle states
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
Owners: @Pierre-Gilles

Remove BatteryLevelFeature component and clean up related i18n entries for electrical vehicle features
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BatteryLevelFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Create
  front/src/config.js
Owners: @Pierre-Gilles

Update local API and WebSocket URLs to use 'localhost' for development
  front/src/config.js
Owners: @Pierre-Gilles

Refactor MultiLevelDeviceFeature component to simplify layout and remove unnecessary unit display
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
Owners: @Pierre-Gilles

Remove unused import of Text from 'preact-i18n' in MultiLevelDeviceFeature component
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
Owners: @Pierre-Gilles

Remove unused Text import from MultiLevelDeviceFeature component
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
