Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

Sonos Integration (#1949)
  front/src/assets/integrations/cover/sonos.jpg
  front/src/components/app.jsx
  front/src/components/boxs/music/EditMusicBox.jsx
  front/src/components/boxs/music/MusicBox.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/integration/all/sonos/SonosDeviceBox.jsx
  front/src/routes/integration/all/sonos/SonosPage.jsx
  front/src/routes/integration/all/sonos/device-page/DeviceTab.jsx
  front/src/routes/integration/all/sonos/device-page/EmptyState.jsx
  front/src/routes/integration/all/sonos/device-page/index.js
  front/src/routes/integration/all/sonos/device-page/style.css
  front/src/routes/integration/all/sonos/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/sonos/discover-page/EmptyState.jsx
  front/src/routes/integration/all/sonos/discover-page/index.js
  front/src/routes/integration/all/sonos/discover-page/style.css
  server/models/dashboard.js
  server/services/index.js
  server/services/sonos/api/sonos.controller.js
  server/services/sonos/index.js
  server/services/sonos/lib/index.js
  server/services/sonos/lib/sonos.init.js
  server/services/sonos/lib/sonos.onAvTransportEvent.js
  server/services/sonos/lib/sonos.onVolumeEvent.js
  server/services/sonos/lib/sonos.scan.js
  server/services/sonos/lib/sonos.setValue.js
  server/services/sonos/package-lock.json
  server/services/sonos/package.json
  server/services/sonos/utils/convertToGladysDevice.js
  server/test/services/sonos/api/sonos.controller.test.js
  server/test/services/sonos/index.test.js
  server/test/services/sonos/lib/sonos.init.test.js
  server/test/services/sonos/lib/sonos.onAvTransportEvent.test.js
  server/test/services/sonos/lib/sonos.onVolumeEvent.test.js
  server/test/services/sonos/lib/sonos.setValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix threshold checkbox not clickable on scene trigger on device change (#1941)
  front/src/routes/scene/edit-scene/triggers/device-states/ThresholdDeviceState.jsx
Owners: @Pierre-Gilles

4.31.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Fix z-index issue in only-continue-if selector in scene action (#1947)
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.css
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Owners: @Pierre-Gilles

Fix typo in french translations (#1950)
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Backup screen: Add message when Gladys Plus is not connected (#1955)
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayNotConfigured.jsx
  front/src/routes/settings/settings-backup/index.js
Owners: @Pierre-Gilles

Scene: Add action "Send MQTT message" (#1945)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMqttMessage.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Scene: remove z-index style in SelectDeviceFeature (#1942)
  front/src/components/device/SelectDeviceFeature.css
  front/src/components/device/SelectDeviceFeature.jsx
Owners: @Pierre-Gilles

Philips Hue: Add documentation link (#1960)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/PhilipsHuePage.jsx
  front/src/routes/integration/all/philips-hue/device-page/index.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Improve warning messages Gladys Plus (#1952)
  front/src/components/boxs/camera/Camera.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/UpgradePlan.jsx
  front/src/routes/settings/settings-backup/index.js
  front/src/routes/settings/settings-billing/GatewayBilling.jsx
  front/src/routes/settings/settings-billing/index.js
Owners: @Pierre-Gilles

Scene : Fix feedbacks on tag filtering (#1946)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
  server/lib/scene/scene.get.js
  server/lib/scene/scene.getTag.js
  server/package-lock.json
  server/package.json
  server/test/controllers/scene/scene.test.js
Owners: @Pierre-Gilles

add battery_low & tamper exposes
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

zigbee2mqtt: add voc_index expose
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(docker): Node as first process
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

eventLogPage file
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

test eventlogpage
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

test page
  front/src/routes/event-log/index.js
Owners: @Pierre-Gilles

add children
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

page avec coucou ok
  front/src/routes/event-log/index.js
Owners: @Pierre-Gilles

add style.css file
  front/src/routes/event-log/EventLogPage.jsx
  front/src/routes/event-log/style.css
Owners: @Pierre-Gilles

Event log table creation Added new model and migration
  server/lib/eventlog/index.js
  server/lib/index.js
  server/migrations/20231206091712-create-event-log.js
  server/migrations/20231206092537-create-event-log.js
Owners: @Pierre-Gilles

fixed double migration file
  server/migrations/20231206091712-create-event-log.js
Owners: @Pierre-Gilles

name for enventLog in fr and en
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

title/subtitle Page
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

Added first log
  server/lib/event/event.log.js
  server/lib/event/index.js
  server/lib/eventlog/index.js
  server/lib/house/house.update.js
  server/migrations/20231206092537-create-event-log.js
  server/utils/constants.js
Owners: @Pierre-Gilles

add filter boxes
  front/src/routes/event-log/EventLogPage.jsx
Owners: @Pierre-Gilles

shortcuts command
  server/package.json
Owners: @Pierre-Gilles

If params are given in CLI, do not ask for them in prompt. Thanks to this thread : https://github.com/jondot/hygen/issues/35
  server/_templates/gladys_module/box/prompt.js
  server/_templates/gladys_module/dashboard_box/prompt.js
  server/_templates/gladys_module/service/prompt.js
  server/_templates/promptArgsUtil.js
Owners: @Pierre-Gilles

feat : disappearing button, right-side, bigger
  front/src/components/navigation/NavigationButton.jsx
  front/src/components/navigation/style.css
Owners: @Pierre-Gilles

fixed issue relating to tests
  front/src/components/navigation/NavigationButton.jsx
Owners: @Pierre-Gilles

Use node as first process in Docker container (#1965)
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

create new category VOC_INDEX_SENSOR
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

create new category BATTERY_LOW
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

feat(dashboard edit): Add button -add- per column
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Owners: @Pierre-Gilles

Add scene action to play sonos tts
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/PlayNotification.jsx
  server/lib/device/device.setValue.js
  server/lib/gateway/gateway.getTTSApiUrl.js
  server/lib/gateway/index.js
  server/lib/scene/scene.actions.js
  server/package-lock.json
  server/package.json
  server/services/sonos/lib/sonos.setValue.js
  server/services/sonos/utils/convertToGladysDevice.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add voc_index expose (#1963)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Zigbee2mqtt: Add low_battery and tamper expose on Owon pir313 e (#1962)
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Dashboard: Add one button add per column (#1970)
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Owners: @Pierre-Gilles

fix: Update camera card size
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Owners: @Pierre-Gilles

fix: Update camera card size
  front/src/routes/integration/all/rtsp-camera/RtspCameraBox.jsx
Owners: @Pierre-Gilles
