Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

feat(scene): expose trigger info as scene variables
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/MQTTReceivedTrigger.jsx
  server/lib/scene/scene.buildTriggerEventScope.js
  server/lib/scene/scene.checkTrigger.js
  server/test/lib/scene/scene.buildTriggerEventScope.test.js
Owners: @Pierre-Gilles

fix(ci): pass server prettier and eslint checks
  server/lib/scene/scene.buildTriggerEventScope.js
  server/test/lib/scene/scene.buildTriggerEventScope.test.js
Owners: @Pierre-Gilles

Scenes: add room/type filters and multi-select for device feature picker
  front/src/components/device/SelectDeviceFeature.css
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/actions/DeviceGetValueParams.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

Gauge widget: editable name, feature label fallback, mobile scroll fix
  front/src/components/boxs/gauge/EditGaugeBox.jsx
  front/src/components/boxs/gauge/GaugeBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/style/index.css
Owners: @Pierre-Gilles

Fix dark mode preference being overwritten on iOS
  front/src/actions/darkMode.js
  front/src/utils/darkModePreference.js
  front/src/utils/getDefaultState.js
Owners: @Pierre-Gilles

test(scene): improve triggerEvent scope coverage
  server/test/lib/scene/scene.buildTriggerEventScope.test.js
Owners: @Pierre-Gilles

feat(tuya): restrict pilot-wire modes to each device's supported options
  front/src/components/boxs/device-in-room/device-features/PilotWireModeDeviceFeature.jsx
  front/src/components/device/SelectPilotWireMode.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/PilotWireModeDeviceState.jsx
  front/src/utils/supportedOptions.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/services/tuya/lib/tuya.discoverDevices.js
  server/test/services/tuya/fixtures/devices/pilote-thermostat-c03zek9b5daz7omr/expected-device.json
  server/test/services/tuya/fixtures/fixtureHelper.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Owners: @Pierre-Gilles

feat(scenes): add sun altitude and azimuth scene trigger
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/SunPositionTrigger.jsx
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.dailyUpdate.js
  server/lib/scene/scene.triggers.js
  server/lib/sun/sunPosition.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/scene.dailyUpdate.test.js
  server/test/lib/scene/triggers/scene.trigger.sunPosition.test.js
  server/test/lib/sun/sunPosition.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

docs: enrich AGENTS.md with PR/CI checklist for cloud agents
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Owners: @Pierre-Gilles

Migrate frontend build from preact-cli to Vite
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/relative-ci.yaml
  AGENTS.md
  front/.babelrc
  front/README.md
  front/index.html
  front/package-lock.json
  front/package.json
  front/preact.config.js
  front/relativeci.config.js
  front/src/main.jsx
  front/src/routes/scene/constant.js
  front/vite-plugins/preact-cli-css-modules.js
  front/vite.config.js
Owners: @VonOx, @Pierre-Gilles

docs: clarify Codecov patch coverage must be 100% on changed lines
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  codecov.yml
Owners: @Pierre-Gilles

feat(tuya): restrict AC enum features to each device's supported options
  front/src/components/boxs/device-in-room/device-features/AirConditioningFanSpeedDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningSwingDeviceFeature.jsx
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/device/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.deviceMapping.js
  server/test/services/tuya/fixtures/devices/air-conditioner-f3goccgfj6qino4c/expected-device.json
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/device/tuya.convertDevice.test.js
Owners: @Pierre-Gilles

Add route-based code splitting to match preact-cli behavior
  front/package-lock.json
  front/package.json
  front/vite-plugins/preact-async-routes.js
  front/vite-plugins/preact-cli-css-modules.js
  front/vite.config.js
Owners: @Pierre-Gilles

fix(ci): prettier formatting and remove unsupported nullish coalescing
  front/src/routes/scene/edit-scene/triggers/SunPositionTrigger.jsx
  server/lib/scene/scene.triggers.js
  server/lib/sun/sunPosition.js
  server/services/mcp/lib/sceneSchemas.js
Owners: @Pierre-Gilles

Ensure PWA migration clears Workbox caches on Vite upgrade
  front/old-sw.js
  front/package.json
Owners: @Pierre-Gilles

Fix Prettier formatting in old-sw.js and preact-async-routes plugin
  front/old-sw.js
  front/vite-plugins/preact-async-routes.js
Owners: @Pierre-Gilles

fix(ci): resolve server eslint errors in sun position code
  server/lib/scene/scene.dailyUpdate.js
  server/lib/sun/sunPosition.js
Owners: @Pierre-Gilles

test: improve sun position coverage for codecov patch check
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.dailyUpdate.test.js
Owners: @Pierre-Gilles

Dashboard: position chart tooltip below cursor to avoid masking the curve
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/apexChartTooltipOptions.js
  front/src/components/boxs/chart/style.css
Owners: @Pierre-Gilles

feat(dashboard): allow custom display order in scene widget
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/drag-and-drop/SceneListWithDragAndDrop.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

feat(front): add color palette to light color picker
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/device/ColorPalette.css
  front/src/components/device/ColorPalette.jsx
  front/src/components/device/ColorPicker.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/colorPalette.js
Owners: @Pierre-Gilles

Enrich AGENTS.md with PR/CI checklist for cloud agents (#2611)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  codecov.yml
Owners: @Pierre-Gilles

Fix chart tooltip helper for legacy Babel (no optional chaining)
  front/src/components/boxs/chart/apexChartTooltipOptions.js
Owners: @Pierre-Gilles

Fix Cypress CI: patch zimmerframe for CommonJS require compatibility
  front/cli/patch_zimmerframe.js
  front/package.json
Owners: @Pierre-Gilles

Fix Cypress CI: add Vite dev interop for server CommonJS modules
  front/vite-plugins/server-commonjs-interop.js
  front/vite.config.js
Owners: @Pierre-Gilles

Netatmo: Fix zero values being dropped and stop emitting absent states
  server/services/netatmo/lib/update/netatmo.updateNAMain.js
  server/services/netatmo/lib/update/netatmo.updateNAModule1.js
  server/services/netatmo/lib/update/netatmo.updateNAModule2.js
  server/services/netatmo/lib/update/netatmo.updateNAModule3.js
  server/services/netatmo/lib/update/netatmo.updateNAModule4.js
  server/services/netatmo/lib/update/netatmo.updateNAPlug.js
  server/services/netatmo/lib/update/netatmo.updateNATherm1.js
  server/services/netatmo/lib/update/netatmo.updateNRV.js
  server/services/netatmo/lib/utils/netatmo.emitFeatureState.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule2.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule3.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNRV.test.js
  server/test/services/netatmo/lib/utils/netatmo.emitFeatureState.test.js
Owners: @thibautmery, @Terdious

Netatmo: Harden connection lifecycle and surface setValue failures
  server/services/netatmo/lib/device/netatmo.convertDeviceEnergy.js
  server/services/netatmo/lib/device/netatmo.convertDeviceWeather.js
  server/services/netatmo/lib/netatmo.pollRefreshingToken.js
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/services/netatmo/lib/netatmo.setValue.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceWeather.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
  server/test/services/netatmo/lib/netatmo.setValue.test.js
Owners: @thibautmery, @Terdious

Netatmo: Replace duplicated per-module update files with declarative mapping
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.updateValues.js
  server/services/netatmo/lib/update/netatmo.updateDevice.js
  server/services/netatmo/lib/update/netatmo.updateMappings.js
  server/services/netatmo/lib/update/netatmo.updateNAMain.js
  server/services/netatmo/lib/update/netatmo.updateNAModule1.js
  server/services/netatmo/lib/update/netatmo.updateNAModule2.js
  server/services/netatmo/lib/update/netatmo.updateNAModule3.js
  server/services/netatmo/lib/update/netatmo.updateNAModule4.js
  server/services/netatmo/lib/update/netatmo.updateNAPlug.js
  server/services/netatmo/lib/update/netatmo.updateNATherm1.js
  server/services/netatmo/lib/update/netatmo.updateNRV.js
  server/test/services/netatmo/lib/update/netatmo.updateNAMain.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule1.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule2.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule3.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAModule4.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNAPlug.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNATherm1.test.js
  server/test/services/netatmo/lib/update/netatmo.updateNRV.test.js
Owners: @thibautmery, @Terdious

Netatmo: Discover and save modules unreachable in homestatus
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  server/services/netatmo/lib/device/netatmo.convertDeviceEnergy.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceEnergy.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
Owners: @thibautmery, @Terdious

Netatmo: Read homestatus errors at body level and show them on discovery cards
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Netatmo: Explicit unreachable flag wins over room heuristic on discovery cards
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Fix Cypress CI: resolve npm deps when bundling server CJS modules
  front/vite-plugins/server-commonjs-interop.js
Owners: @Pierre-Gilles

Netatmo: Add NATherm1 regression test for absent room/measured data
  server/test/services/netatmo/lib/update/netatmo.updateNATherm1.test.js
Owners: @thibautmery, @Terdious

Netatmo: Keep connected status when the initial values refresh fails
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
Owners: @thibautmery, @Terdious

Netatmo: Isolate per-feature failures in updateDevice
  server/services/netatmo/lib/update/netatmo.updateDevice.js
  server/test/services/netatmo/lib/update/netatmo.updateNATherm1.test.js
Owners: @thibautmery, @Terdious

Fix Cypress CI: parse single-line module.exports object bindings
  front/vite-plugins/server-commonjs-interop.js
Owners: @Pierre-Gilles

Netatmo: Add Security API groundwork and camera discovery (NACamera, NOC)
  front/src/assets/integrations/devices/netatmo/netatmo-NACamera.jpg
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/netatmo/NetatmoDeviceBox.jsx
  front/src/routes/integration/all/netatmo/setup-page/SetupTab.jsx
  front/src/routes/integration/all/netatmo/setup-page/index.js
  server/migrations/20260704120000-default-netatmo-variable-security-api.js
  server/services/netatmo/lib/device/netatmo.buildFeaturesSpecifSecurity.js
  server/services/netatmo/lib/device/netatmo.convertDeviceSecurity.js
  server/services/netatmo/lib/index.js
  server/services/netatmo/lib/netatmo.discoverDevices.js
  server/services/netatmo/lib/netatmo.getConfiguration.js
  server/services/netatmo/lib/netatmo.loadDeviceDetails.js
  server/services/netatmo/lib/netatmo.loadDevices.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/update/netatmo.updateMappings.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/lib/device/netatmo.convertDeviceSecurity.test.js
  server/test/services/netatmo/lib/index.test.js
  server/test/services/netatmo/lib/netatmo.discoverDevices.test.js
  server/test/services/netatmo/lib/netatmo.getConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.loadDeviceDetails.test.js
  server/test/services/netatmo/lib/netatmo.updateValues.test.js
  server/test/services/netatmo/lib/update/netatmo.updateSecurity.test.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

Front: Fix signal quality SVG icons invisible in development
  front/src/components/icons/SvgIcon.jsx
Owners: @Pierre-Gilles

Netatmo: Start value polling for security-only setups (review follow-up)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/netatmo/lib/netatmo.retrieveTokens.js
  server/test/services/netatmo/lib/netatmo.loadDevices.test.js
  server/test/services/netatmo/lib/netatmo.retrieveToken.test.js
Owners: @Pierre-Gilles, @thibautmery, @Terdious

Netatmo: Assert remaining NATherm1 emissions in the skip test (review follow-up)
  server/test/services/netatmo/lib/update/netatmo.updateNATherm1.test.js
Owners: @thibautmery, @Terdious
