Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

amazing buttons
  front/src/components/navigation/NavigationButton.jsx
  front/src/components/navigation/style.css
Owners: @Pierre-Gilles

Unsed event
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
Owners: @Pierre-Gilles

fix(philips-hue): Fix test coverage
  server/test/services/philips-hue/light/light.getBridges.test.js
  server/test/services/philips-hue/mocks.test.js
Owners: @VonOx, @hotfix31

Bug fix check.test
  server/services/sunspec/lib/index.js
  server/services/sunspec/lib/sunspec.connect.js
  server/services/sunspec/lib/sunspec.disconnect.js
  server/services/sunspec/lib/sunspec.scan.js
  server/services/sunspec/lib/sunspec.scanDevices.js
  server/services/sunspec/lib/sunspec.scanNetwork.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/events/valueUpdated.test.js
Owners: @Pierre-Gilles

Philips Hue: Do n-Upnp scan + Upnp scan + manual add of bridge (#1920)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/setup-page/SetupTab.jsx
  front/src/routes/integration/all/philips-hue/setup-page/actions.js
  server/services/philips-hue/api/hue.controller.js
  server/services/philips-hue/lib/light/index.js
  server/services/philips-hue/lib/light/light.configureBridge.js
  server/services/philips-hue/lib/light/light.getBridges.js
  server/services/philips-hue/package-lock.json
  server/services/philips-hue/package.json
  server/test/services/philips-hue/controllers/configureBridge.controller.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/test/services/philips-hue/light/light.getBridges.test.js
  server/test/services/philips-hue/mocks.test.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Reverse door opening sensor translations (#1930)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Display camera by name (#1928)
  server/config/brain/camera/answers.en.json
  server/config/brain/camera/answers.fr.json
  server/config/brain/camera/questions.en.json
  server/config/brain/camera/questions.fr.json
  server/lib/brain/index.js
  server/lib/device/camera/camera.command.js
  server/lib/device/camera/camera.getImagesInRoom.js
  server/lib/device/camera/index.js
  server/lib/device/device.create.js
  server/lib/device/device.init.js
  server/lib/device/index.js
  server/lib/gateway/gateway.forwardMessageToOpenAI.js
  server/lib/index.js
  server/test/lib/device/camera/camera.command.test.js
  server/test/lib/device/camera/camera.getImageInRoom.test.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.init.test.js
  server/test/lib/gateway/gateway.forwardMessageToOpenAI.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Add scene trigger : New MQTT message (#1913)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/MQTTReceivedTrigger.jsx
  server/lib/index.js
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/services/usb/package-lock.json
  server/services/usb/package.json
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/triggers/scene.trigger.mqttReceived.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Tests
  server/services/overkiz/lib/client/overkiz.default.js
  server/services/overkiz/lib/commands/overkiz.connect.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
  server/services/overkiz/lib/overkiz.constants.js
  server/test/services/overkiz/lib/commands/overkiz.connect.test.js
  server/test/services/overkiz/lib/commands/overkiz.getOverkizDevices.test.js
Owners: @Pierre-Gilles

Tests
  server/services/overkiz/lib/commands/overkiz.connect.js
  server/services/overkiz/lib/commands/overkiz.getOverkizDevices.js
Owners: @Pierre-Gilles

fix : navbutton z-index
  front/src/components/navigation/style.css
Owners: @Pierre-Gilles

opacity button enabled
  front/src/components/navigation/style.css
Owners: @Pierre-Gilles

Adding hue icon
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/new-scene/NewScenePage.jsx
  server/config/icons.json
  server/migrations/20231115155618-update-icon-scene.js
Owners: @Pierre-Gilles

Add warning on new Gladys Plus plans
  front/src/components/boxs/camera/Camera.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-backup/UpgradePlan.jsx
  front/src/routes/settings/settings-backup/index.js
  front/src/routes/settings/settings-billing/GatewayBilling.jsx
  front/src/routes/settings/settings-billing/index.js
Owners: @Pierre-Gilles

test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Fix again
  server/lib/scene/scene.update.js
  server/test/lib/scene/scene.init.test.js
Owners: @Pierre-Gilles

temp
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Remove menu and add dropdown menu
  front/src/components/layout/CardFilter.jsx
  front/src/routes/scene/SceneMenu.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
Owners: @Pierre-Gilles

fix cypress test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Fix review
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/constant.js
  front/src/routes/scene/index.js
  server/api/controllers/scene.controller.js
  server/lib/scene/scene.get.js
  server/lib/scene/scene.update.js
Owners: @Pierre-Gilles

Last change
  front/src/components/layout/CardFilter.jsx
  front/src/config/i18n/en.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/SceneMenu.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/index.js
  front/src/routes/scene/style.css
Owners: @Pierre-Gilles

Fix review
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/SceneTagFilter.jsx
  front/src/routes/scene/style.css
Owners: @Pierre-Gilles

Add filter by tags into scene page
  front/package-lock.json
  front/package.json
  front/src/components/layout/CardFilter.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/ScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/index.js
  front/src/routes/scene/style.css
  server/lib/scene/scene.get.js
Owners: @Pierre-Gilles

Add icon modif
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/new-scene/NewScenePage.jsx
Owners: @Pierre-Gilles

Add tag on scene
  front/package-lock.json
  front/package.json
  front/src/actions/createScene.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/style/index.css
  server/lib/scene/scene.get.js
  server/migrations/20230627154012-add-tag-scene.js
  server/models/scene.js
Owners: @Pierre-Gilles

Fix backend test
  server/lib/scene/scene.get.js
  server/seeders/20190227043234-scene.js
  server/seeders/20231002113233-tag-scene.js
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles

Fix cypress test
  front/cypress/e2e/routes/scene/Scene.cy.js
  server/lib/scene/scene.getBySelector.js
  server/lib/scene/scene.update.js
Owners: @Pierre-Gilles

Fix eslint and test
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  server/lib/scene/scene.duplicate.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
  server/test/lib/scene/scene.create.test.js
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles

test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Test
  front/cypress/cypress.config.js
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Fix query
  server/lib/scene/scene.get.js
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

Test
  front/cypress/e2e/routes/scene/Scene.cy.js
Owners: @Pierre-Gilles

finalize tags
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.getTag.js
Owners: @Pierre-Gilles

Fix coverage
  server/seeders/20190227043234-scene.js
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles

Add TagScene
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
  server/lib/scene/scene.create.js
  server/lib/scene/scene.destroy.js
  server/lib/scene/scene.duplicate.js
  server/lib/scene/scene.get.js
  server/lib/scene/scene.getBySelector.js
  server/lib/scene/scene.update.js
  server/migrations/20230627154012-add-tag-scene.js
  server/migrations/20230928144012-add-tag-scene.js
  server/models/index.js
  server/models/scene.js
  server/models/tag_scene.js
Owners: @Pierre-Gilles

Fix tests
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.get.test.js
  server/test/lib/scene/scene.getTag.test.js
  server/test/lib/scene/scene.update.test.js
Owners: @Pierre-Gilles

Fix test
  server/test/lib/scene/scene.get.test.js
Owners: @Pierre-Gilles
