Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

test: adopt the per-file sinon sandbox in the image cleanup tests
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/system/system.getImagePullTime.test.js
  server/test/lib/system/system.listImages.test.js
  server/test/lib/system/system.removeImage.test.js
Owners: @Pierre-Gilles

Enhance Cursor automation workflow with comment commands and auto-triggers (#2824)
  .github/CONTRIBUTING.md
  .github/workflows/cursor-automation-webhook.yml
Owners: @Pierre-Gilles, @VonOx

refactor(front): make the shared search fold cover ligatures and reuse it
  front/src/components/scene/IconSelector.jsx
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/integration/index.js
  front/src/utils/normalizeSearchText.js
Owners: @Pierre-Gilles, @atrovato

fix(front): a MQTT feature search of accents only listed the whole catalog
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @atrovato

fix: make scene condition formulas fail closed and pin operator surface (#2823)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.formula.test.js
Owners: @Pierre-Gilles

fix: log MQTT/Zigbee2mqtt published payload and warn on invalid JSON (#2825)
  server/lib/scene/scene.actions.js
  server/services/mqtt/lib/publish.js
  server/services/zigbee2mqtt/lib/publish.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/test/lib/scene/actions/scene.action.sendZigbee2MqttMessage.test.js
Owners: @Pierre-Gilles, @atrovato

ci: fix the 403 when reacting to a /cursor review comment
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

Fix the integration counter mixing scopes across catalog views
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

fix(external-integration): re-read the pull time before each image deletion
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.cleanImages.js
  server/lib/external-integration/externalIntegration.removeImages.js
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/system/system.getImagePullTime.test.js
Owners: @Pierre-Gilles

feat(front): show labeled value lists in the scene editor
  front/src/components/device/SelectDeviceFeatureValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DefaultDeviceState.jsx
  front/src/utils/deviceFeatureValueOptions.js
Owners: @Pierre-Gilles

fix: make scene condition formulas fail closed and pin the formula operator surface (#2823) (#2831)
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.formula.test.js
Owners: @Pierre-Gilles

fix: clarify Zigbee2mqtt scene action topic requires the zigbee2mqtt/ prefix (#2826)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/SendZigbee2MqttMessage.jsx
Owners: @Pierre-Gilles

fix(front): honor supported_options in the scene value lists
  front/src/utils/deviceFeatureValueOptions.js
Owners: @Pierre-Gilles

feat(integration): make the catalog search accent-insensitive
  front/src/components/scene/IconSelector.jsx
  front/src/routes/integration/index.js
  front/src/utils/normalizeSearchText.js
Owners: @Pierre-Gilles

fix(front): address review feedback on the scene value lists
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
  front/src/utils/deviceFeatureValueOptions.js
Owners: @Pierre-Gilles

fix(ci): grant pull-requests write so Cursor review comment reactions work (#2833)
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

feat(external-integration): clean up the Docker images left behind (#2822)
  docs/specs/external-integrations.md
  server/config/scheduler-jobs.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.cleanImages.js
  server/lib/external-integration/externalIntegration.getImagesInUse.js
  server/lib/external-integration/externalIntegration.removeImages.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/external-integration/index.js
  server/lib/system/index.js
  server/lib/system/system.getImagePullTime.js
  server/lib/system/system.listImages.js
  server/lib/system/system.pull.js
  server/lib/system/system.removeImage.js
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/external-integration/externalIntegration.uninstall.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.getImagePullTime.test.js
  server/test/lib/system/system.listImages.test.js
  server/test/lib/system/system.removeImage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

ci: add a daily scheduled Claude autofix for review-bot feedback
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

ci: fire Claude Code cloud sessions instead of running on the runner
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

fix: clarify Zigbee2mqtt scene action topic requires the zigbee2mqtt/ prefix (#2826) (#2836)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/SendZigbee2MqttMessage.jsx
Owners: @Pierre-Gilles

ci: address review feedback on the scheduled autofix
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

fix(front): make presence-sensor binary a first-class feature
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Fix the empty tag shown for a binary presence sensor (camera person detection) (#2839)
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/utils/consts.js
Owners: @Pierre-Gilles

ci: harden the autofix routine prompt after second review round
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
Owners: @Pierre-Gilles

ci: daily scheduled autofix firing Claude Code cloud sessions on review-bot feedback (#2838)
  .github/CLAUDE_AUTOFIX.md
  .github/CLAUDE_AUTOFIX_ROUTINE_PROMPT.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

ci: accept the fire URL from a secret as well as a variable
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

Document the while loop max iterations behavior in the scene editor
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
Owners: @Pierre-Gilles

test(scene): cover trigger variables when device or feature is missing
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
Owners: @Pierre-Gilles

feat(external-integration): allow installing and updating from a locally built Docker image
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/external-integration/externalIntegration.ensureImage.js
  server/lib/external-integration/externalIntegration.install.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/external-integration/index.js
  server/lib/system/index.js
  server/lib/system/system.imageExists.js
  server/test/lib/external-integration/externalIntegration.install.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/system.imageExists.test.js
Owners: @Pierre-Gilles

fix: make the air conditioning mode the only authority when both mode enums exist
  server/services/homekit/lib/buildThermostatService.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
Owners: @Pierre-Gilles

test(external-integration): cover a failing local presence check during install
  server/test/lib/external-integration/externalIntegration.install.test.js
Owners: @Pierre-Gilles

fix(homekit): warn on an ambiguous fallback and index dropped twins
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

Show "X of Y" only when the search actually narrows the view
  front/src/routes/integration/IntegrationPageHeader.jsx
Owners: @Pierre-Gilles

fix: log the exact published payload and cover publish logs with tests
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/test/lib/scene/actions/scene.action.sendZigbee2MqttMessage.test.js
  server/test/services/mqtt/lib/publish.test.js
  server/test/services/zigbee2mqtt/lib/publish.test.js
Owners: @Pierre-Gilles, @atrovato

fix(front): treat a null condition value as unset in the scene condition
  front/src/routes/scene/edit-scene/actions/only-continue-if/Condition.jsx
Owners: @Pierre-Gilles

fix(external-integration): scope the local image fallback to dev installs
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.ensureImage.js
  server/lib/external-integration/externalIntegration.install.js
  server/lib/external-integration/externalIntegration.update.js
  server/test/lib/external-integration/externalIntegration.install.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
Owners: @Pierre-Gilles

Add messaging channel selector to send message scene actions
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageCameraParams.jsx
  front/src/routes/scene/edit-scene/actions/SendMessageParams.jsx
  server/api/controllers/service.controller.js
  server/api/routes.js
  server/lib/message/message.forwardToChannels.js
  server/lib/message/message.sendToUser.js
  server/lib/scene/scene.actions.js
  server/lib/service/service.getMessageServices.js
  server/lib/service/service.load.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/controllers/service/service.controller.test.js
  server/test/lib/message/message.sendToUser.test.js
  server/test/lib/scene/actions/scene.action.sendMessage.test.js
  server/test/lib/service/service.test.js
Owners: @Pierre-Gilles

Rename message services route to /api/v1/service/message
  front/src/routes/scene/edit-scene/actions/MessageServiceSelector.jsx
  server/api/controllers/service.controller.js
  server/api/routes.js
  server/lib/service/service.getMessageServices.js
  server/test/controllers/service/service.controller.test.js
  server/test/lib/service/service.test.js
Owners: @Pierre-Gilles

Address review notes on the back-to-integrations link
  front/src/components/integration/BackToIntegrationsLink.jsx
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

fix(server): bump vulnerable deps within existing semver ranges
  server/package-lock.json
Owners: @Pierre-Gilles
