Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Add language filter
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/gradium/voice-page/VoiceTab.css
  front/src/routes/integration/all/gradium/voice-page/VoiceTab.jsx
  front/src/routes/integration/all/gradium/voice-page/index.js
Owners: @Pierre-Gilles

Filter admin user for config
  front/src/routes/integration/all/gradium/account-page/AccountTab.jsx
  front/src/routes/integration/all/gradium/account-page/index.js
  front/src/routes/integration/index.js
Owners: @Pierre-Gilles

Add tests
  server/services/gradium/lib/getTTSApiUrl.js
  server/test/services/gradium/controllers/gradium.controller.test.js
  server/test/services/gradium/index.test.js
  server/test/services/gradium/lib/getTTSApiUrl.test.js
  server/test/services/gradium/lib/getVoices.test.js
  server/test/services/gradium/lib/index.test.js
Owners: @Pierre-Gilles

Front: Batch live states in Activity page to fix lag on chatty installs
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
Owners: @Pierre-Gilles

Add test on tts
  front/src/routes/integration/all/gradium/account-page/AccountTab.jsx
  server/test/lib/tts/tts.getTTSApiUrl.test.js
Owners: @Pierre-Gilles

Complete translations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

Fix reviews
  front/src/routes/integration/all/gradium/voice-page/VoiceBox.jsx
  front/src/routes/integration/all/gradium/voice-page/index.js
  server/services/gradium/lib/getTTSApiUrl.js
  server/test/services/gradium/lib/getTTSApiUrl.test.js
Owners: @Pierre-Gilles

Fix review
  server/services/gradium/lib/getTTSApiUrl.js
  server/test/services/gradium/lib/getTTSApiUrl.test.js
Owners: @Pierre-Gilles

Front: Fix Activity page lag/freeze on high-throughput installations (#2636)
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
Owners: @Pierre-Gilles

Server: Speed up Activity history query with progressive time windows
  server/lib/device/device.getDeviceStatesHistory.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

Display signal strength with icon and label in Activity view
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/EventLine.jsx
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
  front/src/routes/history/style.css
  front/src/utils/signalQuality.js
Owners: @Pierre-Gilles

Server: Speed up Activity history query with progressive time windows (#2637)
  server/lib/device/device.getDeviceStatesHistory.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

docs: add agent git workflow rules to AGENTS.md
  AGENTS.md
Owners: @Pierre-Gilles

docs: add agent git workflow rules to AGENTS.md (#2639)
  AGENTS.md
Owners: @Pierre-Gilles

Display signal quality in Activity screen (#2638)
  front/src/components/boxs/device-in-room/device-features/sensor-value/SignalQualityDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/EventLine.jsx
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
  front/src/routes/history/style.css
  front/src/utils/signalQuality.js
Owners: @Pierre-Gilles

Hide horizontal scrollbar on Activity page filter chips
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

Fix dark mode sticky backgrounds on Activity page
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

Migrate DuckDB from deprecated `duckdb` package to `@duckdb/node-api`
  AGENTS.md
  server/index.js
  server/lib/gateway/gateway.backup.js
  server/lib/gateway/gateway.restoreBackup.js
  server/models/index.js
  server/package-lock.json
  server/package.json
  server/test/models/index.test.js
Owners: @Pierre-Gilles

Improve Activity page display (scrollbar + dark mode) (#2640)
  front/src/routes/history/style.css
Owners: @Pierre-Gilles

Add README in Matter integration (#2635)
  server/services/matter/README.md
Owners: @Pierre-Gilles

Fix MQTT feature catalog feedback from community forum (#2634)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @Pierre-Gilles, @atrovato

Anchor activity history windows on last_value_changed for stale devices
  server/lib/device/device.getDeviceStatesHistory.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

Address CodeRabbit review: test last_value_changed fallback and spy cleanup
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

Front: Fix infinite auto-load loop on Activity page
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
Owners: @Pierre-Gilles

Anchor activity history windows on last_value_changed for stale devices (#2642)
  server/lib/device/device.getDeviceStatesHistory.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

Front: Fix infinite auto-load loop on Activity page (#2643)
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
Owners: @Pierre-Gilles

Fix Zigbee2mqtt frontend URL field missing in local mode setup
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  front/src/routes/integration/all/zigbee2mqtt/utils/getZ2mUrl.js
Owners: @Pierre-Gilles

Hide Zigbee2mqtt URL warning on Gladys Plus local mode
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalOptions.jsx
  front/src/routes/integration/all/zigbee2mqtt/setup-page/local/SetupLocalSummary.jsx
  front/src/routes/integration/all/zigbee2mqtt/utils/getZ2mUrl.js
Owners: @Pierre-Gilles

Hide misleading Zigbee2mqtt URL warning on Gladys Plus local mode (#2644)
  front/src/routes/integration/all/zigbee2mqtt/device-page/DeviceTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/device-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/device-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/zigbee2mqtt/discover-page/actions.js
  front/src/routes/integration/all/zigbee2mqtt/discover-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/setup-page/index.js
  front/src/routes/integration/all/zigbee2mqtt/utils/getZ2mUrl.js
Owners: @Pierre-Gilles

Front: Keep expanded Activity group open when live events arrive
  front/src/routes/history/HistoryPage.jsx
Owners: @Pierre-Gilles

Front: Keep expanded Activity group open when live events arrive (#2645)
  front/src/routes/history/HistoryPage.jsx
Owners: @Pierre-Gilles

Activity: progressive time-window search for instant display on large DBs
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/HistoryPage.jsx
  front/src/routes/history/index.js
  front/src/routes/history/style.css
  server/lib/device/device.getDeviceStatesHistory.js
  server/test/lib/device/device.getDeviceStatesHistory.test.js
Owners: @Pierre-Gilles

Display dashboard charts in Gladys system timezone
  front/src/actions/main.js
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/energy-consumption/EnergyConsumption.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimezone.jsx
  front/src/utils/getDefaultState.js
  front/src/utils/systemTimezone.js
Owners: @Pierre-Gilles

DuckDB: reset init cache on failure + cover lifecycle paths in tests
  server/models/index.js
  server/test/models/index.test.js
Owners: @Pierre-Gilles

Front: Expose Vite dev server on the network like preact-cli did
  front/vite.config.mjs
Owners: @Pierre-Gilles

Front: Expose Vite dev server on the network like preact-cli did (#2646)
  front/vite.config.mjs
Owners: @Pierre-Gilles

4.82.0
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Publish Gladys Plus front automatically after production release
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Server: Fix feature states purge and destroy guard left on SQLite
  server/lib/device/device.destroy.js
  server/lib/device/device.purgeStatesByFeatureId.js
  server/test/lib/device/device.destroy.test.js
  server/test/lib/device/device.purgeStatesByFeatureId.test.js
Owners: @Pierre-Gilles

Add a button to purge orphaned DuckDB states
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemDuckDbMigration.jsx
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.purgeOrphanedDuckDbStates.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.purgeOrphanedDuckDbStates.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
