Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

fix(dashboard): consistent spacing between sections and icon selector alignment
  front/src/components/boxs/chips/style.css
  front/src/components/boxs/link/style.css
  front/src/components/boxs/photo/PhotoBox.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
Owners: @Pierre-Gilles

feat(dashboard): capped media stretch, per-dashboard width and 6 columns
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/photo/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
  server/lib/dashboard/dashboard.getBySelector.js
  server/migrations/20260816120000-add-dashboard-width-column.js
  server/models/dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(dashboard): flatten the glass card shadow in the tablet-mode panel
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

fix(dashboard): round the photo widget corners in the glass theme
  front/src/components/boxs/photo/style.css
Owners: @Pierre-Gilles

feat(dashboard): quick actions widget
  docs/specs/dashboard-flexible-layout-and-widgets.md
  docs/specs/device-migration.md
  front/src/components/boxs/actions/ActionsBox.jsx
  front/src/components/boxs/actions/EditActionsBox.jsx
  front/src/components/boxs/actions/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  server/lib/device/device.migrate.js
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/lib/device/device.migrate.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(mqtt): reject non-string and malformed wildcard state topics
  server/services/mqtt/lib/homeAssistant/listenToHomeAssistantDevice.js
  server/test/services/mqtt/lib/homeAssistant/listenToHomeAssistantDevice.test.js
Owners: @atrovato

feat(system): reboot / shutdown the host from the System settings
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemHostPower.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/style/dark-mode.css
  server/api/controllers/system.controller.js
  server/api/routes.js
  server/lib/system/index.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.isHostPowerManagementAvailable.js
  server/lib/system/system.rebootHost.js
  server/lib/system/system.shutdownHost.js
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/system.hostPower.test.js
  server/test/lib/system/system.isHostPowerManagementAvailable.test.js
Owners: @VonOx, @Pierre-Gilles

chore(docker): use dbus-bin instead of dbus in the image
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

fix(system): address Cursor review on host reboot/shutdown
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemHostPower.jsx
  server/api/controllers/system.controller.js
  server/lib/system/index.js
  server/lib/system/system.detectHostPowerManagement.js
  server/lib/system/system.getGladysImageName.js
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/system.detectHostPowerManagement.test.js
  server/test/lib/system/system.getGladysImageName.test.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

feat(system): reboot/shutdown host without a mounted D-Bus socket
  server/lib/system/index.js
  server/lib/system/system.detectHostPowerManagement.js
  server/lib/system/system.getGladysImageName.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.init.js
  server/lib/system/system.isHostPowerManagementAvailable.js
  server/lib/system/system.rebootHost.js
  server/lib/system/system.runHostPowerDbusCommand.js
  server/lib/system/system.shutdownHost.js
  server/test/lib/system/system.detectHostPowerManagement.test.js
  server/test/lib/system/system.getGladysImageName.test.js
  server/test/lib/system/system.hostPower.test.js
  server/test/lib/system/system.isHostPowerManagementAvailable.test.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

fix(system): acknowledge reboot/shutdown before triggering it
  server/api/controllers/system.controller.js
  server/test/controllers/system/system.controller.test.js
Owners: @Pierre-Gilles

refactor(system): drop the unused host power availability getter
  server/lib/system/index.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.isHostPowerManagementAvailable.js
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/lib/system/system.isHostPowerManagementAvailable.test.js
Owners: @Pierre-Gilles

fix(system): address Cursor review (round 2) on host reboot/shutdown
  front/src/config/i18n/de.json
  front/src/routes/settings/settings-system/SettingsSystemHostPower.jsx
  server/api/controllers/system.controller.helpers.js
  server/api/controllers/system.controller.js
  server/lib/system/index.js
  server/lib/system/system.detectHostPowerManagement.js
  server/lib/system/system.getInfos.js
  server/test/controllers/system/acknowledgeHostPowerCommand.test.js
  server/test/lib/system/system.detectHostPowerManagement.test.js
Owners: @Pierre-Gilles

chore(test): use a per-file sinon sandbox in the host-power tests
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/controllers/system/acknowledgeHostPowerCommand.test.js
  server/test/lib/system/system.detectHostPowerManagement.test.js
  server/test/lib/system/system.hostPower.test.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

fix(system): enforce per-action capabilities in rebootHost/shutdownHost
  server/lib/system/system.rebootHost.js
  server/lib/system/system.shutdownHost.js
  server/test/lib/system/system.hostPower.test.js
Owners: @Pierre-Gilles

test(system): cover the host power detection failure path at init
  server/lib/system/system.init.js
  server/test/lib/system/system.init.test.js
Owners: @Pierre-Gilles

test(mqtt): cover an embedded "#" in the malformed state topic test
  server/test/services/mqtt/lib/homeAssistant/listenToHomeAssistantDevice.test.js
Owners: @atrovato

feat(scene): stop a running scene from the UI
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/RunningStatus.jsx
  front/src/routes/scene/RunningStopButton.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/style.css
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.executeActions.js
  server/lib/scene/scene.stop.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.execute.test.js
  server/test/lib/scene/scene.stop.test.js
Owners: @Pierre-Gilles

feat(scene): show running scene executions in real time
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/RunningStatus.jsx
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditActions.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/index.js
  front/src/routes/scene/runningInfo.js
  front/src/routes/scene/style.css
  server/api/controllers/scene.controller.js
  server/api/routes.js
  server/lib/scene/index.js
  server/lib/scene/scene.execute.js
  server/lib/scene/scene.getRunning.js
  server/test/controllers/scene/scene.test.js
  server/test/lib/scene/scene.execute.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

test(scene): cover stop paths and simplify execute
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
  server/test/lib/scene/scene.stop.test.js
Owners: @Pierre-Gilles

fix(scene): address CodeRabbit review feedback
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/index.js
  front/src/routes/scene/runningInfo.js
  front/src/routes/scene/style.css
  server/test/lib/scene/scene.stop.test.js
Owners: @Pierre-Gilles

fix(scene): close two stop races found in review
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/index.js
  front/src/routes/scene/runningInfo.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/scene.stop.test.js
Owners: @Pierre-Gilles

fix(scene): address the soft review notes on stop
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/routes/scene/RunningStopButton.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/index.js
  front/src/routes/scene/runningInfo.js
  front/src/routes/scene/style.css
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.destroy.js
  server/test/lib/scene/scene.destroy.test.js
  server/test/lib/scene/scene.stop.test.js
Owners: @Pierre-Gilles

fix(scene): do not deep-clone the abort signal into a chained scene
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.execute.js
Owners: @Pierre-Gilles

fix(scene): keep a stop distinguishable from a failed condition
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.executeActions.js
  server/test/lib/scene/scene.stop.test.js
  server/utils/coreErrors.js
Owners: @Pierre-Gilles

fix(scene): expose a readable list of calendar events in scene variables (#2916)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.getCalendarEvents.test.js
Owners: @Pierre-Gilles

fix(front): keep long text feature values inside the device widget
  front/src/components/boxs/device-in-room/device-features/sensor-value/TextDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
Owners: @Pierre-Gilles

Matter: add ActivatedCarbonFilterMonitoring cluster support
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

feat(matter): support door locks on the DoorLock cluster
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/lib/matter.setValue.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/doorLockMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/lib/matter.setValue.test.js
  server/test/services/matter/utils/doorLockMatterMapping.test.js
Owners: @Pierre-Gilles

Add energy tracking features automatically for external integrations
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.getDiscoveredDevices.js
  server/lib/external-integration/index.js
  server/lib/index.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/externalIntegration.energyFeatures.test.js
  server/test/lib/external-integration/testUtils.test.js
Owners: @Pierre-Gilles

feat(dashboard): move a widget to another dashboard
  front/src/components/boxs/baseEditBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
Owners: @Pierre-Gilles

feat(matter): support Matter dishwashers (operational state, alarms, door)
  front/src/components/boxs/device-in-room/device-features/sensor-value/DishwasherStateDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/convertToGladysDevice.js
  server/services/matter/utils/dishwasherMatterMapping.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/utils/dishwasherMatterMapping.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

fix(front): collapse the integrations disclaimer banner on mobile
  front/src/routes/integration/IntegrationGatewayBanner.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/style.css
Owners: @Pierre-Gilles

feat(external-integration): show the new version number in the update banner
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/supervision-page/SupervisionCard.jsx
  server/api/controllers/externalIntegration.controller.js
  server/lib/external-integration/externalIntegration.get.js
  server/lib/external-integration/externalIntegration.getLatestVersion.js
  server/lib/external-integration/externalIntegration.isUpdateAvailable.js
  server/lib/external-integration/index.js
  server/test/controllers/externalIntegration/externalIntegration.controller.test.js
  server/test/lib/external-integration/externalIntegration.get.test.js
Owners: @Pierre-Gilles

Link external integration version numbers to their changelog
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/VersionLink.jsx
  front/src/routes/integration/all/external-integration/supervision-page/SupervisionCard.jsx
  front/src/routes/integration/all/external-integration/utils.js
Owners: @Pierre-Gilles

feat(scene): add enable/disable a scene actions
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/EnableDisableSceneParams.jsx
  server/lib/scene/scene.actions.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.enableDisableScene.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Show which dashboards and scenes use a device on the Devices page
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/index.js
  front/src/routes/devices/style.css
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.getUsage.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getUsage.test.js
Owners: @Pierre-Gilles

Matter: update cluster compatibility totals in README
  server/services/matter/README.md
Owners: @Pierre-Gilles

fix(scene): clarify that calendarEvents.events is a raw array
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix(matter): reject coercible invalid door lock command values
  server/services/matter/lib/matter.setValue.js
  server/test/services/matter/lib/matter.setValue.test.js
Owners: @Pierre-Gilles
