Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

add button event logs
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

add button event-log
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/event-log/index.js
Owners: @Pierre-Gilles

Event log DB implementation
  server/models/event_log.js
  server/models/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Tests connect.js
  server/services/netatmo/lib/netatmo.connect.js
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/netatmo.mock.test.js
Owners: @thibautmery, @Terdious

replace access control mode by child lock binary switch
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

replace mode by binary
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Update fr.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Continu Tests : index - mock - connect - disconnect - init - controller
  front/src/routes/integration/all/netatmo/setup-page/index.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/controllers/netatmo.controller.test.js
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/netatmo.mock.test.js
Owners: @thibautmery, @Terdious

check if vacbot is online
  front/src/components/boxs/vacbot/Vacbot.jsx
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/test/services/ecovacs/lib/device/vacbot.getStatus.test.js
Owners: @Pierre-Gilles

test on vacbot is_ready & disconnect if vacbot is unreachable
  server/services/ecovacs/lib/device/vacbot.poll.js
Owners: @Pierre-Gilles

test on 'clean report' poll
  server/test/services/ecovacs/lib/event/ecovacs.onMessage.test.js
Owners: @Pierre-Gilles

eslint & prettier
  front/src/components/boxs/vacbot/Vacbot.jsx
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/services/ecovacs/lib/event/ecovacs.onMessage.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/commands/getNodes.test.js
Owners: @Pierre-Gilles

Continuation of tests and related modifications
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
  front/src/routes/integration/all/netatmo/device-page/index.js
  front/src/routes/integration/all/netatmo/setup-page/index.js
  server/services/netatmo/api/netatmo.controller.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/netatmo.setTokens.js
  server/services/netatmo/lib/netatmo.status.js
  server/services/netatmo/lib/utils/netatmo.constants.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/controllers/netatmo.controller.test.js
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.getStatus.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
  server/test/services/netatmo/lib/netatmo.setTokens.test.js
  server/test/services/netatmo/netatmo.mock.test.js
  server/utils/constants.js
Owners: @thibautmery, @Terdious, @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/commands/getNodes.test.js
Owners: @Pierre-Gilles

reverse color and add device type to show battery level on mqtt device page
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
Owners: @Pierre-Gilles, @atrovato

fix prettier
  front/src/routes/integration/all/mqtt/device-page/Device.jsx
  front/src/utils/consts.js
Owners: @atrovato, @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
Owners: @Pierre-Gilles

fix error tests with 'sinon.restore' and 'spy.restore'
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.getStatus.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
  server/test/services/netatmo/lib/netatmo.setTokens.test.js
Owners: @thibautmery, @Terdious

fix eslint + prettier + tests
  server/services/netatmo/index.js
  server/services/netatmo/lib/netatmo.connect.js
  server/services/netatmo/lib/netatmo.disconnect.js
  server/services/netatmo/lib/netatmo.getAccessToken.js
  server/services/netatmo/lib/netatmo.getRefreshToken.js
  server/services/netatmo/lib/netatmo.init.js
  server/services/netatmo/lib/netatmo.refreshingTokens.js
  server/services/netatmo/lib/netatmo.saveConfiguration.js
  server/services/netatmo/lib/netatmo.setTokens.js
  server/test/services/netatmo/index.test.js
  server/test/services/netatmo/lib/controllers/netatmo.controller.test.js
  server/test/services/netatmo/lib/netatmo.connect.test.js
  server/test/services/netatmo/lib/netatmo.disconnect.test.js
  server/test/services/netatmo/lib/netatmo.getStatus.test.js
  server/test/services/netatmo/lib/netatmo.init.test.js
  server/test/services/netatmo/lib/netatmo.refreshingTokens.test.js
  server/test/services/netatmo/lib/netatmo.saveConfiguration.test.js
  server/test/services/netatmo/lib/netatmo.saveStatus.test.js
  server/test/services/netatmo/lib/netatmo.setTokens.test.js
  server/test/services/netatmo/netatmo.mock.test.js
Owners: @thibautmery, @Terdious

fix prettier front
  front/src/routes/integration/all/netatmo/NetatmoPage.jsx
Owners: @thibautmery, @Terdious

docs(philips-hue): Add documentation link to website
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/PhilipsHuePage.jsx
  front/src/routes/integration/all/philips-hue/device-page/index.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Backup screen: Add message when Gladys Plus is not connected (#1955)
  front/src/routes/settings/settings-backup/GatewayBackupPage.jsx
  front/src/routes/settings/settings-backup/GatewayNotConfigured.jsx
  front/src/routes/settings/settings-backup/index.js
Owners: @Pierre-Gilles

Scene: Add action "Send MQTT message" (#1945)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/SendMqttMessage.jsx
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/test/lib/scene/actions/scene.action.sendMqttMessage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Philips Hue: Add documentation link (#1960)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/PhilipsHuePage.jsx
  front/src/routes/integration/all/philips-hue/device-page/index.js
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Scene: remove z-index style in SelectDeviceFeature (#1942)
  front/src/components/device/SelectDeviceFeature.css
  front/src/components/device/SelectDeviceFeature.jsx
Owners: @Pierre-Gilles

Fix test missing line
  server/test/lib/device/device.checkBatteries.test.js
Owners: @Pierre-Gilles

Add enabled
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/lib/device/device.checkBatteries.js
  server/migrations/20231115163530-default-system-variable-device-battery.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix unit test
  server/seeders/20190227081700-device-feature.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/user/user.getByRole.test.js
Owners: @Pierre-Gilles

Use brain for message
  server/config/brain/battery-threshold/answers.en.json
  server/config/brain/battery-threshold/answers.fr.json
  server/config/scheduler-jobs.js
  server/lib/device/device.checkBatteries.js
Owners: @Pierre-Gilles

Fix null value input
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
Owners: @Pierre-Gilles

Change config system to box mode and change cron check device
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/routes/settings/settings-system/SettingsSystemContainers.jsx
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepAggregatedStates.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepDeviceHistory.jsx
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimeExpiryState.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimezone.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/scheduler-jobs.js
Owners: @Pierre-Gilles

Add warning system for battery level
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/scheduler-jobs.js
  server/lib/device/device.checkBatteries.js
  server/lib/device/index.js
  server/lib/index.js
  server/lib/user/index.js
  server/lib/user/user.getByRole.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Remove disabled on input
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimeExpiryState.jsx
Owners: @Pierre-Gilles

Fix translation
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix review
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
Owners: @Pierre-Gilles

Eslint
  server/lib/device/device.checkBatteries.js
Owners: @Pierre-Gilles

Fix test
  server/test/lib/device/device.checkBatteries.test.js
Owners: @Pierre-Gilles

Fix fr.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add system warning for battery level (#1953)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemBatteryLevelWarning.jsx
  front/src/routes/settings/settings-system/SettingsSystemContainers.jsx
  front/src/routes/settings/settings-system/SettingsSystemDatabaseCleaning.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepAggregatedStates.jsx
  front/src/routes/settings/settings-system/SettingsSystemKeepDeviceHistory.jsx
  front/src/routes/settings/settings-system/SettingsSystemOperations.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimeExpiryState.jsx
  front/src/routes/settings/settings-system/SettingsSystemTimezone.jsx
  front/src/routes/settings/settings-system/index.js
  server/config/brain/battery-threshold/answers.en.json
  server/config/brain/battery-threshold/answers.fr.json
  server/config/scheduler-jobs.js
  server/lib/device/device.checkBatteries.js
  server/lib/device/index.js
  server/lib/index.js
  server/lib/user/index.js
  server/lib/user/user.getByRole.js
  server/migrations/20231115163530-default-system-variable-device-battery.js
  server/seeders/20190227081700-device-feature.js
  server/test/lib/device/device.checkBatteries.test.js
  server/test/lib/user/user.getByRole.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles
