Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Switch the Devices page to its list view below the lg breakpoint
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/style.css
Owners: @Pierre-Gilles

feat(scene): add a "Set a variable" action (#2863)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.css
  front/src/routes/scene/edit-scene/actions/SetVariable.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.setVariable.test.js
  server/test/lib/scene/scene.create.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Remove unused Text import in DeviceMobileItem
  front/src/routes/devices/DeviceMobileItem.jsx
Owners: @Pierre-Gilles

Add network wake functionality to external integrations (#2864)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/components/NetworkWakeSummary.jsx
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/api/controllers/integrationHost.controller.js
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/externalIntegration.wakeOnLan.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/test/api/routes.test.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/externalIntegration.wakeOnLan.test.js
Owners: @Pierre-Gilles

Dashboard: make chart tooltip follow the cursor instead of masking the curves (#2866)
  front/src/components/boxs/chart/ApexChartComponent.jsx
  front/src/components/boxs/chart/ApexChartTimelineOptions.js
  front/src/components/boxs/chart/apexChartTooltipPositioning.js
  front/src/style/index.css
Owners: @Pierre-Gilles

feat(scene): multi-select device features in the device state trigger (#2858)
  docs/specs/device-migration.md
  front/src/components/device/SelectDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/lib/scene/scene.cancelTriggers.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/device/device.migrate.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
Owners: @Pierre-Gilles

feat(integrations): browse categories, facet filters and newest sort in the catalog (spec + implementation) (#2860)
  docs/specs/external-integrations.md
  docs/specs/integration-catalog-categories.md
  front/src/components/app.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/layout/CardFilter.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/calendars.json
  front/src/config/integrations/communications.json
  front/src/config/integrations/devices.json
  front/src/config/integrations/index.js
  front/src/config/integrations/weathers.json
  front/src/routes/integration/IntegrationCategory.jsx
  front/src/routes/integration/IntegrationFacets.jsx
  front/src/routes/integration/IntegrationMenu.jsx
  front/src/routes/integration/IntegrationPage.jsx
  front/src/routes/integration/IntegrationPageHeader.jsx
  front/src/routes/integration/catalog-url.js
  front/src/routes/integration/index.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/lib/external-integration/store/store.getCatalog.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
  server/test/lib/external-integration/store/store.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(front): stop recommending Matterbridge in the integration catalog empty-search suggestion
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add a Devices page listing all instance devices (#2868)
  front/src/components/app.jsx
  front/src/components/header/index.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/EmptyState.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/index.js
  front/src/routes/devices/integrationLinks.js
  front/src/routes/devices/style.css
Owners: @Pierre-Gilles

fix(front): point the empty-search suggestion to external integrations
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

feat(scene): add "Get calendar events" action to announce upcoming events (#2857)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/CalendarGetEvents.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  server/lib/calendar/calendar.findEventsInRange.js
  server/lib/calendar/index.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/calendar/calendar.findEventsInRange.test.js
  server/test/lib/scene/actions/scene.action.getCalendarEvents.test.js
  server/test/lib/scene/scene.create.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(front): repair the broken integrationsByType import in the devices page
  front/src/routes/devices/integrationLinks.js
Owners: @Pierre-Gilles

fix(i18n): correct the wording of the empty-search suggestion in en and de
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
Owners: @Pierre-Gilles

fix(front): recommend external integrations instead of Matterbridge in the catalog empty-search suggestion (#2873)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/integrationLinks.js
Owners: @Pierre-Gilles

feat(mqtt): expose the dynamic select in the MQTT feature catalog
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeaturePreview.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
Owners: @Pierre-Gilles, @atrovato

Add camera PTZ control feature (#2762)
  docs/specs/camera-ptz-control.md
  docs/specs/external-integrations.md
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/CameraPtzControls.jsx
  front/src/components/boxs/camera/EditCamera.jsx
  front/src/components/boxs/camera/style.css
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/CameraMoveDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CameraPresetDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeaturePreview.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/cameraMove.js
  front/src/utils/consts.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

fix(front): align integrations badge with its label in the mobile menu
  front/src/style/index.css
Owners: @Pierre-Gilles

fix(front): keep camera true colors in fullscreen in dark mode
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

Add a per-feature setpoint step, driven by the device (#2783)
  docs/specs/external-integrations.md
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  server/lib/device/device.addFeature.js
  server/lib/external-integration/externalIntegration.getDiscoveredDevices.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/lib/room/room.get.js
  server/lib/room/room.getBySelector.js
  server/migrations/20260806000000-add-device-feature-step.js
  server/models/device_feature.js
  server/test/lib/device/device.addFeature.test.js
  server/test/lib/device/device.create.test.js
  server/test/lib/external-integration/externalIntegration.fieldFeedback.test.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/lib/room/room.test.js
  server/utils/deviceQueryIncludes.js
Owners: @Pierre-Gilles

fix(front): align integrations badge with its label in the mobile menu (#2875)
  front/src/style/index.css
Owners: @Pierre-Gilles

fix(front): keep camera true colors in fullscreen in dark mode (#2876)
  front/src/style/dark-mode.css
Owners: @Pierre-Gilles

feat(device): add text/select feature type with string-valued supported_options (#2869)
  docs/specs/device-feature-categories.md
  docs/specs/external-integrations.md
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/AdaptiveOptionControl.jsx
  front/src/components/boxs/device-in-room/device-features/TextSelectDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/TextDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeaturePreview.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/utils/consts.js
  front/src/utils/deviceFeatureValueOptions.js
  server/lib/device/device.create.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.setValue.js
  server/lib/device/device.syncFeatureSupportedOptions.js
  server/lib/scene/scene.actions.js
  server/migrations/20260814000000-add-device-feature-supported-option-value-string.js
  server/models/device_feature_supported_option.js
  server/test/lib/device/device.create.test.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/lib/device/device.setValue.test.js
  server/test/lib/scene/scene.executeActions.test.js
  server/test/utils/normalizeSupportedOptions.test.js
  server/utils/constants.js
  server/utils/normalizeSupportedOptions.js
Owners: @Pierre-Gilles, @atrovato

Fix water heater boost control overflowing narrow dashboard cards
  front/src/components/boxs/device-in-room/device-features/AdaptiveOptionControl.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
Owners: @Pierre-Gilles

fix(external-integration): address review feedback on the account_link field
  front/cypress/e2e/utils/OAuthUtils.cy.js
  front/src/routes/integration/all/external-integration/config-page/index.js
  server/lib/external-integration/externalIntegration.getConfigForFront.js
  server/lib/external-integration/externalIntegration.getOAuthAuthorizeUrl.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.oauth.test.js
Owners: @Pierre-Gilles

Fix water heater boost control overflowing narrow dashboard cards (#2878)
  front/src/components/boxs/device-in-room/device-features/AdaptiveOptionControl.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
Owners: @Pierre-Gilles

Add an account_link config field for providers that are not OAuth2 (#2879)
  docs/specs/external-integrations.md
  front/cypress/e2e/utils/OAuthUtils.cy.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/utils/oauth.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.getConfigForFront.js
  server/lib/external-integration/externalIntegration.getOAuthAuthorizeUrl.js
  server/lib/external-integration/externalIntegration.validateConfigValue.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.config.test.js
  server/test/lib/external-integration/externalIntegration.oauth.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Owners: @Pierre-Gilles

Add energy-flow telemetry: production power, grid-sensor and home-output-sensor categories (#2880)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

4.86.0 (#2881)
  package-lock.json
  package.json
Owners: @Pierre-Gilles

feat(scene): support more math functions in scene formulas
  front/src/components/scene/FormulaFunctionsHelp.css
  front/src/components/scene/FormulaFunctionsHelp.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DelayActionParams.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/actions/SetVariable.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.formula.js
  server/test/lib/scene/actions/scene.action.formula.test.js
Owners: @Pierre-Gilles

fix(scene): keep formula guards fail-closed with the wider function set
  front/src/components/scene/FormulaFunctionsHelp.css
  front/src/components/scene/FormulaFunctionsHelp.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
  server/test/lib/scene/actions/scene.action.formula.test.js
  server/test/lib/scene/scene.formula.test.js
Owners: @Pierre-Gilles

fix(front): pass the refreshed variable whitelist to initTagify
  front/src/components/scene/TextWithVariablesInjected.jsx
Owners: @Pierre-Gilles

fix(scene): reject non-finite formula results in condition comparisons
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.continueOnlyIf.test.js
Owners: @Pierre-Gilles

fix(server): accept string supported_options values on text/select features published by external integrations
  server/lib/device/index.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.test.js
Owners: @Pierre-Gilles

Accept string supported_options values on text/select features published by external integrations (#2883)
  server/lib/device/index.js
  server/lib/external-integration/externalIntegration.setDiscoveredDevices.js
  server/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/lib/external-integration/externalIntegration.upsertFeatureSupportedOptions.test.js
Owners: @Pierre-Gilles

4.86.1 (#2884)
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Show integration display names on the devices list
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DevicesPage.jsx
  front/src/routes/devices/helpers.jsx
  front/src/routes/devices/index.js
  front/src/routes/devices/integrationLinks.js
  front/src/routes/devices/style.css
Owners: @Pierre-Gilles

Drop the "Open in integration" column from the devices list
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/DevicesPage.jsx
Owners: @Pierre-Gilles

Sort integration filter options by their rendered label
  front/src/routes/devices/index.js
Owners: @Pierre-Gilles

Link the device name to its page in the integration
  front/src/routes/devices/DeviceRow.jsx
Owners: @Pierre-Gilles

ci: make the pull request tests workflow merge-queue ready
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
