Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Fix integrations search with uppercase letters (#1783)
  front/src/actions/integration.js
Owners: @Pierre-Gilles

Calendar: Upgrade react-big-calendar & fix styles (#1777)
  front/package-lock.json
  front/package.json
  front/src/routes/calendar/index.js
  front/src/routes/integration/all/caldav/account-page/AccountTab.css
  front/src/routes/integration/all/caldav/account-page/AccountTab.jsx
  front/src/routes/integration/all/caldav/share-page/ShareTab.css
  front/src/routes/integration/all/caldav/share-page/ShareTab.jsx
  front/src/routes/integration/all/caldav/sync-page/SyncTab.css
  front/src/routes/integration/all/caldav/sync-page/SyncTab.jsx
Owners: @Pierre-Gilles, @bertrandda

Broadlink TV changes (#1738)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/remote-page/features.js
  front/src/utils/consts.js
  server/migrations/20230410123029-broadlink-change-volume-feature.js
  server/services/broadlink/lib/commands/features/broadlink.remote.js
  server/test/services/broadlink/lib/commands/features/broadlink.remote.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Gladys Plus: Improve login experience (#1727)
  front/src/actions/login/loginGateway.js
  front/src/components/gateway/GatewayLoginForm.jsx
Owners: @Pierre-Gilles

Fix Aggregate bug on historical data (#1789)
  server/lib/device/device.saveHistoricalState.js
  server/test/lib/device/device.saveHistoricalState.test.js
Owners: @Pierre-Gilles

Enedis: Add migration to fix existing aggregates
  server/migrations/20230518062954-enedis-reset-aggregate.js
Owners: @Pierre-Gilles

Enedis: Add migration to fix existing aggregates (#1790)
  server/migrations/20230518062954-enedis-reset-aggregate.js
Owners: @Pierre-Gilles

Google Home: Add Curtain/Shutter devices (#1752)
  server/services/google-actions/lib/deviceTypes/googleActions.curtain.type.js
  server/services/google-actions/lib/deviceTypes/googleActions.shutter.type.js
  server/services/google-actions/lib/deviceTypes/index.js
  server/services/google-actions/lib/traits/googleActions.onOff.trait.js
  server/services/google-actions/lib/traits/googleActions.openClose.trait.js
  server/services/google-actions/lib/traits/index.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.curtain.test.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.openCloseTrait.trait.shutter.test.js
Owners: @Pierre-Gilles

Limit decimals and upgrade chart lib
  front/package-lock.json
  front/package.json
  front/src/components/boxs/chart/ApexChartAreaOptions.js
  front/src/components/boxs/chart/ApexChartBarOptions.js
  front/src/components/boxs/chart/ApexChartLineOptions.js
  front/src/components/boxs/chart/ApexChartStepLineOptions.js
  front/src/config/demo.js
Owners: @Pierre-Gilles

MQTT: Add text sensor / topic
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/TextDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/utils/consts.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveStringState.js
  server/lib/room/room.getBySelector.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

4.23.3
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Fix request entity too large bug on save of camera
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

Configure HLS streaming for low-latency
  front/package-lock.json
  front/package.json
  front/src/components/boxs/camera/Camera.jsx
Owners: @Pierre-Gilles

Tweak ffmpeg settings for lower latency
  server/services/rtsp-camera/lib/startStreaming.js
Owners: @Pierre-Gilles

Add Bitrate
  server/services/rtsp-camera/lib/startStreaming.js
Owners: @Pierre-Gilles

Fix tests
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Owners: @Pierre-Gilles

Fix request entity too large bug on save of camera (#1793)
  front/src/routes/integration/all/rtsp-camera/actions.js
Owners: @Pierre-Gilles

Update ffmpeg settings
  server/services/rtsp-camera/lib/startStreaming.js
Owners: @Pierre-Gilles

Fix TP-Link promise warning
  server/services/tp-link/lib/smart-device/index.js
  server/services/tp-link/lib/smart-device/smart-device.getDevices.js
  server/test/services/tp-link/smart-device/smart-device.getDevices.test.js
Owners: @cicoub13

Remove inline style
  front/src/components/app.jsx
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/user-presence/UserPresence.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/components/house/EditRoom.jsx
  front/src/routes/forgot-password/ForgotPasswordPage.jsx
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/FeatureTab.jsx
  front/src/routes/reset-password/ResetPasswordPage.jsx
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/settings/settings-gateway-users/UserRow.js
  front/src/routes/settings/settings-house/EmptySearch.jsx
  front/src/routes/settings/settings-house/HousePage.jsx
Owners: @Pierre-Gilles, @atrovato

Remove unused files
  front/src/actions/dashboard/boxes/userPresence.js
  front/src/components/boxs/device-in-room/DeviceList.jsx
  front/src/components/boxs/device-in-room/EmptyState.jsx
  front/src/components/boxs/device-in-room/RoomCard.jsx
  front/src/routes/device/DevicePage.jsx
  front/src/routes/device/index.js
Owners: @Pierre-Gilles

Remove unaccessible block
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/philips-hue/setup-page/SetupTab.jsx
Owners: @Pierre-Gilles, @VonOx, @hotfix31

Repair test with new state charge
  server/test/services/ecovacs/lib/device/vacbot.setValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Respect eslint rulez
  server/services/ecovacs/api/ecovacs.controller.js
  server/services/ecovacs/index.js
  server/services/ecovacs/lib/commands/ecovacs.listen.js
  server/services/ecovacs/lib/config/ecovacs.saveConfiguration.js
  server/services/ecovacs/lib/device/vacbot.discover.js
  server/services/ecovacs/lib/device/vacbot.getStatus.js
  server/services/ecovacs/lib/device/vacbot.getVacbotObj.js
  server/services/ecovacs/lib/device/vacbot.poll.js
  server/services/ecovacs/lib/device/vacbot.setValue.js
  server/services/ecovacs/lib/event/ecovacs.onMessage.js
  server/services/ecovacs/lib/utils/ecovacs.externalId.js
  server/test/services/ecovacs/lib/device/vacbot.setValue.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Use stream access key on Gladys Plus
  front/package-lock.json
  front/package.json
  front/src/components/boxs/camera/Camera.jsx
  server/services/rtsp-camera/lib/startStreaming.js
Owners: @Pierre-Gilles

Configure HLS streaming for low-latency (#1794)
  front/package-lock.json
  front/package.json
  front/src/components/boxs/camera/Camera.jsx
  server/services/rtsp-camera/lib/startStreaming.js
  server/test/services/rtsp-camera/rtspCamera.streaming.test.js
Owners: @Pierre-Gilles

4.23.4
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Zigbee2mqtt: Add PM2.5 & formaldehyd features
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/numericType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Fix unit
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Owners: @Pierre-Gilles

Add PM2.5/formaldehyd badges
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
Owners: @Pierre-Gilles

MQTT: Add text sensor / topic (#1791)
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/TextDeviceValue.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  front/src/utils/consts.js
  server/lib/device/device.newStateEvent.js
  server/lib/device/device.saveStringState.js
  server/lib/room/room.getBySelector.js
  server/services/mqtt/lib/handler/handleGladysMessage.js
  server/test/lib/device/device.newStateEvent.test.js
  server/test/services/mqtt/lib/handleNewMessage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Change display edit description
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/style.css
Owners: @Pierre-Gilles

Improve scene UI/UX (drag and drop/responsive)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/EmptyDropZone.jsx
  front/src/routes/scene/edit-scene/SceneActionsDropdown.jsx
  front/src/routes/scene/edit-scene/index.js
  front/src/routes/scene/edit-scene/style.css
Owners: @Pierre-Gilles

Add button to delete action group
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionGroup.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
  front/src/routes/scene/edit-scene/SceneActionsDropdown.jsx
  front/src/routes/scene/edit-scene/TriggerGroup.jsx
  front/src/routes/scene/edit-scene/index.js
Owners: @Pierre-Gilles

Fix layout
  front/cypress/e2e/routes/scene/Scene.cy.js
  front/src/routes/scene/SceneCard.jsx
  front/src/routes/scene/edit-scene/EditScenePage.jsx
Owners: @Pierre-Gilles

Modification related to prettier / eslint / compare-translations
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/VacbotModeDeviceFeature.jsx
  front/src/components/boxs/vacbot/EditVacbot.jsx
  front/src/components/boxs/vacbot/Vacbot.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/ecovacs/device-page/index.js
  front/src/routes/integration/all/ecovacs/discover-page/index.js
  front/src/routes/integration/all/ecovacs/setup-page/index.js
Owners: @Pierre-Gilles

Modification related to prettier / eslint / compare-translations
  front/src/actions/dashboard/boxes/vacbot.js
Owners: @Pierre-Gilles

Test and translation
  front/src/components/app.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/tuya/TuyaDeviceBox.jsx
  front/src/routes/integration/all/tuya/actions.js
  front/src/routes/integration/all/tuya/edit-page/index.js
  front/src/routes/integration/all/tuya/setup-page/SetupTab.jsx
  front/src/routes/integration/all/tuya/setup-page/index.js
  server/services/tuya/README.md
  server/services/tuya/index.js
  server/services/tuya/lib/device/feature/tuya.convertFeature.js
  server/services/tuya/lib/device/tuya.convertDevice.js
  server/services/tuya/lib/index.js
  server/services/tuya/lib/pulsar/config.js
  server/services/tuya/lib/pulsar/index.js
  server/services/tuya/lib/pulsar/utils.js
  server/services/tuya/lib/tuya.connect.js
  server/services/tuya/lib/tuya.discoverDevices.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/services/tuya/lib/tuya.loadDevices.js
  server/services/tuya/lib/tuya.setValue.js
  server/services/tuya/lib/utils/tuya.constants.js
  server/test/services/tuya/index.test.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/tuya.connect.test.js
  server/test/services/tuya/lib/tuya.disconnect.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
  server/test/services/tuya/lib/tuya.getConfiguration.test.js
  server/test/services/tuya/lib/tuya.init.test.js
  server/test/services/tuya/lib/tuya.loadDeviceDetails.test.js
  server/test/services/tuya/lib/tuya.saveConfiguration.test.js
  server/test/services/tuya/lib/tuya.setValue.test.js
Owners: @Pierre-Gilles

prettier
  front/src/components/app.jsx
Owners: @Pierre-Gilles

Add coverage
  server/services/tuya/api/tuya.controller.js
  server/services/tuya/lib/tuya.loadDeviceDetails.js
  server/test/services/tuya/lib/controllers/tuya.controller.test.js
  server/test/services/tuya/lib/device/feature/tuya.convertFeature.test.js
  server/test/services/tuya/lib/tuya.discoverDevices.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
