Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Fix /data ownership of external integration containers
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.createIntegrationContainer.js
  server/lib/external-integration/externalIntegration.ensureDataFolder.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.ensureDataFolder.test.js
Owners: @Pierre-Gilles

fix(external-integration): address weather PR review feedback
  docs/specs/external-integrations.md
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  server/lib/external-integration/externalIntegration.normalizeWeather.js
  server/lib/weather/weather.get.js
  server/test/lib/external-integration/externalIntegration.weather.test.js
  server/test/lib/weather/weather.get.test.js
Owners: @Pierre-Gilles

Add generic AI provider external integration type
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/AiModelSelector.jsx
  front/src/routes/integration/all/external-integration/ExternalIntegrationPage.jsx
  front/src/routes/integration/all/external-integration/install-from-github/InstallFromGithubCard.jsx
  front/src/routes/integration/all/external-integration/install-page/index.js
  front/src/routes/integration/all/openai/AiProviderSettings.jsx
  front/src/routes/integration/all/openai/index.js
  front/src/routes/integration/index.js
  server/api/controllers/externalIntegration.controller.js
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.aiChat.js
  server/lib/external-integration/externalIntegration.getAiProviders.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.setAiProvider.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/index.js
  server/lib/external-integration/manifest.schema.json
  server/lib/gateway/gateway.aiChat.js
  server/lib/message/message.create.js
  server/test/controllers/externalIntegration/aiProvider.controller.test.js
  server/test/lib/external-integration/externalIntegration.aiProvider.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/gateway/gateway.aiChat.unit.test.js
  server/test/lib/message/message.create.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Prepare sub-container volume bind sources and update the living spec
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.createSubContainer.js
  server/lib/external-integration/externalIntegration.ensureSubContainerVolumes.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.ensureDataFolder.test.js
  server/test/lib/external-integration/externalIntegration.ensureSubContainerVolumes.test.js
Owners: @Pierre-Gilles

fix(weather): address second review round on the weather provider PR
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  server/lib/weather/weather.command.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

Address PR review comments on AI provider integration
  docs/specs/external-integrations.md
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  server/lib/external-integration/externalIntegration.aiChat.js
  server/lib/external-integration/externalIntegration.setAiProvider.js
  server/lib/gateway/gateway.aiChat.js
  server/test/lib/external-integration/externalIntegration.aiProvider.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/message/message.create.test.js
Owners: @Pierre-Gilles

refactor: rename injected MCP encoder from toon to encode
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/index.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

feat: replace TOON with GCF for MCP tool responses
  server/services/mcp/index.js
  server/services/mcp/package-lock.json
  server/services/mcp/package.json
Owners: @Pierre-Gilles

test: add GCF round-trip and handler-level integration tests
  server/test/services/mcp/lib/gcf-integration.test.js
Owners: @Pierre-Gilles

test(weather): derive every date of the chat command tests from one clock baseline
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

Add workflow_dispatch to trigger Cursor automation webhooks
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

Fix external integration install on kernels without CPU CFS scheduler (Synology) (#2742)
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.buildContainerDescriptor.js
  server/lib/external-integration/externalIntegration.buildSubContainerDescriptor.js
  server/lib/system/index.js
  server/lib/system/system.hasCpuCfsSupport.js
  server/test/lib/external-integration/externalIntegration.buildContainerDescriptor.test.js
  server/test/lib/external-integration/externalIntegration.buildSubContainerDescriptor.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.hasCpuCfsSupport.test.js
Owners: @Pierre-Gilles

Fix /data ownership of external integration containers (#2743)
  docs/specs/external-integrations.md
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.createIntegrationContainer.js
  server/lib/external-integration/externalIntegration.createSubContainer.js
  server/lib/external-integration/externalIntegration.ensureDataFolder.js
  server/lib/external-integration/externalIntegration.ensureSubContainerVolumes.js
  server/lib/external-integration/index.js
  server/test/lib/external-integration/externalIntegration.ensureDataFolder.test.js
  server/test/lib/external-integration/externalIntegration.ensureSubContainerVolumes.test.js
Owners: @Pierre-Gilles

Only log Cursor webhook response body on failure
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

Add workflow_dispatch to trigger Cursor automation webhooks (#2747)
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

Raise external integration discovery limit to 2000 devices
  docs/specs/external-integrations.md
  server/api/middlewares/jsonBodyMiddleware.js
  server/lib/external-integration/constants.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/middlewares/jsonBodyMiddleware.test.js
Owners: @Pierre-Gilles

Add a search filter to the external integration Discovery screen
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/external-integration/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/external-integration/discover-page/index.js
Owners: @Pierre-Gilles

feat(device-feature): add a first-class DOORBELL category with a RING type
  front/src/components/boxs/device-in-room/device-features/sensor-value/DoorbellRingDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DoorbellRingDeviceState.jsx
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

fix(weather): address the soft residuals of the approving review
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/routes/integration/all/external-integration/install-page/index.js
  server/lib/weather/weather.command.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

Address PR #2746 review: renumber to B.20, uninstall cleanup, test sandbox fix
  docs/specs/external-integrations.md
  front/src/routes/integration/all/external-integration/device-page/index.js
  front/src/routes/integration/all/external-integration/discover-page/index.js
  front/src/routes/integration/all/external-integration/utils.js
  front/src/routes/integration/index.js
  front/src/routes/settings/settings-system/SettingsSystemTtsProvider.jsx
  server/api/routes.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.registerProxyService.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/tts/index.js
  server/lib/tts/tts.getLocalApiBaseUrl.js
  server/lib/tts/tts.getProviderConfiguration.js
  server/lib/tts/tts.getSpeechUrl.js
  server/test/controllers/tts/tts.controller.test.js
  server/test/lib/external-integration/externalIntegration.ttsProvider.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/tts/tts.getLocalApiBaseUrl.test.js
  server/test/lib/tts/tts.getProviderConfiguration.test.js
  server/test/lib/tts/tts.getSpeechUrl.test.js
  server/test/lib/tts/tts.purgeExpiredAudios.test.js
  server/test/lib/tts/tts.setActiveProvider.test.js
Owners: @Pierre-Gilles

Move the provider display-name test to the mirrored test file
  server/test/lib/tts/tts.getProviderConfiguration.test.js
  server/test/lib/tts/tts.setActiveProvider.test.js
Owners: @Pierre-Gilles

Trigger Cursor automation when needs:cursor-review is added
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

Trigger Cursor automation on needs:cursor-review label (#2749)
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

fix: upgrade handlebars to 4.7.9 (CVE-2026-33937) (#2741)
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Guard createDevice against a discovered list refreshed mid-click
  front/src/routes/integration/all/external-integration/discover-page/index.js
Owners: @Pierre-Gilles

Restate AI provider trust warning at selection and hide misleading Plus upsell
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/AiProviderSettings.jsx
  front/src/routes/integration/all/openai/index.js
Owners: @Pierre-Gilles

Address second review round: LAN URL interface filtering, narrower spec banner
  docs/specs/external-integrations.md
  server/lib/tts/tts.getLocalApiBaseUrl.js
  server/test/lib/tts/tts.getLocalApiBaseUrl.test.js
Owners: @Pierre-Gilles

Keep AI page Plus messaging in sync with provider selection
  front/src/routes/integration/all/openai/AiProviderSettings.jsx
  front/src/routes/integration/all/openai/index.js
Owners: @Pierre-Gilles

Increase device discovery limit from 200 to 2000 devices (#2748)
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/discover-page/DiscoverTab.jsx
  front/src/routes/integration/all/external-integration/discover-page/DiscoveredBox.jsx
  front/src/routes/integration/all/external-integration/discover-page/index.js
  server/api/middlewares/jsonBodyMiddleware.js
  server/lib/external-integration/constants.js
  server/test/controllers/integrationHost/integrationHost.controller.test.js
  server/test/lib/external-integration/externalIntegration.setDiscoveredDevices.test.js
  server/test/middlewares/jsonBodyMiddleware.test.js
Owners: @Pierre-Gilles

Hide Plus quota and success banner when an external AI provider is active
  front/src/routes/integration/all/openai/index.js
Owners: @Pierre-Gilles

Move the TTS provider selector to the AI integration page
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/openai/TtsProviderSettings.jsx
  front/src/routes/integration/all/openai/index.js
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
Owners: @Pierre-Gilles

Add while loop action to scenes (condition.while)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ChooseActionTypeCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/device/device.migrate.js
  server/lib/scene/scene.actions.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Point the TTS install alert to the AI integration page
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix while loop: live device values in conditions, and review fixes
  front/src/routes/scene/edit-scene/ActionCard.jsx
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/device/device.migrate.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
Owners: @Pierre-Gilles

Check the while loop iteration limit before evaluating conditions
  front/src/routes/scene/edit-scene/actions/ConditionWhile.jsx
  front/src/routes/scene/edit-scene/index.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.conditionWhile.test.js
Owners: @Pierre-Gilles

feat(front): bump @gladysassistant/theme-optimized to 2.0.0 (Lucide icons)
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Add deviceFeatureValue i18n maps for the new AC feature types (fan speed, swing)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

feat(device-feature): add a DOORBELL category with a RING type (#2745)
  front/src/components/boxs/device-in-room/device-features/sensor-value/DoorbellRingDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/DoorbellRingDeviceState.jsx
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Make a variable declared by a condition usable in the branches
  front/src/routes/scene/edit-scene/sceneUtils.js
  server/lib/scene/scene.actions.js
  server/test/lib/scene/actions/scene.action.conditionIfThenElse.test.js
Owners: @Pierre-Gilles

feat(front): add a searchable, shared icon selector for scenes
  front/src/components/gateway/GladysPlusUpsellCard.jsx
  front/src/components/scene/IconSelector.css
  front/src/components/scene/IconSelector.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/duplicate-scene/DuplicateScenePage.jsx
  front/src/routes/scene/duplicate-scene/style.css
  front/src/routes/scene/edit-scene/Settings.jsx
  front/src/routes/scene/edit-scene/style.css
  front/src/routes/scene/new-scene/NewScenePage.jsx
  front/src/routes/scene/new-scene/style.css
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
