Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

rename function
  front/src/components/boxs/device-in-room/DevicesBox.jsx
Owners: @Pierre-Gilles

Merge
  front/src/routes/integration/all/zwave-js-ui/discover-page/Node.jsx
  front/src/routes/integration/all/zwave-js-ui/discover-page/NodeTab.jsx
  front/src/routes/integration/all/zwave-js-ui/settings-page/SettingsTab.jsx
  server/services/zwave-js-ui/lib/events/handleMqttMessage.js
  server/services/zwave-js-ui/lib/events/valueAdded.js
  server/services/zwave-js-ui/lib/events/valueNotification.js
  server/services/zwave-js-ui/lib/events/valueUpdated.js
Owners: @Pierre-Gilles

Merge
  server/services/overkiz/lib/client/overkiz.api.js
  server/services/overkiz/lib/client/overkiz.cozytouch.js
Owners: @Pierre-Gilles

fix spelling mistakes
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

docker change
  docker/Dockerfile
  docker/Dockerfile.buildx
  docker/asoundrc
  server/lib/speaker/config/.asoundrc
  server/lib/speaker/utils/speaker.buildSpeakerStream.js
  server/package-lock.json
  server/package.json
  server/services/music-file/lib/musicFile.getReadStream.js
  server/services/music-file/package-lock.json
  server/services/music-file/package.json
  server/services/radio/lib/radio.getReadStream.js
  server/services/radio/package-lock.json
  server/services/radio/package.json
  server/test/lib/speaker/utils/speaker.buildSpeakerStream.test.js
Owners: @VonOx, @Pierre-Gilles

create radio service
  front/src/assets/integrations/cover/radio.jpg
  front/src/assets/integrations/icons/radio.jpg
  front/src/components/app.jsx
  front/src/components/boxs/music-player/MusicPlayer.jsx
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/musics.json
  front/src/routes/integration/all/radio/RadioPage.jsx
  front/src/routes/integration/all/radio/actions.js
  front/src/routes/integration/all/radio/index.js
  server/services/index.js
  server/services/radio/api/radio.controller.js
  server/services/radio/index.js
  server/services/radio/lib/index.js
  server/services/radio/lib/radio.getCapabilities.js
  server/services/radio/lib/radio.getReadStream.js
  server/services/radio/lib/radio.getStationByStationUUID.js
  server/services/radio/lib/radio.getStationsByCountry.js
  server/services/radio/lib/radio.play.js
  server/services/radio/lib/utils/radio.constants.js
  server/services/radio/lib/utils/radio.getAvailableCountry.js
  server/services/radio/package-lock.json
  server/services/radio/package.json
  server/test/services/radio/index.test.js
Owners: @Pierre-Gilles

Update DB migration scriptdate
  server/migrations/20230816115900-update-scene-actions-device-features.js
Owners: @Pierre-Gilles

Migration test
  server/test/lib/device/device.update_scene_actions_device_features.test.js
Owners: @Pierre-Gilles

Add Sunspec isUsed
  server/services/sunspec/index.js
Owners: @Pierre-Gilles

Lan-manager fix spelling mistakes (#1841)
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix refresh of device feature list in edit mode
  front/src/components/boxs/device-in-room/EditDevices.jsx
Owners: @Pierre-Gilles

Fix tests mired conversion
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
Owners: @Pierre-Gilles

Add tests on min/max values
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
Owners: @Pierre-Gilles

Google Home: Convert Mired temperature color to Kelvin (#1837)
  server/services/google-actions/lib/traits/googleActions.colorSetting.trait.js
  server/test/services/google-actions/lib/smarthome/devices_and_traits/googleActions.colorSetting.trait.colorTemp.test.js
  server/utils/colors.js
Owners: @Pierre-Gilles

Upgrade ApexCharts to 3.41.1
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

Fix Mosquitto container version to 2.0.15
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/lib/constants.js
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Owners: @atrovato, @Pierre-Gilles

Fix Mosquitto container version to 2.0.15 (#1844)
  server/services/mqtt/docker/eclipse-mosquitto-container.json
  server/services/mqtt/lib/constants.js
  server/services/zigbee2mqtt/docker/gladys-z2m-mqtt-container.json
  server/services/zigbee2mqtt/lib/constants.js
Owners: @atrovato, @Pierre-Gilles

Upgrade ApexCharts to v3.41.1 (#1843)
  front/package-lock.json
  front/package.json
Owners: @Pierre-Gilles

4.26.1
  package-lock.json
  package.json
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/handleMqttMessage.test.js
Owners: @Pierre-Gilles

Tests
  server/test/services/zwave-js-ui/lib/events/valueAdded.test.js
  server/test/services/zwave-js-ui/lib/zwaveManager.test.js
Owners: @Pierre-Gilles

Fix Mosquitto container version to 2.0.15 #1844
  server/services/zwave-js-ui/docker/gladys-zwavejsui-mqtt-container.json
Owners: @Pierre-Gilles

fix spelling mistake on nextcloudTalk integration
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix other spelling mistake on nextcloudTalk integration
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

fix spelling mistake on Tuya integration
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

add 'via le cloud' on Tuya integration and fix others spelling mistakes
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Add legacy tags test
  .github/workflows/legacy-tags.yml
Owners: @VonOx, @Pierre-Gilles

Add docker login
  .github/workflows/legacy-tags.yml
Owners: @VonOx, @Pierre-Gilles

Fix legacy tags build
  .github/workflows/docker-release-build.yml
  .github/workflows/legacy-tags.yml
Owners: @VonOx, @Pierre-Gilles

Add ability to set custom name/position in device widget (#1838)
  front/src/actions/dashboard/boxes/devicesInRoom.js
  front/src/components/boxs/device-in-room/DeviceCard.jsx
  front/src/components/boxs/device-in-room/DeviceListWithDragAndDrop.jsx
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/DevicesBox.jsx
  front/src/components/boxs/device-in-room/DevicesInRoomsBox.jsx
  front/src/components/boxs/device-in-room/EditDevices.jsx
  front/src/components/boxs/device-in-room/device-features/AirConditioningModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/LightTemperatureDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/MultiLevelDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/NumberDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/style.css
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/models/dashboard.js
Owners: @Pierre-Gilles

Tuya/NextCloud Talk: Fix spelling mistakes (#1845)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Camera Streaming: Fix validation of session_id and filename
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/utils/validateStreamParams.js
  server/test/services/rtsp-camera/controllers/rtspCamera.controller.test.js
Owners: @Pierre-Gilles

Fix legacy tags release build (#1846)
  .github/workflows/docker-release-build.yml
Owners: @VonOx, @Pierre-Gilles

Camera Streaming: Fix validation of session_id and filename (#1847)
  server/services/rtsp-camera/api/rtspCamera.controller.js
  server/services/rtsp-camera/utils/validateStreamParams.js
  server/test/services/rtsp-camera/controllers/rtspCamera.controller.test.js
Owners: @Pierre-Gilles

Add IKEA Tradfri On/Off E1743 Switch
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add IKEA Tradfri On/Off E1743 Switch (#1848)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/utils/convertDevice.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add IKEA Styrbar button
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add IKEA Styrbar button (#1851)
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/services/zigbee2mqtt/exposes/enumType.js
  server/utils/constants.js
Owners: @Pierre-Gilles

prettier
  front/src/components/app.jsx
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
