Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

feat(system): reboot/shutdown host without a mounted D-Bus socket
  server/lib/system/index.js
  server/lib/system/system.detectHostPowerManagement.js
  server/lib/system/system.getGladysImageName.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.init.js
  server/lib/system/system.isHostPowerManagementAvailable.js
  server/lib/system/system.rebootHost.js
  server/lib/system/system.runHostPowerDbusCommand.js
  server/lib/system/system.shutdownHost.js
  server/test/lib/system/system.detectHostPowerManagement.test.js
  server/test/lib/system/system.getGladysImageName.test.js
  server/test/lib/system/system.hostPower.test.js
  server/test/lib/system/system.isHostPowerManagementAvailable.test.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

feat(system): reboot / shutdown the host from the System settings
  docker/Dockerfile
  docker/Dockerfile.buildx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemHostPower.jsx
  front/src/routes/settings/settings-system/SettingsSystemPage.jsx
  front/src/style/dark-mode.css
  server/api/controllers/system.controller.js
  server/api/routes.js
  server/lib/system/index.js
  server/lib/system/system.getInfos.js
  server/lib/system/system.isHostPowerManagementAvailable.js
  server/lib/system/system.rebootHost.js
  server/lib/system/system.shutdownHost.js
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/system.hostPower.test.js
  server/test/lib/system/system.isHostPowerManagementAvailable.test.js
Owners: @VonOx, @Pierre-Gilles

fix(system): address Cursor review on host reboot/shutdown
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-system/SettingsSystemHostPower.jsx
  server/api/controllers/system.controller.js
  server/lib/system/index.js
  server/lib/system/system.detectHostPowerManagement.js
  server/lib/system/system.getGladysImageName.js
  server/lib/system/system.runHostPowerDbusCommand.js
  server/test/controllers/system/system.controller.test.js
  server/test/lib/system/system.detectHostPowerManagement.test.js
  server/test/lib/system/system.getGladysImageName.test.js
  server/test/lib/system/system.runHostPowerDbusCommand.test.js
Owners: @Pierre-Gilles

chore(docker): use dbus-bin instead of dbus in the image
  docker/Dockerfile
  docker/Dockerfile.buildx
Owners: @VonOx

fix(system): acknowledge reboot/shutdown before triggering it
  server/api/controllers/system.controller.js
  server/test/controllers/system/system.controller.test.js
Owners: @Pierre-Gilles

feat(device-feature): implement the water-heater category
  AGENTS.md
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/SetpointDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/WaterHeaterModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/device/SelectWaterHeaterMode.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/history/categoryGroups.js
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterHeaterModeDeviceState.jsx
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

docs(i18n): restore the original escaping of an untouched German string
  front/src/config/i18n/de.json
Owners: @Pierre-Gilles

fix(water-heater): address cold-review findings on the frontend wiring
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/WaterHeaterModeDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

fix(water-heater): apply the second review pass
  AGENTS.md
  front/src/config/i18n/de.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

feat(external-integration): add an account_link config field for providers that are not OAuth2
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.getConfigForFront.js
  server/lib/external-integration/externalIntegration.getOAuthAuthorizeUrl.js
  server/lib/external-integration/externalIntegration.validateConfigValue.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.config.test.js
  server/test/lib/external-integration/externalIntegration.oauth.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Owners: @Pierre-Gilles

feat(external-integration): add an account_link config field for providers that are not OAuth2
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.getConfigForFront.js
  server/lib/external-integration/externalIntegration.getOAuthAuthorizeUrl.js
  server/lib/external-integration/externalIntegration.validateConfigValue.js
  server/lib/external-integration/externalIntegration.validateManifest.js
  server/lib/external-integration/manifest.schema.json
  server/test/lib/external-integration/externalIntegration.config.test.js
  server/test/lib/external-integration/externalIntegration.oauth.test.js
  server/test/lib/external-integration/externalIntegration.validateManifest.test.js
Owners: @Pierre-Gilles

fix(external-integration): reject active URL schemes and hide Save on account-link-only schemas
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/utils/oauth.js
Owners: @Pierre-Gilles

fix(external-integration): reject active URL schemes and hide Save on account-link-only schemas
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
  front/src/utils/oauth.js
Owners: @Pierre-Gilles

docs: document supported_options in the external-integrations spec
  docs/specs/external-integrations.md
  docs/specs/water-heater.md
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
Owners: @Pierre-Gilles

fix(water-heater): honour supported_options in the scene editors
  docs/specs/external-integrations.md
  front/src/components/device/SelectWaterHeaterMode.jsx
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterHeaterModeDeviceState.jsx
Owners: @Pierre-Gilles

fix(water-heater): resolve the selected mode against the offered options
  front/src/components/device/SelectWaterHeaterMode.jsx
  front/src/routes/scene/edit-scene/triggers/device-states/WaterHeaterModeDeviceState.jsx
Owners: @Pierre-Gilles

fix(external-integration): drop the QR code from the account_link field
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
Owners: @Pierre-Gilles

fix(external-integration): drop the QR code from the account_link field
  docs/specs/external-integrations.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/index.js
Owners: @Pierre-Gilles

fix(external-integration): render the connection message for the integration, not inside one field
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
Owners: @Pierre-Gilles

fix(external-integration): render the connection message for the integration, not inside one field
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
Owners: @Pierre-Gilles

fix(external-integration): show the connection state on the Configuration screen of every integration
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
Owners: @Pierre-Gilles

fix(external-integration): show the connection state on the Configuration screen of every integration
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
  front/src/routes/integration/all/external-integration/config-page/ConfigTab.jsx
Owners: @Pierre-Gilles

fix(external-integration): drop the connectionStatus prop the field no longer uses
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
Owners: @Pierre-Gilles

fix(external-integration): drop the connectionStatus prop the field no longer uses
  front/src/routes/integration/all/external-integration/config-page/ConfigSchemaForm.jsx
Owners: @Pierre-Gilles

fix(homekit): expose CO2 sensors reporting a binary state
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

test(homekit): cover every line of the sensor mappings
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/deviceMappings.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(homekit): expose light, CO, CO2 and air quality sensors
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

Address PR review feedback on camera PTZ control
  docs/specs/camera-ptz-control.md
  front/src/components/boxs/camera/Camera.jsx
  front/src/components/boxs/camera/CameraPtzControls.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/CameraMoveDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/setup/Feature.jsx
  front/src/routes/integration/all/mqtt/device-page/setup/index.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Add HS1SA-E features
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/SirenForAutomationOnlyDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/device/SelectSirenForAutomationOnly.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/DeviceSetValue.jsx
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix(front): render the jobs link in the "too much states to delete" alert (#2777)
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/matter/MatterDeviceBox.jsx
  front/src/routes/integration/all/mqtt/device-page/DeviceListItem.jsx
Owners: @Pierre-Gilles, @atrovato

Thermostat: add mode and operating-state feature types (#2752)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/SupportedFeatureTypes.jsx
  front/src/components/boxs/device-in-room/device-features/ThermostatModeDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/ThermostatOperatingStateDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/test/utils/constants.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

Slice the device migration history move and cut its passes over DuckDB (#2778)
  docs/specs/device-migration.md
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/settings/settings-background-jobs/JobData.jsx
  server/lib/device/device.migrate.js
  server/lib/device/device.purgeStatesByFeatureId.js
  server/lib/device/index.js
  server/models/job.js
  server/test/lib/device/device.migrate.test.js
  server/test/lib/device/device.purgeStatesByFeatureId.test.js
Owners: @Pierre-Gilles

feat(homekit): expose light, CO, CO2 and air quality sensors (#2781)
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/deviceMappings.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix: CVE-2023-22578 security vulnerability
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

refactor(water-heater): rename the ABSENCE mode to AWAY
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/device-features/WaterHeaterModeDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/utils/constants.js
Owners: @Pierre-Gilles

Order STOP after MOVE in the devices-in-room camera row
  docs/specs/camera-ptz-control.md
  front/src/components/boxs/device-in-room/device-features/CameraMoveDeviceFeature.jsx
Owners: @Pierre-Gilles

Serialize standalone STOP with the next camera move
  docs/specs/camera-ptz-control.md
  front/src/components/boxs/camera/CameraPtzControls.jsx
  front/src/components/boxs/device-in-room/device-features/CameraMoveDeviceFeature.jsx
Owners: @Pierre-Gilles

Chain consecutive standalone camera STOPs
  docs/specs/camera-ptz-control.md
  front/src/components/boxs/camera/CameraPtzControls.jsx
  front/src/components/boxs/device-in-room/device-features/CameraMoveDeviceFeature.jsx
Owners: @Pierre-Gilles

Address review: serialize alert checks, day fallback, image pre-check
  docs/specs/external-integrations.md
  server/lib/external-integration/externalIntegration.normalizeWeatherImage.js
  server/lib/weather/index.js
  server/lib/weather/weather.checkAlerts.js
  server/lib/weather/weather.command.js
  server/test/lib/external-integration/externalIntegration.weather.test.js
  server/test/lib/weather/weather.checkAlerts.test.js
  server/test/lib/weather/weather.command.test.js
Owners: @Pierre-Gilles

feat(homekit): expose sirens as a Switch
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
