Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

Add 1 dec place to RoomTemperaturBox
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Owners: @Pierre-Gilles

test: Temperature box test
  front/cypress/integration/routes/dashboard/DashboardTemperatureBox.js
Owners: @Pierre-Gilles

test: typo
  front/cypress/integration/routes/dashboard/DashboardTemperatureBox.js
Owners: @Pierre-Gilles

Change door opening sensor icon to a lock (#1589)
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Add 1 decimal to temperature in room dashboard box (#1594)
  front/cypress/integration/routes/dashboard/DashboardTemperatureBox.js
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Owners: @Pierre-Gilles

Brain: Improve french camera questions (#1586)
  server/config/brain/camera/questions.fr.json
Owners: @Pierre-Gilles

Fix #1490: Dashboard charts now display a lighter loader on live data (#1580)
  front/src/components/boxs/chart/Chart.jsx
  front/src/style/index.css
Owners: @Pierre-Gilles

Add new shutter/curtain type of device (#1576)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/CoverDeviceFeature.jsx
  front/src/config/demo.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Tasmota: Manage array values (#1571)
  server/services/tasmota/lib/features/colorChannel.js
  server/services/tasmota/lib/features/index.js
  server/services/tasmota/lib/mqtt/tasmota.mqtt.subStatus.js
  server/services/tasmota/lib/utils/tasmota.featureStatus.js
  server/test/services/tasmota/lib/device-creation/SonoffDualR3.json
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-SonoffDualR3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/new-state/tasmota.mqtt.handleMessage.newState-arrayValue.test.js
Owners: @atrovato

Caldav: Sync deleted events (#1549)
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
Owners: @bertrandda

Zigbee2mqtt add signal quality
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
Owners: @Pierre-Gilles

Change lqi to linkquality
  server/services/zigbee2mqtt/exposes/numericType.js
  server/test/services/zigbee2mqtt/exposes/numericType.test.js
Owners: @Pierre-Gilles

Don't display relative time in the future on background jobs screen
  front/src/routes/settings/settings-background-jobs/JobList.jsx
Owners: @Pierre-Gilles

Add Enedis configuration page in Gladys Plus
  front/package-lock.json
  front/package.json
  front/src/components/app.jsx
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/enedis-button.png
  front/src/routes/integration/all/enedis-gateway/index.js
Owners: @Pierre-Gilles

Add Enedis API server side
  server/lib/gateway/enedis/gateway.enedisGetConsumptionLoadCurve.js
  server/lib/gateway/enedis/gateway.enedisGetDailyConsumption.js
  server/lib/gateway/enedis/gateway.enedisGetDailyConsumptionMaxPower.js
  server/lib/gateway/index.js
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

Rework Enedis UI and add i18n
  front/src/assets/integrations/cover/enedis.jpg
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/enedis-gateway/index.js
Owners: @Pierre-Gilles

Add tests to Enedis API
  server/test/lib/gateway/GladysGatewayClientMock.test.js
  server/test/lib/gateway/gateway.enedis.test.js
Owners: @Pierre-Gilles

Add tests on axios errors
  server/test/lib/gateway/gateway.enedis.test.js
Owners: @Pierre-Gilles

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Delete docker-image.yml
  .github/workflows/docker-image.yml
Owners: @VonOx, @Pierre-Gilles

Rollback to lockversion1
  front/package-lock.json
Owners: @Pierre-Gilles

Force signal feature with max = 5
  server/services/zigbee2mqtt/exposes/numericType.js
  server/services/zigbee2mqtt/utils/features/buildFeature.js
  server/test/services/zigbee2mqtt/lib/payloads/event_device_result.json
Owners: @Pierre-Gilles

Rename cache variable: houses for housesWithRooms
  front/src/routes/integration/all/broadlink/device-page/DeviceBox.jsx
  front/src/routes/integration/all/broadlink/device-page/DeviceTab.jsx
  front/src/routes/integration/all/broadlink/device-page/actions.js
  front/src/routes/integration/all/broadlink/device-page/index.js
  front/src/routes/integration/all/broadlink/peripheral-page/Peripheral.jsx
  front/src/routes/integration/all/broadlink/peripheral-page/PeripheralTab.jsx
  front/src/routes/integration/all/broadlink/peripheral-page/actions.js
  front/src/routes/integration/all/broadlink/peripheral-page/index.js
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreation.jsx
  front/src/routes/integration/all/broadlink/remote-page/index.js
Owners: @Pierre-Gilles

Fix eslint with new rules
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkDeviceList.js
  front/cypress/integration/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.js
  front/src/routes/integration/all/broadlink/BroadlinkPage.js
Owners: @Pierre-Gilles

Fix broadlink save page
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreation.jsx
Owners: @Pierre-Gilles

Improve responsive
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Fix missing min/max
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreation.jsx
Owners: @Pierre-Gilles

Remove deice features on remote
  server/services/broadlink/lib/commands/features/broadlink.remote.js
  server/test/services/broadlink/lib/commands/features/broadlink.remote.test.js
Owners: @Pierre-Gilles

Fix remote detection
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkEditRemote.js
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreation.jsx
  front/src/routes/integration/all/broadlink/remote-page/index.js
  server/services/broadlink/lib/utils/broadlink.constants.js
Owners: @Pierre-Gilles

Remove success page
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkDeviceList.js
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkEditRemote.js
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.js
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.js
  front/cypress/integration/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreation.jsx
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreationSuccess.jsx
Owners: @Pierre-Gilles

Add model to device page
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkDeviceList.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/device-page/DeviceBox.jsx
  front/src/routes/integration/all/broadlink/device-page/DeviceTab.jsx
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreation.jsx
Owners: @Pierre-Gilles

Add missing await
  server/services/broadlink/lib/learn/broadlink.learn.js
Owners: @Pierre-Gilles

Add rooms on discover page
  front/cypress/integration/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.js
  front/src/routes/integration/all/broadlink/peripheral-page/Peripheral.jsx
  front/src/routes/integration/all/broadlink/peripheral-page/PeripheralTab.jsx
  front/src/routes/integration/all/broadlink/peripheral-page/actions.js
  front/src/routes/integration/all/broadlink/peripheral-page/index.js
Owners: @Pierre-Gilles

Fix routing on non remote device
  front/src/routes/integration/all/broadlink/remote-page/index.js
Owners: @Pierre-Gilles

Limit description size
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Use bluebird for Promise loops
  server/services/broadlink/lib/commands/broadlink.init.js
  server/services/broadlink/lib/commands/features/broadlink.remote.js
  server/services/broadlink/package-lock.json
  server/services/broadlink/package.json
Owners: @Pierre-Gilles

Add model field on discovered devices
  front/cypress/fixtures/integration/routes/integration/broadlink/peripherals.json
  front/cypress/integration/routes/integration/broadlink/peripherals/BroadlinkPeripheralList.js
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/broadlink/peripheral-page/DevicePeripheralForm.jsx
  front/src/routes/integration/all/broadlink/peripheral-page/HubPeripheralForm.jsx
  front/src/routes/integration/all/broadlink/peripheral-page/Peripheral.jsx
  server/services/broadlink/lib/commands/broadlink.addPeripheral.js
  server/services/broadlink/lib/commands/broadlink.buildPeripheral.js
  server/test/services/broadlink/lib/commands/broadlink.addPeripheral.test.js
  server/test/services/broadlink/lib/commands/broadlink.buildPeripheral.test.js
Owners: @Pierre-Gilles

Log stack traces
  server/services/broadlink/lib/commands/broadlink.addPeripheral.js
  server/services/broadlink/lib/learn/broadlink.cancelLearn.js
  server/services/broadlink/lib/learn/broadlink.learn.js
  server/services/broadlink/lib/learn/broadlink.send.js
Owners: @Pierre-Gilles

Add IR prefix to codes
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkDeviceList.js
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkEditRemote.js
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkEditRemoteLearnAll.js
  front/cypress/integration/routes/integration/broadlink/devices/BroadlinkEditRemoteSkipAll.js
  front/src/routes/integration/all/broadlink/remote-page/RemoteCreation.jsx
  server/services/broadlink/lib/commands/features/broadlink.remote.js
  server/services/broadlink/lib/utils/broadlink.constants.js
  server/test/services/broadlink/lib/commands/features/broadlink.remote.test.js
Owners: @Pierre-Gilles

Continue even if auth fails
  server/services/broadlink/lib/commands/broadlink.addPeripheral.js
  server/test/services/broadlink/lib/commands/broadlink.addPeripheral.test.js
Owners: @Pierre-Gilles

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious
