Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

fix(external-integration): ignore unsolicited SRV/TXT records in mDNS discovery scan (#2809)
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanMdns.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Owners: @Pierre-Gilles

fix(dashboard): label binary buttons with the action they apply (#2815)
  docs/specs/water-heater.md
  front/src/components/boxs/device-in-room/device-features/BinaryDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

feat(homekit): expose device batteries (#2797)
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(homekit): let the user choose which devices are exposed (#2800)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/homekit/HomeKit.jsx
  front/src/routes/integration/all/homekit/actions.js
  front/src/routes/integration/all/homekit/index.js
  server/services/homekit/api/homekit.controller.js
  server/services/homekit/lib/createBridge.js
  server/services/homekit/lib/exposedDevices.js
  server/services/homekit/lib/index.js
  server/test/services/homekit/api/homekit.controller.test.js
  server/test/services/homekit/lib/createBridge.test.js
  server/test/services/homekit/lib/exposedDevices.test.js
Owners: @Pierre-Gilles

Add HomeKit support for thermostats, locks, fans, buttons, and smoke sensors (#2816)
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/buildService.js
  server/services/homekit/lib/buildThermostatService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/notifyChange.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
  server/test/services/homekit/lib/notifyChange.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

refactor(energy-monitoring): share index-delta pipeline between consumption and production
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateProductionFromIndexThirtyMinutes.js
  server/services/energy-monitoring/lib/index.js
  server/services/energy-monitoring/utils/constants.js
Owners: @Pierre-Gilles

feat(dashboard): redesign the weather widget (#2814)
  front/src/actions/dashboard/boxes/weather.js
  front/src/components/boxs/weather/EditWeatherBox.jsx
  front/src/components/boxs/weather/WeatherBox.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/style/dark-mode.css
  front/src/utils/consts.js
Owners: @Pierre-Gilles

Zigbee2mqtt : Add HS1SA-E features (#2782)
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/BinaryDeviceValue.jsx
  front/src/components/boxs/device-in-room/device-features/sensor-value/SensorDeviceFeature.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/services/zigbee2mqtt/exposes/binaryType.js
  server/services/zigbee2mqtt/exposes/enumType.js
  server/services/zigbee2mqtt/lib/setValue.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(dashboard): add sun horizon widget (#2630)
  front/src/components/boxs/sun/EditSun.jsx
  front/src/components/boxs/sun/Sun.jsx
  front/src/components/boxs/sun/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  server/api/controllers/house.controller.js
  server/api/routes.js
  server/lib/house/house.getSunState.js
  server/lib/house/index.js
  server/lib/index.js
  server/test/controllers/house/house.test.js
  server/test/lib/house/house.getSunState.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

fix: upgrade sequelize to 6.29.0 (#2784)
  server/package-lock.json
  server/package.json
Owners: @Pierre-Gilles

fix(energy-monitoring): per-feature index cursor and timezone-consistent window rounding
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndex.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexFromBeginning.js
  server/services/energy-monitoring/lib/energy-monitoring.calculateEnergyFromIndexThirtyMinutes.js
  server/services/energy-monitoring/utils/thirtyMinutesWindow.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndex.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
  server/test/services/energy-monitoring/energy-monitoring.calculateProductionFromIndex.test.js
Owners: @Pierre-Gilles

Speed up server tests: skip DB reset for clean tests, cache server node_modules in CI
  .github/workflows/docker-pr-build.yml
  server/test/helpers/db.test.js
Owners: @VonOx, @Pierre-Gilles

chore(deps): patch high/critical severity advisories via npm audit fix
  front/package-lock.json
  package-lock.json
  server/services/airplay/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/broadlink/package-lock.json
  server/services/caldav/package-lock.json
  server/services/edf-tempo/package-lock.json
  server/services/energy-monitoring/package-lock.json
  server/services/ewelink/package-lock.json
  server/services/example/package-lock.json
  server/services/free-mobile/package-lock.json
  server/services/google-cast/package-lock.json
  server/services/mcp/package-lock.json
  server/services/melcloud/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/netatmo/package-lock.json
  server/services/nextcloud-talk/package-lock.json
  server/services/nuki/package-lock.json
  server/services/openweather/package-lock.json
  server/services/philips-hue/package-lock.json
  server/services/telegram/package-lock.json
  server/services/tuya/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
  server/services/zwavejs-ui/package-lock.json
Owners: @Pierre-Gilles, @atrovato, @bertrandda, @NickDub, @thibautmery, @Terdious, @callemand, @VonOx, @hotfix31

Add direct tests for the conditional resetDb freshness detection
  server/test/helpers/dbReset.test.js
Owners: @Pierre-Gilles

test(energy-monitoring): use a 45-minute-offset timezone in the rounding regression test
  server/test/services/energy-monitoring/energy-monitoring.calculateConsumptionFromIndexThirtyMinutes.test.js
Owners: @Pierre-Gilles

Make the resetDb skip paths observable in the direct tests
  server/test/helpers/db.test.js
  server/test/helpers/dbReset.test.js
Owners: @Pierre-Gilles

chore(deps): revert google-cast lockfile bump per review feedback
  server/services/google-cast/package-lock.json
Owners: @Pierre-Gilles

Close the external SQLite connection in a finally block in dbReset test
  server/test/helpers/dbReset.test.js
Owners: @Pierre-Gilles

Classify PRs above the 300-file diff limit instead of failing
  .github/workflows/pr-classify.yml
Owners: @VonOx, @Pierre-Gilles

Document that shared-mock behaviors are not cleared by the registry reset
  server/test/helpers/sharedMockSandboxes.js
Owners: @Pierre-Gilles

feat(external-integration): clean up the Docker images left behind
  docs/specs/external-integrations.md
  server/config/scheduler-jobs.js
  server/lib/external-integration/externalIntegration.cleanImages.js
  server/lib/external-integration/externalIntegration.getImagesInUse.js
  server/lib/external-integration/externalIntegration.removeImages.js
  server/lib/external-integration/externalIntegration.uninstall.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/external-integration/index.js
  server/lib/system/index.js
  server/lib/system/system.listImages.js
  server/lib/system/system.removeImage.js
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/external-integration/externalIntegration.uninstall.test.js
  server/test/lib/external-integration/externalIntegration.update.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.listImages.test.js
  server/test/lib/system/system.removeImage.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Speed up server tests: skip DB reset for clean tests, cache server node_modules in CI (#2818)
  .github/workflows/docker-pr-build.yml
  server/test/helpers/db.test.js
  server/test/helpers/dbReset.test.js
Owners: @VonOx, @Pierre-Gilles

Run server tests in parallel: one mocha worker per core
  server/.eslintrc.json
  server/package.json
  server/test/bootstrap.test.js
  server/test/hooks.js
  server/test/setup-env.js
Owners: @Pierre-Gilles

Isolate all shared filesystem paths between parallel test workers
  server/config/config.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/gateway.restoreBackup.test.js
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
  server/test/setup-env.js
Owners: @Pierre-Gilles

ci: trigger the Cursor review on PR creation and on a /cursor review comment
  .github/CONTRIBUTING.md
  .github/workflows/cursor-automation-webhook.yml
Owners: @Pierre-Gilles, @VonOx

chore(deps): revert mcp lockfile bump per review follow-up
  server/services/mcp/package-lock.json
Owners: @Pierre-Gilles

Derive per-worker folders from a root sentinel: workers inherit the main env
  server/test/services/matter/lib/matter.reset.test.js
  server/test/setup-env.js
  server/test/setupEnv.test.js
Owners: @Pierre-Gilles

Derive the temp-folder expectations of container tests from TEMP_FOLDER
  server/test/services/matterbridge/lib/installContainer.test.js
  server/test/services/node-red/lib/installContainer.test.js
Owners: @Pierre-Gilles

chore(deps): patch high/critical severity advisories via npm audit fix (#2819)
  front/package-lock.json
  package-lock.json
  server/services/airplay/package-lock.json
  server/services/bluetooth/package-lock.json
  server/services/broadlink/package-lock.json
  server/services/caldav/package-lock.json
  server/services/edf-tempo/package-lock.json
  server/services/energy-monitoring/package-lock.json
  server/services/ewelink/package-lock.json
  server/services/example/package-lock.json
  server/services/free-mobile/package-lock.json
  server/services/melcloud/package-lock.json
  server/services/mqtt/package-lock.json
  server/services/netatmo/package-lock.json
  server/services/nextcloud-talk/package-lock.json
  server/services/nuki/package-lock.json
  server/services/openweather/package-lock.json
  server/services/philips-hue/package-lock.json
  server/services/telegram/package-lock.json
  server/services/tuya/package-lock.json
  server/services/zigbee2mqtt/package-lock.json
  server/services/zwavejs-ui/package-lock.json
Owners: @Pierre-Gilles, @atrovato, @bertrandda, @NickDub, @thibautmery, @Terdious, @callemand, @VonOx, @hotfix31

Run server tests in parallel: one mocha worker per core (#2821)
  server/.eslintrc.json
  server/config/config.js
  server/package.json
  server/test/bootstrap.test.js
  server/test/hooks.js
  server/test/lib/gateway/gateway.downloadBackup.test.js
  server/test/lib/gateway/gateway.restoreBackup.test.js
  server/test/services/matter/lib/matter.backupController.test.js
  server/test/services/matter/lib/matter.init.test.js
  server/test/services/matter/lib/matter.reset.test.js
  server/test/services/matter/lib/matter.restoreBackup.test.js
  server/test/services/matterbridge/lib/installContainer.test.js
  server/test/services/node-red/lib/installContainer.test.js
  server/test/setup-env.js
  server/test/setupEnv.test.js
Owners: @Pierre-Gilles

ci: harden the Cursor review triggers after review feedback
  .github/CONTRIBUTING.md
  .github/workflows/cursor-automation-webhook.yml
Owners: @Pierre-Gilles, @VonOx

ci: only auto-run the Cursor review for authors with a merged contribution
  .github/CONTRIBUTING.md
  .github/workflows/cursor-automation-webhook.yml
Owners: @Pierre-Gilles, @VonOx

fix: reconcile Zigbee2mqtt container restart policy on startup (#2734)
  server/lib/system/index.js
  server/lib/system/system.updateContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.updateContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Owners: @Pierre-Gilles

fix(zigbee2mqtt): make restart policy reconciliation best-effort
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/lib/system/system.updateContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Owners: @Pierre-Gilles

fix: map thermostat mode and operating state in the HomeKit bridge (#2806)
  server/services/homekit/lib/buildThermostatService.js
  server/services/homekit/lib/deviceMappings.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildService.test.js
  server/test/services/homekit/lib/buildThermostatService.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

fix: reconcile Zigbee2mqtt container restart policy on startup (#2734) (#2827)
  server/lib/system/index.js
  server/lib/system/system.updateContainer.js
  server/services/zigbee2mqtt/lib/installZ2mContainer.js
  server/test/lib/system/DockerodeMock.test.js
  server/test/lib/system/system.updateContainer.test.js
  server/test/services/zigbee2mqtt/lib/installZ2mContainer.test.js
Owners: @Pierre-Gilles

ci: keep the needs:cursor-review label working on just-opened PRs
  .github/CONTRIBUTING.md
  .github/workflows/cursor-automation-webhook.yml
Owners: @Pierre-Gilles, @VonOx

fix(homekit): look services up by feature rather than by type
  server/services/homekit/lib/buildAccessory.js
  server/services/homekit/lib/featureServices.js
  server/services/homekit/lib/sendState.js
  server/test/services/homekit/lib/buildAccessory.test.js
  server/test/services/homekit/lib/sendState.test.js
Owners: @Pierre-Gilles

feat(front): make the integration catalog search accent-insensitive
  front/src/routes/integration/index.js
  front/src/utils/normalizeSearchText.js
Owners: @Pierre-Gilles

fix(external-integration): address review feedback on the image cleanup
  docs/specs/external-integrations.md
  server/lib/external-integration/constants.js
  server/lib/external-integration/externalIntegration.cleanImages.js
  server/lib/external-integration/externalIntegration.update.js
  server/lib/system/index.js
  server/lib/system/system.getImagePullTime.js
  server/lib/system/system.pull.js
  server/lib/system/system.removeImage.js
  server/test/lib/external-integration/externalIntegration.imageCleanup.test.js
  server/test/lib/external-integration/testUtils.test.js
  server/test/lib/system/system.getImagePullTime.test.js
  server/test/lib/system/system.removeImage.test.js
Owners: @Pierre-Gilles
