Repository GladysAssistant/Gladys, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pierre-Gilles, @VonOx, @atrovato, @bertrandda, @NickDub, @callemand, @hotfix31, @cicoub13, @thibautmery, @Terdious

.github/CODEOWNERS:

# Default Owner
*       @Pierre-Gilles

# CI
/docker @VonOx
/.github/workflows @VonOx @Pierre-Gilles

# Services Owners
bluetooth/ @atrovato
caldav/ @bertrandda
ewelink/ @NickDub
mqtt/ @atrovato
openweather/ @callemand
philips-hue/ @VonOx @hotfix31
rtsp-camera/ @Pierre-Gilles
tasmota/ @atrovato
telegram/ @Pierre-Gilles
tp-link/ @cicoub13
usb/ @Pierre-Gilles @atrovato
xiaomi/ @Pierre-Gilles
netatmo/ @thibautmery @Terdious

feat: hide the DuckDB migration card once nothing is left in SQLite
  front/src/routes/settings/settings-system/SettingsSystemDuckDbMigration.jsx
  server/lib/device/device.getDuckDbMigrationState.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.getDuckDbMigrationState.test.js
Owners: @Pierre-Gilles

Allow using the received MQTT topic and message as scene variables
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/actions/only-continue-if/OnlyContinueIfParams.jsx
  front/src/routes/scene/edit-scene/triggers/MQTTReceivedTrigger.jsx
  server/test/lib/scene/triggers/scene.trigger.mqttReceived.test.js
Owners: @Pierre-Gilles

ci: make the pull request tests workflow merge-queue ready (#2887)
  .github/workflows/docker-pr-build.yml
Owners: @VonOx, @Pierre-Gilles

ci: double the scheduled autofix throughput
  .github/workflows/claude-scheduled-autofix.yml
Owners: @VonOx, @Pierre-Gilles

Matter: add support for the AirQuality cluster
  front/src/components/boxs/device-in-room/device-features/sensor-value/BadgeNumberDeviceValue.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/integration/all/mqtt/device-page/utils.js
  front/src/utils/consts.js
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/airQualityMatterMapping.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/lib/listenToStateChange.test.js
  server/test/services/matter/lib/matter.readInitialDeviceStates.test.js
  server/test/services/matter/utils/airQualityMatterMapping.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles, @atrovato

ci: run the scheduled autofix every 3 hours
  .github/workflows/claude-scheduled-autofix.yml
Owners: @VonOx, @Pierre-Gilles

docs: update CLAUDE_AUTOFIX.md for the 3-hourly schedule
  .github/CLAUDE_AUTOFIX.md
Owners: @Pierre-Gilles

Matter: map BooleanState cluster to the right sensor category using the endpoint device type
  server/services/matter/README.md
  server/services/matter/lib/matter.listenToStateChange.js
  server/services/matter/lib/matter.readInitialDeviceStates.js
  server/services/matter/utils/booleanStateMatterMapping.js
  server/services/matter/utils/convertToGladysDevice.js
  server/test/services/matter/lib/convertToGladysDevice.test.js
  server/test/services/matter/utils/booleanStateMatterMapping.test.js
Owners: @Pierre-Gilles

feat(scene): add a sun position scene trigger (altitude & azimuth)
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/SunPositionTrigger.jsx
  server/lib/scene/index.js
  server/lib/scene/scene.checkSunPositionTriggers.js
  server/lib/scene/scene.init.js
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/test/lib/scene/scene.checkSunPositionTriggers.test.js
  server/test/lib/scene/scene.init.test.js
  server/test/lib/scene/triggers/scene.trigger.sunPosition.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

Add an "any state change" mode to the device state scene trigger
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
  server/lib/scene/scene.triggers.js
  server/models/scene.js
  server/services/mcp/lib/sceneSchemas.js
  server/test/lib/scene/triggers/scene.trigger.deviceNewState.test.js
  server/test/services/mcp/lib/sceneSchemas.test.js
  server/test/utils/compare.test.js
  server/utils/compare.js
  server/utils/constants.js
Owners: @Pierre-Gilles

ci: run the scheduled autofix every 3 hours and raise its per-run cap (#2890)
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

ci: trigger a Cursor review on new commits, debounced by 5 minutes
  .github/workflows/cursor-automation-webhook.yml
Owners: @VonOx, @Pierre-Gilles

Add a device feature history editor (view / correct / delete a value)
  front/src/components/app.jsx
  front/src/config/demo.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/device-history/DeviceHistoryPage.jsx
  front/src/routes/device-history/index.js
  front/src/routes/device-history/style.css
  front/src/routes/devices/DeviceMobileItem.jsx
  front/src/routes/devices/DeviceRow.jsx
  front/src/routes/devices/style.css
  front/src/utils/DemoHttpClient.js
  server/api/controllers/device.controller.js
  server/api/routes.js
  server/lib/device/device.destroyState.js
  server/lib/device/device.getDeviceFeatureStatesPaginated.js
  server/lib/device/device.refreshFeatureLastValue.js
  server/lib/device/device.updateState.js
  server/lib/device/index.js
  server/test/controllers/device/device.controller.test.js
  server/test/lib/device/device.destroyState.test.js
  server/test/lib/device/device.getDeviceFeatureStatesPaginated.test.js
  server/test/lib/device/device.updateState.test.js
Owners: @Pierre-Gilles

feat(chat): add a microphone button to dictate messages to the AI
  front/src/actions/message.js
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/ChatPage.js
  front/src/routes/chat/ChatVoiceInputButton.jsx
  front/src/routes/chat/style.css
  front/src/utils/speechRecognition.js
Owners: @Pierre-Gilles

Add device.get-battery-levels MCP tool so the AI can answer battery questions
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/services/mcp/lib/index.js
  server/services/mcp/lib/selectFeature.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

docs: document the automatic post-push Cursor review in CONTRIBUTING
  .github/CONTRIBUTING.md
Owners: @Pierre-Gilles

docs: address review feedback on the autofix cadence change
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

docs: address review feedback on the autofix cadence change (#2899)
  .github/CLAUDE_AUTOFIX.md
  .github/workflows/claude-scheduled-autofix.yml
Owners: @Pierre-Gilles, @VonOx

ci: trigger a Cursor review on new commits, debounced by 5 minutes (#2895)
  .github/CONTRIBUTING.md
  .github/workflows/cursor-automation-webhook.yml
Owners: @Pierre-Gilles, @VonOx

docs: spec the dashboard flexible layout and wall-panel widgets
  docs/specs/dashboard-flexible-layout-and-widgets.md
Owners: @Pierre-Gilles

docs: reorder the dashboard spec phases to put plumbing first
  docs/specs/dashboard-flexible-layout-and-widgets.md
Owners: @Pierre-Gilles

feat(dashboard): section-based flexible layout
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/edit-dashboard/style.css
  front/src/routes/dashboard/index.js
  front/src/routes/dashboard/new-dashboard/index.js
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
  server/lib/dashboard/dashboard.getBySelector.js
  server/models/dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.create.test.js
  server/test/lib/dashboard/dashboard.getBySelector.test.js
  server/test/lib/dashboard/dashboard.getPhoto.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/test/utils/dashboardSections.test.js
  server/utils/dashboardSections.js
Owners: @Pierre-Gilles

feat(dashboard): chips bar widget and scene status subtitles
  front/src/components/boxs/chips/ChipsBox.jsx
  front/src/components/boxs/chips/EditChipsBox.jsx
  front/src/components/boxs/chips/style.css
  front/src/components/boxs/scene/EditSceneBox.jsx
  front/src/components/boxs/scene/SceneBox.jsx
  front/src/components/boxs/scene/SceneRow.jsx
  front/src/components/device/DeviceFeatureValueText.jsx
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  server/models/dashboard.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(dashboard): per-dashboard appearance and tablet icon tab bar
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/DashboardPage.jsx
  front/src/routes/dashboard/edit-dashboard/EditBoxColumns.jsx
  front/src/routes/dashboard/edit-dashboard/EditDashboard.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/routes/dashboard/style.css
  server/lib/dashboard/dashboard.get.js
  server/lib/dashboard/dashboard.getBySelector.js
  server/migrations/20260815000000-add-dashboard-appearance-columns.js
  server/models/dashboard.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.get.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

docs: mark dashboard spec phases 1-3 as implemented
  docs/specs/dashboard-flexible-layout-and-widgets.md
Owners: @Pierre-Gilles

Warn that MQTT messages are compared as text in scene conditions
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
Owners: @Pierre-Gilles

Matter: keep the air quality level feature unitless
  front/src/routes/integration/all/mqtt/device-page/utils.js
  server/utils/constants.js
Owners: @atrovato, @Pierre-Gilles

fix: keep the DuckDB migration card hidden on error and count aggregates
  front/src/routes/settings/settings-system/SettingsSystemDuckDbMigration.jsx
  server/lib/device/device.getDuckDbMigrationState.js
  server/test/lib/device/device.getDuckDbMigrationState.test.js
Owners: @Pierre-Gilles

fix(dashboard): make the background image cover the full viewport
  front/src/routes/dashboard/style.css
Owners: @Pierre-Gilles

fix: address review feedback on the any state change trigger mode
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/triggers/DeviceFeatureState.jsx
Owners: @Pierre-Gilles

Matter: document that already paired BooleanState devices are not remapped
  server/services/matter/README.md
  server/test/services/matter/utils/booleanStateMatterMapping.test.js
Owners: @Pierre-Gilles

fix(scene): normalize the sun azimuth around North in the sun position trigger
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  server/lib/scene/scene.checkSunPositionTriggers.js
  server/lib/scene/scene.triggers.js
  server/test/lib/scene/scene.checkSunPositionTriggers.test.js
  server/test/lib/scene/triggers/scene.trigger.sunPosition.test.js
Owners: @Pierre-Gilles

feat(dashboard): stretch room temperature/humidity tiles to align columns
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
Owners: @Pierre-Gilles

Address review feedback on device.get-battery-levels
  server/config/prompts/aiChat.prompt.txt
  server/services/mcp/lib/buildSchemas.js
  server/test/services/mcp/lib/buildSchemas.test.js
Owners: @Pierre-Gilles

fix(chat): harden the voice input session and disclose where audio goes
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/chat/ChatPage.js
  front/src/routes/chat/ChatVoiceInputButton.jsx
  front/src/routes/chat/style.css
  front/src/utils/speechRecognition.js
Owners: @Pierre-Gilles

fix: address review feedback on the device feature history editor
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/device-history/DeviceHistoryPage.jsx
  front/src/routes/device-history/index.js
  server/lib/device/device.destroyState.js
  server/lib/device/device.refreshFeatureLastValue.js
  server/lib/device/device.updateState.js
  server/test/lib/device/device.destroyState.test.js
Owners: @Pierre-Gilles

feat(dashboard): house-view widget with live pins and dashboard assets
  docs/specs/dashboard-flexible-layout-and-widgets.md
  front/src/components/boxs/house-view/EditHouseViewBox.jsx
  front/src/components/boxs/house-view/HouseViewBox.jsx
  front/src/components/boxs/house-view/gallery.js
  front/src/components/boxs/house-view/gallery/apartment.svg
  front/src/components/boxs/house-view/gallery/house-family.svg
  front/src/components/boxs/house-view/gallery/house-modern.svg
  front/src/components/boxs/house-view/gallery/house-solar.svg
  front/src/components/boxs/house-view/style.css
  front/src/config/i18n/de.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/dashboard/Box.jsx
  front/src/routes/dashboard/edit-dashboard/EditBox.jsx
  front/src/routes/dashboard/edit-dashboard/index.js
  front/src/utils/dashboardSections.js
  server/api/controllers/dashboard.controller.js
  server/api/middlewares/jsonBodyMiddleware.js
  server/api/routes.js
  server/api/setupRoutes.js
  server/lib/dashboard/dashboard.createAsset.js
  server/lib/dashboard/dashboard.getAsset.js
  server/lib/dashboard/index.js
  server/migrations/20260816000000-create-dashboard-asset.js
  server/models/dashboard.js
  server/models/dashboard_asset.js
  server/models/index.js
  server/test/controllers/dashboard/dashboard.controller.test.js
  server/test/lib/dashboard/dashboard.asset.test.js
  server/test/lib/dashboard/dashboard.getPhoto.test.js
  server/test/lib/dashboard/dashboard.update.test.js
  server/utils/constants.js
Owners: @Pierre-Gilles

feat(dashboard): adaptive big-tile layout for stretched value tiles
  front/src/components/boxs/room-humidity/RoomHumidity.jsx
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
  front/src/components/boxs/roomTile.css
  front/src/routes/dashboard/BoxColumns.jsx
  front/src/routes/dashboard/style.css
  front/src/utils/dashboardSections.js
Owners: @Pierre-Gilles

docs: spec the adaptive big-tile behavior of stretched value tiles
  docs/specs/dashboard-flexible-layout-and-widgets.md
Owners: @Pierre-Gilles

feat: expose the responder MAC address in mediated SSDP scan results
  docs/specs/external-integrations.md
  server/lib/external-integration/networkDiscovery/networkDiscovery.scanSsdp.js
  server/test/lib/external-integration/externalIntegration.networkDiscovery.test.js
Owners: @Pierre-Gilles
