Repository GladysAssistant/Gladys, pull requests merged in 2020-12, with the labels that each got.

#899 Handle caldav color for calendars
  front/src/actions/calendar.js
  front/src/routes/calendar/index.js
  front/src/utils/color.js
  server/migrations/20201128203008-add-color-caldav.js
  server/models/calendar.js
  server/seeders/20190403081927-calendar.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/test/lib/calendar/calendar.test.js
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/requests.test.js
Labels: Feature

#945 Dashboard color picker
  front/package-lock.json
  front/package.json
  front/src/components/boxs/device-in-room/DeviceRow.jsx
  front/src/components/boxs/device-in-room/EditDeviceInRoom.jsx
  front/src/components/boxs/device-in-room/device-features/ColorDeviceFeature.jsx
  front/src/components/boxs/device-in-room/device-features/style.css
  front/src/config/demo.json
  server/services/philips-hue/lib/light/light.setValue.js
  server/services/tasmota/lib/features/colorChannel.js
  server/test/services/philips-hue/index.test.js
  server/test/services/philips-hue/light/light.configureBridge.test.js
  server/test/services/philips-hue/light/light.getBridges.test.js
  server/test/services/philips-hue/light/light.getLights.test.js
  server/test/services/philips-hue/light/light.poll.test.js
  server/test/services/philips-hue/light/light.setValue.test.js
  server/test/services/philips-hue/light/lights.activateScene.test.js
  server/test/services/philips-hue/light/lights.getScenes.test.js
  server/test/services/philips-hue/mocks.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-3.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-4.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/device-creation/tasmota.mqtt.handleMessage.deviceCreation-colorChannel-5.test.js
  server/test/services/tasmota/lib/mqtt/handle-message/new-state/tasmota.mqtt.handleMessage.newState-colorChannel.test.js
  server/test/utils/colors.test.js
  server/utils/colors.js
Labels: Feature

#957 [service] TP-Link integration
  front/src/assets/integrations/cover/tp-link.jpg
  front/src/components/app.jsx
  front/src/config/demo.json
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/config/integrations/devices.json
  front/src/routes/integration/all/tp-link/TpLinkPage.jsx
  front/src/routes/integration/all/tp-link/device-page/Device.jsx
  front/src/routes/integration/all/tp-link/device-page/DeviceForm.jsx
  front/src/routes/integration/all/tp-link/device-page/DevicePage.jsx
  front/src/routes/integration/all/tp-link/device-page/FoundDevices.jsx
  front/src/routes/integration/all/tp-link/device-page/actions.js
  front/src/routes/integration/all/tp-link/device-page/index.js
  front/src/routes/integration/all/tp-link/device-page/style.css
  server/services/index.js
  server/services/tp-link/api/tp-link.controller.js
  server/services/tp-link/index.js
  server/services/tp-link/lib/models/bulb.js
  server/services/tp-link/lib/models/device.js
  server/services/tp-link/lib/models/plug.js
  server/services/tp-link/lib/smart-device/index.js
  server/services/tp-link/lib/smart-device/smart-device.getDevices.js
  server/services/tp-link/lib/smart-device/smart-device.poll.js
  server/services/tp-link/lib/smart-device/smart-device.setValue.js
  server/services/tp-link/lib/utils/consts.js
  server/services/tp-link/lib/utils/parseExternalId.js
  server/services/tp-link/package-lock.json
  server/services/tp-link/package.json
  server/test/services/tp-link/controllers/getDevices.controller.test.js
  server/test/services/tp-link/devices.json
  server/test/services/tp-link/index.test.js
  server/test/services/tp-link/mocks.test.js
  server/test/services/tp-link/smart-device/smart-device.getDevices.test.js
  server/test/services/tp-link/smart-device/smart-device.poll.test.js
  server/test/services/tp-link/smart-device/smart-device.setValue.test.js
  server/test/services/tp-link/utils/parseExternalId.test.js
Labels: Service Development

#1013 Change log level
  server/lib/device/device.notify.js
Labels: enhancement

#1011 docs: Add links in README
  README.md
Labels: documentation
