Repository GladysAssistant/Gladys, pull requests merged in 2021-03, with the labels that each got.

#1092 Remove moment package in front
  front/package-lock.json
  front/package.json
  front/src/routes/calendar/index.js
Labels: dependencies

#1079 Upgrade to node 14
  .github/workflows/docker-dev-build.yml
  .github/workflows/docker-master-test.yml
  .github/workflows/docker-pr-build.yml
  .github/workflows/docker-release-build.yml
  docker/Dockerfile
  docker/Dockerfile.buildx
  docker/docker-compose-arm.yml
  docker/docker-compose.yml
  front/package.json
  package.json
  server/package.json
Labels: dependencies

#1097 Stop Bluetooth service fix #1093
  front/src/routes/integration/all/bluetooth/settings-page/BluetoothSettingsTab.jsx
  server/services/bluetooth/lib/commands/bluetooth.getStatus.js
  server/services/bluetooth/lib/commands/bluetooth.scan.js
  server/services/bluetooth/lib/commands/bluetooth.stop.js
  server/services/bluetooth/lib/index.js
  server/test/services/bluetooth/index.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.getStatus.test.js
  server/test/services/bluetooth/lib/commands/bluetooth.stop.test.js
Labels: bug

#1085 chore: Update Sequelize to v6
  server/config/config.js
  server/migrations/20190205063641-create-user.js
  server/migrations/20190206102938-create-location.js
  server/migrations/20190206114851-create-house.js
  server/migrations/20190211033038-create-life-event.js
  server/migrations/20190211034727-create-room.js
  server/migrations/20190211035101-create-device.js
  server/migrations/20190211035238-create-device-feature.js
  server/migrations/20190211041243-create-device-feature-state.js
  server/migrations/20190211042223-create-calendar.js
  server/migrations/20190211042644-create-calendar-event.js
  server/migrations/20190211043231-create-pod.js
  server/migrations/20190211043515-create-service.js
  server/migrations/20190211043957-create-variable.js
  server/migrations/20190211044205-create-script.js
  server/migrations/20190211044442-create-area.js
  server/migrations/20190211044839-create-dashboard.js
  server/migrations/20190211045110-create-scene.js
  server/migrations/20190211045641-create-trigger.js
  server/migrations/20190211050844-trigger_scene.js
  server/migrations/20190211051215-create-message.js
  server/migrations/20190212043623-create-session.js
  server/migrations/20190318084429-create-device-param.js
  server/migrations/20200123094438-add-triggers-attribute.js
  server/migrations/20200201125436-add-caldav-data.js
  server/migrations/20200207214849-add-calendar-event-url.js
  server/migrations/20201128203008-add-color-caldav.js
  server/migrations/20210129155044-multi-user.js
  server/package-lock.json
  server/package.json
  server/seeders/20190205070000-house.js
  server/seeders/20190205071039-demo-user.js
  server/seeders/20190211053203-demo-location.js
  server/seeders/20190219041452-message.js
  server/seeders/20190226025926-service.js
  server/seeders/20190226025931-variable.js
  server/seeders/20190227043234-scene.js
  server/seeders/20190227081653-room.js
  server/seeders/20190227081656-device.js
  server/seeders/20190227081700-device-feature.js
  server/seeders/20190401042124-session.js
  server/seeders/20190403081927-calendar.js
  server/seeders/20190403081933-calendar-event.js
  server/seeders/20190416085240-device-param.js
  server/seeders/20190506074218-dashboard.js
  server/seeders/20190507083413-area.js
Labels: dependencies

#1026 Add Sunrise/sunset trigger for scene
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/TriggerCard.jsx
  front/src/routes/scene/edit-scene/triggers/ChooseTriggerTypeCard.jsx
  front/src/routes/scene/edit-scene/triggers/SunriseSunsetTrigger.jsx
  server/lib/house/house.create.js
  server/lib/house/house.destroy.js
  server/lib/house/house.update.js
  server/lib/scene/index.js
  server/lib/scene/scene.addScene.js
  server/lib/scene/scene.dailyUpdate.js
  server/lib/scene/scene.init.js
  server/lib/scene/scene.triggers.js
  server/package-lock.json
  server/package.json
  server/test/lib/house/house.test.js
  server/test/lib/scene/scene.addScene.test.js
  server/test/lib/scene/scene.cancelTriggers.test.js
  server/test/lib/scene/scene.checkTrigger.test.js
  server/test/lib/scene/scene.dailyUpdate.test.js
  server/test/lib/scene/scene.init.test.js
  server/test/services/openweather/openweather.test.js
  server/utils/constants.js
Labels: Feature
