Repository GladysAssistant/Gladys, pull requests merged in 2022-09, with the labels that each got.

#1589 Update opening sensor icon
  front/src/components/boxs/device-in-room/device-features/sensor-value/IconBinaryDeviceValue.jsx
  front/src/utils/consts.js
Labels: enhancement

#1594 Add 1 dec place to RoomTemperaturBox
  front/cypress/integration/routes/dashboard/DashboardTemperatureBox.js
  front/src/components/boxs/room-temperature/RoomTemperature.jsx
Labels: enhancement, effort:low

#1537 Add Webcals synchronization
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/routes/scene/edit-scene/actions/CalendarIsEventRunning.jsx
  front/src/routes/scene/edit-scene/triggers/CalendarEventIsComing.jsx
  server/lib/calendar/calendar.get.js
  server/lib/scene/scene.actions.js
  server/lib/scene/scene.checkCalendarTriggers.js
  server/migrations/20220513204058-add-calendar-type-event-desc.js
  server/models/calendar.js
  server/models/calendar_event.js
  server/seeders/20190403081927-calendar.js
  server/seeders/20190403081933-calendar-event.js
  server/services/caldav/api/caldav.controller.js
  server/services/caldav/index.js
  server/services/caldav/lib/calendar/calendar.formaters.js
  server/services/caldav/lib/calendar/calendar.requests.js
  server/services/caldav/lib/calendar/calendar.syncUserCalendars.js
  server/services/caldav/lib/calendar/calendar.syncUserWebcals.js
  server/services/caldav/lib/index.js
  server/test/lib/calendar/calendar.event.test.js
  server/test/lib/calendar/calendar.test.js
  server/test/lib/scene/actions/scene.action.isEventRunnning.test.js
  server/test/lib/scene/scene.checkCalendarTriggers.test.js
  server/test/services/caldav/controllers/caldav.controller.test.js
  server/test/services/caldav/index.test.js
  server/test/services/caldav/lib/calendar/formaters.test.js
  server/test/services/caldav/lib/calendar/requests.test.js
  server/test/services/caldav/lib/calendar/syncUserCalendars.test.js
  server/test/services/caldav/lib/calendar/syncUserWebcals.test.js
Labels: enhancement, Service Development
