Repository GladysAssistant/Gladys, pull requests merged in 2022-05, with the labels that each got.

#1479 [CORE] Add more units
  front/src/config/i18n/en.json
  front/src/config/i18n/fr.json
  front/src/utils/consts.js
  server/utils/constants.js
Labels: enhancement

#1533 Fix line break in chat message
  front/src/routes/chat/ChatItems.js
  front/src/routes/chat/style.css
Labels: bug, enhancement

#1534 [Z2M] Change topic for permit join
  server/services/zigbee2mqtt/lib/setPermitJoin.js
  server/test/services/zigbee2mqtt/lib/setPermitJoin.test.js
Labels: zigbee2mqtt

#1542 Push docker images to GHCR
  .github/workflows/docker-release-build.yml
Labels: enhancement

#1531 Remove VTODO only calendar
  server/services/caldav/lib/calendar/calendar.requests.js
Labels: enhancement

#1525 Add support for Sonoff SNZB-01
  server/services/zigbee2mqtt/exposes/enumType.js
  server/test/services/zigbee2mqtt/exposes/enumType.test.js
  server/utils/constants.js
Labels: zigbee2mqtt
